<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>YAMYAM</title>
<link href="css/styles.css" rel="stylesheet" />
<style type="text/css">
/* 공통css 초기화 */
* {
   padding: 0;
   margin: 0;
   border: none;
}

body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}
</style>
</head>

<body>
	<div class="container" align="center">
	     <div class="login-wrapper">
	        <img alt="image" src="/images/mandu.jpg" style="width: 80px; height: 80px;">
	        <h2>Login</h2>
	        <form method="post" action="/login" id="login-form">
	        	<th:block sec:authorize="!isAuthenticated()">
	        		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	        	</th:block>
	           <input type="text" name="userId" placeholder="ID" id="id">
	           <input type="password" name="password" placeholder="Password">
	           [[${param.error}]]
			   <div th:if="${param.error}" >    
			       아이디나 비밀번호가 틀렸습니다.
			   </div>
	           <input type="submit" value="Login">
	        </form>
	     </div>
     </div>
     
     <script type="text/javascript">
     	// 탭메뉴 위치 기억정보 지우기
     	sessionStorage.removeItem('tabText');
     	sessionStorage.removeItem('tabIdNum');
     	
     	document.getElementById('id').focus();
     </script>
</body>
</html>