<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>YAMYAM</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/styles.css" rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/tui-grid.css" rel="stylesheet">
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tui-grid.js"></script>
</head>
<body>
	<nav layout:fragment="menu"
		class="sb-topnav navbar navbar-expand navbar-dark bg-red">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3 font-NSEB logo-size" href="index.html"><span
			class="col-green">YAM</span>YAM</a>
		<!-- 로그인 유무에 따라 Login/LogOut로 다르게 보이도록 -->
		<a class="login-menu font-NSEB" href="index.html">Login</a>
	</nav>

	<div layout:fragment="sidebar" id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu" style="background-color: white">
					<div>
						<p class="username font-NSEB">unknown</p>
						<p class="log-sts font-NSEB">
							<small class="small-font">●</small> offline
						</p>
						<hr class="col-black">
					</div>

					<div class="accordion accordion-flush" id="accordionFlushExample">
						<div class="accordion-item bg-light text-dark bg-opacity-10">
							<h2 class="accordion-header" id="flush-headingOne">
								<button
									class="accordion-button collapsed bg-light text-dark bg-opacity-10 font-NSEB"
									type="button" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseOne" aria-expanded="false"
									aria-controls="flush-collapseOne">공통관리</button>
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse"
								aria-labelledby="flush-headingOne"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body side-menu-content">
									<ul class="mylist">
										<li><a href="#">직원 관리</a></li>
										<li><a href="#">공통 코드 관리</a></li>
										<li><a href="#">자재 코드 관리</a></li>
										<li><a href="#">거래처 코드 관리</a></li>
										<li><a href="#">완제품 코드 관리</a></li>
										<li><a href="#">BOM 관리</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-light text-dark bg-opacity-10">
							<h2 class="accordion-header" id="flush-headingTwo">
								<button
									class="accordion-button collapsed font-NSEB bg-light text-dark bg-opacity-10"
									type="button" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseTwo" aria-expanded="false"
									aria-controls="flush-collapseTwo">영업관리</button>
							</h2>
							<div id="flush-collapseTwo" class="accordion-collapse collapse"
								aria-labelledby="flush-headingTwo"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body side-menu-content">
									<ul class="mylist">
										<li><a href="#">주문 관리</a></li>
										<li><a href="#">완제품 출고 조회</a></li>
										<li><a href="#">완제품 출고 관리</a></li>
										<li><a href="#">완제품 반품 관리</a></li>
										<li><a href="#">완제품 재고 조회</a></li>
										<li><a href="#">완제품 재고 관리</a></li>
										<li><a href="#">생산 요청 관리</a></li>
										<li><a href="#">제품 안전 재고 관리</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-light text-dark bg-opacity-10">
							<h2 class="accordion-header font-NSEB" id="flush-headingThree">
								<button
									class="accordion-button collapsed bg-light text-dark bg-opacity-10"
									type="button" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseThree" aria-expanded="false"
									aria-controls="flush-collapseThree">생산관리</button>
							</h2>
							<div id="flush-collapseThree" class="accordion-collapse collapse"
								aria-labelledby="flush-headingThree"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body side-menu-content">
									<ul class="mylist">
										<li><a href="plan.html">생산 계획 관리</a></li>
										<li><a href="#">생산 지시 관리</a></li>
										<li><a href="#">생산 지시 조회</a></li>
										<li><a href="#">생산 관리</a></li>
										<li><a href="#">공정 실적 조회</a></li>
										<li><a href="#">공정 관리</a></li>
										<li><a href="#">제품 공정 흐름도</a></li>
										<li><a href="#">공정 모니터링</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-light text-dark bg-opacity-10">
							<h2 class="accordion-header" id="flush-headingFour">
								<button
									class="accordion-button collapsed font-NSEB bg-light text-dark bg-opacity-10"
									type="button" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseFour" aria-expanded="false"
									aria-controls="flush-collapseFour">자재관리</button>
							</h2>
							<div id="flush-collapseFour" class="accordion-collapse collapse"
								aria-labelledby="flush-headingFour"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body side-menu-content">
									<ul class="mylist">
										<li><a href="#">자재 발주 관리</a></li>
										<li><a href="#">자재 발주 조회</a></li>
										<li><a href="#">자재 입고 검수 관리</a></li>
										<li><a href="#">자재 입고 관리</a></li>
										<li><a href="#">자재 출고 관리</a></li>
										<li><a href="#">자재 입출고 조회</a></li>
										<li><a href="#">자재 재고 조회</a></li>
										<li><a href="#">자재 반품 관리</a></li>
										<li><a href="#">자재 반품 조회</a></li>
										<li><a href="#">안전 재고 관리</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="accordion-item bg-light text-dark bg-opacity-10">
							<h2 class="accordion-header" id="flush-headingFive">
								<button
									class="accordion-button collapsed font-NSEB bg-light text-dark bg-opacity-10"
									type="button" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseFive" aria-expanded="false"
									aria-controls="flush-collapseFive">설비관리</button>
							</h2>
							<div id="flush-collapseFive" class="accordion-collapse collapse"
								aria-labelledby="flush-headingFive"
								data-bs-parent="#accordionFlushExample">
								<div class="accordion-body side-menu-content">
									<ul class="mylist">
										<li><a href="#">설비 관리</a></li>
										<li><a href="#">설비 비가동 관리</a></li>
										<li><a href="#">설비 점검 관리</a></li>
										<li><a href="#">실시간 설비 상태 조회</a></li>
									</ul>
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</nav>
		</div>
		
		<div layout:fragment="content"></div>

		<div id="grid"></div>
</div>
	

	<script type="text/javascript">
	</script>
</body>
</html>

