<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<style type="text/css">
	#eqpTable {
		margin-left: 40px;
		margin-top: 30px;
		height: 230px;
	}
	
	#eqpTable th {
		width: 90px;
	}
	
	#eqpTable input[type="text"] {
		margin-right: 20px;
	}
	
	input#eqpTypeCd,
	input#eqpTypeNm {
		background-color: gainsboro;
		width: 100px;
	}
	
	#eqpTable tr {
		border-bottom: 1px #C9BABA solid;
		border-top: 1px #C9BABA solid;
	}
</style>
</head>

<body>
	<div class="container" layout:fragment="content">
		<h3>설비 점검 관리</h3>
		<hr>
		
		<div>
			<div style="margin-top:10px">
				<ul class="ul-style">
					<li>
						<label for="searchEqpType">설비구분</label>
						<!-- <select th:each="type : eqpTypes" 사용해서 option태그 반복 -->
						<select name="eqpType" id="searchEqpType" class="form-select-sm">
							<option value="eqpType">전체</option>
					        <option value="EQP-TYPE1">혼합</option>
					        <option value="EQP-TYPE2">성형</option>
					        <option value="EQP-TYPE3">증숙</option>
					        <option value="EQP-TYPE4">냉동</option>
					        <option value="EQP-TYPE5">포장</option>
					        <option value="EQP-TYPE6">박스</option>
					    </select>
					</li>

					<!-- Date Picker -->
					<li>
						<label for="startpicker-input">점검일자</label>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="startpicker-input" type="text" aria-label="Date">
							<span class="tui-ico-date"></span>
							<div id="startpicker-container" style="margin-left: -1px;"></div>
						</div>
						<span>-</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
							<input id="endpicker-input" type="text" aria-label="Date">
							<span class="tui-ico-date"></span>
							<div id="endpicker-container" style="margin-left: -1px;"></div>
						</div>
						<button id="eqpChkSearch" class="btn btn-dark btn-sm">조회</button>
						<button id="clearSearchBox" class="btn btn-dark btn-sm">초기화</button>
						<button id="deleteChecked" class="btn btn-dark btn-sm" style="float:right">삭제</button>
						<button id="insertUpdateEqpChk" class="btn btn-dark btn-sm" style="float:right; margin-right:5px;">저장</button>
						<button id="eqpTypeSearch" class="btn btn-dark btn-sm"
							data-bs-toggle="modal" data-bs-target="#eqpToChkModal"style="float:right; margin-right:30px;">설비조회</button>
					</li>
				</ul>
				<!-- eqpChkGrid -->
				<div id="eqpChkGrid"></div>
			</div>
		</div>
		
		
		<!-- 설비조회 modal -->
		<div class="modal" id="eqpToChkModal" tabindex="-1"
			aria-labelledby="#eqpToChkModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eqpToChkModalLabel">금일 점검 대상 설비</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<div id="eqpToChkModalGrid"></div>
						</div>
						<div align="center">
							<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">추가</button>
							<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			datePickerInit()									//datepicker
			let eqpChkGrid = eqpChkGridInit(); 					// 설비 점검 그리드 초기화
			let eqpToChkModalGrid = eqpToChkModalGridInit();	// 금일 점검 대상 설비 모달 grid 초기화
			
			eqpChkSearch();										// 조회버튼 누르면 결과값 가져와서 eqpChkGrid에 뿌려주기
			clearSearchBox();									// 초기화버튼 클릭시 selectbox, datepicker칸 초기화 
			eqpToChkModalRefresh();								// 금일 점검 대상 설비 모달 시 eqpToChkModalGrid refreshLayout
			deleteChecked();									// 삭제버튼 누를시 체크된 row 삭제
			insertUpdateEqpChk();								// 저장 버튼 누를 시 체크되어있으면 수정, 체크 없으면 등록
			
			// toastr
			toastr.options = {
				    "closeButton": false,
				    "newestOnTop": true,
				    "positionClass": "toast-top-center",
				    "preventDuplicates": true,
				    "extendedTimeOut" : 1500, 
				    "timeOut" : 2500
			}
			
			
			/* ---------------
			설비 점검 그리드 초기화
			--------------- */
			function eqpChkGridInit() {
			
				let eqpChkGrid = new tui.Grid({
				      el: document.getElementById('eqpChkGrid'),
				      bodyHeight: 500, // 스크롤
				      data: [
				    	{
				    		chkDate: 'eqp-20221104-001',
				    		eqpCd: '만두소 배합기1',
				    		eqpNm: 'mandu-01',
				    		eqpType: '최고배합상사',
				    		chkCycle: '2022-10-01',
				    		chkDate: '2022-11-01',
				    		nextChkDate: '2022-11-01',
				    		chkRst: '2022-11-14',
				    		chkRecord: 60,
				    		chkEmpNm: '2022-11-14'
					    },
				    	{
				    		chkDate: 'eqp-20221104-002',
				    		eqpCd: '만두소 배합기2',
				    		eqpNm: 'mandu-02',
				    		eqpType: '최고배합상사',
				    		chkCycle: '2022-10-01',
				    		chkDate: '2022-11-01',
				    		nextChkDate: '2022-11-01',
				    		chkRst: '2022-11-14',
				    		chkRecord: 60,
				    		chkEmpNm: '2022-11-14'
					    }
					  ],
				      rowHeaders: ['checkbox'],
				      scrollX: false,
				      scrollY: true,
				      columns: [
				        {
				          header: '점검일자',
				          name: 'chkDate',
					      sortable: true,
					      align: 'center'
				        },
				        {
				          header: '설비코드',
				          name: 'eqpCd',
					      align: 'left',
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '설비명',
				          name: 'eqpNm',
					      align: 'center'
				        },
				        {
				          header: '설비구분',
				          name: 'eqpType',
					      align: 'left'
				        },
				        {
				          header: '점검주기(일수)',
				          name: 'chkCycle',
					      align: 'right'
				        },
				        {
				          header: '점검일자',
				          name: 'chkDate',
					      sortable: true,
					      align: 'right'
				        },
				        {
				          header: '차기점검일자',
				          name: 'nextChkDate',
					      sortable: true,
					      align: 'right'
				        },
				        {
				          header: '판정',
				          name: 'chkRst',
					      align: 'center'
				        },
				        {
				          header: '점검내역',
				          name: 'chkRecord',
					      align: 'left'
				        },
				        {
				          header: '점검담당자',
				          name: 'chkEmpNm',
					      align: 'left'
				        }
				      ]
				});
				
				return eqpChkGrid;
			}
			
			
			
			/* ---------------
			금일 점검 대상 설비 모달 grid 초기화
			--------------- */
			function eqpToChkModalGridInit() {
				let eqpToChkModalGrid = new tui.Grid({
					el: document.getElementById('eqpToChkModalGrid'),
					bodyHeight: 300,
					data: [
						{
							eqpCd: 'eqptype-01',
							eqpNm: '만두 배합',
							chkDate: '만두 배합',
							nextChkDate: '만두 배합',
							chkCycle: '만두 배합'
						},
						{
							eqpCd: 'eqptype-02',
							eqpNm: '만두 성형',
							chkDate: '만두 배합',
							nextChkDate: '만두 배합',
							chkCycle: '만두 배합'
						}
					],
					rowHeaders: ['checkbox'],
					scrollX: false,
					scrollY: true,
					columns: [
						{
				          header: '설비코드',
				          name: 'eqpCd',
				          align: 'center'
				        },
				        {
				          header: '설비명',
				          name: 'eqpNm',
				          align: 'left'
				        },
				        {
				          header: '점검일자',
				          name: 'chkDate',
				          align: 'right'
				        },
				        {
				          header: '차기점검일자',
				          name: 'nextChkDate',
				          align: 'right'
				        },
				        {
				          header: '점검주기',
				          name: 'chkCycle',
				          align: 'right'
				        }
			        ] 
				});
				
				// ajax로 차기점검일자(점검일자+점검주기)가 오늘인 모든 설비들을 조회해와서 resetData()해주기
				
				return eqpToChkModalGrid;
			}
			

			
			/*------------
			datepicker
			----------------*/	
			function datePickerInit() {
				// toast - datepicker
				rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')
			}
			
			
			
			/* ---------------
			조회버튼 누르면 결과값 가져와서 eqpChkGrid에 뿌려주기
			--------------- */
			function eqpChkSearch() {
				document.getElementById('eqpChkSearch').addEventListener('click', function () {
					let eqpType = document.getElementById('searchEqpType').value;
					let startDay = document.getElementById('startpicker-input').value;
					let endDay = document.getElementById('startpicker-input').value;
					
					console.log(eqpType, startDay, endDay);
					
					
					// ajax로 설비구분과 설비점검일 범위를 들고가서 결과값 가져온 뒤에 eqpChkGrid에 resetData()해준다.
				});
			}
			
			
			
			/* ---------------
			초기화버튼 클릭시 selectbox, datepicker칸 초기화
			--------------- */
			function clearSearchBox() {
				document.getElementById('clearSearchBox').addEventListener('click', function () {
					document.getElementById('searchEqpType').value = 'eqpType';
					
					document.getElementById('startpicker-input').value = today;
					document.getElementById('endpicker-input').value = today;
					
					// eqpChkGrid 비워주기
					eqpChkGrid.checkAll();
					eqpChkGrid.removeCheckedRows();
				});
			}
			
			
			/* ---------------
			금일 점검 대상 설비 모달 시 eqpToChkModalGrid refreshLayout
			--------------- */
			function eqpToChkModalRefresh() {
				document.addEventListener('shown.bs.modal', function (){
					eqpToChkModalGrid.refreshLayout('');
				});
			}
			
			
			
			/* ---------------
			삭제버튼 누를시 체크된 row 삭제
			--------------- */
			function deleteChecked() {
				document.getElementById('deleteChecked').addEventListener('click', function () {
					// ajax로 해당 점검이력을 지우고 성공하면
					/*
					sweetConfirm('D', function () {
						// ajax success
						toastr.success('정상적으로 삭제되었습니다.');
						eqpChkGrid.removeCheckedRows(true);
						
						// ajax fail
						toastr.error('삭제에 실패했습니다.');  
					});
					*/
				});
			}
			
			
			
			/* ---------------
			저장 버튼 누를 시 체크되어있으면 수정, 체크 없으면 등록
			--------------- */
			function insertUpdateEqpChk() {
				document.getElementById('insertUpdateEqpChk').addEventListener('click', function () {
					// 체크된게 없으면
					//  insert ajax
					/*
					sweetConfirm('C', function () {
						// ajax success
						toastr.success('정상적으로 저장되었습니다.');
						eqpChkGrid.checkAll();
						eqpChkGrid.removeCheckedRows();
						
						// ajax fail
						toastr.error('저장에 실패했습니다.');  
					});
					*/
					
					// 체크된게 있으면
					//  update ajax
					/*
					sweetConfirm('U', function () {
						// ajax success
						toastr.success('정상적으로 수정되었습니다.');
						eqpChkGrid.checkAll();
						eqpChkGrid.removeCheckedRows();
						
						// ajax fail
						toastr.error('수정에 실패했습니다.');  
					});
					*/
				});
			}
		</script>
	</div>

</body>

</html>