<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<style type="text/css">
	form table {
		font-size: 0.9em;
		border-top: 3px solid black;
		border-bottom: 2px solid black;
		width: 100%;
		height: 200px;
	}
	
	table tr {
		border-top: 1px solid gainsboro;
	}
	
	form input {
		width: 120px;
	}
	
	form table input[readonly] {
		background-color: gainsboro;
	}
	
	select option[value=""][disabled] {
	display: none;
	}
	
	form > button {
		float:right;
		margin-top: 10px;
		margin-right:10px;
	}
</style>
</head>

<body>
	<!-- 본문 시작 -->
	<div layout:fragment="content" class="container">
		<h3>설비 비가동 관리</h3>
		<hr>
		
		<div class="row">
			<div class="col-5">
				<h3>설비목록</h3>
				<div id="selectEqp"></div>
			</div>
			<div class="col-7">
				<h3>비가동 이력</h3>
				<div id="selectUop"></div>
				<h3>비가동 등록</h3>
				<form action="">
					<table>
						<tr>
							<th>설비코드</th>
							<td>
								<input type="text" id="EQP_CD" name="eqpCd" readonly>
							</td>
							<td></td>
							<th>설비명</th>
							<td>
								<input type="text" id="EQP_NM" name="EQP_NM" readonly>
							</td>
							<td></td>
							<th>비가동번호</th>
							<td>
								<input type="text" id="UOP_NO" name="UOP_NO" readonly>
							</td>
						</tr>
						<tr>
							<th>비가동명</th>
							<td>
								<select name="EQP_STS" id="EQP_STS">
									<option class="form-select form-select-sm" value="" disabled selected>비가동명 선택</option>
							        <option value="수리">수리</option>
							        <option value="점검">점검</option>
							        <option value="기타">기타</option>
							    </select>
							</td>
							<td></td>
							<th>작업내용</th>
							<td>
								<input type="text" id="UOP_INFO" name="UOP_INFO">
							</td>
							<td></td>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>비가동시작시간</th>
							<td>
								<input type="date" id="UOP_STIME" name="UOP_STIME">
							</td>
							<td>
								<button type="button" class="btn btn-success btn-sm" id="start">시작</button>
							</td>
							<th>비가동종료시간</th>
							<td>
								<input type="date" id="UOP_ETIME" name="UOP_ETIME">
							</td>
							<td>
								<button type="button" class="btn btn-success btn-sm" id="end">종료</button>
							</td>
							<th></th>
							<td></td>
						</tr>
					</table>
					<button type="button" class="btn btn-dark btn-sm" id="uopUpdate">비가동 해제</button>
					<button type="button" class="btn btn-dark btn-sm" id="uopInsert">비가동 등록</button>
					<button type="reset" class="btn btn-dark btn-sm" id="reset">초기화</button>
				</form>
			</div>
		</div>
		
		<script>
		let selectEqpGrid = new tui.Grid({
		      el: document.getElementById('selectEqp'),
		      bodyHeight: 500, // 스크롤
		      data: [
		    	{
		    		EQP_CD: 'eqp-20221104-001',
		    		EQP_NM: '만두소 배합기1',
		    		EQP_TYPE: '대기',
		    		EQP_STS: '대기'
			    },
			    {
			    	EQP_CD: 'eqp-20221104-002',
		    		EQP_NM: '만두소 배합기2',
		    		EQP_TYPE: '대기',
		    		EQP_STS: '대기'
			    }
			  ],
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '설비코드',
		          name: 'EQP_CD',
			      sortable: true,
			      align: 'center'
		        },
		        {
		          header: '설비명',
		          name: 'EQP_NM',
			      sortable: true,
			      align: 'left'
		        },
		        {
		          header: '설비구분',
		          name: 'EQP_TYPE',
			      align: 'center',
			      filter: {
			    	  type: 'select'
			      }
		        },
		        {
		          header: '설비상태',
		          name: 'EQP_STS',
			      align: 'center',
			      filter: {
			    	  type: 'select'
			      }
		        }
		      ]
		});
		
		let selectUopGrid = new tui.Grid({
		      el: document.getElementById('selectUop'),
		      bodyHeight: 200, // 스크롤
		      data: [
		    	{
		    		UOP_NO: '1',
		    		EQP_CD: 'eqp-20221104-001',
		    		EQP_NM: '만두소 배합기1',
		    		UOP_NM: '수리',
		    		UOP_INFO: '부품교체',
		    		UOP_STIME: '2022-11-17 22:22',
		    		UOP_ETIME: '2022-11-17 22:23'
			    },
		    	{
		    		UOP_NO: '2',
		    		EQP_CD: 'eqp-20221104-001',
		    		EQP_NM: '만두소 배합기1',
		    		UOP_NM: '수리',
		    		UOP_INFO: '부품교체',
		    		UOP_STIME: '2022-11-17 22:22',
		    		UOP_ETIME: '2022-11-17 22:23'
			    }
			  ],
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '비가동번호',
		          name: 'UOP_NO',
			      sortable: true,
			      align: 'center'
		        },
		        {
		          header: '설비코드',
		          name: 'EQP_CD',
			      sortable: true,
			      align: 'center'
		        },
		        {
		          header: '설비명',
		          name: 'EQP_NM',
			      sortable: true,
			      align: 'left'
		        },
		        {
		          header: '비가동명',
		          name: 'UOP_NM',
			      align: 'left',
			      filter: {
			    	  type: 'select'
			      }
		        },
		        {
		          header: '작업내용',
		          name: 'UOP_INFO',
			      align: 'left',
			      filter: {
			    	  type: 'select'
			      }
		        },
		        {
		          header: '시작시간',
		          name: 'UOP_STIME',
			      align: 'right',
			      filter: {
			    	  type: 'select'
			      }
		        },
		        {
		          header: '종료시간',
		          name: 'UOP_ETIME',
			      align: 'right',
			      filter: {
			    	  type: 'select'
			      }
		        },
		      ]
		});
		
		</script>
	</div>


	
</body>

</html>