<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">


	<br>
	<h3>거래처 코드관리</h3>
	<hr>
	<br>
	<form action="#">
		<table>
			<tr>
				<td>
					<ul class="ul-style">
					<li><label for="matCode" style="width:130px">거래처 업체명</label><input id="matCode" name="actNm">
					&nbsp;&nbsp;&nbsp;
					<label for="matCode">거래처 코드</label><input id="matCode" name="actCd">
					</li>
					</ul>
				</td>
			</tr>
		
			<tr>
				<td>
					<ul class="ul-style">
					<li><label for="matCode" style="width:130px">사업자 등록번호</label><input id="matCode" name="actNum">
					&nbsp;&nbsp;&nbsp;
					<label for="matCode" style="width:100px">전화번호</label><input id="matCode" name="actTel">
					</li>
				</ul>
				</td>
			</tr>
			
			<tr>
				<td>
					<ul class="ul-style">
					<li class="d-flex">
					  <label for="matCode" style="width:130px">거래처 구분</label>
					  <input id="matCode" name="actDiv">	&nbsp;&nbsp;&nbsp;
					  <label style="width:110px">&nbsp;&nbsp;거래상태</label>
					  <div style="width: 190px;" id="select-box"></div>
					  <div align="right">&nbsp;&nbsp;
						  <button type="button" class="btn btn-dark btn-sm">구매 거래처 등록</button>&nbsp;
						  <button type="button" class="btn btn-dark btn-sm">거래처 수정</button>&nbsp;
						  <input type="reset" class="btn btn-dark btn-sm" id="reset" name="reset">
					  </div>
					</li>
				</ul>
				</td>
			</tr>
				
		</table>
	</form>
	
	
	<div id="grid"></div>
	
	<br>
	
	<script>
		
		// 렌더링 에디터 (라디오박스)
		
	/* 	 class CustomSliderRenderer {
	      constructor(props) {
	        const el = document.createElement('div');
	        el.innerHTML = `<input type ="radio" value="1" name="use">yes &nbsp;&nbsp;&nbsp;&nbsp;
	        <input type ="radio" value="2" name="use">no`;
	        this.el=el;
	        this.render(props);
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        this.el.value = String(props.value);
	      }
	    } */
		

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
		    bodyHeight: 450,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [ {
				header : '거래처 업체명',
				name : 'actNm',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '거래처 코드',
				name : 'actCd',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '사업자 등록번호',
				name : 'actNum',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '전화번호',
				name : 'actTel',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '거래처구분',
				name : 'actDiv',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '거래 상태',
				name : 'actSts',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: {
		            type: 'radio',
		            options: {
		              listItems: [
		                { text: 'Y', value: 'Y' },
		                { text: 'N', value: 'N' }
		              ]
		            }
		        } 
			}, 
		],
		showDummyRows: true
	});
		
	// 렌더링 에디터 (라디오박스)
		
	//  grid.resetData(gridData);
	
	// toast - select box
	
	var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '거래상태',
			data : [ {
				label : 'Y',
				value : 'Y' // 코드 바꾸기
			}, {
				label : 'N',
				value : 'N'
			} ],
			autofocus : true
		});
	
	
	// grid select box change
	selectBox.on('change', ev => {
		mtrStd.value=ev.curr.value;
		  console.log(ev);
		});
	
	
	// 셀렉트 박스 초기화
	 document.getElementsByName('reset')[0].addEventListener('click', function(){
		    selectBox.deselect();
	 }) 
	 
	 // ajax 거래처코드 불러오기
	 
 		$.ajax({
			url : "ajax/selectAct",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
	 
    </script>
    
</div>