<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<div class="container" layout:fragment="content">
	<h3>거래처 코드관리</h3>
	<hr>
	<form action="#" style="margin-top: 30px">
		<ul class="ul-style">
			<li>
				<label for="matCode" style="width:130px">거래처 업체명</label>
				<input id="actName" name="actNm">&nbsp;&nbsp;&nbsp;
				<label for="matCode">거래처 코드</label>
				<input id="actCode" name="actCd" readonly>
			</li>
			<li>
				<label for="matCode" style="width:130px">사업자 등록번호</label>
				<input id="actNumber" name="actNum">&nbsp;&nbsp;&nbsp;
				<label for="matCode" style="width:100px">전화번호</label>
				<input id="actTelephone" name="actTel">
			</li>
			<li class="d-flex">
				<input type="hidden" id="actDivision" name="actDiv">	&nbsp;&nbsp;&nbsp;
				<label for="matCode" style="width:115px">거래처 구분</label>
				<div style="width: 190px;" id="select-box2"></div>
				<input type="hidden" name="actSts"  id="actStatus">&nbsp;
				<label style="width:113px">&nbsp;&nbsp;거래상태</label>&nbsp;
				<div style="width: 190px;" id="select-box"></div>&nbsp;&nbsp;&nbsp;
				<input type="reset" class="btn btn-dark btn-sm" id="reset" name="reset">
			</li>
			<li>
				<div align="right">
					<button type="button" class="btn btn-dark btn-sm" id="insertBtn">거래처 등록</button>&nbsp;
					<button type="button" class="btn btn-dark btn-sm" id="updateBtn">거래처 수정</button>&nbsp;
					<button type="button" class="btn btn-dark btn-sm" id="deleteBtn">거래처 삭제</button>
				</div>
			</li>
		</ul>
	</form>
	
	
	<div id="grid"></div>
	
	<br>
	
	<script>
	
		/* token */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
			
		
		// toastr
		toastr.options = {
			    "closeButton": false,
			    "newestOnTop": true,
			    "positionClass": "toast-top-center",
			    "preventDuplicates": true,
			    "extendedTimeOut" : 1500, 
			    "timeOut" : 2500
		}
	
		// 렌더링 에디터 (라디오박스)
		
	/* 	 class CustomSliderRenderer {
	      constructor(props) {
	        const el = document.createElement('div');
	        el.innerHTML = `<input type ="radio" value="1" name="use">yes &nbsp;&nbsp;&nbsp;&nbsp;
	        <input type ="radio" value="2" name="use">no`;
	        this.el=el;
	        this.render(props);
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        this.el.value = String(props.value);
	      }
	    } */
		

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
		    bodyHeight: 450,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [ {
				header : '거래처 업체명',
				name : 'actNm',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
			}, {
				header : '거래처 코드',
				name : 'actCd',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
			}, {
				header : '사업자 등록번호',
				name : 'actNum',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
			}, {
				header : '전화번호',
				name : 'actTel',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
			}, {
				header : '거래처구분',
				name : 'actDiv',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
			},{
				header : '거래처구분',
				name : 'actDivNm',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
			}, {
				header : '거래 상태',
				name : 'actSts',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: {
		            type: 'radio',
		            options: {
		              listItems: [
		                { text: 'Y', value: 'Y' },
		                { text: 'N', value: 'N' }
		              ]
		            }
		        } 
			}, 
		],
	});
	    grid.hideColumn('actDiv');
	    selectAct();	//ajax 거래처코드 불러오기
		
	// 렌더링 에디터 (라디오박스)
		
	//  grid.resetData(gridData);
	
	// toast - select box
	
	var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '거래상태',
			data : [ {
				label : 'Y',
				value : 'Y' // 코드 바꾸기
			}, {
				label : 'N',
				value : 'N'
			} ],
	});
	
	var selectBox2 = new tui.SelectBox('#select-box2', {
			placeholder : '거래처 구분',
			data : [ {
				label : '판매처',
				value : 'ACT-TYPE1'
			}, {
				label : '자재업체',
				value : 'ACT-TYPE2'
			}, {
				label : '설비업체',
				value : 'ACT-TYPE3'
			} ],
	});
	
	
	// bind 'change' event1
	selectBox.on('change', ev => {
	  //console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
	  $('#actStatus').val(ev.curr.getValue());
	});
	
	// bind 'change' event2
	selectBox2.on('change', ev => {
	  //console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
	  $('#actDivision').val(ev.curr.getValue());
	});
	
	
	// 셀렉트 박스 초기화
	 document.getElementsByName('reset')[0].addEventListener('click', function(){
		    selectBox.deselect();
		    selectBox2.deselect();
	 }) 
	 
	 // ajax 거래처코드 불러오기
	 function selectAct() {
		 $.ajax({
				url : "ajax/selectAct",
				type : "get",
				dataType: "json",
				success : function(data){
					grid.resetData(data);
				},
				error : function(reject){
					console.log(reject);
				}
			})
	 }
 	
	// 거래처 코드를 제외한 값을 입력했는지 체크
	function checkEmpty() {
		let actNm =  document.getElementById('actName');
		let actCd = document.getElementById('actCode');
		let actNum = document.getElementById('actNumber');
		let actTel = document.getElementById('actTelephone');
		let actDiv = document.getElementById('actDivision');
		let actSts = document.getElementById('actStatus');
		
		if (actNm.value == null || actNm.value == '') {
			toastr.warning('거래처명을 입력하세요ㅣ.');
			actNm.focus();
			return true;
		} else if (actNum.value == null || actNum.value == '') {
			toastr.warning('사업자등록번호를 입력하세요ㅣ.');
			actNum.focus();
			return true;			
		} else if (actTel.value == null || actTel.value == '') {
			toastr.warning('전화번호를 입력하세요ㅣ.');
			actTel.focus();
			return true;
		} else if (actDiv.value == null || actDiv.value == '') {
			toastr.warning('거래처 구분을 선택하세요ㅣ.');
			document.getElementById('select-box2').focus();
			return true;
		} else if (actSts.value == null || actSts.value == '') {
			toastr.warning('거래 상태를 선택하세요ㅣ.');
			document.getElementById('select-box1').focus();
			return true;
		}
		
		return false;
	}
		

	// ajax 구매 거래처 등록하기
	
		document.getElementById('insertBtn').addEventListener('click', function() {
			// 거래처코드 비어있는지 확인
			let actCd = document.getElementById('actCode'); 
			if (actCd.value.length != 0) {
				toastr.warning('먼저 거래처 코드를 초기화 후 작성해주세요.');
				return;
			}
			
			// 거래처 코드를 제외한 값을 입력했는지 체크
			if (checkEmpty()) {
				return;
			};
			
			sweetConfirm('C', function () {
			let data = {
				actNm: document.getElementById('actName').value,
				actCd: document.getElementById('actCode').value,
				actNum: document.getElementById('actNumber').value,
				actTel: document.getElementById('actTelephone').value,
				actDiv: document.getElementById('actDivision').value,
				actSts: document.getElementById('actStatus').value
			}
			
			// ajax 구매 거래처 등록
			$.ajax({
				url : "ajax/insertAct",
				type : "post",
				data: data,
				dataType: "json",
				beforeSend : function (xhr) {
				    xhr.setRequestHeader(header, token);
				},
				success : function(data){
					if (data > 0) {
						// ajax success
			            toastr.success('정상적으로 등록되었습니다.');
			            document.getElementsByName('reset')[0].click();
			            selectAct(); // 최신화된 거래처 불러오기
			            //setTimeout(() => {location.reload(), 3000});
					} else {
						// ajax fail
			            toastr.error('등록에 실패했습니다.');	
					}
				},
				error : function(reject){
					console.log(reject);
				}
		 	});
			});
		});
		
		// 거래처 코드 칼럼 누르면 거기 정보가 나온다
 		
	 	grid.on('click', function(ev){
			let rowData = grid.getRow(ev.rowKey);
			console.log(rowData);
			$('#actName').val(grid.getRow(ev.rowKey).actNm); 
			$('#actCode').val(grid.getRow(ev.rowKey).actCd); 
			$('#actNumber').val(grid.getRow(ev.rowKey).actNum); 
			$('#actTelephone').val(grid.getRow(ev.rowKey).actTel); 
			$('#actDivision').val(grid.getRow(ev.rowKey).actDiv); 
			$('#actStatus').val(grid.getRow(ev.rowKey).actSts);

			selectBox.select(rowData.actSts);
			selectBox2.select(rowData.actDiv);
			
	 	})
	 	
	 	
	 	// ajax 구매 거래처 수정
	 	document.getElementById('updateBtn').addEventListener('click', function(){
	 		// 수정할 거래처코드 입력되어있는지 확인
			let actCd = document.getElementById('actCode'); 
			if (actCd.value.length == 0) {
				toastr.warning('거래처를 선택한 후 수정해주세요.');
				return;
			}
	 		
	 		// 거래처 코드를 제외한 값을 입력했는지 체크
			if (checkEmpty()) {
				return;
			};
	 		
			sweetConfirm('U', function () {
				
				let data = {
						
						actNm : document.getElementById('actName').value,
						actCd : document.getElementById('actCode').value,
						actNum : document.getElementById('actNumber').value,
						actTel : document.getElementById('actTelephone').value,
						actDiv : document.getElementById('actDivision').value,
						actSts : document.getElementById('actStatus').value
				};
				
				$.ajax({
					url : "ajax/updateAct",
					type : "post",
					data: data,
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function(data){
						if (data > 0) {
							// ajax success
				            toastr.success('정상적으로 수정되었습니다.');
				            document.getElementsByName('reset')[0].click();
				            selectAct(); // 최신화된 거래처 불러오기
				            //location.reload();
						} else {
							// ajax fail
				            toastr.error('수정에 실패했습니다.');	
						}
					},
					error : function(reject){
						console.log(reject);
					}
				});

			})
		})
		
		
		// 거래처 삭제
		document.getElementById('deleteBtn').addEventListener('click', function() {
			// 삭제할 거래처코드 입력되어있는지 확인
			let actCd = document.getElementById('actCode'); 
			if (actCd.value == '' || actCd.value == null) {
				toastr.warning('거래처를 선택한 후 삭제해주세요.');
				return;
			}
			
			sweetConfirm('D', function () {
				$.ajax({
					url : "ajax/deleteAct",
					type : "post",
					data: {'actCd' : actCd.value},
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function (data) {
						if (data > 0) {
							// ajax success
				            toastr.success('정상적으로 삭제되었습니다.');
				            document.getElementsByName('reset')[0].click();
				            selectAct(); // 최신화된 거래처 불러오기
						} else {
							// ajax fail
				            toastr.error('삭제에 실패했습니다.');	
						}
					},
					error : function(reject){
						console.log(reject);
					}
				});
			});
			
		});
    </script>
    
</div>