<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">

	<br>
	
	<h3>BOM관리</h3>
	
	<hr>
	
	<br> <br>
	
	<ul class="ul-style">
			<li><label for="matNm">제품 코드</label><input id="matNm" name="prdCd" readonly>
				<img id="matNm" class="Magnifying-Glass-img" alt="image"
					data-bs-toggle="modal" data-bs-target="#exampleModal"
					src="../images/Magnifying_Glass.png" >
				<input type="text" name="prdNm" readonly>
				&nbsp;&nbsp;사용여부&nbsp;<input type="checkbox">
			</li>
			
			
	</ul>
	
	<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
			    	<h4 class="modal-title" id="exampleModalLabel">제품 코드 목록</h4>
			    	<button type="button" class="btn-close" data-bs-dismiss="modal"
			            aria-label="Close"></button>
		    		</div>
			     		<div class="modal-body">
							<h4 align="center"><b>제품 목록</b></h4>
			               	<br>
			               	
			               	제품명&nbsp;<input type="text">
			               	<button type="button" class="btn btn-dark btn-sm"
			                 data-bs-dismiss="modal">조회</button>
			                <button type="button" class="btn btn-dark btn-sm">초기화</button>
			                
			                <br> <br>
			               	
			               	<div id="grid2"></div>
			            	   	
			               	
			     	    </div>
			     </div>
			 </div>
	    </div>
		
	<div align="right">
			<button type="button" class="btn btn-dark btn-sm">조회</button>
			<button type="button" class="btn btn-dark btn-sm">초기화</button>
			<button type="button" class="btn btn-dark btn-sm">추가</button>
			
			
			<button type="button" class="btn btn-dark btn-sm"
			data-bs-toggle="modal" data-bs-target="#exampleModal2">저장</button>
			
			
			
					<div class="modal fade" id="exampleModal2" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
						    	<h4 class="modal-title" id="exampleModalLabel">저장 확인</h4>
						    	<button type="button" class="btn-close" data-bs-dismiss="modal"
						            aria-label="Close"></button>
					    		</div>
						     		<div class="modal-body">
						     		
										<div align="center">해당 정보를 BOM 코드로 저장 하시겠습니까?</div><br>
										
										<button type="button" class="btn btn-dark btn-sm"
										data-bs-toggle="modal" data-bs-target="#exampleModal3">확인</button>
										<button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
												
						     	    </div>
						     </div>
						 </div>
			         </div>
		         
	         								<!-- Modal -->
											<div class="modal fade" id="exampleModal3" tabindex="-1"
												aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
												    	<h4 class="modal-title" id="exampleModalLabel">저장 완료</h4>
												    	<button type="button" class="btn-close" data-bs-dismiss="modal"
												            aria-label="Close"></button>
											    		</div>
												     		<div class="modal-body">
																
												               	<div align="center">저장 되었습니다.</div><br>
												               	<button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">확인</button>
												               	
												               	
												     	    </div>
												     </div>
												 </div>
										    </div>
			
			
	</div>
	
	<br>
	
	<div id="grid"></div>

	<script>
	  
	  
	  
	/*   const gridData3 = [{
		  BOM_NO: '1',
		  PPRO_CD: 'LHS-0001',
		  PPRO_NAME: '혼합 공정',
		  },
		  {
		  BOM_NO: '2',
		  PPRO_CD: 'LHS-0002',
		  PPRO_NAME: '성형 공정',
		  },
		  {
		  BOM_NO: '3',
		  PPRO_CD: 'LHS-0003',
		  PPRO_NAME: '냉동 공정',
		  },
		  {
		  BOM_NO: '4',
		  PPRO_CD: 'LHS-0004',
		  PPRO_NAME: '포장 공정',
		  }
	  ];
	  
	  const gridData4 = [{
		  BOM_NO: '1',
		  MTR_CD: 'WJJ-06',
		  MTR_NM: '밀가루',
		  },
		  {
		  BOM_NO: '2',
		  MTR_CD: 'WJJ-05',
		  MTR_NM: '혼합 야채',
		  },
		  {
		  BOM_NO: '3',
		  MTR_CD: 'WJJ-03',
		  MTR_NM: '당면',
		  },
		  {
		  BOM_NO: '4',
		  MTR_CD: 'WJJ-01',
		  MTR_NM: '고기',
		  }
	  ]; */

	  
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			scrollX : true,
			scrollY : true,
			bodyHeight : 500,
			columns : [ {
				header : 'No',
				name : 'bomNo'
			}, {
				header : '사용 공정명',
				name : 'pproName'
			}, {
				header : 'BOM코드',
				name : 'bomCd'
			}, {
				header : '제품 코드',
				name : 'prdCd'
			}, {
				header : '자재 코드',
				name : 'mtrCd'
			}, {
				header : '자재명',
				name : 'mtrNm'
			}, {
				header : '소모량',
				name : 'bomAmt'
			}, {
				header : '사용 여부',
				name : 'bomUse'
			}
			],
			showDummyRows : true
		});
		
		
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			scrollX : false,
			scrollY : true,
			bodyHeight : 500,
			columns : [{
				header : '제품 코드',
				name : 'prdCd'
			}, {
				header : '제품명',
				name : 'prdNm'
			}, {
				header : '규격',
				name : 'prdStd'
			}
			],
		});
		
		
		// 모달창 리프레시(모달창에 그리드 화면 띄울때 써야함!)
	     exampleModal.addEventListener('shown.bs.modal', () => {
	            grid2.refreshLayout(); //모달창 새로고침
	     })
	     
	     // BOM 정보 불러오기
		$.ajax({
			url : "ajax/selectBOM",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
		
		// BOM 제품정보 모달 불러오기
		$.ajax({
			url : "ajax/selectModalBOM",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid2.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
	       
	    
    </script>
    
</div>