<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">
	
	<br>
	<div class="row">
		
		
		<h2>공통 코드 관리</h2>
		<hr>

		<br> <br> <br> <br> <br>

		
			<div class="col-4" style="padding-left: 50px">
			<form action="" onsubmit="return false">
				<br> <br><b>공통 코드 검색</b>&nbsp;&nbsp; 
				<input type="text" size="15" id="commSearch">
				<button type="button" class="btn btn-dark btn-sm" id="commBtn">검색</button>
				<button type="reset" class="btn btn-dark btn-sm" id="commreset">초기화</button>
			</form>
				<div id="grid" style="width: 400px"></div>
			</div>

		<div class="col-7">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-home-tab"
						data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
						role="tab" aria-controls="pills-home" aria-selected="true">
						코드 조회</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-profile-tab"
						data-bs-toggle="pill" data-bs-target="#pills-profile"
						type="button" role="tab" aria-controls="pills-profile"
						aria-selected="false">그룹 코드</button>
				</li>
			</ul>

			<hr>
	
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home"
					role="tabpanel" aria-labelledby="pills-home-tab">

					<div align="right">

						<button type="button" class="btn btn-dark btn-sm" id="addCode">코드 추가</button>
						<button type="button" class="btn btn-dark btn-sm" id="saveCode">저장</button>
					</div>


					<div id="grid2" style="width: 400px"></div>

					<hr>

				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel"
					aria-labelledby="pills-profile-tab">
					<div id="grid3" style="width: 910px">
					
					<b>그룹 코드 등록</b>
					<br>
					<hr>

					  
					  <div class="mb-3 row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">공통 코드</label>
					    <div class="col-sm-10">
					      <input type="text" name="COMM_CD" class="form-control" id="distributeCodeName">
					    </div>
					  </div>
					  
					  <div class="mb-3 row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">공통 코드 이름</label>
					    <div class="col-sm-10">
					      <input type="text" name="COMM_NM" class="form-control" id="distributeCodeName">
					    </div>
					  </div>
					  
					  <div class="mb-3 row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">공통 코드 내용</label>
					    <div class="col-sm-10">
					      <input type="text" name="COMM_INFO" class="form-control" id="distributeCodeName">
					    </div>
					  </div>
					
					사용 여부&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="COMM_USE" id="inlineRadio1" value="option1">
					  <label class="form-check-label" for="inlineRadio1">YES</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="COMM_USE" id="inlineRadio2" value="option2">
					  <label class="form-check-label" for="inlineRadio2">NO</label>
					</div>
					
				
					<div align="right">
					<button type="button" class="btn btn-dark btn-sm">등록</button>
					</div>
					
					</div>
					<hr>

				</div>
			</div>
		</div>

	</div>
	<div class="row">
		
		<div class="col-4">
			<div id="grid" style="width: 400px"></div>
		</div>
		<div class="col-7">
			<div id="grid2" style="width: 400px"></div>
		</div>
	</div>


	
	<script>

	const gridData = [ {
			COMM_CD : 'ABC001',
			COMM_NM : '규격',
		}, {
			COMM_CD : 'ABC002',
			COMM_NM : '단위',
		}, {
			COMM_CD : 'ABC003',
			COMM_NM : '설비상태',
		}, {
			COMM_CD : 'ABC004',
			COMM_NM : '단위',
		}, {
			COMM_CD : 'ABC005',
			COMM_NM : '단위',
		}, {
			COMM_CD : 'ABC006',
			COMM_NM : '규격',
		}, {
			COMM_CD : 'ABC006',
			COMM_NM : '규격',
		}, {
			COMM_CD : 'ABC006',
			COMM_NM : '규격',
		}, {
			COMM_CD : 'ABC006',
			COMM_NM : '규격',
		}, {
			COMM_CD : 'ABC006',
			COMM_NM : '규격',
		}, {
			COMM_CD : 'ABC006',
			COMM_NM : '규격',
		},

		];

		const gridData2 = [ {
			COMMD_CD : 'STATE-1',
			COMMD_NM : '가동',
			COMMD_INFO : '가동 중을 뜻하는 코드',
			COMMD_USE : '사용여부'
		}, {
			COMMD_CD : 'STATE-2',
			COMMD_NM : '가동',
			COMMD_INFO : '가동 중을 뜻하는 코드',
			COMMD_USE : '사용여부'
		}, {
			COMMD_CD : 'STATE-3',
			COMMD_NM : '가동',
			COMMD_INFO : '가동 중을 뜻하는 코드',
			COMMD_USE : '사용여부'
		}, {
			COMMD_CD : 'STATE-4',
			COMMD_NM : '가동',
			COMMD_INFO : '가동 중을 뜻하는 코드',
			COMMD_USE : '사용여부'
		} ];

		

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			bodyHeight : 300, // 스크롤

			data : gridData,
			width : 400,
			scrollX : true,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [{
				header : '공통 코드',
				name : 'COMM_CD',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        filter: 'text'
			}, {
				header : '공통 코드 이름',
				name : 'COMM_NM',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			} ],

		});

	
		// 렌더링 에디터 (라디오박스)
		
		 class CustomSliderRenderer {
	      constructor(props) {
	        const el = document.createElement('div');
	        el.innerHTML = `<input type ="radio" value="1" name="COMMD_USE">yes &nbsp;&nbsp;&nbsp;&nbsp;
	        <input type ="radio" value="2" name="COMMD_USE">no`;
	        this.el=el;
	        this.render(props);
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        this.el.value = String(props.value);
	      }
	    }
		

		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			bodyHeight : 300, // 스크롤

			data : gridData2,
			width : 900,
			scrollX : true,
			scrollY : true,
			rowHeaders: ['checkbox'],

			columns : [
				{
					header : '상세 공통 코드',
					name : 'COMMD_CD',
					sortingType: 'desc',
			        sortable: true,
			        align: 'center',
			        editor: 'text'
				},
				{
					header : '상세 공통 이름',
					name : 'COMMD_NM',
					sortingType: 'desc',
			        sortable: true,
			        align: 'center',
			        editor: 'text'
				},
				{
					header : '상세 공통 내용',
					name : 'COMMD_INFO',
					sortingType: 'desc',
			        sortable: true,
			        align: 'center',
			        editor: 'text'
				},
				{
					
					header : '사용 여부',
					name : 'COMMD_USE',
					sortingType: 'desc',
			        sortable: true,
			        align: 'center',
				    renderer: {
			            type: CustomSliderRenderer,
			            
			        } 
				}
			],
		});
		
		
		// 렌더링 에디터 (라디오박스)
		
		  grid.resetData(gridData);
		
		// 공통 코드 검색
		
		document.getElementById('commBtn').addEventListener('click', function(){
    	grid.filter('COMM_CD', [{code: 'eq', value: commSearch.value}]);
     		
        });
		
		document.getElementById('commSearch').addEventListener("keydown", function(){
	         if(event.keyCode == 13){
	        	 grid.filter('COMM_CD', [{code: 'eq', value: commSearch.value}]);
	        	 searchEmpName.value = '';
	         }
	     });
		
		// 초기화 버튼 누를시 다시 데이터 원상복구
	     
	    document.getElementById("commreset").addEventListener('click', function(){
	    	grid.unfilter('COMM_CD', [{code: 'eq', value: commSearch.value}]);
       	 	searchEmpName.value = '';
	     });

		// 코드조회에 코드 추가
		
		document.getElementById("addCode").addEventListener('click', function(){
		let rowData = [{COMMD_CD: "", COMMD_NM: "", COMMD_INFO: "", COMMD_USE: ""}];
		grid2.appendRow(rowData);
		});
		
		// 저장버튼(미구현)
		
		document.getElementById('saveCode').addEventListener('click', function(){
		let rowData = [{COMMD_CD: "", COMMD_NM: "", COMMD_INFO: "", COMMD_USE: ""}];
		
		})
		
	</script>

</div>