<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<div class="container" layout:fragment="content">
	<h3>공통 코드 관리</h3>
	<hr>
	<div class="row">
			<div class="col-4" style="padding-left: 50px">
			<form action="" onsubmit="return false">
				<br> <br><b>공통 코드 검색</b>&nbsp;&nbsp; 
				<input type="text" size="15" id="commSearch">
				<button type="button" class="btn btn-dark btn-sm" id="commBtn">검색</button>
				<button type="reset" class="btn btn-dark btn-sm" id="commreset">초기화</button>
			</form>
				<div id="grid" style="width: 400px"></div>
			</div>

		<div class="col-7" style="margin-top: 50px">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-home-tab"
						data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
						role="tab" aria-controls="pills-home" aria-selected="true">
						코드 조회</button>
				</li>
				<li class="nav-item" role="presentation" id="commRegTabLi">
					<button class="nav-link" id="pills-profile-tab"
						data-bs-toggle="pill" data-bs-target="#pills-profile"
						type="button" role="tab" aria-controls="pills-profile"
						aria-selected="false">공통 코드</button>
				</li>
			</ul>

			<hr>
	
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home"
					role="tabpanel" aria-labelledby="pills-home-tab">

					<div align="right">

						<button type="button" class="btn btn-dark btn-sm" id="addCode">행 추가</button>
						<button type="button" class="btn btn-dark btn-sm" id="deleteRow" style="margin-right:10px">행 삭제</button>
						<button type="button" class="btn btn-dark btn-sm" id="saveCode">저장</button>
					
					</div>


					<div id="grid2" style="width: 400px"></div>

					<hr>

				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel"
					aria-labelledby="pills-profile-tab">
					<div id="grid3" style="width: 910px">
					
					<b>그룹 코드 등록</b>
					<br>
					<hr>

					  
					  <div class="mb-3 row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">공통 코드</label>
					    <div class="col-sm-10">
					      <input type="text" name="commCd" class="form-control" id="commCode">
					    </div>
					  </div>
					  
					  <div class="mb-3 row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">공통 코드 이름</label>
					    <div class="col-sm-10">
					      <input type="text" name="commNm" class="form-control" id="commCodeName">
					    </div>
					  </div>
					  
					  <div class="mb-3 row">
					    <label for="staticEmail" class="col-sm-2 col-form-label">공통 코드 내용</label>
					    <div class="col-sm-10">
					      <input type="text" name="commInfo" class="form-control" id="commCodeInfo">
					    </div>
					  </div>
					
					사용 여부&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="commUse" id="useRadio1" value="YES" checked>
					  <label class="form-check-label" for="useRadio1">YES</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="commUse" id="useRadio2" value="NO">
					  <label class="form-check-label" for="useRadio2">NO</label>
					</div>
					
				
					<div align="right">
						<button type="button" class="btn btn-dark btn-sm" id="insertBtn">등록</button>
						<button type="button" class="btn btn-dark btn-sm" id="updateBtn">수정</button>
						<button type="button" class="btn btn-dark btn-sm" id="deleteBtn">삭제</button>
						<button type="button" class="btn btn-dark btn-sm" id="resetBtn" style="margin-left:5px">초기화</button>
					</div>
					
					</div>
					<hr>

				</div>
			</div>
		</div>

	</div>
	<div class="row">
		
		<div class="col-4">
			<div id="grid" style="width: 400px"></div>
		</div>
		<div class="col-7">
			<div id="grid2" style="width: 400px"></div>
		</div>
	</div>


	
	<script>
		/* token */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
	
		// toastr
		toastr.options = {
			    "closeButton": false,
			    "newestOnTop": true,
			    "positionClass": "toast-top-center",
			    "preventDuplicates": true,
			    "extendedTimeOut" : 1500, 
			    "timeOut" : 2500
		}
	
		const grid = new tui.Grid({
			
			el : document.getElementById('grid'),
			bodyHeight : 500, // 스크롤

			width : 400,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [{
				header : '공통 코드',
				name : 'commCd',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        filter: 'text'
			}, {
				header : '공통 코드 이름',
				name : 'commNm',
				sortingType: 'desc',
		        sortable: true,
		        align: 'left'
			} ],

		});

	
		// 렌더링 에디터 (라디오박스)
		
		 /* class CustomSliderRenderer {
	      constructor(props) {
	    	  
	        const el = document.createElement('div');
	        el.innerHTML = `<input type ="radio" value="YES" name="commdUse">yes &nbsp;&nbsp;&nbsp;&nbsp;
	        <input type ="radio" value="NO" name="commdUse">no`;
	        this.el=el;
	        this.render(props);
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        this.el.value = String(props.value);
	      }
	    } */
		

		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			
			bodyHeight : 300, // 스크롤
			width : 900,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['checkbox'],

			columns : [
				{
					header : '상세 공통 코드',
					name : 'commdCd',
					sortingType: 'desc',
			        sortable: true,
			        align: 'center',
			        editor: 'text'
				},
				{
					header : '상세 공통 이름',
					name : 'commdNm',
					sortingType: 'desc',
			        sortable: true,
			        align: 'left',
			        editor: 'text'
				},
				{
					header : '상세 공통 내용',
					name : 'commdInfo',
					sortingType: 'desc',
			        sortable: true,
			        align: 'left',
			        editor: 'text'
				},
				{
					
					header : '사용 여부',
					name : 'commdUse',
					sortingType: 'desc',
			        sortable: true,
			        align: 'center',
			        editor: {
			            type: 'radio',
			            options: {
			              listItems: [
			                { text: 'YES', value: 'YES' },
			                { text: 'NO', value: 'NO' }
			              ]
			            }
			        }
				}
			],
		});
	    selectComm();
	    
		// ajax 공통코드 불러오기
		function selectComm() {
			$.ajax({
				url : "ajax/selectComm",
				type : "get",
				dataType: "json",
				success : function(data){
					grid.resetData(data);
				},
				error : function(reject){
					console.log(reject);
				}
			})	
		}
		
		
		/* // ajax 공통 상세 코드 불러오기
		$.ajax({
			url : "ajax/selectCommd",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid2.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		}) */
		
		// 렌더링 에디터 (라디오박스)
		
		// grid.resetData(gridData2);
		
		// 공통 코드 검색
		
		document.getElementById('commBtn').addEventListener('click', function(){
    	grid.filter('commCd', [{code: 'contain', value: commSearch.value}]);
     		
        });
		
		document.getElementById('commSearch').addEventListener("keydown", function(){
	         if(event.keyCode == 13){
	        	 grid.filter('commCd', [{code: 'contain', value: commSearch.value}]);
	        	 searchEmpName.value = '';
	         }
	     });
		
		// 초기화 버튼 누를시 다시 데이터 원상복구
	     
	    document.getElementById("commreset").addEventListener('click', function(){
	    	grid.unfilter('commCd', [{code: 'eq', value: commSearch.value}]);
       	 	searchEmpName.value = '';
	     });

		// 코드조회에 코드 추가
		
		document.getElementById("addCode").addEventListener('click', function(){
		let rowData = [{commdCd: "", commdNm: "", commdInfo: "", commdUse: ""}];
		grid2.appendRow(rowData);
		});
		
		// 공통 코드 등록 input 부분 비워주기
		function resetCommRegInput() {
			document.getElementById('commCode').removeAttribute('readonly');
            document.getElementById('commCode').value = '';
            document.getElementById('commCodeName').value = '';
            document.getElementById('commCodeInfo').value = '';
            document.getElementById('useRadio1').checked = true;
		}
		
		
		// 공통 코드 탭 누르면 공통코드등록 input 비워주기
		document.getElementById('commRegTabLi').addEventListener('click', function () {
			resetCommRegInput();
		});
		
		// 현재 선택한 공통코드
		let selectedComm = '';
		
		
		// 공통코드 컬럼 누르면 거기에 맞는 상세코드 나옴. 공통코드 내용도 가져와서 공통코드 등록 input에 넣어주기
  		grid.on('click', function (ev) {
			let commCd = grid.getRow(ev.rowKey).commCd;
			selectedComm = commCd;
			
			// 상세코드 가져와서 넣어주기
			$.ajax({
				url : "ajax/selectCommd",
				type : "post",
				data: {'commCd': commCd},
				dataType: "json",
				beforeSend : function (xhr) {
				    xhr.setRequestHeader(header, token);
				},
				success : function(data){
					grid2.resetData(data);
				},
				error : function(reject){
					console.log(reject);
				}
			})
			
			// 공통코드 가져와서 넣어주기
			$.ajax({
				url : "ajax/findComm",
				type : "post",
				data: {'commCd' : commCd},
				async: false,
				beforeSend : function (xhr) {
				    xhr.setRequestHeader(header, token);
				},
				success : function(data){
					document.getElementById('commCode').setAttribute('readonly', 'true');
					document.getElementById('commCode').value = data.commCd
					document.getElementById('commCodeName').value = data.commNm;
					document.getElementById('commCodeInfo').value = data.commInfo;
					if (data.commUse == 'YES') {
						document.getElementById('useRadio1').checked = true;
					} else {
						document.getElementById('useRadio2').checked = true;
					}
				},
				error : function(reject){
					console.log(reject);
				}
			});
			
		})  
		
		// 상세 공통 코드 추가 후 저장시 등록
		
		document.getElementById('saveCode').addEventListener('click', function(){
			grid2.blur();
			let rowDatas = grid2.getData();
			console.log(rowDatas);
			
			// 유효성 체크 1. 공통코드를 선택했는지 유무 체크
			if (selectedComm == null || selectedComm == '') {
				toastr.warning('공통코드를 선택 후 상세공통코드를 추가해주세요.');
				return;
			}
			
			// 유효성 체크 2. 값 입력 유무 체크
			for (let i = 0; i < rowDatas.length; i++) {
				for (let prop in rowDatas[i]) {
					if (rowDatas[i][prop] == null || rowDatas[i][prop].length == 0) {
						toastr.warning('값을 모두 입력해주세요.');
						return;
					}
				}
			}
			
			// 유효성 체크 3. 상세공통코드 중복 체크
			for(let i = 0; i < rowDatas.length; i++){
				for(let j = i + 1; j < rowDatas.length; j++){
					if (rowDatas[i].commdCd == rowDatas[j].commdCd) {
						toastr.warning('중복된 상세공통코드 입니다.');
						return; 
					}
				}
			}
			
			let gridData = grid2.getModifiedRows();
			
			let cRows = gridData.createdRows;
			let uRows = gridData.updatedRows;
			let dRows = gridData.deletedRows;
			
			for (let i = 0; i < cRows.length; i++) {
				cRows[i].commCd = selectedComm;
			}
			
			for (let i = 0; i < uRows.length; i++) {
				uRows[i].commCd = selectedComm;
			}
			
			for (let i = 0; i < dRows.length; i++) {
				dRows[i].commCd = selectedComm;
			}
			
			console.log(gridData);
			
			sweetConfirm('C', function () {
			
				$.ajax({
					url : "ajax/modifiedCommd",
					type : "post",
					contentType: "application/json",
					data: JSON.stringify(gridData),
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function(data){
						if (data != null) {
							if (data.create != 0) {
								toastr.success('정상적으로 ' + data.create + '건이 저장되었습니다.');
							}
							
							if (data.update != 0) {
								toastr.success('정상적으로 ' + data.update + '건이 수정되었습니다.');
							}
							
							if (data.delete != 0) {
								toastr.success('정상적으로 ' + data.delete + '건이 삭제되었습니다.');
							}
						} else {
							toastr.error('등록에 실패했습니다.');
						}
					},
					error : function(reject){
						console.log(reject);
					}
				})
			
			})
		})

		
		// 공통 코드 등록
		
		document.getElementById('insertBtn').addEventListener('click', function(){
			let commCd = document.getElementById('commCode');
			let commNm = document.getElementById('commCodeName');
			let commInfo = document.getElementById('commCodeInfo');
			let commUse = document.querySelector('input[name=commUse]:checked');
			
			// 값 입력했는지 체크
			if (commCd.value == '') {
				toastr.warning('공통코드를 입력해주세요.');
				commCd.focus();
				return;
			} else if (commNm.value == '') {
				toastr.warning('공통코드이름을 입력해주세요.');
				commNm.focus();
				return;
			} else if (commInfo.value == '') {
				toastr.warning('공통코드내용을 입력해주세요.');
				commInfo.focus();
				return;
			}
			
			// 공통 코드 중복 체크
			let chkCommCd='';
			$.ajax({
				url : "ajax/findComm",
				type : "post",
				data: {'commCd' : commCd.value},
				async: false,
				beforeSend : function (xhr) {
				    xhr.setRequestHeader(header, token);
				},
				success : function(data){
					chkCommCd = data.commCd;
				},
				error : function(reject){
					console.log(reject);
				}
			});
			
			if (chkCommCd == commCd.value) {
				toastr.warning('이미 존재하는 공통코드 입니다.');
				commCd.focus();
				return;
			}
			

			let data = {
					'commCd' : commCd.value,
					'commNm' : commNm.value,
					'commInfo' : commInfo.value,
					'commUse' : commUse.value
			}
			
			sweetConfirm('C', function () {
				$.ajax({
					url : "ajax/insertComm",
					type : "post",
					data: data,
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function(data){
						if (data > 0) {
							// ajax success
				            toastr.success('정상적으로 등록되었습니다.');
				            selectComm();
				            //setTimeout(() => {location.reload(), 3000});
				            resetCommRegInput(); // 등록 input 비워주기
						} else {
							// ajax fail
				            toastr.error('등록에 실패했습니다.');	
						}
					},
					error : function(reject){
						console.log(reject);
					}
				
				});
			})
		})
		
		
		// 공통코드 수정
		document.getElementById('updateBtn').addEventListener('click', function () {
			let commCd = document.getElementById('commCode');
			let commNm = document.getElementById('commCodeName');
			let commInfo = document.getElementById('commCodeInfo');
			let commUse = document.querySelector('input[name=commUse]:checked');
			
			// 값 입력했는지 체크
			if (commCd.value == '') {
				toastr.warning('공통코드를 입력해주세요.');
				commCd.focus();
				return;
			} else if (commNm.value == '') {
				toastr.warning('공통코드이름을 입력해주세요.');
				commNm.focus();
				return;
			} else if (commInfo.value == '') {
				toastr.warning('공통코드내용을 입력해주세요.');
				commInfo.focus();
				return;
			}
			
			let data = {
					'commCd' : commCd.value,
					'commNm' : commNm.value,
					'commInfo' : commInfo.value,
					'commUse' : commUse.value
			}
			
			sweetConfirm('U', function () {
				$.ajax({
					url : "ajax/updateComm",
					type : "post",
					data: data,
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function(data){
						if (data > 0) {
							// ajax success
				            toastr.success('정상적으로 수정되었습니다.');
				            selectComm();
				            //setTimeout(() => {location.reload(), 3000});
				            resetCommRegInput(); // 등록 input 비워주기
						} else {
							// ajax fail
				            toastr.error('수정에 실패했습니다.');	
						}
					},
					error : function(reject){
						console.log(reject);
					}
				
				});
			})
		});
		
		// 공통 코드 삭제
		document.getElementById('deleteBtn').addEventListener('click', function () {
			let commCd = document.getElementById('commCode');
			
			// 값 입력했는지 체크
			if (commCd.value == '') {
				toastr.warning('삭제할 공통코드를 선택해주세요.');
				commCd.focus();
				return;
			}
			
			sweetConfirm('D', function () {
				$.ajax({
					url : "ajax/deleteComm",
					type : "post",
					data: {'commCd': commCd.value },
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function(data){
						if (data > 0) {
							// ajax success
				            toastr.success('정상적으로 삭제되었습니다.');
				            selectComm();
				            //setTimeout(() => {location.reload(), 3000});
				            resetCommRegInput(); // 등록 input 비워주기
						} else {
							// ajax fail
				            toastr.error('삭제에 실패했습니다.');	
						}
					},
					error : function(reject){
						console.log(reject);
					}
				
				});
			})
		});
		
		document.getElementById('deleteRow').addEventListener('click', function () {
			let data = grid2.getCheckedRows();
			
			if (data.length == 0) {
				toastr.warning('행 삭제할 행을 체크해주세요.');
				return;
			}
			
			grid2.removeCheckedRows();
		})
		
		
		// 공통 코드 input 초기화
		document.getElementById('resetBtn').addEventListener('click', function () {
			resetCommRegInput(); // 등록 input 비워주기
		});
		
			
	</script>

</div>