<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<style type="text/css">
#select-box .tui-select-box {

width:80%;	display: inline;
}
</style>
</head>
<div class="container" layout:fragment="content">


	<br>
	<h3>자재 코드 관리</h3>
	<hr>

	<br> <br> <br>

	<div class="container">
		<div class="row row-cols-2">
			<div class="col-7">
				<div id="grid"></div>
			</div>

			<div class="col-5">
			<form action="">

				<b>자재 정보 표시</b>
				<hr>

				<div id="input-group">
					<ul class="ul-style">
						<li><label for="matCode">자재코드</label>
						<input id="mtrCode" name="mtrCd">
						&nbsp;&nbsp;&nbsp;
						<label for="matCode" style="width:80px">자재명</label>
						<input id="mtrName" name="mtrNm">
						</li>
					</ul>
					
				</div>
				
				<hr>
				
				<div class="mb-3 row">
					<!-- 히든값 보내는거 해봐야함 -->
					<input type="hidden" name="mtrStd"  id="mtrStandard">
					<label class="col-sm-2">&nbsp;규격</label>
					<span class="col-sm-4" style="width: 200px;" id="select-box"></span>
					
					<input type="hidden" name="mtrUn" id="mtrUnit">
					<label class="col-sm-2">&nbsp;&nbsp;작업단위</label>
					<span class="col-sm-4" style="width: 190px;" id="select-box2"></span>
				</div>
				<hr>
				
				<ul class="ul-style">
					<li><label for="matNm">거래처 코드</label><input id="actCode" name="actCd" readonly>
						<img id="matNm" class="Magnifying-Glass-img" alt="image"
							 data-bs-toggle="modal" data-bs-target="#exampleModal"
							 src="../images/Magnifying_Glass.png" >
						<input type="text" id="actName" name="actNm" readonly>
					</li>
				</ul>
			
				<hr>

				<div class="mb-3 row">
					<label class="col-sm-2" style="width:100px">&nbsp;안전재고</label>&nbsp;
					<span class="col-sm-4" style="width: 190px;"><input type="text" name="mtrSfamt" id="mtrSafeAmount"></span>
				
			
			
				<input type="hidden" name="mtrSts" id="mtrStatus">
					<label class="col-sm-2" style="width:130px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사용여부</label>
					<span class="col-sm-4" style="width: 190px;" id="select-box3"></span>
				</div>
				<hr>
					
				<div align="right">
					<button type="button" class="btn btn-dark btn-sm">저장</button>&nbsp;
					<input type="reset" class="btn btn-dark btn-sm" id="reset" name="reset">
					</div>
				</form>
			</div>

		</div>
	</div>

				
<!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
                 <h4 class="modal-title" id="exampleModalLabel">거래처 코드 목록</h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" id="insertModalClose"></button>
              </div>
              <div class="modal-body">
              <div id="actModalGrid"></div>
              <br>
              		<h4 align="center"><b>거래처 검색</b></h4>
              		<br>
              		
              		<div id="modalGrid1"></div>
              		
              		<br>
              		<div id="grid2"></div>
              			
              
              </div>
           </div>
        </div>
     </div>
	<script>
		
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			bodyHeight : 550,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			
			columns : [ {
				header : '자재 코드',
				name : 'mtrCd'
			}, {
				header : '자재명',
				name : 'mtrNm'
			}, {
				header : '규격',
				name : 'mtrStd'
			}, {
				header : '작업단위',
				name : 'mtrUn'
			}, {
				header : '안전 재고 수량',
				name : 'mtrSfamt'
			}, {
				header : '사용여부',
				name : 'mtrSts'
			} ],
			showDummyRows : true
		});
		
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			bodyHeight : 600,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [ {
				header : '거래처 코드',
				name : 'actCd'
			}, {
				header : '거래처 업체명',
				name : 'actNm'
			}, {
				header : '사업자등록번호',
				name : 'actNum'
			}, {
				header : '전화번호',
				name : 'actTel'
			}
			],
			showDummyRows : true
		});

		// toast - select box
		var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '중량',
			data : [ {
				label : '1kg',
				value : 'STD1', // 코드 바꾸기
			}, 
			{
				label : '2kg',
				value : 'STD2'
			}, 
			{
				label : '3kg',
				value : 'STD3'
			}, 
			{
				label : '4kg',
				value : 'STD4'
			}, 
			{
				label : '5kg',
				value : 'STD5'
			}, 
			{
				label : '6kg',
				value : 'STD6'
			},
			{
				label : '7kg',
				value : 'STD7' // 코드 바꾸기
			}, 
			{
				label : '8kg',
				value : 'STD8'
			}, 
			{
				label : '9kg',
				value : 'STD9'
			}, 
			{
				label : '10kg',
				value : 'STD10'
			}, 
			{
				label : '11kg',
				value : 'STD11'
			}, 
			{
				label : '12kg',
				value : 'STD12'
			},
			{
				label : '13kg',
				value : 'STD13' // 코드 바꾸기
			}, 
			{
				label : '14kg',
				value : 'STD14'
			}, 
			{
				label : '15kg',
				value : 'STD15'
			}, 
			{
				label : '16kg',
				value : 'STD16'
			}, 
			{
				label : '17kg',
				value : 'STD17'
			}, 
			{
				label : '18kg',
				value : 'STD18'
			}, 
			{
				label : '19kg',
				value : 'STD19'
			},  
			{
				label : '20kg',
				value : 'STD20'
			}
			],
			autofocus : true,
			selected: true
		});
		
		var selectBox2 = new tui.SelectBox('#select-box2', {
			placeholder : '단위',
			data : [ {
				label : 'UNIT1',
				value : 'UNIT1' // 코드 바꾸기
			}, {
				label : 'UNIT2',
				value : 'UNIT2'
			}],
			autofocus : true
		});
		
		var selectBox3 = new tui.SelectBox('#select-box3', {
			placeholder : '단위',
			data : [ {
				label : 'MAT-STS1',
				value : 'MAT-STS1' // 코드 바꾸기
			}, {
				label : 'MAT-STS2',
				value : 'MAT-STS2'
			}],
			autofocus : true
		});
		
		// bind 'change' event
		selectBox.on('change', ev => {
		  console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
		  $('#mtrStandard').val(ev.curr.getValue());
		  console.log($('#mtrStandard').val(ev.curr.getValue()));
		  
		});
		
		
		selectBox2.on('change', ev => {
			  console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#mtrUnit').val(ev.curr.getValue());
		});
		
		
		selectBox3.on('change', ev => {
			  console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#mtrStatus').val(ev.curr.getValue());
		});
		
		/*
		1. 초기화 버튼에 클릭이벤트를 건다.
		2. selectBox.deselect()를 해준다.
		*/
		
		 document.getElementsByName('reset')[0].addEventListener('click', function(){
		    selectBox.deselect();
		    selectBox2.deselect();
		  }) 
		
		
		// 모달창 리프레시(모달창에 그리드 화면 띄울때 써야함!)
	     exampleModal.addEventListener('shown.bs.modal', () => {
	            grid2.refreshLayout(); //모달창 새로고침
	     })
	     
	      
	     // 자재 코드 정보 불러오기
	     
		$.ajax({
			url : "ajax/selectMtr",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
		
		// 자재 업체인 거래처 데이터만 가져와서 모달 grid에 resetData
		
		$.ajax({
			url : "ajax/selectMtrModal",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid2.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
		
		// 자재 코드 칼럼 누르면 거기 정보가 나온다
 		
		grid.on('click', function(ev){
			let rowData = grid.getRow(ev.rowKey).mtrCd;
			console.log(grid.getRow(ev.rowKey).mtrCd);
			$('#select-box').val(grid.getRow(ev.rowKey).mtrStd);
		
		// 칼럼 클릭시 거기에 맞는 정보 출력
			$.ajax({
				url : "ajax/selectMtrInfo",
				type : "post",
				data : {'mtrCd' : rowData}, 
				dataType: "json",
				success : function(data){
					mtrCode.value = data.mtrCd;
					mtrName.value = data.mtrNm; 
					//mtrStandard.value = data.mtrStd;
					selectBox.select(data.mtrStd)
					//mtrUnit.value = data.mtrUn;
					selectBox2.select(data.mtrUn)
					actCode.value = data.actCd;
					actName.value = data.actNm;
					mtrSafeAmount.value = data.mtrSfamt;
					//mtrStatus.value = data.mtrSts;
					selectBox3.select(data.mtrSts)
					console.log(data);					
				},
				error : function(reject){
					console.log(reject);
				}
			})
			
		})
		
		// 거래처 코드(모달) 클릭시 안에 값이 들어감
		
		grid2.on('click', function(ev){
			let rowData = grid2.getRow(ev.rowKey);
			console.log(grid2.getRow(ev.rowKey).actCd);
		
			actCode.value = rowData.actCd;
			actName.value = rowData.actNm;
			insertModalClose.click();
			
			
			
		});
		
	</script>

</div>