<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<style type="text/css">
#select-box .tui-select-box {

width:80%;	display: inline;
}
</style>

<style type="text/css">
	#select-box {
		z-index: 1002;
	}
</style>
</head>
<div class="container" layout:fragment="content">
	<h3>자재 코드 관리</h3>
	<hr>

	<div class="container">
		<div class="row row-cols-2">
			<div class="col-7">
				<div id="grid"></div>
			</div>

			<div class="col-5">
			<form action="">

				<b>자재 정보 표시</b>
				<hr>

				<div id="input-group">
					<ul class="ul-style">
						<li><label for="matCode">자재코드</label>
						<input id="mtrCode" name="mtrCd" readonly>
						&nbsp;&nbsp;&nbsp;
						<label for="matCode" style="width:80px">자재명</label>
						<input id="mtrName" name="mtrNm">
						</li>
					</ul>
					
				</div>
				
				<hr>
				
				<div class="mb-3 row">
					<!-- 히든값 보내는거 해봐야함 -->
					<input type="hidden" name="mtrStd"  id="mtrStandard">
					<label class="col-sm-2">&nbsp;규격</label>
					<span class="col-sm-4" style="width: 200px;" id="select-box"></span>
					
					<input type="hidden" name="mtrUn" id="mtrUnit">
					<label class="col-sm-2">&nbsp;&nbsp;작업단위</label>
					<span class="col-sm-4" style="width: 190px;" id="select-box2"></span>
				</div>
				<hr>
				
				<ul class="ul-style">
					<li><label for="matNm">거래처 코드</label><input id="actCode" name="actCd" readonly>
						<img id="matNm" class="Magnifying-Glass-img" alt="image"
							 data-bs-toggle="modal" data-bs-target="#exampleModal"
							 src="../images/Magnifying_Glass.png" >
						<input type="text" id="actName" name="actNm" readonly>
					</li>
				</ul>
			
				<hr>

				<div class="mb-3 row">
					<label class="col-sm-2" style="width:100px">&nbsp;안전재고</label>&nbsp;
					<span class="col-sm-4" style="width: 210px;"><input type="number" name="mtrSfamt" id="mtrSafeAmount"></span>
				
					<label class="col-sm-2" style="width:85px">&nbsp;단가</label>&nbsp;
					<span class="col-sm-4" style="width: 190px;"><input type="number" name="mtrPrc" id="mtrPrice"></span>
			
				</div>
				
				<hr>
				
				<div class="mb-3 row">
				<input type="hidden" name="mtrSts" id="mtrStatus">
					<label class="col-sm-2" style="width:110px">&nbsp;사용여부</label>
					<span class="col-sm-4" style="width: 200px;" id="select-box3"></span>
				</div>
				
				<hr>
					
				<div align="right">
					<button type="button" class="btn btn-dark btn-sm" id="deleteBtn" style="float: left">삭제</button>&nbsp;
					<button type="button" class="btn btn-dark btn-sm" id="insertBtn">저장</button>&nbsp;
					<input type="reset" class="btn btn-dark btn-sm" id="reset" name="reset">
					</div>
				</form>
			</div>

		</div>
	</div>

				
<!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
                 <h4 class="modal-title" id="exampleModalLabel">거래처 코드 목록</h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" id="insertModalClose"></button>
              </div>
              <div class="modal-body">
           		<div id="grid2"></div>
              </div>
           </div>
        </div>
     </div>
	<script>
		/* token */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
			
		
		// toastr
		toastr.options = {
			    "closeButton": false,
			    "newestOnTop": true,
			    "positionClass": "toast-top-center",
			    "preventDuplicates": true,
			    "extendedTimeOut" : 1500, 
			    "timeOut" : 2500
		}
		
		
		const grid = new tui.Grid({
			
			rowHeaders: ['rowNum', 'checkbox'], // 체크박스
			
			el : document.getElementById('grid'),
			bodyHeight : 500,
			scrollX : false,
			scrollY : true,
			
			columns : [ {
				header : '자재 코드',
				name : 'mtrCd',
				align: 'center',
				sortingType: 'desc',
		        sortable: true,
			}, {
				header : '자재명',
				name : 'mtrNm',
				align: 'left'
			}, {
				header : '규격',
				name : 'mtrStd',
				align: 'center',
				sortingType: 'desc',
		        sortable: true,
			}, {
				header : '작업단위',
				name : 'mtrUn',
				align: 'center'
			}, {
				header : '안전 재고 수량',
				name : 'mtrSfamt',
				align: 'right',
				sortingType: 'desc',
		        sortable: true,
			}, {
				header : '단가',
				name : 'mtrPrc',
				align: 'right',
				sortingType: 'desc',
		        sortable: true,
			},{
				header : '사용여부',
				name : 'mtrSts',
				align: 'center'
			} ],
			
		});
		
		selectMtr();	// 자재정보 불러오기
		gridClick();	// grid click 이벤트
		
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			bodyHeight : 550,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [ {
				header : '거래처 코드',
				name : 'actCd',
				align: 'center'
			}, {
				header : '거래처 업체명',
				name : 'actNm',
				align: 'left'
			}, {
				header : '사업자등록번호',
				name : 'actNum',
				align: 'left'
			}, {
				header : '전화번호',
				name : 'actTel',
				align: 'left'
			}
			],

		});

		selectMtrModal();	// 자재 거래처 데이터 불러오기
		
		// toast - select box
		var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '중량',
			theme: {
		          'dropdown.maxHeight': '300px',
		    },
			data : [ {
				label : '1kg',
				value : 'STD1', // 코드 바꾸기
			}, 
			{
				label : '2kg',
				value : 'STD2'
			}, 
			{
				label : '3kg',
				value : 'STD3'
			}, 
			{
				label : '4kg',
				value : 'STD4'
			}, 
			{
				label : '5kg',
				value : 'STD5'
			}, 
			{
				label : '6kg',
				value : 'STD6'
			},
			{
				label : '7kg',
				value : 'STD7' // 코드 바꾸기
			}, 
			{
				label : '8kg',
				value : 'STD8'
			}, 
			{
				label : '9kg',
				value : 'STD9'
			}, 
			{
				label : '10kg',
				value : 'STD10'
			}, 
			{
				label : '11kg',
				value : 'STD11'
			}, 
			{
				label : '12kg',
				value : 'STD12'
			},
			{
				label : '13kg',
				value : 'STD13' // 코드 바꾸기
			}, 
			{
				label : '14kg',
				value : 'STD14'
			}, 
			{
				label : '15kg',
				value : 'STD15'
			}, 
			{
				label : '16kg',
				value : 'STD16'
			}, 
			{
				label : '17kg',
				value : 'STD17'
			}, 
			{
				label : '18kg',
				value : 'STD18'
			}, 
			{
				label : '19kg',
				value : 'STD19'
			},  
			{
				label : '20kg',
				value : 'STD20'
			}
			],
			autofocus : false,
			selected: true
		});
		
		
		
		var selectBox2 = new tui.SelectBox('#select-box2', {
			placeholder : '단위',
			data : [ {
				label : 'BOX',
				value : 'UNIT1' // 코드 바꾸기
			}, {
				label : 'EA',
				value : 'UNIT2'
			}],
			autofocus : false
		});
		
		var selectBox3 = new tui.SelectBox('#select-box3', {
			placeholder : '사용여부',
			data : [ {
				label : 'Y',
				value : 'MAT-STS1' // 코드 바꾸기
			}, {
				label : 'N',
				value : 'MAT-STS2'
			}],
			autofocus : false
		});
		
		// bind 'change' event
		selectBox.on('change', ev => {
		  //console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
		  $('#mtrStandard').val(ev.curr.getValue());
		  //console.log($('#mtrStandard').val(ev.curr.getValue()));
		  
		});
		
		
		selectBox2.on('change', ev => {
			  //console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#mtrUnit').val(ev.curr.getValue());
		});
		
		
		selectBox3.on('change', ev => {
			  //console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#mtrStatus').val(ev.curr.getValue());
		});
		
		/*
		1. 초기화 버튼에 클릭이벤트를 건다.
		2. selectBox.deselect()를 해준다.
		*/
		
		 document.getElementsByName('reset')[0].addEventListener('click', function(){
		    selectBox.deselect();
		    selectBox2.deselect();
		  }) 
		
		
		// 모달창 리프레시(모달창에 그리드 화면 띄울때 써야함!)
	     exampleModal.addEventListener('shown.bs.modal', () => {
	            grid2.refreshLayout(); //모달창 새로고침
	     })
	     
	      
	     // 자재 코드 정보 불러오기
	     function selectMtr() {
			 $.ajax({
				url : "ajax/selectMtr",
				type : "get",
				dataType: "json",
				success : function(data){
					grid.resetData(data);
				},
				error : function(reject){
					console.log(reject);
				}
			});	
		 }
		
		
		// 자재 업체인 거래처 데이터만 가져와서 모달 grid에 resetData
		function selectMtrModal() {
			$.ajax({
				url : "ajax/selectMtrModal",
				type : "get",
				dataType: "json",
				success : function(data){
					grid2.resetData(data);
				},
				error : function(reject){
					console.log(reject);
				}
			})
		}
		
		
		// 자재 코드 칼럼 누르면 거기 정보가 나온다
 		function gridClick() {
 			grid.on('click', function(ev) {
 				let rowData = grid.getRow(ev.rowKey).mtrCd;
 				
 				// 칼럼 클릭시 거기에 맞는 정보 출력
 				$.ajax({
 					url : "ajax/selectMtrInfo",
 					type : "post",
 					data : {'mtrCd' : rowData}, 
 					dataType: "json",
 					beforeSend : function (xhr) {
 					    xhr.setRequestHeader(header, token);
 					},
 					success : function(data){
 						mtrCode.value = data.mtrCd;
 						mtrName.value = data.mtrNm; 
 						//mtrStandard.value = data.mtrStd;
 						selectBox.select(data.mtrStd);
 						//mtrUnit.value = data.mtrUn;
 						selectBox2.select(data.mtrUn)
 						actCode.value = data.actCd;
 						actName.value = data.actNm;
 						mtrSafeAmount.value = data.mtrSfamt;
 						mtrPrice.value = data.mtrPrc;
 						//mtrStatus.value = data.mtrSts;
 						selectBox3.select(data.mtrSts)
 					},
 					error : function(reject){
 						console.log(reject);
 					}
 				})
 			})
		}
		
		
		// 거래처 코드(모달) 클릭시 안에 값이 들어감
		
		grid2.on('click', function(ev){
			let rowData = grid2.getRow(ev.rowKey);
		
			actCode.value = rowData.actCd;
			actName.value = rowData.actNm;
			insertModalClose.click();
		});
		
		
		// ajax 자재 등록
		document.getElementById('insertBtn').addEventListener('click', function(){
			let mtrCd = document.getElementById('mtrCode');
			let mtrNm = document.getElementById('mtrName');
			let mtrStd = document.getElementById('mtrStandard');
			let mtrUn = document.getElementById('mtrUnit');
			let actCd = document.getElementById('actCode');
			let actNm = document.getElementById('actName');
			let mtrSfamt = document.getElementById('mtrSafeAmount');
			let mtrPrc = document.getElementById('mtrPrice');
			let mtrSts = document.getElementById('mtrStatus');
			
			if (mtrNm.value == '' || mtrNm.value == null) {
				toastr.warning('자재명을 입력하세요.');
				mtrNm.focus();
				return;
			} else if (mtrStd.value == '' || mtrStd.value == null) {
				toastr.warning('규격을 선택하세요.');
				mtrStd.focus();
				return;
			} else if (mtrUn.value == '' || mtrUn.value == null) {
				toastr.warning('단위를 선택하세요.');
				mtrUn.focus();
				return;
			} else if (actCd.value == '' || actCd.value == null) {
				toastr.warning('거래처를 선택하세요.');
				actCd.focus();
				return;
			} else if (mtrSfamt.value == '' || mtrSfamt.value == null) {
				toastr.warning('안전재고량을 숫자로 입력하세요.');
				mtrSfamt.focus();
				return;
			} else if (mtrSts.value == '' || mtrSts.value == null) {
				toastr.warning('사용여부를 선택하세요.');
				mtrSts.focus();
				return;
			} else if (mtrSfamt.value <= 0) {
				toastr.warning('안전재고는 0 이하일 수 없습니다.');
				mtrSfamt.focus();
				return;
			} else if (mtrPrc.value <= 0) {
				toastr.warning('단가는 0 이하일 수 없습니다.');
				mtrPrc.focus();
				return;
			}
			
			let data = {
					mtrCd: mtrCd.value,
					mtrNm: mtrNm.value,
					mtrStd: mtrStd.value,
					mtrUn: mtrUn.value,
					actCd: actCd.value,
					actNm: actNm.value,
					mtrSfamt: mtrSfamt.value,
					mtrPrc : mtrPrice.value,
					mtrSts: mtrSts.value
			}
			
			
			
			// 자재코드가 없으면 insert. 있으면 update
			if (data.mtrCd == '' || data.mtrCd == null) {
				
				sweetConfirm('C', function () {
					// ajax 자재 정보 등록
					$.ajax({
						url : "ajax/insertMtr",
						type : "post",
						data: data,
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
							if (data > 0) {
								// ajax success
					            toastr.success('정상적으로 등록되었습니다.');
					            selectMtr();	// 최신 자재정보 불러오기
					            //setTimeout(() => {location.reload(), 3000});
							} else {
								// ajax fail
					            toastr.error('등록에 실패했습니다.');	
							}
						},
						error : function(reject){
							console.log(reject);
						}
				 	});
				});
			} else {
				sweetConfirm('U', function () {
					// ajax 자재 정보 수정
					$.ajax({
						url : "ajax/updateMtr",
						type : "post",
						data: data,
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
							if (data > 0) {
								// ajax success
					            toastr.success('정상적으로 수정되었습니다.');
					            selectMtr();	// 최신 자재정보 불러오기
					            //setTimeout(() => {location.reload(), 3000});
							} else {
								// ajax fail
					            toastr.error('수정에 실패했습니다.');	
							}
						},
						error : function(reject){
							console.log(reject);
						}
				 	});
				});
			}
			
		});
		
		// ajax 자재 정보 삭제
		
		document.getElementById('deleteBtn').addEventListener('click', function(){
			let data = grid.getCheckedRows();
			
			if (data.length == 0) {
				toastr.warning('삭제할 자재를 체크해주세요.')
				return;
			}
			
			sweetConfirm('D', function () {
				$.ajax({
					url : "ajax/delMtr",
					type : "post",
					data: JSON.stringify(data),
					contentType: "application/json",
					dataType: "json",
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success : function(data){
						if (data > 0) {
							// ajax success
				            toastr.success('정상적으로 삭제되었습니다.');
				            grid.removeCheckedRows();
						} else {
							// ajax fail
				            toastr.error('삭제에 실패했습니다.');	
						}
					},
						error : function(reject){
							console.log(reject);
						}
					
				})
				
			})
		})
		
	</script>

</div>