<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<style type="text/css">
#select-box .tui-select-box {

width:80%;	display: inline;
}
</style>
</head>
<div class="container" layout:fragment="content">


	<br>
	<h3>자재 코드 관리</h3>
	<hr>

	<br> <br> <br>

	<div class="container">
		<div class="row row-cols-2">
			<div class="col-7">
				<div id="grid"></div>
			</div>

			<div class="col-5">
			<form action="">

				<b>자재 정보 표시</b>
				<hr>

				<div id="input-group">
					<ul class="ul-style">
						<li><label for="matCode">자재코드</label>
						<input id="matCode" name="mtrCd">
						&nbsp;&nbsp;&nbsp;
						<label for="matCode" style="width:80px">자재명</label>
						<input id="matName" name="mtrNm">
						</li>
					</ul>
					
				</div>
				
				<hr>
				
				<div class="mb-3 row">
					<!-- 히든값 보내는거 해봐야함 -->
					<input type="hidden" name="mtrStd"  id="mtrStd">
					<label class="col-sm-2">&nbsp;규격</label>
					<span class="col-sm-4" style="width: 200px;" id="select-box"></span>
					<input type="hidden" name="mtrUn" id="mtrUn">
					<label class="col-sm-2">&nbsp;&nbsp;작업단위</label>
					<span class="col-sm-4" style="width: 190px;" id="select-box2"></span>
				</div>
				<hr>
				
				<ul class="ul-style">
					<li><label for="matNm">거래처 코드</label><input id="actCode" name="actCd" readonly>
						<img id="matNm" class="Magnifying-Glass-img" alt="image"
							 data-bs-toggle="modal" data-bs-target="#exampleModal"
							 src="../images/Magnifying_Glass.png" >
						<input type="text" name="actNm" readonly>
					</li>
				</ul>
			
				<hr>

				<div class="mb-3 row">
					<label class="col-sm-2" style="width:100px">&nbsp;안전재고</label>&nbsp;
					<span class="col-sm-4" style="width: 190px;"><input type="text" name="mtrSfamt" id="mtrSafeAmount"></span>
				</div>
				
				<hr>
					
				<div align="right">
					<button type="button" class="btn btn-dark btn-sm">저장</button>&nbsp;
					<input type="reset" class="btn btn-dark btn-sm" id="reset" name="reset">
					</div>
				</form>
			</div>

		</div>
	</div>

				
<!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
                 <h4 class="modal-title" id="exampleModalLabel">거래처 코드 목록</h4>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
              </div>
              <div class="modal-body">
              <div id="actModalGrid"></div>
              <br>
              		<h4 align="center"><b>거래처 검색</b></h4>
              		<br>
              		
              		<div id="modalGrid1"></div>
              		
              		<br>
              		<div id="grid2"></div>
              			
              
              </div>
           </div>
        </div>
     </div>
	<script>
		
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			bodyHeight : 550,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			
			columns : [ {
				header : '자재 코드',
				name : 'mtrCd'
			}, {
				header : '자재명',
				name : 'mtrNm'
			}, {
				header : '규격',
				name : 'mtrStd'
			}, {
				header : '작업단위',
				name : 'mtrUn'
			}, {
				header : '안전 재고 수량',
				name : 'mtrSfamt'
			}, {
				header : '사용여부',
				name : 'mtrSts'
			} ],
			showDummyRows : true
		});
		
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			bodyHeight : 600,
			scrollX : false,
			scrollY : true,
			rowHeaders: ['rowNum'],
			columns : [ {
				header : '거래처 코드',
				name : 'actCd'
			}, {
				header : '거래처 업체명',
				name : 'actNm'
			}, {
				header : '사업자등록번호',
				name : 'actNum'
			}, {
				header : '전화번호',
				name : 'actTel'
			}
			],
			showDummyRows : true
		});

		// toast - select box
		var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '중량',
			data : [ {
				label : '1kg',
				value : 'STD1' // 코드 바꾸기
			}, {
				label : 'STD2',
				value : 'STD2'
			}, {
				label : 'STD5',
				value : 'STD5'
			}, {
				label : 'STD10',
				value : 'STD10'
			}, {
				label : 'STD13',
				value : 'STD13'
			}, {
				label : 'STD20',
				value : 'STD20'
			}],
			autofocus : true
		});
		
		var selectBox2 = new tui.SelectBox('#select-box2', {
			placeholder : '단위',
			data : [ {
				label : 'UNIT1',
				value : 'UNIT1' // 코드 바꾸기
			}, {
				label : 'UNIT2',
				value : 'UNIT2'
			}],
			autofocus : true
		});
		
		//grid select box change
		selectBox.on('change', ev => {
			mtrStd.value=ev.curr.value;
			  console.log(ev);
			});
		
		selectBox2.on('change', ev => {
			mtrStd.value=ev.curr.value;
			  console.log(ev);
			});
		
		/*
		1. 초기화 버튼에 클릭이벤트를 건다.
		2. selectBox.deselect()를 해준다.
		*/
		
		 document.getElementsByName('reset')[0].addEventListener('click', function(){
		    selectBox.deselect();
		    selectBox2.deselect();
		  }) 
		
		
		// 모달창 리프레시(모달창에 그리드 화면 띄울때 써야함!)
	     exampleModal.addEventListener('shown.bs.modal', () => {
	            grid2.refreshLayout(); //모달창 새로고침
	     })
	     
	      
	     // 자재 코드 정보 불러오기
	     
		$.ajax({
			url : "ajax/selectMtr",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
		
		// 자재 업체인 거래처 데이터만 가져와서 모달 grid에 resetData
		
		$.ajax({
			url : "ajax/selectMtrModal",
			type : "get",
			dataType: "json",
			success : function(data){
				console.log(data);
				grid2.resetData(data);
			},
			error : function(reject){
				console.log(reject);
			}
		})
		
		// 자재 코드 칼럼 누르면 거기 정보가 나온다
 		
		grid.on('click', function(ev){
			let rowData = grid.getRow(ev.rowKey).mtrCd;
			console.log(grid.getRow(ev.rowKey).mtrCd);
			
			$.ajax({
				url : "ajax/selectMtrInfo",
				type : "post",
				data : {'mtrCd' : rowData}, 
				dataType: "json",
				success : function(data){
					console.log(data);					
				},
				error : function(reject){
					console.log(reject);
				}
			})
			
		// 클릭 후 자재 정보가 표시 됨
		
/*  		let rowData = {
			mtrCd: document.getElementById('matCode').value,
			mtrNm: document.getElementById('matName').value,
			mtrStd: document.getElementById('mtrStd').value,
			mtrUn: document.getElementById('mtrUn').value,
			actCd: document.getElementById('actCode').value,
			mtrSfamt: document.getElementById('mtrSafeAmount').value
			
		};  */
		
		}) 
		
	</script>

</div>