<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	<head>
		<style type="text/css">
			#select-box3 {
				z-index: 1002;
			}
		</style>
	</head>
<div class="container" layout:fragment="content">
	<h3>완제품 코드 관리</h3>
	<hr>
	
	<form id="frm" style="margin-top: 30px">
	    <!-- <input type = "hidden" name="prdStd" id="standard">
	    <input type = "hidden" name="prdUn" id="unit"> -->
		<ul class="ul-style">
			<li>
				<label for="matCode" style="width:130px">제품 코드</label>
				<input id="prdCode" name="prdCd">&nbsp;&nbsp;&nbsp;
				<label for="matCode">제품명</label>
				<input id="prdName" name="prdNm">
			</li>
			<li class="d-flex">
				<input type="hidden" name="prdStd"  id="prdStatus">
				<label style="width:130px">규격</label>
				<div style="width: 190px;" id="select-box"></div>
				
				<input type="hidden" name="prdUn" id="prdUnit">
				<label style="width:125px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;단위</label>
				<div style="width: 190px;" id="select-box2"></div>&nbsp;
				
				<button type ="button" class="btn btn-dark btn-sm" onclick="selectBoxPrd()">조회</button>&nbsp;
				<input type="reset" class="btn btn-dark btn-sm" id="reset" name="reset" onclick="resetf()">
		  	</li>
	    </ul>
	</form>
	
	<div id="grid"></div>
	
	<div align="right">
		
		<br>
		<!-- 등록 모달 -->
		<button type="button" class="btn btn-dark btn-sm"
		data-bs-toggle="modal" data-bs-target="#exampleModal">등록</button>&nbsp;
		
		<!-- 삭제 모달! -->
		<button type="button" class="btn btn-dark btn-sm" 
		data-bs-toggle="modal" data-bs-target="#exampleModal2" id="deleteBtn">삭제</button>
		
		<!-- 등록 Modal -->
		<div align="center">
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">완제품 코드 추가</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        
				        
				        <div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">완제품 명</label>
							    <div class="col-sm-9">
							      <input type="text" name="prdNm" class="form-control" id="prdNameModal">
							    </div>
						</div>
				        
						
						<div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">안전재고수량</label>
							    <div class="col-sm-9">
							      <input type="text" name="prdSfamt" class="form-control" id="prdSafeAmountModal">
							    </div>
						</div>
						
						<div class="mb-3 row" style="padding-left: 46px;">
								
								<input type="hidden" name="prdUn" id="prdStandardModal">
							    규격<div style="width: 190px; padding-left: 56px;
							    text-align: left;" id="select-box3"></div>
						</div>
						
						<div class="mb-3 row" style="padding-left: 46px;">
								
								<input type="hidden" name="prdUn" id="prdUnitModal">
							    단위<div style="width: 190px; padding-left: 56px;
							    text-align: left;" id="select-box4"></div>
						</div>
				        
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="insertBtn">등록</button>
			        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">취소</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
	
		<!-- 삭제 Modal -->
	<!-- 		<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel2">삭제 확인</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        <div align="center">정말 해당 완제품 코드를 삭제 하시겠습니까?</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="deleteBtn">확인</button>
			        <button type="button" class="btn btn-primary">취소</button>
			      </div>
			    </div>
			  </div>
			</div> -->
	</div>

	<script>
		/* token */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			scrollX : true,
			scrollY : true,
			bodyHeight : 480,
			rowHeaders: ['checkbox'],
			
			columns : [ {
				header : '완제품 코드',
				name : 'prdCd',
				align : 'center',
				sortingType: 'desc',
		        sortable: true
			}, {
				header : '완제품명',
				name : 'prdNm',
				align : 'center'
			}, {
				header : '단위',
				name : 'prdUn',
				align : 'center'
			}, {
				header : '규격',
				name : 'prdStd',
				align : 'center',
				sortingType: 'desc',
		        sortable: true
			},{
				header : '안전재고수량',
				name : 'prdSfamt',
				align : 'right',
				sortingType: 'desc',
		        sortable: true
			}],
		});
		
		// toast - select box
		
		var selectBox = new tui.SelectBox('#select-box', {
				placeholder : '규격',
				theme: {
			          'dropdown.maxHeight': '300px',
			    },
				data : [ {
					label : '1kg',
					value : 'STD1', // 코드 바꾸기
				}, 
				{
					label : '2kg',
					value : 'STD2'
				}, 
				{
					label : '3kg',
					value : 'STD3'
				}, 
				{
					label : '4kg',
					value : 'STD4'
				}, 
				{
					label : '5kg',
					value : 'STD5'
				}, 
				{
					label : '6kg',
					value : 'STD6'
				},
				{
					label : '7kg',
					value : 'STD7' // 코드 바꾸기
				}, 
				{
					label : '8kg',
					value : 'STD8'
				}, 
				{
					label : '9kg',
					value : 'STD9'
				}, 
				{
					label : '10kg',
					value : 'STD10'
				}, 
				{
					label : '11kg',
					value : 'STD11'
				}, 
				{
					label : '12kg',
					value : 'STD12'
				},
				{
					label : '13kg',
					value : 'STD13' // 코드 바꾸기
				}, 
				{
					label : '14kg',
					value : 'STD14'
				}, 
				{
					label : '15kg',
					value : 'STD15'
				}, 
				{
					label : '16kg',
					value : 'STD16'
				}, 
				{
					label : '17kg',
					value : 'STD17'
				}, 
				{
					label : '18kg',
					value : 'STD18'
				}, 
				{
					label : '19kg',
					value : 'STD19'
				},  
				{
					label : '20kg',
					value : 'STD20'
				}],
				autofocus : false
			});	

		var selectBox2 = new tui.SelectBox('#select-box2', {
			placeholder : '단위',
			data : [ {
				label : 'BOX',
				value : 'UNIT1' // 코드 바꾸기
			}, {
				label : 'EA',
				value : 'UNIT2'
			}
			],
			autofocus : false
		});	
		
		
		var selectBox3 = new tui.SelectBox('#select-box3', {
			placeholder : '규격',
			theme: {
		          'dropdown.maxHeight': '300px',
		    },
			data : [ {
				label : '1kg',
				value : 'STD1' // 코드 바꾸기
			}, {
				label : '2kg',
				value : 'STD2'
			},
			{
				label : '3kg',
				value : 'STD3' // 코드 바꾸기
			}, {
				label : '4kg',
				value : 'STD4'
			},
			{
				label : '5kg',
				value : 'STD5' // 코드 바꾸기
			}, {
				label : '6kg',
				value : 'STD6'
			},
			{
				label : '7kg',
				value : 'STD7' // 코드 바꾸기
			}, {
				label : '8kg',
				value : 'STD8'
			}, {
				label : '9kg',
				value : 'STD9' // 코드 바꾸기
			}, {
				label : '10kg',
				value : 'STD10'
			}, {
				label : '11kg',
				value : 'STD11' // 코드 바꾸기
			}, {
				label : '12kg',
				value : 'STD12'
			}, {
				label : '13kg',
				value : 'STD13' // 코드 바꾸기
			}, {
				label : '14kg',
				value : 'STD14'
			}, {
				label : '15kg',
				value : 'STD15' // 코드 바꾸기
			}, {
				label : '16kg',
				value : 'STD16'
			}, {
				label : '17kg',
				value : 'STD17' // 코드 바꾸기
			}, {
				label : '18kg',
				value : 'STD18'
			}, {
				label : '19kg',
				value : 'STD19' // 코드 바꾸기
			}, {
				label : '20kg',
				value : 'STD20'
			}],
			autofocus : false
		});	
		
		var selectBox4 = new tui.SelectBox('#select-box4', {
			placeholder : '단위',
			data : [ {
				label : 'BOX',
				value : 'UNIT1' // 코드 바꾸기
			}, {
				label : 'EA',
				value : 'UNIT2'
			}
			],
			autofocus : false
		});	
		
		//셀렉트 박스 초기화
		 document.getElementsByName('reset')[0].addEventListener('click', function(){
			    selectBox.deselect();
			    selectBox2.deselect();
		 })
		 
		 // 완제품 코드 정보 불러오기
	    function selectBoxPrd(){
			$.ajax({
				url : "ajax/selectPrd",
				type : "get",
				dataType: "json",
				data : $('#frm').serialize(),
				success : function(data){
					grid.resetData(data);
				},
				error : function(reject){
					console.log(reject);
				}
			})
		}
		
		// 완제품 코드 등록하기
		
			document.getElementById('insertBtn').addEventListener('click', function(){
				sweetConfirm('C', function () {
					
					let data = {
							
							prdCd: document.getElementById('prdCode').value,
							prdNm: document.getElementById('prdNameModal').value,
							prdSfamt: document.getElementById('prdSafeAmountModal').value,
							prdStd: document.getElementById('prdStandardModal').value,
							prdUn: document.getElementById('prdUnitModal').value
						}
					
					// ajax 구매 거래처 등록
					$.ajax({
						url : "ajax/insertPrd",
						type : "post",
						data: data,
						dataType: "json",
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
							if (data > 0) {
								// ajax success
					            toastr.success('정상적으로 등록되었습니다.');
					            selectBoxPrd();
							} else {
								// ajax fail
					            toastr.error('등록에 실패했습니다.');	
							}
						},
						error : function(reject){
							console.log(reject);
						}
				 	});					
				})
			})
			
		// 완제품 코드 삭제하기
		
			document.getElementById('deleteBtn').addEventListener('click', function(){
				sweetConfirm('D', function () {
					
					let data = grid.getCheckedRows();
					
					$.ajax({
						url : "ajax/delPrd",
						type : "post",
						data: JSON.stringify(data),
						contentType: "application/json",
						dataType: "json",
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
							if (data > 0) {
								// ajax success
					            toastr.success('정상적으로 삭제되었습니다.');
					            grid.removeCheckedRows();
							} else {
								// ajax fail
					            toastr.error('삭제에 실패했습니다.');	
							}
						},
							error : function(reject){
								console.log(reject);
							}
						
						});
					
				})
			})
		
			
		// bind 'change' event
		selectBox.on('change', ev => {
		// console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
		  $('#prdStatus').val(ev.curr.getValue());
		});
		
		
		selectBox2.on('change', ev => {
	    // console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#prdUnit').val(ev.curr.getValue());
			});
		
		
		selectBox3.on('change', ev => {
	    // console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#prdStandardModal').val(ev.curr.getValue());
			});
		
		
		selectBox4.on('change', ev => {
	    // console.log(` ${ev.curr.getLabel()}    ${ev.curr.getValue()}`);
			  $('#prdUnitModal').val(ev.curr.getValue());
			});
		
		
		function resetf(){
			 $('#prdStatus').val("")
			 $('#prdUnit').val("")
			 $('#prdStandardModal').val("")
			 $('#prdUnitModal').val("")
		}
    </script>
    
</div>