<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.ord.mapper.OrdMapper">
	
	<!--
			Modal
					 -->
					 
	<!-- 공용 - 업체목록 모달 -->
	<select id="actList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT ACT_CD,
			   ACT_NM, 
			   ACT_NUM, 
			   ACT_TEL
			   
		  FROM C_ACT
		  WHERE ACT_DIV = 'ACT-TYPE1'
	</select>
	
	
	<!-- 공용 - 제품목록 모달 -->
	<select id="prdList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT PRD_CD, PRD_NM
		  FROM C_PRD
	</select>
	
	
	<!-- 공용 - 완제품LOT 모달 -->
	<select id="lotList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT I.PRD_LOT, 
			   P.PRD_NM, 
			   TO_CHAR(I.EDATE,'yyyy-MM-dd') AS EDATE
			   
		  FROM C_PRD P 
		  JOIN B_IN I
		    ON P.PRD_CD = I.PRD_CD
	</select>
	
	<!-- 완제품LOT 재고 현황 모달 -->
	<select id="lotSList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT BIN.PRD_LOT, 
		       BIN.BIN_AMT, 
		       BOT.BAMT, 
		       TO_CHAR(BIN.POD_DATE,'yyyy-MM-dd') AS POD_DATE, 
		       TO_CHAR(BIN.EDATE,'yyyy-MM-dd') AS EDATE
		       
		FROM B_IN BIN 
		JOIN B_OUT BOT
		  ON BIN.PRD_LOT = BOT.PRD_LOT
		  <!-- 
		JOIN C_PRD P
		  ON P.PRD_CD = BIN.PRD_CD
		WHERE P.PRD_CD = #{prdCd}
		 -->
	</select>
	
		<!-- 완제품LOT 출고 현황 모달 -->
	<select id="lotOutList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT OD.OD_CD, 
			   I.PRD_LOT, 
			   P.PRD_NM, 
			   A.ACT_CD,
			   A.ACT_NM,
			   OD.OD_AMT,
			   OU.BAMT, 
			   OU.BDATES
			   
		  FROM B_OD OD
		  
		  JOIN B_OUT OU
			ON OD.OD_CD = OU.OD_CD
			
		  JOIN C_PRD P
			ON OD.PRD_CD = P.PRD_CD
			
		  JOIN C_ACT A
		  	ON OD.ACT_CD = A.ACT_CD
			
		  JOIN B_IN I
			ON I.PRD_LOT = OU.PRD_LOT
	</select>
	
		<!-- 주문서 관리 모달 -->
	<select id="ordList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT O.OD_CD, 
		       P.PRD_CD, 
		       P.PRD_NM, 
		       O.OD_AMT, 
		       TO_CHAR(O.DE_DATE,'yyyy-MM-dd') AS DE_DATE,
			   (SELECT SUM(SAMT)
		          FROM B_IN
		         WHERE PRD_CD = P.PRD_CD
		         GROUP BY PRD_CD) AS SAMT
		         
		 FROM B_OD O 
		 JOIN C_PRD P
		   ON O.PRD_CD = P.PRD_CD
	</select>
	
	<!--
			주문 관리 Tab
					 		-->
					 		
	<!-- 주문서 조회 -->
	<select id="getOrdList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(OD.OD_DATE,'yyyy-MM-dd') AS OD_DATE, 
			   OD.OD_CD, 
			   PRD.PRD_CD, 
			   PRD.PRD_NM, 
			   OD.OD_AMT, 
			   ACT.ACT_CD, 
			   ACT.ACT_NM, 
			   TO_CHAR(OD.DE_DATE,'yyyy-MM-dd') AS DE_DATE, 
			   OD.OD_STS
			   
		  FROM B_OD OD  
		  JOIN C_PRD PRD
            ON PRD.PRD_CD = OD.PRD_CD
          JOIN C_ACT ACT
             ON ACT.ACT_CD = OD.ACT_CD
	</select>
	
	<!-- 주문서 조건 조회 -->
	<select id="getList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(OD.OD_DATE,'yyyy-MM-dd') AS OD_DATE, 
		       OD.OD_CD, 
		       PRD.PRD_CD, 
		       PRD.PRD_NM, 
		       OD.OD_AMT,
		       ACT.ACT_CD, 
		       ACT.ACT_NM, 
		       TO_CHAR(OD.DE_DATE,'yyyy-MM-dd') AS DE_DATE, 
		       OD.OD_STS
		
		FROM B_OD OD		
		JOIN C_PRD PRD
          ON PRD.PRD_CD = OD.PRD_CD
        JOIN  C_ACT ACT
          ON ACT.ACT_CD = OD.ACT_CD
        
        WHERE OD.OD_STS = #{odSts}
        
        <if test='startDate != null and endDate != null'>
        	AND TRUNC(OD_DATE) BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="prdCd != null and !prdCd.equals('')">
        	AND PRD.PRD_CD = #{prdCd}
        </if>
        <if test="actCd != null and !actCd.equals('')">
        	AND ACT.ACT_CD = #{actCd}
        </if>

	</select>
	
	<!-- 주문서 등록 -->
	<insert id="insertOrd" parameterType="com.mandu.yamyam.ord.service.OrdVO">
	<selectKey keyProperty="odCd" resultType="String" order="BEFORE">
		SELECT mk_od_cd from dual
	</selectKey>
		INSERT INTO B_OD
		(
		 OD_DATE,
		 OD_CD,
		 PRD_CD,
		 OD_AMT,
		 ACT_CD,
		 DE_DATE,
		 OD_STS
		 )
		VALUES 
		(
		 CURRENT_DATE,
		 #{odCd},
		 #{prdCd},
		 #{odAmt},
		 #{actCd},
		 #{deDate},
		 '진행'
		)
	</insert>
	
	<!-- 주문서 수정 -->
	<update id="updateOrd" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		UPDATE B_OD
		<set>
		PRD_CD = #{prdCd}, 
		OD_AMT = #{odAmt}, 
		ACT_CD = #{actCd}, 
		DE_DATE = #{deDate}
		</set>
		WHERE OD_CD = #{odCd}
	</update>
	
	<!-- 주문서 삭제 -->
	<delete id="deleteOrd" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		<if test="!odSts.equals('진행')">
		DELETE FROM B_OD
		WHERE OD_CD = #{odCd}
		</if>
	</delete>
	
	<!--
			완제품 출고 조회 Tab
								 -->
	
	<!-- 출고내역 리스트 조회 -->
	<select id="getOrdOutList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT OD.OD_CD, 
			   O.OUT_NO, 
			   P.PRD_CD, 
			   I.PRD_LOT, 
			   P.PRD_NM, 
			   A.ACT_NM, 
			   O.BAMT, 
			   TO_CHAR(O.BDATES,'yyyy-MM-dd') AS BDATES,
		       TO_CHAR(I.POD_DATE,'yyyy-MM-dd') AS POD_DATE, 
		       TO_CHAR(I.EDATE,'yyyy-MM-dd') AS EDATE, 
		       O.OUT_ETC
		
		FROM B_OUT O
		JOIN B_IN I
		  ON O.PRD_LOT = I.PRD_LOT
		
		JOIN  C_ACT A
		  ON A.ACT_CD = O.ACT_CD
		
		JOIN C_PRD P
		  ON P.PRD_CD = I.PRD_CD
		
		JOIN B_OD OD
		  ON OD.OD_CD = O.OD_CD
        
       WHERE OD.OD_STS = '완료'
	</select>
	
	<!-- 출고내역 리스트 조건 조회 -->
	<select id="getDetailOutList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT O.OUT_NO, 
			   I.PRD_LOT, 
			   P.PRD_NM,
			   A.ACT_NM, 
			   O.BAMT, 
			   TO_CHAR(O.BDATES,'yyyy-MM-dd') AS BDATES,
			   TO_CHAR(I.EDATE,'yyyy-MM-dd') AS EDATE, 
			   O.OUT_ETC
			   
		FROM B_OUT O 
		JOIN B_IN I
		  ON O.PRD_LOT = I.PRD_LOT
		  
		JOIN C_ACT A
		  ON A.ACT_CD = O.ACT_CD
		  
		JOIN C_PRD P
		  ON P.PRD_CD = I.PRD_CD
		  
		WHERE OD.OD_STS = '완료'
        
        <if test='startDate != null and endDate != null'>
        	 AND TRUNC(I.POD_DATE) BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="prdCd != null and !prdCd.equals('')">
        	  AND P.PRD_CD = #{prdCd}
        </if>
        <if test="prdLot != null and !prdLot.equals('')">
        	  AND I.PRD_LOT = #{prdLot}
        </if>
	</select>
	
	
	<!--
		완제품 출고 관리 Tab
							 -->
	<!-- 진행중인 주문서 리스트조회 -->			
	<select id="getIngOrdList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(OD.OD_DATE,'yyyy-MM-dd') AS OD_DATE, 
		       OD.OD_CD, 
		       P.PRD_CD, 
		       P.PRD_NM, 
		       A.ACT_NM, 
		       OD.OD_AMT
		       
		FROM B_OD OD 
		
		JOIN C_PRD P
		  ON OD.PRD_CD = P.PRD_CD
		  
		JOIN C_ACT A
		  ON A.ACT_CD = OD.ACT_CD
		  
		WHERE OD.OD_STS = '진행'
	</select>
				 
	<!-- 진행중인 주문서 조건조회 -->
	<select id="getIngOrdDetailList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(OD.OD_DATE,'yyyy-MM-dd') AS OD_DATE, 
			   OD.OD_CD, 
			   P.PRD_CD, 
			   P.PRD_NM, 
			   A.ACT_NM, 
			   OD.OD_AMT
			   
		FROM B_OD OD 
		
		JOIN C_PRD P
		  ON OD.PRD_CD = P.PRD_CD
		  
		JOIN C_ACT A
		  ON A.ACT_CD = OD.ACT_CD
		  
		WHERE OD.OD_STS = '진행'
		<if test='startDate != null and endDate != null'>
			AND TRUNC(OD.OD_DATE) BETWEEN #{startDate} AND #{endDate}
        </if>
	</select>
	
	<!-- 진행중인 주문서 출고등록 -->
	<insert id="insertOutList" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		INSERT INTO B_OUT
		(
		
		)
		VALUES
		(
		
		)
	</insert>
	
	
	<!--
		완제품 반품 관리 Tab
							 -->
	<!-- 완제품 반품 관리 리스트 조회 -->
	<select id="getReList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(R.RE_DATE,'yyyy-MM-dd') AS RE_DATE, 
			   R.RE_CD, 
			   I.PRD_LOT, 
			   (SELECT PRD_NM
				  FROM C_PRD
				 WHERE PRD_CD = I.PRD_CD) AS PRD_NM, 
			   A.ACT_NM,
			   A.ACT_CD,
			   OD.OD_AMT,
			   R.RE_AMT, 
			   ABS(OD.OD_AMT - R.RE_AMT) AS BAMT
			   
		  FROM B_OUT OU
		  
		  JOIN B_OD OD
		    ON OD.OD_CD = OU.OD_CD
		    
		  JOIN B_RT R
			ON R.ACT_CD = OU.ACT_CD
			
		  JOIN B_IN I
			ON R.PRD_LOT = I.PRD_LOT
			
		  JOIN C_ACT A
			ON R.ACT_CD = A.ACT_CD
		<if test='startDate != null and endDate != null'>
         WHERE TRUNC(R.RE_DATE) BETWEEN #{startDate} AND #{endDate}
        </if>
	</select>
	
	<!-- 완제품 반품 관리 리스트 등록 -->
	<insert id="insertReList" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		<selectKey keyProperty="reCd" resultType="String" order="BEFORE">
		SELECT mk_bre_cd from dual
		</selectKey>
		INSERT INTO B_RT
		(
			RE_DATE,
			RE_CD,
			PRD_LOT,
			ACT_CD,
			RE_AMT
		)
		VALUES
		(
			CURRENT_DATE,
			#{reCd},
			#{prdLot},
			#{actCd},
			#{reAmt}
		)
	</insert>
	
	<!--
		완제품 재고 조회 Tab
							 -->
	<!-- 완제품 재고 리스트 조회 -->
	<select id="getLotList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(POD.PODD_DATES,'yyyy-MM-dd') AS POD_DATE, 
		I.PRD_LOT, 
		P.PRD_CD, 
		P.PRD_NM,ABS(I.BIN_AMT - OU.BAMT) AS SAMT
		
		FROM B_IN I
		
		JOIN P_ODD POD
		  ON POD.PRD_LOT = I.PRD_LOT
		  
		JOIN C_PRD P
		  ON P.PRD_CD = I.PRD_CD
		  
		JOIN B_OUT OU
		  ON I.PRD_LOT = OU.PRD_LOT
		  
        <if test="prdCd != null and !prdCd.equals('')">
        WHERE P.PRD_CD = #{prdCd}
        </if>
        <if test="prdLot != null and !prdLot.equals('')">
        AND I.PRD_LOT = #{prdLot}
        </if>
	</select>
	
	<!--
		완제품 재고 관리 Tab
							 -->
	<!-- 완제품 재고 관리 유통기한 현황 리스트 조회 -->			
	<select id="getEdateList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(POD.PODD_DATES,'yyyy-MM-dd') AS POD_DATE, 
			   I.PRD_LOT, 
			   P.PRD_CD, P.PRD_NM,
			   I.EDATE
			   
		  FROM B_IN I
		  
		  JOIN P_ODD POD
			ON POD.PRD_LOT = I.PRD_LOT
			
		  JOIN C_PRD P
			ON P.PRD_CD = I.PRD_CD
	  ORDER BY I.EDATE
	</select>
				 
	<!-- 완제품 재고 관리 폐기 현황 리스트 등록 -->
	<insert id="insertEdateList" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		INSERT INTO 
		(
			POD_DATE,
			PRD_LOT,
			PRD_CD,
			AG_AMT,
			EDATE
		)
		VALUES
		(
			#{podDate}
			,#{prdLot}
			,#{prdCd}
			,#{agAmt}
			,#{edate}
		)
	</insert>
					 
	<!--
		생산 요청 관리 Tab
							 -->
							 
	<!-- 생산 요청 관리 리스트 조회 -->	
	<select id="getPodList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(D.RQT_DATE,'yyyy-MM-dd') AS RQT_DATE,
		      	O.OD_CD,
		      	P.PRD_CD,
		      	P.PRD_NM,
		      	O.OD_AMT,
		       	(SELECT SUM(SAMT)
		        FROM B_IN
		        WHERE PRD_CD = P.PRD_CD
		        GROUP BY PRD_CD) AS SAMT,
		      	D.RQT_AMT,
		      	TO_CHAR(O.DE_DATE,'yyyy-MM-dd') AS DE_DATE,
		      	D.RQT_STS
		      	
		   FROM B_POD D
		
		   JOIN B_OD O
		  	 ON D.OD_CD = O.OD_CD
		  
		   JOIN C_PRD P
		 	 ON P.PRD_CD = D.PRD_CD
		  
		<if test="prdCd != null and !prdCd.equals('')">
          WHERE P.PRD_CD = #{prdCd}
        </if>
        
		<if test="prdLot != null and !prdLot.equals('')">
          AND I.PRD_LOT = #{prdLot}
        </if>
	</select>
	
	<!-- 생산 요청 관리 조건조회 -->
	<select id="getPodDetailList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(D.RQT_DATE,'yyyy-MM-dd') AS RQT_DATE,
	      	O.OD_CD,
	      	P.PRD_CD,
	      	P.PRD_NM,
	      	O.OD_AMT,
	       	(SELECT SUM(SAMT)
		        FROM B_IN
		        WHERE PRD_CD = P.PRD_CD
	        	GROUP BY PRD_CD) AS SAMT,
	      	D.RQT_AMT,
	      	TO_CHAR(O.DE_DATE,'yyyy-MM-dd') AS DE_DATE,
	      	D.RQT_STS
	      	
		FROM B_POD D 
		JOIN B_OD O
		  ON D.OD_CD = O.OD_CD
		  
		JOIN C_PRD P
		  ON P.PRD_CD = D.PRD_CD
		<if test='startDate != null and endDate != null'>
        	 WHERE TRUNC(D.RQT_DATE) BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="rqtSts != null and !rqtSts.equals('')">
        	AND D.RQT_STS = #{rqtSts}
        </if>
	</select>
	
	<!-- 생산 요청 관리 등록 -->
	<insert id="insertPodOrd" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		<selectKey keyProperty="rqtNo" resultType="String" order="BEFORE">
			SELECT mk_prqt_no from dual
		</selectKey>
		INSERT INTO B_POD
		(
			RQT_NO, 
			RQT_DATE, 
			OD_CD, 
			PRD_CD, 
			RQT_AMT, 
			RQT_STS
		)
		VALUES 
		(
			#{rqtNo}
			,#{rqtDate}
			,#{odCd}
			,#{prdCd}
			,#{rqtAmt}
			,'미계획'
		)
	</insert>
	
	<!-- 생산 요청 관리 수정 -->
	<update id="updatePodOrd" parameterType="com.mandu.yamyam.ord.service.OrdVO">
		UPDATE B_POD
		<if test="!rqtSts.equals('계획완료')">
		<set>
		RQT_DATE = #{rqtDate},
		RQT_AMT = #{rqtAmt}
		</set>
		WHERE RQT_NO = #{rqtNo}
		</if>
	</update>
	
	<!-- 생산 요청 관리 삭제 -->
	<delete id="deletePodOrd" parameterType="com.mandu.yamyam.ord.service.OrdVO">
        	DELETE FROM B_POD 
	    <if test="!rqtSts.equals('미계획')">
        	WHERE RQT_NO = #{rqtNo}
        </if>
	</delete>
	
</mapper>