<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.comm.mapper.CommMapper">


<select id="ajaxSelectComm" resultType="com.mandu.yamyam.common.LowerKeyMap">
	
	SELECT COMM_CD, COMM_NM
	FROM C_COMM

</select>


<select id="ajaxSelectDetailComm" resultType="com.mandu.yamyam.common.LowerKeyMap">
	
	SELECT COMMD_CD, COMMD_NM, COMMD_INFO, COMMD_USE
	FROM C_COMMD
	WHERE COMM_CD = #{commCd}
	
</select>

	
	
</mapper>