<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.comm.mapper.CommdMapper">

<select id="ajaxSelectDetailComm" resultType="com.mandu.yamyam.common.LowerKeyMap">
	
	SELECT COMMD_CD, COMMD_NM, COMMD_INFO, COMMD_USE
	FROM C_COMMD
	
</select>

<select id="ajaxSelectDetailCommClick" resultType="com.mandu.yamyam.common.LowerKeyMap">
	
	
</select>

</mapper>