<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.pro.mapper.ProMapper">
	<!-- 입력될 생산 우선순위 조회 -->
	<select id="getPrioNo" resultType="Integer">
		SELECT NVL(MAX(PPLND_PRIO),0)+1 as PPLND_PRIO FROM P_PLND
	</select>
	
	<!-- 생산계획조회 -->
	<select id="getPlan" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT TO_CHAR(ppln_date,'yyyy-MM-dd') AS ppln_date, ppln_cd, od_cd, ppln_name, ppln_sts
		from p_pln
		<where>
            <if test='startDate!= null and endDate != null'>
               TRUNC(PPLN_DATE) BETWEEN #{startDate}
                      AND #{endDate}
            </if>
        </where>
         ORDER BY PPLN_CD
	</select>
	
	
	<!-- 상세생산계획조회 -->
	<select id="getPlanDetail" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT P.PPLN_CD, P.PPLN_NAME, D.PPLND_CD, D.PRD_CD, D.PPLND_AMT, D.PPLND_PRIO, D.PPLND_DAYS, P.PPLN_STS, C.PRD_NM
		FROM P_PLN P JOIN P_PLND D
             		 ON P.PPLN_CD = D.PPLN_CD
             		 JOIN C_PRD C
             		 ON C.PRD_CD = D.PRD_CD
		WHERE P.PPLN_CD = #{pplnCd}            		 
		<where>
            <if test='startDate!= null and endDate != null'>
               TRUNC(P.PPLN_DATE) BETWEEN #{startDate}
                      AND #{endDate}
            </if>
        </where>
        ORDER BY P.PPLN_CD, D.PPLND_CD
        
	</select>
	
	
	<!-- 생산계획 등록 -->
	<insert id="insertPlan" parameterType="com.mandu.yamyam.pro.service.ProVO">
		<selectKey keyProperty="pplnCd" resultType="String" order="BEFORE">
			select mk_ppln_cd from dual
		</selectKey>
		insert into p_pln(
							<if test="pplnDate != null">
							ppln_date,
					 		</if>							
							ppln_cd,
							od_cd,
							ppln_name
							)
		
					values(
							<if test="pplnDate != null">
							#{pplnDate},
					 		</if>
							#{pplnCd},
							#{odCd},
							#{pplnName}
						   )
	</insert>
	
	
	<!-- 상세생산계획 등록 -->
	<insert id="insertPlanDetail" parameterType="com.mandu.yamyam.pro.service.ProVO">
		<selectKey keyProperty="pplndCd" resultType="String" order="BEFORE">
			select mk_pplnd_cd from dual
		</selectKey>
		insert into p_plnd(
							pplnd_cd,
							ppln_cd,
							ppln_date,
							pplnd_prio,
							pplnd_days,
							prd_cd,
							pplnd_amt

							)
		
					values(
							#{pplndCd},
							#{pplnCd},
							#{pplnDate},
							#{pplndPrio},
							#{pplndDays},
							#{prdCd},
							#{pplndAmt}
						   )
	</insert>
	
	<!-- 생산요청서 진행사항 수정 -->
	<update id="updateBpod" parameterType="com.mandu.yamyam.pro.service.ProVO">
		update b_pod set rqt_sts = '진행'
		where od_cd = #{odCd}
	</update>
	
	<!-- 생산계획 우선순위, 생산일자 수정 -->
	<update id="updatePlanDetail" parameterType="com.mandu.yamyam.pro.service.ProVO">
		UPDATE P_PLND
		   <set>
		   		<if test="pplndPrio != null">
		   			PPLND_PRIO = #{pplndPrio},
		   		</if>
		   		<if test="pplndDays != null">
		   			PPLND_DAYS = #{pplndDays}
		   		</if>
		   </set>
		 WHERE PPLND_CD = #{pplndCd}
	</update>
	
	<!-- 상세 생산계획 삭제 -->
	<delete id="deletePlanDetail" parameterType="com.mandu.yamyam.pro.service.ProVO">
		DELETE FROM P_PLND WHERE PPLND_CD = #{pplndCd}
	</delete>
	
	<!-- 생산계획 삭제 -->
	<delete id="deletePlan" parameterType="com.mandu.yamyam.pro.service.ProVO">
		DELETE FROM P_PLN WHERE PPLN_CD = #{pplnCd}
	</delete>
	
	<!-- 생산계획 상세 개수 -->
	<select id="detailCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM P_PLND
		WHERE PPLN_CD = #{pplnCd}
	</select>
	
	 
	<!-- 생산요청서 -->
	<select id="orderList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		select p.od_cd, p.prd_cd, c.prd_nm ,p.rqt_amt, TO_CHAR(b.de_date,'yyyy-MM-dd') as de_date
		from b_pod p join b_od b on p.od_cd = b.od_cd
             join c_prd c on  c.prd_cd = b.prd_cd
		where p.rqt_sts = '미계획'
	</select>
	
	<!-- 제품목록 조회 -->
	<select id="materialList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT PRD_CD, PRD_NM
		FROM C_PRD
	</select>
	
	<!-- 미지시계획 조회 -->
	<select id="noOrderList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.pplnd_cd,P.PPLN_CD, P.PPLN_NAME, D.PPLND_CD, C.PRD_NM, D.pplnd_amt,D.PPLND_DAYS, C.PRD_CD
		FROM P_PLN P JOIN P_PLND D
             		 ON P.PPLN_CD = D.PPLN_CD
                     JOIN C_PRD C
             		 ON C.PRD_CD = D.PRD_CD
		WHERE p.ppln_sts='미지시'
	</select>
	
	<!-- 생산라인 조회 -->
	<select id="lineList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		select p.pplnd_cd, l.pline_cd, p.prd_cd from p_plnd p join p_line l on p.prd_cd = l.prd_cd where p.PRD_CD = #{prdCd} and ROWNUM &lt;= #{pplndDays}
	</select>
	
	<!-- 필요자재 조회 -->
	<select id="needM" resultType="com.mandu.yamyam.common.LowerKeyMap">
		select (b.bom_amt*p.pplnd_amt) as mat_out_amt, b.MTR_CD, M.MTR_NM, b.prd_cd, b.bom_amt, p.PPLND_AMT
		from c_bom b join p_PLND p
             on p.prd_cd = b.prd_cd
             JOIN C_MTR M
             ON M.MTR_CD = B.MTR_CD
      where  P.PPLND_CD = #{pplndCd}
      and 	 p.prd_cd = #{prdCd}
      order by b.mtr_cd
	</select>
	
	<!-- 필요자재 LOT 목록 조회 -->
	<select id="mLotList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT c.mtr_nm, i.mat_lot, TO_CHAR(i.mat_edate,'yyyy-MM-dd') AS mat_edate, c.mtr_cd, i.mat_samt
		FROM c_mtr c join m_in i on c.mtr_cd = i.mtr_cd
		WHERE c.mtr_nm = #{mtrNm}
	</select>
	
	
	<!-- 생산지시 등록 -->
	<insert id="insertOrder" parameterType="com.mandu.yamyam.pro.service.ProVO">
		<selectKey keyProperty="podCd" resultType="String" order="BEFORE">
			SELECT mk_pod_cd FROM DUAL
		</selectKey>
		INSERT INTO p_od (
						  pod_cd,
						  pplnd_cd,
						  prd_cd,
						  pline_cd
						  )
			   VALUES(
			   		   #{podCd},
			   		   #{pplndCd},
			   		   #{prdCd},
			   		   (SELECT PLINE_CD FROM P_LINE WHERE PRD_CD = #{prdCd}))
		
	</insert>
	
	
	<!-- 상세 생산지시 등록 -->
	<insert id="insertOrderDetail" parameterType="com.mandu.yamyam.pro.service.ProVO">
		<selectKey keyProperty="poddCd" resultType="String" order="BEFORE">
			SELECT mk_podd_cd FROM DUAL
		</selectKey>
		INSERT INTO P_ODD(
							PODD_CD,
							POD_CD,
							PODD_AMT,
							PODD_DATES,
							PODD_PRIO
						  )
				VALUES(#{poddCd},
					   #{podCd},
					   #{poddAmt},
					   #{poddDates},
					   #{poddPrio})
	</insert>
	
	
	
</mapper>