<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
</head>

<body>
	<!-- 본문 시작 -->
	<div layout:fragment="content" class="container">
		<h3>제품 공정 흐름도</h3>
		<hr>
		<div class="row">
			<div class="col-5">
				<h4 style="margin-bottom:42px;">조회</h4>
				<div id="flowGrid"></div>
			</div>
			<div class="col-7" >
				 <table>
					<tr>
						<td colspan="5">
							<h4>관리</h4>
						</td>
					</tr>
					<tr>
						<td style="width:90px;">제품코드 : </td>
						<td style="width:130px;"><input type="text" id="pName" name="pName"></td>
						<td style="width:90px;">라인코드 : </td>
						<td><input type="text" id="lineName" name="lineName"></td>
						<td style="width:400px;">
							<th:block sec:authorize="hasAnyAuthority('JOB-GRD1', 'JOB-GRD2')">
								<button type="button" id="insertBtn" class="btn btn-dark btn-sm" style="float:right; margin-right:5px;">저장</button>
								<button type="button" id="deleteBtn" class="btn btn-dark btn-sm" style="float:right; margin-right:5px;">행 삭제</button>	
								<button type="button" id="plusBtn" class="btn btn-dark btn-sm" style="float:right; margin-right:5px;">행 추가</button>
							</th:block>	
						</td>
					</tr>
					<tr>
						<td colspan="5">
							<div id="flowManage"></div>
						</td>
					</tr>
				 </table>
			</div>
	</div>
		
	<!-- 공정목록 그리드 모달 -->
	<div class="modal" id="listModal" tabindex="-1">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">공정 목록</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close" id="close_modal"></button>
				</div>
				<div class="modal-body">					
					<div>
						<table>
						<tr>
							<td style="width: 80px">공정 분류 &nbsp;</td>
							<td>
								<select id="pList" name="pList">
							    <option th:each="pCode : ${pCode}" th:text="${pCode.commdNm}" th:value="${pCode.commdCd}"></option>						
								</select>
							</td>
							<td>
								<button type="button" id="pRBtn" class="btn btn-dark btn-sm">초기화</button>
							</td>
						</tr>
					</table>
						<div id="listModalGrid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	/* token */
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

		let flowGrid = flowGridInit();			// 공정흐름도 그리드
		let flowManage = flowManageInit();		// 공정흐름도관리 그리드
		let listModalGrid = listModalGridInit();	// 공정목록 모달 그리드

		
		flowGridClick();		  // 공정흐름도 그리드 클릭 이벤트
		flowManageClick();  	  // 흐름도 관리 그리드 클릭 이벤트
		listModalGridClick();	  // 공정목록 모달 그리드 클릭 이벤트
		deleteBtnHandler();  	  // 그리드 행 삭제버튼 이벤트
		plusBtnHandler(); 	 	  // 그리드 행 추가 이벤트 핸들러
		insertBtnHandler();  	  // 등록버튼 이벤트 핸들러
		pRBtnHandler();			  // 공정분류 선택 초기화 이벤트
		selectChange();			  // select 옵션 변경시 조회
		
		
		/*------------
		// 공정흐름도 그리드 초기화
		----------------*/
		function flowGridInit(){
			let flowGrid = new tui.Grid({
				el : document.getElementById('flowGrid'),
				scrollX : false,
				scrollY : false,
				rowHeaders: ['rowNum'],				
				columns : [ 
				{
					header : '제품코드',
					name : 'prdCd',
					align : 'center'
				}, {
					header : '제품명',
					name : 'prdNm',
					align : 'center'
					
				}, {
					header : '라인코드',
					name : 'plineCd'
				}]
			});
			
			$.ajax({
				url : '/getFlow',
				method: "GET",			
			}).then(res=>{
				flowGrid.resetData(res);
			})
			
			return flowGrid;
		}
		
		
		
		/*------------
		// 공정흐름도관리 그리드 초기화
		----------------*/
		function flowManageInit(){
			let flowManage = new tui.Grid({
				el : document.getElementById('flowManage'),
				scrollX : false,
				scrollY : false,
				minBodyHeight : 240,
				rowHeaders: ['checkbox','rowNum'],				
				columns : [ 
				{
					header : '공정코드',
					name : 'pproCd',
				}, {
					header : '공정명',
					name : 'pproName',
					align : 'center'
				}, {
					header : '설비코드',
					name : 'eqpCd',
					align : 'center'
				}, {
					header : '설비명',
					name : 'eqpNm',
					align : 'center'
				}]
			});
			flowManage.on('mouseover', function(ev){
				flowManage.addColumnClassName('pproCd','cell-pointer');
				flowManage.addColumnClassName('pproName','cell-pointer');
			})
			return flowManage;
		}
		
		
		/*------------
		// 공정목록 모달 grid
		----------------*/
		
		function listModalGridInit(){
			let listModalGrid = new tui.Grid({
				el: document.getElementById('listModalGrid'),
				scrollX: false,
				scrollY: false,
				pageOptions: {
				    useClient: true,	// front에서만 페이징 하는 속성
				    perPage: 8
				  },
				pagination : true,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '공정코드',
						name: 'pproCd'
					},{
						header: '공정명',
						name: 'pproName'
					},{
						header: '설비코드',
						name: 'eqpCd'
					},
					{
						header: '설비명',
						name: 'eqpNm'
					}]
			});
			return listModalGrid;
		}
		
		/*------------
		// 공정흐름도 그리드 클릭 이벤트
		----------------*/
		function flowGridClick(){
			let selectedRowKey = null;
			flowGrid.on('click',function(ev){
				if(ev.rowKey <0){
					return;
				}
				if(selectedRowKey>=0) {
					flowGrid.removeRowClassName(selectedRowKey, 'cell-change');
				  }
				selectedRowKey = ev.rowKey;
				flowGrid.addRowClassName(selectedRowKey, 'cell-change');
				let prdCd = flowGrid.getValue(ev.rowKey, 'prdCd');
				let plineCd = flowGrid.getValue(ev.rowKey, 'plineCd');
				$('#pName').val(prdCd);
				$('#lineName').val(plineCd);
				
				let data = {pproCd :'',pproName:'',eqpCd:'',eqpNm :''};	
				
				$.ajax({
					url : '/flowManage',
					method: "GET",
					data : {"plineCd" : plineCd},
					contentType: 'application/json',
					dataType : 'json',
				}).then(res=>{
					flowManage.resetData(res);
				})
			})
		}
		
		
		
		/*------------
		// 흐름도 관리 그리드 클릭 이벤트
		----------------*/
		function flowManageClick(){
			let selectedRowKey = null;
			flowManage.on('click',function(ev){
				if(ev.rowKey <0){
					return;
				}
				let mData = flowManage.getData();
				for(let i =0; i<mData.length; i++){
					if(!mData[i].pproCd){
						let code = flowManage.getValue(ev.rowKey, 'pproCd')
						let prdCd = $('#pName').val();

						$.ajax({
							url : '/viewProgress',
							method: "GET",
							data : {"prdCd" : prdCd}
						}).then(res=>{
							listModalGrid.resetData(res);
						})
						
			   			$('#listModal').modal('show');
			   			listModalGrid.refreshLayout();
					}
				}
				
				
			})
		}
		
		
		/*------------
		// 공정목록 모달 그리드 클릭 이벤트
		----------------*/
		function listModalGridClick(){
			listModalGrid.on('click',function(ev){

				let data = listModalGrid.getRow(ev.rowKey);
				console.log(data);
				
				let val = flowManage.getFocusedCell().rowKey;
				flowManage.setRow(val,data);
				$('#listModal').modal('hide');
			})
		}
		
		
		/*------------
		// 그리드 행 추가 버튼 이벤트 핸들러
		----------------*/
		function plusBtnHandler(){
			
			$('#plusBtn').on('click',function(){
		
				let data = {pproCd :'',pproName:'',eqpCd:'',eqpNm :''};	
				flowManage.appendRow(data);
			});

		}
		
		
		/*------------
		// 삭제 버튼 클릭(그리드행 삭제)
		----------------*/	
		function deleteBtnHandler(){
			// grid 선택 행 삭제
			$('#deleteBtn').on('click',function(){
				let del = flowManage.getCheckedRows();
				let delLeng = del.length;
				
				if(delLeng == 0){
					Swal.fire('삭제할 행을 선택하세요');
				}else {
					sweetConfirm('D', function(){
						Swal.fire('삭제가 완료되었습니다');
						// grid에서 삭제
						flowManage.removeCheckedRows();
						// 실패
					})
				}
			});	
		}
		
		
		/*------------
		// 계획 등록 버튼 이벤트 핸들러
		----------------*/
		function insertBtnHandler(){
		
			$('#insertBtn').on('click',function(){
				// 라인코드 이름
				let lineName = $('#lineName').val();
				
				// grid 데이터
					if(lineName == ''){
						Swal.fire({
							icon: 'error',
							title :'라인코드를 입력하세요!!'});
					}else{
						let data = flowManage.getCheckedRows();
						let dataList = [];
						let pproCd = '';
						
					 	for(let i=0; i<data.length;i++){
							let plineCd = lineName;
							pproCd = data[i].pproCd;
							let prdCd = $('#pName').val();
							dataList.push({plineCd, pproCd, prdCd});
					 	}
						sweetConfirm('C', function(){
							$.ajax({
								url : '/insertPline',
								method: 'POST',
								contentType : 'application/json',
								data : JSON.stringify(dataList),
								dataType : 'json',
								beforeSend : function (xhr) {
								    xhr.setRequestHeader(header, token);
								},
								success : function(data){
										 Swal.fire('저장 완료되었습니다');
										 flowManage.refreshLayout();
										},
								error : function(reject){
										console.log(reject);
										// 실패
										Swal.fire('저장 실패했습니다.');	
								}			 		  
							});	 	
						})
					}
			});
		}
		
		
		
		/*------------
		// 공정분류 선택 초기화 핸들러
		----------------*/
		function pRBtnHandler(){

			$('#pRBtn').on('click',function(){
				
				$.ajax({
					url : '/viewProgress',
					contentType: 'application/json',
					dataType : 'json',
					method: "GET",
					success : function(data){listModalGrid.resetData(data);},
					error : function(reject){console.log(reject);}				
				})
			})
		}
		
		
		
		/*------------
		// select 옵션 변경시 조회
		----------------*/
		function selectChange(){
			$('#pList').on('change',function(){
				let pproSts = $('select[name=pList] option:selected').val(); // 공정분류 선택값
				$.ajax({
					url : '/viewProgress',
					contentType: 'application/json',
					dataType : 'json',
					data : {"pproSts" : pproSts},
					method: "GET",
					success : function(data){listModalGrid.resetData(data);},
					error : function(reject){console.log(reject);}				
				})
			});
		}
	</script>

	</div>

	<!-- 본문 끝 -->

</body>

</html>