<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAMYAM</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/tui-grid.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tui-grid.js"></script>
</head>

<body>
    <div id="grid"></div>
    <script>


        var grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        scrollY: false,
        columns: [
          {
            header: 'boardNum',
            name: 'boardNum',
          },
          {
            header: 'spaceName',
            name: 'spaceName',
          },
          {
            header: 'Category',
            name: 'Category'
          },
          {
            header: 'price',
            name: 'price'
          },
          {
            header: 'regDate',
            name: 'regDate',
          }
        ]
      });
        
    </script>
</body>

</html>