<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
	<!-- 본문 시작 -->
	<div layout:fragment="content" class="container">
		<h3>생산지시 조회</h3>
		<div>
			<table style="width: 100%;">
				<tr>
					<td style="width: 70px;">지시일자 &nbsp;</td>
					<td>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
					        <input id="startpicker-input" type="text" aria-label="Date">
					        <span class="tui-ico-date"></span>
					        <div id="startpicker-container" style="margin-left: -1px;"></div>
					    </div>
					    <span>-</span>
					    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
					        <input id="endpicker-input" type="text" aria-label="Date">
					        <span class="tui-ico-date"></span>
					        <div id="endpicker-container" style="margin-left: -1px;"></div>
					    </div>
						<button type="button" id="searchBtn"
							class="btn btn-dark btn-sm">검색</button>
						<button type="button" id="cancelBtn"
							class="btn btn-dark btn-sm">초기화</button>
					</td>
					<td></td>
				</tr>
				<tr>
					<td colspan="3">
						<div id="grid"></div>
					</td>
				</tr>
				
			</table>

		</div>

	<script>
		
		//date picker 초기화
		searchInit(); 
		let grid = gridInit();
		
		cancelBtnHandler();  //  date picker input 값 초기화 버튼
		searchBtnHandler();	 //  date picker input 값 조회 버튼

		/*------------
		// grid 초기화
		----------------*/
		function gridInit(){
			let grid = new tui.Grid({
				el : document.getElementById('grid'),
				scrollX : false,
				scrollY : false,
				rowHeaders: ['rowNum'],
				columns : [ 
				{	
					header : '상세생산지시코드',
					name : 'poddCd',
				}, {
					header : '제품코드',
					name : 'prdCd'
				}, {
					header : '제품명',
					name : 'prdNm'
				}, {
					header : '생산수량',
					name : 'poddAmt'				
				}, {
					header : '라인코드',
					name : 'plineCd',
				}, {
					header : '생산일자',
					name : 'poddDates',
					sortable : true
				},{
					header : '지시우선순위',
					name : 'poddPrio',
					sortable : true
				}, {
					header : '진행구분',
					name : 'podSts',
					filter: {
				        type: 'select'
				      }
				}, {
					header : '비고',
					name : 'other',
				}, ]
			});
			$.ajax({
				url : '/viewOrderList',
				method: "GET",			
			}).then(res=>{
				grid.resetData(res);
			})
			
			return grid;
			
		}
		
			
			/*------------
			// datepicker
			----------------*/	
			function searchInit(){
				// toast - datepicker
				rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')
			}
			
			/*------------
			// 검색버튼 이벤트 핸들러
			----------------*/
			function searchBtnHandler(){

				$('#searchBtn').on('click',function(){
					let getStartDay = $("#startpicker-input").val();
					let getEndDay = $("#endpicker-input").val();
					console.log(getStartDay);
					console.log(getEndDay);
					// 갖고온 start, end 값을 넘겨서 select 해오기
					
					$.ajax({
						url : '/viewOrderList',
						data : {"startDate" : getStartDay, "endDate" : getEndDay},
						contentType: 'application/json',
						dataType : 'json',
						method: "GET",
						success : function(data){console.log(data); grid.resetData(data);},
						error : function(reject){console.log(reject);}				
					})
					
				})
			}

			
			
			/*------------
			// datePicker 초기화버튼 이벤트 핸들러
			----------------*/
			function cancelBtnHandler(){
				$('#cancelBtn').on('click',function(){

					$("#startpicker-input").val(today);
					$("#endpicker-input").val(today);
					
					$.ajax({
						url : '/viewOrderList',
						method: "GET",			
					}).then(res=>{
						grid.resetData(res);
					})
				});	
			}

	</script>

	</div>

	<!-- 본문 끝 -->

</body>

</html>