<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
</head>

<body>
	<!-- 본문 시작 -->
	<div layout:fragment="content" class="container">
		<h3>공정 관리</h3>
		<hr>
		<div>
			<table style="width: 100%;">
				<tr>
					<td style="width: 85px;">공정 구분 &nbsp;</td>
					<td>
						<select id="pList" name="pList">
						<option th:each="pCode : ${pCode}" th:text="${pCode.commdNm}" th:value="${pCode.commdCd}"></option>			
						</select>
						<button type="button" id="cancelBtn" class="btn btn-dark btn-sm">초기화</button>
					</td>
					<td style="text-align: right;">
						<th:block sec:authorize="hasAnyAuthority('JOB-GRD1', 'JOB-GRD2')">
							<button type="button" id="plusBtn" class="btn btn-dark btn-sm">행 추가</button>
							<button type="button" id="removeBtn" class="btn btn-dark btn-sm">삭제</button>
							<button type="button" id="insertBtn" class="btn btn-dark btn-sm">입력</button>
							<button type="button" id="updateBtn" class="btn btn-dark btn-sm">수정</button>
						</th:block>	
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div id="grid"></div>
					</td>
				</tr>
			</table>

		</div>
		
	<!-- 생산 담당자 그리드 모달 -->
	<div class="modal" id="empModal" tabindex="-1">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">생산 담당자명</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close" id="close_modal"></button>
				</div>
				<div class="modal-body">					
					<div>
						<div id="empListGrid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>	
		
	<!-- 미사용설비 그리드 모달 -->
	<div class="modal" id="eqModal" tabindex="-1">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">미사용 설비 목록</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close" id="close_modal"></button>
				</div>
				<div class="modal-body">					
					<div>
						<div id="eqModalGrid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	/* token */
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

		let grid = gridInit();				    // 공정관리 그리드
		let eqModalGrid = eqModalGridInit();	// 미사용 설비 모달 그리드
		let empListGrid = empListGridInit();	// 생산담당 모달 조회 그리드

		plusBtnHandler(); 	 	// 그리드 행 추가 이벤트 핸들러
		removeBtnHandler();  	// 그리드 행 삭제 이벤트 핸들러
		insertBtnHandler();		// 그리드 행 입력 이벤트 핸들러
		updateBtnHandler();		// 그리드 행 수정 이벤트 핸들러
		gridClick(); 			// 공정관리 그리드 클릭 이벤트
		eqModalGridClick();		// 미사용 설비 모달 그리드 클릭 이벤트
		empListGridClick();		// 생산담당자조회 모달 그리드 클릭 이벤트
		cancelBtnHandler();     // 값 초기화 버튼
		selectChange();			// select 옵션 변경시 조회
		
		/*------------
		// grid 초기화
		----------------*/
		function gridInit(){
			let grid = new tui.Grid({
				el : document.getElementById('grid'),
				pageOptions: {
				    useClient: true,	// front에서만 페이징 하는 속성
				    perPage: 10
				  },
				pagination : true,
				scrollX : false,
				scrollY : false,
				rowHeaders: ['checkbox','rowNum'],				
				columns : [ 
				{
					header : '공정코드',
					name : 'pproCd',
					editor : 'text'
				}, {
					header : '공정구분',
					name : 'pproSts',
					editor: {
					      type: 'select',
					      options: {
					        listItems: [
					          {text: '혼합', value: 'EQP-TYPE1'},
					          {text: '성형', value: 'EQP-TYPE2'},
					          {text: '증숙', value: 'EQP-TYPE3'},
					          {text: '냉동', value: 'EQP-TYPE4'},
					          {text: '포장', value: 'EQP-TYPE5'},
				          	  {text: '박스', value: 'EQP-TYPE6'}]
					      }
					},
					align : 'center'
				}, {
					header : '공정명',
					name : 'pproName',
					editor : 'text',
					align : 'center'
				}, {
					header : '설비명',
					name : 'eqpNm',
					editor : 'text',
					align : 'center'
				}, {
					header : '설비코드',
					name : 'eqpCd',
					align : 'center'
				}, {
					header : '모델명',
					name : 'mdNm',
				}, {
					header : '담당자 번호',
					name : 'pproEmpId',
					editor: {
					      type: 'select',
					      options: 'text' },
					align : 'center'
			    }, {
					header : '담당자명',
					name : 'pproEmpNm',
					align : 'center'
				}]
			});
			
			$.ajax({
				url : '/getProList',
				method: "GET",			
			}).then(res=>{
				grid.resetData(res);
			})
			return grid;
		}
		grid.on('mouseover', function(ev){
			grid.addColumnClassName('eqpNm','cell-pointer');
			grid.addColumnClassName('eqpCd','cell-pointer');
			grid.addColumnClassName('pproEmpId','cell-pointer');
			grid.addColumnClassName('pproEmpNm','cell-pointer');
		})
		
		/*------------
		// 생산담당자 모달 grid
		----------------*/
		
		function empListGridInit(){
			let empListGrid = new tui.Grid({
				el: document.getElementById('empListGrid'),
				scrollX: false,
				scrollY: false,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '담당자 번호',
						name: 'pproEmpId'
					},
					{
						header: '담당자명',
						name: 'pproEmpNm'
					}
				]
			});
			return empListGrid;
		}
		
		
		
		/*------------
		// 미사용설비 모달 grid
		----------------*/
		
		function eqModalGridInit(){
			let eqModalGrid = new tui.Grid({
				el: document.getElementById('eqModalGrid'),
				scrollX: false,
				scrollY: false,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '설비코드',
						name: 'eqpCd'
					},
					{
						header: '설비명',
						name: 'eqpNm'
					},
					{
						header: '모델명',
						name: 'mdNm'
					}
				]
			});
			return eqModalGrid;
		}
	
		
		/*------------
		// 공정관리 그리드 클릭 이벤트
		----------------*/
		function gridClick(){
			grid.on('click',function(ev){
				let rk = grid.getFocusedCell().rowKey;
				let eqpNm = grid.getRow(rk).eqpNm;
				let pproEmpId = grid.getRow(rk).pproEmpId;
				console.log(pproEmpId);
				if(rk != null){
					if(eqpNm == null || eqpNm == ''){
						$.ajax({
							url : '/noUseEqp',
							method: "GET",			
						}).then(res=>{
							eqModalGrid.resetData(res);
						})
			   			$('#eqModal').modal('show');
			   			eqModalGrid.refreshLayout();
					}else if(pproEmpId == null || pproEmpId == ''){
						$.ajax({
							url : '/getProEmpList',
							method: "GET",			
						}).then(res=>{
							empListGrid.resetData(res);
						})
						$('#empModal').modal('show');
			   			empListGrid.refreshLayout();
					}
				}
				
			})
		}
	
		
		/*------------
		// 미설비목록 모달 그리드 클릭 이벤트
		----------------*/
		function eqModalGridClick(){
			eqModalGrid.on('click',function(ev){
				let data = eqModalGrid.getRow(ev.rowKey);
				let eqpCd = data.eqpCd;
				let eqpNm = data.eqpNm;
				let mdNm = data.mdNm;
				let pproEmpName = data.pproEmpName;
				let gRowKey = grid.getFocusedCell().rowKey;
				
				grid.setValue(gRowKey,'eqpCd',eqpCd);
				grid.setValue(gRowKey,'eqpNm',eqpNm);
				grid.setValue(gRowKey,'mdNm',mdNm);
				grid.setValue(gRowKey,'pproEmpName',pproEmpName);
				
				$("#eqModal").modal("hide"); 
			})
		}
		
		

		/*------------
		// 생산담당자 조회 모달 그리드 클릭 이벤트
		----------------*/
		function empListGridClick(){
			empListGrid.on('click',function(ev){
				let data = empListGrid.getRow(ev.rowKey);
				let pproEmpId = data.pproEmpId;
				let pproEmpNm = data.pproEmpNm;
				let gRowKey = grid.getFocusedCell().rowKey;
				
				grid.setValue(gRowKey,'pproEmpId',pproEmpId);
				grid.setValue(gRowKey,'pproEmpNm',pproEmpNm);
				
				$("#empModal").modal("hide"); 
			})
		}
		
		
		
		
		/*------------
		// select 옵션 변경시 조회
		----------------*/
		function selectChange(){
			$('#pList').on('change',function(){
				let eqpType = $('select[name=pList] option:selected').val();
				
				$.ajax({
					url : '/getProList',
					data : {"eqpType" : eqpType},
					contentType: 'application/json',
					dataType : 'json',
					method: "GET",
					success : function(data){grid.resetData(data);},
					error : function(reject){console.log(reject);}				
				})
			});
		}
		
		
		
		/*------------
		// 초기화버튼 이벤트 핸들러
		----------------*/
		function cancelBtnHandler(){
			$('#cancelBtn').on('click',function(){
				
				$.ajax({
					url : '/getProList',
					contentType: 'application/json',
					dataType : 'json',
					method: "GET",
					success : function(data){grid.resetData(data);},
					error : function(reject){console.log(reject);}				
				})
			});	
		}
		
		
		
		
		/*------------
		// 그리드 행 추가 버튼 이벤트 핸들러
		----------------*/
		function plusBtnHandler(){
			
			$('#plusBtn').on('click',function(){
		
				let rowData = [{pproCd : '',pproSts : '',pproName : '', eqpNm : '',	eqpCd : '',	mdName : '', pproEmpName : ''}]
				grid.appendRow(rowData,{at : 0});
			});

		}
		
		
		/*------------
		// 삭제 버튼 클릭(그리드행 삭제)
		----------------*/	
		function removeBtnHandler(){
			// grid 선택 행 삭제
			$('#removeBtn').on('click',function(){
				// sweetalert2
				sweetConfirm('D', function(){
					
					let data = grid.getCheckedRows();
					console.log(data);
					let dataList = [];
					let pproCd = '';
					for(let i=0; i<data.length;i++){
						pproCd = data[i].pproCd;
						dataList.push({pproCd})
					}

					$.ajax({
						url : '/deleteProManage',
						method: 'POST',
						contentType : 'application/json',
						data : JSON.stringify(dataList),
						dataType : 'json',
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
								  Swal.fire('삭제 완료되었습니다');
								  grid.removeCheckedRows();
								  grid.refreshLayout();
								},
						error : function(reject){
								console.log(reject);
								// 실패
								Swal.fire('삭제 실패했습니다.');	
						}			 		  
					});	 
				})
				
			});	
		}
		
		
		
		/*------------
		// 저장 버튼 클릭 이벤트 핸들러 (수행시 공정테이블에 insert)
		----------------*/	
		function insertBtnHandler(){
			$('#insertBtn').on('click',function(){
				// sweetalert2
				sweetConfirm('C', function(){
					let data = grid.getCheckedRows();
					let dataList = [];
					let pproCd = '';
					let eqpCd = '';
					let pproName = '';
					let pproEmpId = '';
					let pproSts = '';
					for(let i=0; i<data.length;i++){
						pproCd = data[i].pproCd;
						eqpCd = data[i].eqpCd;
						pproName = data[i].pproName;
						pproEmpId = data[i].pproEmpId;
						pproSts = data[i].pproSts;
						dataList.push({pproCd, eqpCd, pproName, pproEmpId, pproSts})
						
					}
					
					$.ajax({
						url : '/insertProManage',
						method: 'POST',
						contentType : 'application/json',
						data : JSON.stringify(dataList),
						dataType : 'json',
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
								 Swal.fire('저장 완료되었습니다');
								// grid에서 수정
								  grid.refreshLayout();
								},
						error : function(reject){
								console.log(reject);
								// 실패
								Swal.fire('저장 실패했습니다.');	
						}			 		  
					});	 	
					
				})
				
			});	
		}
		
		
		/*------------
		// 수정 버튼 클릭 이벤트 핸들러 (수행시 공정테이블에 update)
		----------------*/	
		function updateBtnHandler(){
			$('#updateBtn').on('click',function(){
				// sweetalert2
				sweetConfirm('U', function(){
					let data = grid.getCheckedRows();
					let moData = grid.getModifiedRows().updatedRows;
					let pproCd = moData[0].pproCd;
					let eqpCd = moData[0].eqpCd;
					
					$.ajax({
						url : '/updateProManage',
						method: 'POST',
						dataType : 'json',
						data : {"pproCd" : pproCd, "eqpCd" : eqpCd},
						beforeSend : function (xhr) {
						    xhr.setRequestHeader(header, token);
						},
						success : function(data){
								 Swal.fire('수정 완료되었습니다');
								// grid에서 수정
								  grid.refreshLayout();
								},
						error : function(reject){
								console.log(reject);
								// 실패
								Swal.fire('수정 실패했습니다.');	
						}			 		  
					});		
					
				})
				
			});	
		}
	</script>

	</div>

	<!-- 본문 끝 -->

</body>

</html>