<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>

<body>
	<div layout:fragment="content" class="container">
		<div class="row">
			<h4>생산지시 관리</h4>
			&nbsp;&nbsp;
			<button type="button" id="showNOModal" class="btn btn-dark btn-sm"
				style="width: 140px" data-bs-toggle="modal"
				data-bs-target="#noOrderModal">미지시 계획 조회</button>
		</div>
		<div class="row">
			<div class="col-6">
				상세생산계획
				<div id="planDGrid"></div>
			</div>
			<div class="col-6">
				생산지시
				<div id="planOrder"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				필요자재
				<!-- 필요자재 모달버튼 -->
				<button type="button" id="mLModalBtn" hidden class="btn btn-dark btn-sm"
					data-bs-toggle="modal" data-bs-target="#matLotModal">필요자재
					모달 조회</button>
				<div id="matNeed"></div>
				<p style="font-size: 0.5em">소모량 : 자재별 필요량*작업수량</p>
			</div>
			<div class="col-6">
				필요자재LOT

				<div id="matLot"></div>
			</div>
		</div>

		<!-- 필요자재LOT 모달 -->
		<div class="modal" id="matLotModal" tabindex="-1"
			aria-labelledby="matLotModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="matLotModalLabel">필요자재LOT 목록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<div>
								<label for="name">자재명: </label>
								<input type="text" id="name" name="name" value="부추" style="width: 120px">
								
								<label for="amt">필요수량: </label>
								<input type="number" id="amt" name="amt" style="width: 120px" value="200">
								<button type="button" class="btn btn-dark btn-sm">조회</button>
							</div>

							<div id="matLotGrid2"></div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<script>
	// toast - grid
	// 상세계획 조회 grid
	var planDGrid = new tui.Grid({
		el: document.getElementById('planDGrid'),
		// 임시 데이터
		data: [{
			boardNum: '1',
			planCode: 'pro_123456',
			productName: '얇은피 김치만두',
			amt: '300',
			productAmt: '200',
			restAmt: '100'
		}],
		// data 가져오는 법
		// data: {
		// 	api: {
		// 		readData: {
		// 			url: '/api/readData',
		// 			method: 'GET'
		// 		}
		// 	}
		// },
		scrollX: false,
		scrollY: false,
		// rowHeaders: ['checkbox'],
		// columnOptions: {
		// 	minWidth: 180
		// },
		columns: [{
				header: 'No',
				name: 'boardNum',
				width: 'auto'
			},
			{
				header: '생산계획코드',
				name: 'planCode'
			},
			{
				header: '제품명',
				name: 'productName'
			},
			{
				header: '수량',
				name: 'amt'
			},
			{
				header: '생산지시량',
				name: 'productAmt'
			},
			{
				header: '잔량',
				name: 'restAmt'
			}
		]
	});
	
	// 생산지시 grid 
	var planOrder = new tui.Grid({
		el: document.getElementById('planOrder'),
		// 임시 데이터
		data: [{
			boardNum: '1',
			lineCode: 'LIN-BAR-001',
			dates: '20221202',
			amt: '200',
			prio: '1',
			planAmt: '300'
		}],
		// data 가져오는 법
		// data: {
		// 	api: {
		// 		readData: {
		// 			url: '/api/readData',
		// 			method: 'GET'
		// 		}
		// 	}
		// },
		scrollX: false,
		scrollY: false,
		columns: [{
				header: 'No',
				name: 'boardNum',
				width: 'auto'
			},
			{
				header: '라인코드',
				name: 'lineCode',
			},
			{
				header: '작업일자',
				name: 'dates'
			},
			{
				header: '작업수량(BOX)',
				name: 'amt'
			},
			{
				header: '일자별우선순위',
				name: 'prio'
			},
			{
				header: '비고',
				name: 'other'
			}
		]
	});
	
	// 필요자재 grid 
	var matNeed = new tui.Grid({
		el: document.getElementById('matNeed'),
		// 임시 데이터
		data: [
			{
			boardNum: '1',
			prdCd: 'MD-00200',
			mtrCd: 'RML-10101',
			name: '얇은 만두피',
			amt : '200'	},
			{
			boardNum: '2',
			prdCd: 'MD-00200',
			mtrCd: 'RML-10201',
			name: '부추',
			amt : '300'	},
			{
			boardNum: '3',
			prdCd: 'MD-00200',
			mtrCd: 'RML-10301',
			name: '다진고기',
			amt : '400'	},
		{
			boardNum: '4',
			prdCd: 'MD-00200',
			mtrCd: 'RML-10401',
			name: '두부',
			amt : '500'	}
		],
		// data 가져오는 법
		// data: {
		// 	api: {
		// 		readData: {
		// 			url: '/api/readData',
		// 			method: 'GET'
		// 		}
		// 	}
		// },
		scrollX: false,
		scrollY: false,
		// rowHeaders: ['checkbox'],
		// columnOptions: {
		// 	minWidth: 180
		// },
		columns: [{
				header: 'No',
				name: 'boardNum',
				width: 'auto'
			},
			{
				header: '제품코드',
				name: 'prdCd',
			},
			{
				header: '자재코드',
				name: 'mtrCd'
			},
			{
				header: '자재명',
				name: 'name'
			},
			{
				header: '소모량',
				name: 'amt'
			}
		]
	});
	
	
	// 필요자재 grid click 이벤트
		matNeed.on('click', function(ev){
			//console.log(ev.rowKey); 선택한 행의 row번호
			// 클릭한 행의 자재명, 자재코드 

			var mName = matNeed.getRow(ev.rowKey).name;
			var mtrCd = matNeed.getRow(ev.rowKey).mtrCd;
			console.log(mName,mtrCd)
			$("#matLotModal").modal("show");
			
			// 모달이 로드 되는데 시간이 걸리므로 인터벌 걸어주기
			setInterval(function(){
				matLotGrid2.refreshLayout()
				},100);			
		})


	// 필요자재 LOT grid 
	var matLot = new tui.Grid({
		el: document.getElementById('matLot'),
		// 임시 데이터
		data: [{
			boardNum: '1',
			name: '얇은 만두피',
			mLot : 'RML-10000-220122001',
			amt : '200'	,
			eDate : '2022/11/15',
			poddCd: 'RML-10101'},
			{	boardNum: '2',
				name: '부추',
				mLot : 'RML-10000-220122002',
				amt : '300'	,
				eDate : '2022/11/17',
				poddCd: 'RML-10101'},
			{
				boardNum: '3',
				name: '다진고기',
				mLot : 'RML-10000-220122003',
				amt : '400'	,
				eDate : '2022/11/16',
				poddCd: 'RML-10101'},
			{
				boardNum: '4',
				name: '두부',
				mLot : 'RML-10000-220122004',
				amt : '500'	,
				eDate : '2022/11/14',
				poddCd: 'RML-10101'}
			],
		// data 가져오는 법
		// data: {
		// 	api: {
		// 		readData: {
		// 			url: '/api/readData',
		// 			method: 'GET'
		// 		}
		// 	}
		// },
		scrollX: false,
		scrollY: false,
		rowHeaders: ['checkbox'],
		// columnOptions: {
		// 	minWidth: 180
		// },
		columns: [{
				header: 'No',
				name: 'boardNum',
				width: 'auto'
			},
			{
				header: '자재명',
				name: 'name',
			},
			{
				header: '자재LOT번호',
				name: 'mLot'
			},
			{
				header: '사용수량',
				name: 'amt'
			},
			{
				header: '유통기한',
				name: 'eDate'
			},
			{
				header: '지시디테일코드',
				name: 'poddCd'
			},
			
		]
	});
	
	// 모달에 뜨는 필요자재 LOT grid 
	var matLotGrid2 = new tui.Grid({
		el: document.getElementById('matLotGrid2'),
		// 임시 데이터
		data: [{
				boardNum: '1',
				mLot : 'RML-10000-220122001',
				sAmt : '12582324200',
				amt : '200'	,
				eDate : '2022/11/15',
				},
				{
				boardNum: '2',
				mLot : 'RML-10000-220122002',
				sAmt : '12582324200',
				eDate : '2022/11/16',
				},
				{
				boardNum: '3',
				mLot : 'RML-10000-220122003',
				sAmt : '12582324200',
				eDate : '2022/11/20',
				},
				{
				boardNum: '4',
				mLot : 'RML-10000-220122004',
				sAmt : '12582324200',
				eDate : '2022/11/17',
				}],
		// data 가져오는 법
		// data: {
		// 	api: {
		// 		readData: {
		// 			url: '/api/readData',
		// 			method: 'GET'
		// 		}
		// 	}
		// },
		scrollX: false,
		scrollY: false,
		rowHeaders: ['checkbox'],
		// columnOptions: {
		// 	minWidth: 180
		// },
		columns: [{
				header: 'No',
				name: 'boardNum',
				width: 'auto'
			},
			{
				header: '자재LOT번호',
				name: 'mLot'
			},
			{
				header: '현재고',
				name: 'sAmt'
			},
			{
				header: '사용수량',
				name: 'amt',
				editor: 'text'
			},
			{
				header: '유통기한',
				name: 'eDate'
			},
		],
		summary: {
	        height: 40,
	        position: 'bottom', // or 'top'
	        columnContent: {
	          amt: {
	            template: function(valueMap) {
	              return `TOTAL: ${valueMap.sum}`;
	            }
	          }
	        }
	      }
	});
	</script>

		<!-- 미지시 계획 조회 모달 -->
		<div class="modal" id="noOrderModal" tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="noOrderModalLabel">미지시 생산계획 목록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<div id="modalGrid"></div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- 모달에 뜨는 생산요청 toast grid -->
		<script>
		var modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			// 임시 데이터
			data: [{
				planCode: 'pro_123456',
				planName: '얇은피 김치만두 200',
				planDCode: 'pro_123456',
				productName: '얇은피 김치만두'
			}],
			// data 가져오는 법
			// data: {
			// 	api: {
			// 		readData: {
			// 			url: '/api/readData',
			// 			method: 'GET'
			// 		}
			// 	}
			// },
			scrollX: false,
			scrollY: false,
			rowHeaders: ['rowNum'],
			columns: [
				{
					header: '계획코드',
					name: 'planCode',
				},
				{
					header: '계획명',
					name: 'planName', //납기일자명 수정
				},
				{
					header: '상세계획코드',
					name: 'planDCode'
				},
				{
					header: '제품명',
					name: 'productName'
				}
			]
		});
	
	
	// 미지시계획 모달 클릭 버튼 이벤트
	$('#showNOModal').on('click',function(){

		$("#noOrderModal").modal("show");
		modalGrid.refreshLayout();
	});
	</script>



	</div>
	<!-- 본문 끝 -->

</body>

</html>