<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<style type="text/css">
.modal-header{
text-align: center;
}
</style>
</head>

<body>
	<div layout:fragment="content" class="container">
		<div class="row">
			<h3>생산지시 관리</h3>
			&nbsp;&nbsp;
			<button type="button" id="showNOModal" class="btn btn-dark btn-sm"
				style="width: 140px" data-bs-toggle="modal"
				data-bs-target="#noOrderModal">미지시 계획 조회</button>
		</div>
		<div class="row">
			<div class="col-6">
				상세생산계획
				<div id="planDGrid"></div>
			</div>
			<div class="col-6">
				생산지시
				<div id="planOrder"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				필요자재
				<!-- 필요자재 모달버튼 -->
				<button type="button" id="mLModalBtn" hidden class="btn btn-dark btn-sm"
					data-bs-toggle="modal" data-bs-target="#matLotModal">필요자재
					모달 조회</button>
				<div id="matNeed"></div>
				<p style="font-size: 0.5em">소모량 : 자재별 필요량*작업수량</p>
			</div>
			<div class="col-6">
				필요자재LOT

				<div id="matLot"></div>
				<button type="button" id="deleteBtn"
				class="btn btn-dark btn-sm" >행 삭제</button>
				
			</div>
		</div>

		<!-- 필요자재LOT 모달 -->
		<div class="modal" id="matLotModal" tabindex="-1"
			aria-labelledby="matLotModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="matLotModalLabel">필요자재LOT 목록</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<div>
								<label for="name">자재명: </label>
								<input type="text" id="name" name="name" value="부추" style="width: 120px">
								
								<label for="amt">필요수량: </label>
								<input type="number" id="amt" name="amt" style="width: 120px" value="200">
								<button type="button" class="btn btn-dark btn-sm">조회</button>
							</div>

							<div id="matLotGrid2"></div>

						</div>
					</div>

				</div>
			</div>
		</div>
		
		<!-- 미지시 계획 조회 모달 -->
		<div class="modal" id="noOrderModal" tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="noOrderModalLabel">미지시 생산계획 목록</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<div id="modalGrid"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		
		
		<script>
		// 그리드 초기화
		let planDGrid = planDGridInit(); 	 // 상세계획 조회 grid
		let planOrder = planOrderGridInit(); // 생산지시 grid 
		let matNeed = matNeedGridInit();	 // 필요자재 grid 
		let matLot = matLotGridInit(); 		 // 필요자재 LOT grid 
		let matLotGrid2 = matLotGrid2Init(); // 모달에 뜨는 필요자재 LOT grid 
		let modalGrid =  modalGridInit(); // 모달에 뜨는 생산요청 toast grid 
		
		
		// 이벤트 핸들러 호출
		deleteBtnHandler(); 	 // 필요자재 LOT grid 선택 행 삭제
		showNOModalHandler(); 	 // 미지시계획 모달 클릭 버튼 이벤트
		modalGridClickHandler(); // 미지시계획조회 모달창의 그리드 선택시 자료를 상세생산계획 Grid에 넣어주기
		planDGridChangeHandler() // 계획 관리 그리드에서의 수정
		planOrderEdit() // 생산지시그리드 editingFinish 이벤트 핸들러 
		
		
		/*------------
		// 상세계획 조회 grid
		----------------*/
	
		function planDGridInit(){
			let planDGrid = new tui.Grid({
				el: document.getElementById('planDGrid'),
				scrollX: false,
				scrollY: false,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '생산계획코드',
						name: 'pplnCd'
					},
					{
						header: '생산일수',
						name: 'pplndDays'
					},
					{
						header: '제품코드',
						name: 'prdCd'
					},
					{
						header: '제품명',
						name: 'prdNm'
					},
					{
						header: '생산계획수량',
						name: 'pplndAmt'
					},
					{
						header: '생산지시량',
						name: 'poddAmt',
						editor : 'text'
					},
					{
						header: '잔량',
						name: 'restAmt'
					}
				]
			});
			return planDGrid;
		}
		
		planDGrid.hideColumn('prdCd');
		
		
		
		/*------------
		// 생산지시 grid 
		----------------*/
		function planOrderGridInit(){
			let planOrder = new tui.Grid({
				el: document.getElementById('planOrder'),
				scrollX: false,
				scrollY: false,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '라인코드',
						name: 'plineCd',
					},
					{
						header: '제품코드',
						name: 'prdCd'
					},
					{
						header: '작업일자',
						name: 'podDates',
						editor: {
				            type: 'datePicker',
				            options: {
				              format: 'yyyy-MM-dd',
				              language : 'ko'
				            }
				          }
					},
					{
						header: '작업수량(BOX)',
						name: 'poddAmt',
						editor : {
							type : 'text'
						}
					},
					{
						header: '일자별우선순위',
						name: 'poddPrio',
						editor : {
							type : 'text'
						}
					},
					{
						header: '비고',
						name: 'ppodOther',
						editor : {
							type : 'text'
						}
					}
				]
			});
			return planOrder;
		}
		planOrder.hideColumn('prdCd');
		
		
		
		
		/*------------
		// 필요자재 grid  
		----------------*/
		function matNeedGridInit(){
			let matNeed = new tui.Grid({
				el: document.getElementById('matNeed'),
				scrollX: false,
				scrollY: false,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '제품코드',
						name: 'prdCd',
					},
					{
						header: '자재코드',
						name: 'mtrCd'
					},
					{
						header: '자재명',
						name: 'mtrNm'
					},
					{
						header: '소모량',
						name: 'bomAmt'
					}
				]
			});
			
			matNeed.on('click', function(ev){
				// 클릭한 행의 자재명, 자재코드 
	
				let mName = matNeed.getRow(ev.rowKey).name;
				let mtrCd = matNeed.getRow(ev.rowKey).mtrCd;

				$("#matLotModal").modal("show");
				
				// 모달이 로드 되는데 시간이 걸리므로 인터벌 걸어주기
				setInterval(function(){
					matLotGrid2.refreshLayout()
					},100);			
			})
			
			return matNeed;
		}
		
				
		
		/*------------
		// 필요자재 LOT grid 
		----------------*/
		
		function matLotGridInit(){
			let matLot = new tui.Grid({
				el: document.getElementById('matLot'),
				scrollX: false,
				scrollY: false,
				rowHeaders: ['checkbox', 'rowNum'],
				columns: [
					{
						header: '자재명',
						name: 'mtrNm',
					},
					{
						header: '자재LOT번호',
						name: 'mtrLot'
					},
					{
						header: '사용수량',
						name: 'matOutAmt'
					},
					{
						header: '유통기한',
						name: 'matEdate'
					},
					{
						header: '상세생산지시코드',
						name: 'poddCd'
					},
					
				]
			});
			return matLot;
		}
			
		
		
		
		/*------------
		// 모달에 뜨는 필요자재 LOT grid 
		----------------*/	
		function matLotGrid2Init(){
			let matLotGrid2 = new tui.Grid({
				el: document.getElementById('matLotGrid2'),
				// 임시 데이터
				data: [{
						
						mLot : 'RML-10000-220122001',
						sAmt : '12582324200',
						amt : '200'	,
						eDate : '2022/11/15',
						},
						{
					
						mLot : 'RML-10000-220122002',
						sAmt : '12582324200',
						eDate : '2022/11/16',
						},
						{
						
						mLot : 'RML-10000-220122003',
						sAmt : '12582324200',
						eDate : '2022/11/20',
						},
						{
						
						mLot : 'RML-10000-220122004',
						sAmt : '12582324200',
						eDate : '2022/11/17',
						}],
				scrollX: false,
				scrollY: false,
				rowHeaders: ['checkbox','rowNum'],
				columns: [
					{
						header: '자재LOT번호',
						name: 'mLot'
					},
					{
						header: '현재고',
						name: 'sAmt'
					},
					{
						header: '사용수량',
						name: 'amt',
						editor: 'text'
					},
					{
						header: '유통기한',
						name: 'eDate'
					},
				],
				summary: {
			        height: 40,
			        position: 'bottom', // or 'top'
			        columnContent: {
			          amt: {
			            template: function(valueMap) {
			              return `TOTAL: ${valueMap.sum}`;
			            }
			          }
			        }
			      }
			});
			return matLotGrid2; 
		}
		
		
		
		
		
		/*------------
		// 모달에 뜨는 생산요청 toast grid 
		----------------*/	
		function modalGridInit(){
			let modalGrid = new tui.Grid({
				el: document.getElementById('modalGrid'),
				scrollX: false,
				scrollY: false,
				
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '계획코드',
						name: 'pplnCd',
					},
					{
						header: '계획명',
						name: 'pplnName',
					},
					{
						header: '상세계획코드',
						name: 'pplndCd'
					},
					{
						header: '제품명',
						name: 'prdNm'
					},
					{
						header: '제품명',
						name: 'prdCd'
					}
				]
			});
			
			return modalGrid;
		}
		
		
		/*------------
		// 생산지시그리드 editingFinish 이벤트 핸들러 
		----------------*/
		function planOrderEdit(){
			planOrder.on('afterChange',function(ev){
				let podDates = planOrder.getValue(ev.rowKey,'podDates');
				let poddAmt = planOrder.getValue(ev.rowKey,'poddAmt');
				let poddPrio = planOrder.getValue(ev.rowKey,'poddPrio');
				let list = planOrder.getData();
             	for(let i =0; i<list.length; i++){
             		let dates = list[i].podDates;
					let amt = list[i].poddAmt;
					let prio = list[i].poddPrio;
					let prdCd = list[i].prdCd;
					if(dates != null && amt != null && prio != null){
						$.ajax({
							url : '/getNeed',
							method: "GET",
							data : {"prdCd" : prdCd},
							dataType : 'json',
							}).then(res=>{
								matNeed.resetData(res);
							})
					}
				}
			})
		}
		
		
		
		
		/*------------
		// deleteBtn 이벤트 핸들러 
		----------------*/	
		function deleteBtnHandler(){
		// 필요자재 LOT grid 선택 행 삭제
			$('#deleteBtn').on('click',function(){
				// let change = confirm("행을 삭제하시겠습니까?");
				// grid에서 삭제
				
				sweetConfirm('D', function(){
				
					// DB delete
					// ajax 받아오고
					// success : function(data){insertGrid.resetData(data);}
	
					Swal.fire('삭제 완료되었습니다');
					// grid에서 등록
					matLot.removeCheckedRows();
					// 실패
				})
			});
		}
	
		

		/*------------
		// showNOModalBtn 이벤트 핸들러 
		----------------*/	
		function showNOModalHandler(){
			// 미지시계획 모달 클릭 버튼 이벤트
			$('#showNOModal').on('click',function(){
				
				$('#noOrderModal').modal("show");
				$.ajax({
					url : '/getNoOrder',
					method: "GET",			
				}).then(res=>{
					modalGrid.resetData(res);
				})
				
				modalGrid.refreshLayout();
			});
		}
		
		/*------------
		// modalGrid 클릭 이벤트 핸들러 
		----------------*/	
		function modalGridClickHandler(){
		// 미지시계획조회 모달창의 그리드 선택시 자료를 상세생산계획 Grid에 넣어주기
			modalGrid.on('click',function(ev){
				let pplnCd = modalGrid.getRow(ev.rowKey).pplnCd;
				let prdNm  = modalGrid.getRow(ev.rowKey).prdNm;
				let pplndAmt = modalGrid.getRow(ev.rowKey).pplndAmt;
				let pplndDays = modalGrid.getRow(ev.rowKey).pplndDays;
				let prdCd = modalGrid.getRow(ev.rowKey).prdCd;
				// P.PPLN_CD, P.PPLN_NAME, D.PPLND_CD, C.PRD_NM, D.pplnd_amt
				let resetData = [{pplnCd: pplnCd, pplndDays:pplndDays, prdNm: prdNm, pplndAmt: pplndAmt,poddAmt: '',restAmt: '',prdCd:prdCd}];
				planDGrid.resetData(resetData);

				$('#noOrderModal').modal("hide");
				

				let reset = [{plineCd:'', podDates:'', poddAmt:'', poddPrio:'', ppodOther:''}]
				planOrder.resetData(reset);
			});
		}
		
		/*------------
		// 계획 관리 그리드에서의 수정
		----------------*/	
		function planDGridChangeHandler(){
			planDGrid.on('afterChange', function(ev) {
			/* 	ev.changes.forEach(change =>  {
				    if (change.nextValue === 'needReplace') {
				      // 'needReplace' is replaced with empty string
				      	change.nextValue = '';
				    }
				 	let rowKey = ev.changes[0].rowKey;
				 	let pplndAmt = planDGrid.getRow(rowKey).pplndAmt;
					let poddAmt = parseInt(planDGrid.getRow(rowKey).poddAmt);
					planDGrid.setValue(rowKey, 'restAmt', (pplndAmt-poddAmt));
					let prdCd = planDGrid.getRow(rowKey).prdCd;
					let restAmt = planDGrid.getRow(rowKey).restAmt						
				  }); */
				 
			planDGrid.on('editingFinish', function(ev){
				toastr.options = {
						  "closeButton": true,
						  "newestOnTop": true,
						  "positionClass": "toast-top-center",
						  "preventDuplicates": true,
						  "extendedTimeOut" : 0, 
						  "timeOut" : 0
				}
				 let pplndAmt = planDGrid.getRow(ev.rowKey).pplndAmt;
				 let poddAmt = ev.value;
				 planDGrid.setValue(ev.rowKey, 'restAmt', pplndAmt-poddAmt);
				 
				 if(pplndAmt < poddAmt){
					 toastr.error(`계획수량보다 지시수량이<br> 많습니다.`);
				 } else {
				 let prdCd = planDGrid.getRow(ev.rowKey).prdCd;
				 let pplndDays = planDGrid.getRow(ev.rowKey).pplndDays;
				 $.ajax({
						url : '/proOrderList',
						method: "GET",
						data : {"prdCd":prdCd,"pplndDays":pplndDays}
					}).then(res=>{
						planOrder.resetData(res);
					})
					
					planOrder.refreshLayout();
				 	}
				})
				
			});
		}
	</script>

	</div>
	<!-- 본문 끝 -->

</body>

</html>