<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<style>
.btn2 {
	padding : 10px;
	margin : 5px;
	width : 90px;
}
.row {
	margin-bottom : 20px;
	margin-top : 30px;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
</head>

<body>
	<!-- 본문 시작 -->
	<div layout:fragment="content" class="container">
		<div><button type="button" id="scheduleBtn" class="btn btn-dark btn-sm" style="float: right">공정이동표</button></div>
		<h3>생산 관리</h3>
		
	<div class="row">
		<h4>진행생산지시</h4>
		<div id="pOrderGrid"></div>
	</div>
	<div class="row">
			<h4>공정목록</h4>
			<div id="proGrid"></div>
			<div>
				<button type="button" id="restartBtn" class="btn btn-dark btn2" style="float:right;">재시작</button>
				<button type="button" id="stopBtn" class="btn btn-dark btn2" style="float:right;">긴급중지</button>
				<button type="button" id="startBtn" class="btn btn-dark btn2" style="float:right;">생산시작</button>
			</div>
		
	</div>
	

	
	<!-- 공정이동표 모달 -->
	<div class="modal" id="progressModal" tabindex="-1">
		<div class="modal-dialog modal-xl" >
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">공정이동표</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"	aria-label="Close" id="close_modal"></button>
				</div>
				<div class="modal-body">
					<div>
						<table style="margin:auto;">
							<tr>
								<td>라인코드</td>
								<td>LIN-BAR-001</td>
								<td>제폼코드</td>
								<td>MD-00100</td>
							</tr>
							<tr>
								<td>제품명</td>
								<td>얇은피 고기만두</td>
								<td>수량</td>
								<td>300</td>
							</tr>
						</table>
					</div>
					<div id="pLModalGrid"></div>
					
				</div>
			</div>
		</div>
	</div>
		
<script>

	let pOrderGrid = orderGridInit();			// 진행생산지시 grid 초기화
	let proGrid = progressGridInit();		// 공정목록 grid 초기화
	let pLModalGrid = pLModalGridInit();		// 공정이동표 모달 grid
	
	
	startBtnHandler();  		// 시작 버튼 이벤트 핸들러
	stopBtnHandler();			// 중지 버튼 이벤트 핸들러
	restartBtnHandler();		// 재시작 버튼 이벤트 핸들러
	scheduleBtnHandler();		// 공정이동표 클릭 버튼 이벤트 핸들러
	pOrderGridClickHandler();   // 진행생산지시 그리드 클릭 버튼 이벤트 핸들러

	
	/*------------
	// 진행생산지시 grid
	----------------*/
	
	function orderGridInit(){
		let pOrderGrid = new tui.Grid({
			el: document.getElementById('pOrderGrid'),
			scrollX: false,
			scrollY: false,
			rowHeaders: ['rowNum'],
			columns: [
				{
					header: '생산지시코드',
					name: 'poddCd'
				},
				{
					header: '제품코드',
					name: 'prdCd'
				},
				{
					header: '제품명',
					name: 'prdNm'
				},
				{
					header: '수량',
					name: 'poddAmt'
				},
				{
					header: '라인코드',
					name: 'plineCd'
				}
			]
		});
		
		$.ajax({
			url : '/getOProList',
			method: "GET",			
		}).then(res=>{
			pOrderGrid.resetData(res);
		})
		
		return pOrderGrid;
	}
	
	
	
	
	/*------------
	// 공정목록 grid
	----------------*/
	
	function progressGridInit(){
		let proGrid = new tui.Grid({
			el: document.getElementById('proGrid'),
			scrollX: false,
			scrollY: false,
			rowHeaders: ['rowNum'],
			columns: [
				{
					header: '공정코드',
					name: 'pproCd'
				},
				{
					header: '공정명',
					name: 'pproName'
				},
				{
					header: '설비코드',
					name: 'eqpCd'
				},
				{
					header: '설비명',
					name: 'eqpNm'
				},
				{
					header: '담당자',
					name: 'pproEmpName'
				},
				{
					header: '투입량',
					name: 'pproInAmt',
					width : '100'
				},
				{
					header: '불량량',
					name: 'pproErAmt',
					width : '100'
				},
				{
					header: '생산량',
					name: 'pproOtAmt',
					width : '100'
				},
				{
					header: '시작시간',
					name: 'pproSTime'
				},
				{
					header: '종료시간',
					name: 'pproETime'
				},
				{
					header: '상태', // 설비상태
					name: 'eqpSts',
					width : '20'
				},
			]
		});
		return proGrid;
	}
	
	
	
	
	
	/*------------
	// 공정이동표 모달 grid
	----------------*/
	
	function pLModalGridInit(){
		let pLModalGrid = new tui.Grid({
			el: document.getElementById('pLModalGrid'),
			// 임시 데이터
			data: [{
				plineNo : '',
				pproCd : '',
				pproName : '',
				eqpCd : '',
				plineCd : '',
				pproEmpName : '',
				pproInAmt : '',
				pproErAmt : '',
				pproOtAmt : ''
			}],
			scrollX: false,
			scrollY: false,
			rowHeaders: ['rowNum'],
			columns: [
				{
					header: '진행순번',
					name: 'plineNo'
				},
				{
					header: '공정코드',
					name: 'pproCd'
				},
				{
					header: '공정명',
					name: 'pproName'
				},
				{
					header: '설비코드',
					name: 'eqpCd'
				},
				{
					header: '설비명',
					name: 'plineCd'
				},
				{
					header: '담당자',
					name: 'pproEmpName'
				},
				{
					header: '투입량',
					name: 'pproInAmt'
				},
				{
					header: '불량량',
					name: 'pproErAmt'
				},
				{
					header: '생산량',
					name: 'pproOtAmt'
				}
			]
		});
		return pLModalGrid;
	}
	
	
	
	/*------------
	// 진행생산지시 그리드 클릭 버튼 이벤트 핸들러
	----------------*/
	function pOrderGridClickHandler(){
		$('#pOrderGrid').on('click',function(ev){
			let data = pOrderGrid.getData();
			let plineCd = data[0].plineCd;
			let pproInAmt = data[0].poddAmt;
			$.ajax({
				url : '/flowProgress',
				data : {"plineCd" : plineCd},
				contentType: 'application/json',
				dataType : 'json',
				method: "GET",
				success : function(data){
					proGrid.resetData(data);
					proGrid.setValue(0,'pproInAmt',pproInAmt);
				},
				error : function(reject){console.log(reject);}				
			})
			
		})
	}
	


	
	/*------------
	// sweetConfirm 
	----------------*/
	function sweetConfirm(msg, ic, callBack){
		let msgA = {'S':'시작', 'T':'중지', 'R':'재시작'}

		 Swal.fire({
		      title: `${msgA[msg]} 하시겠습니까?`,
		      icon: ic,
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '승인',
		      cancelButtonText: '취소'
		      
		    }).then((result) => {
		    if(result.isConfirmed){
		     	callBack();
		    }
		     
		     })
		     
	}
	
		
	
	
	
	/*------------
	// 공정표 클릭 버튼 이벤트 핸들러
	----------------*/
	function scheduleBtnHandler(){
		// 모달 클릭 버튼 이벤트
		$('#scheduleBtn').on('click',function(){
	
			 $("#progressModal").modal("show");

			// 모달이 로드 되는데 시간이 걸리므로 인터벌 걸어주기
			setInterval(function(){
				pLModalGrid.refreshLayout()
				},100);	
		});
	}
	
	
	
	/*------------
	// 시작 버튼 이벤트 핸들러
	----------------*/
	function startBtnHandler(){

		$('#startBtn').on('click',function(){
			// sweetalert2
			sweetConfirm('S', 'success',function(){
				// 생산시작
				// 설비상태 : 가동으로 업데이트 ajax : update

				let eqpCd = proGrid.getValue(0,'eqpCd');
				let plineCd = proGrid.getValue(0,'plineCd');
				let pproCd = proGrid.getValue(0,'pproCd');
				let pproInAmt = proGrid.getValue(0,'pproInAmt');
				
				// 설비 -> 가동으로 변경.
				/* $.ajax({
					url : '/eqpUpdate',
					method: 'POST',
					data :  {"eqpCd" : eqpCd, "plineCd" : plineCd, "pproCd" : pproCd, "pproInAmt": pproInAmt},
					dataType : 'json',
					success : function(data){
							// grid에서 수정
							proGrid.resetData(data);
							proGrid.refreshLayout();
							},
					error : function(reject){
							console.log(reject);
							// 실패
					}			 		  
				}); */
				/* // 설비 -> 대기로 변경.
				$.ajax({
					url : '/eqpUpdate',
					method: 'POST',
					data :  {"eqpCd" : eqpCd},
					dataType : 'json',
					success : function(data){
							// grid에서 수정
							proGrid.resetData(data);
							proGrid.refreshLayout();
							},
					error : function(reject){
							console.log(reject);
							// 실패
					}			 		  
				}); */
				
				let date = dayjs();
				let time = date.format("YYYY-MM-DD HH:mm:ss");
				
				var am = 0;
				var interval = setInterval(viewProgress(),1000); // 변수를 선언해줄경우 1번 실행
				
				function viewProgress(){
					
					proGrid.setValue(am,'pproSTime', time);
					
					setInterval(function(){
						let time = date.add(40,"second").format("YYYY-MM-DD HH:mm:ss");
						let pproInAmt = proGrid.getValue(am,'pproInAmt');
						let pproErAmt = proGrid.getValue(am,'pproErAmt');
						let amt = pproInAmt-pproErAmt;
						proGrid.setValue(am,'pproOtAmt',amt);
						proGrid.setValue(am,'pproErAmt',0)
						proGrid.setValue(am,'pproETime', time);
						am++;
						proGrid.setValue(am,'pproInAmt', amt);
						time = date.add(40,"second").format("YYYY-MM-DD HH:mm:ss");
						proGrid.setValue(am,'pproSTime', time);
						proGrid.refreshLayout();
					},1000)
				}
				

				
				
				/* setTimeout(function(){
					proGrid.setValue(0,'pproSTime', time);
					proGrid.refreshLayout();
					},100)
					
				setTimeout(function(){
					let time = date.add(40,"second").format("YYYY-MM-DD HH:mm:ss");
					//time = (time + ":30"); 
					let pproInAmt = proGrid.getValue(0,'pproInAmt');					
					proGrid.setValue(0,'pproErAmt',0)
					let pproErAmt = proGrid.getValue(0,'pproErAmt');
					let amt = pproInAmt-pproErAmt;
					proGrid.setValue(0,'pproOtAmt',amt);
					proGrid.setValue(0,'pproETime', time);
					proGrid.setValue(1,'pproInAmt', amt);					
					proGrid.refreshLayout();
					},1000)
				// 상태가 대기면 -> update p_pro 테이블
				
				let sts = proGrid.getValue(0,'eqpSts');
				console.log(sts); */
				
				
				
				
			})

			// 설비의 상태가 가동중이면 ajax update
			
		})
	}
	
	/*------------
	// 긴급중지 버튼 이벤트 핸들러
	----------------*/
	function stopBtnHandler(){

		$('#stopBtn').on('click',function(){
			// sweetalert2
			sweetConfirm('T', 'error', function(){
				clearInterval(interval);
				
			})

			// 갖고온 start, end 값을 넘겨서 select 해오기
			// ajax 받아오고
			// success : function(data){manageGrid.resetData(data);}
			
		})
	}
	
	
	
	/*------------
	// 재시작 버튼 이벤트 핸들러
	----------------*/
	function restartBtnHandler(){

		$('#restartBtn').on('click',function(){
			// sweetalert2
			sweetConfirm('R', 'info', function(){
				
				
			})

			// 갖고온 start, end 값을 넘겨서 select 해오기
			// ajax 받아오고
			// success : function(data){manageGrid.resetData(data);}
			
		})
	}
	
</script>		
</div>
</body>
</html>