<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<style type="text/css">
.modal-header{
text-align: center;
}
.need {
	margin-bottom : 100px;
}
</style>
</head>

<body>
	<div layout:fragment="content" class="container">
		<div class="row">
			
			<table>
				<tr>
					<td>
						<button type="button" id="showNOModal" class="btn btn-dark btn-sm"
						style="width: 140px" data-bs-toggle="modal"
						data-bs-target="#noOrderModal">생산 지시 조회</button>
					</td>
				</tr>
			</table>
			
			
			 &nbsp;&nbsp;	
		</div>
		<div class="row">
			<div class="col-6">
				<h4>상세생산계획</h4>
				<div id="planDGrid"></div>
			</div>
			<div class="col-6">
				<h4>생산지시</h4>
				<div id="planOrder"></div>
			</div>
		</div>

		
		<script>
		/* token */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");

		// 그리드 초기화
	
		let matLot = matLotGridInit(); 		 // 필요자재 LOT grid 
		let matLotGrid2 = matLotGrid2Init(); // 모달에 뜨는 필요자재 LOT grid 
		let modalGrid =  modalGridInit(); // 모달에 뜨는 생산요청 toast grid 
		
		
		// 이벤트 핸들러 호출

		modalGridClickHandler(); // 미지시계획조회 모달창의 그리드 선택시 자료를 상세생산계획 Grid에 넣어주기
		planDGridChangeHandler() // 계획 관리 그리드에서의 수정
		planOrderEdit(); 		 // 생산지시그리드 editingFinish 이벤트 핸들러 
		orderBtnHandler(); 		 // 생산 지시 버튼 이벤트 핸들러
		
	
		
	
	
		

	</script>

	</div>
	<!-- 본문 끝 -->

</body>

</html>