<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">


	<br>
	<h2>거래처 코드관리</h2>
	<hr>
	<br>
	
	<table>
		<tr>
			<td>
				<ul class="ul-style">
				<li><label for="matCode" style="width:130px">업체명</label><input id="matCode">
				&nbsp;&nbsp;&nbsp;
				<label for="matCode">거래처 코드</label><input id="matCode">
				</li>
				</ul>
			</td>
		</tr>
	
		<tr>
			<td>
				<ul class="ul-style">
				<li><label for="matCode" style="width:130px">사업자 등록번호</label><input id="matCode">
				&nbsp;&nbsp;&nbsp;
				<label for="matCode" style="width:100px">전화번호</label><input id="matCode">
				</li>
			</ul>
			</td>
		</tr>
		
		<tr>
			<td>
				<ul class="ul-style">
				<li class="d-flex">
				  <label for="matCode" style="width:130px">거래처 구분</label>
				  <input id="matCode">	&nbsp;&nbsp;&nbsp;
				  <label style="width:110px">&nbsp;&nbsp;거래상태</label>
				  <div style="width: 190px;" id="select-box"></div>
				  <div align="right">&nbsp;&nbsp;
					  <button type="button" class="btn btn-dark btn-sm">구매 거래처 등록</button>&nbsp;
					  <button type="button" class="btn btn-dark btn-sm">거래처 수정</button>
				  </div>
				</li>
			</ul>
			</td>
		</tr>
			
	</table>
	
	
	<div id="grid"></div>
	
	<br>
	
	<script>
		const gridData = [ {
      no: '1',
      actname: 'HS-001',
      actcode: 'VDR-10001',
      bsnumber : '300014-141',
      tel : '02-123-1234',
      actdistribute : '자재',
      actstatus : '0'
	  
	  },
	  {
	      no: '2',
	      actname: 'HS-001',
	      actcode: 'VDR-10001',
	      bsnumber : '300014-141',
	      tel : '02-123-1234',
	      actdistribute : '자재',
	      actstatus : '0'
		  
	  },
	  {
	      no: '3',
	      actname: 'HS-001',
	      actcode: 'VDR-10001',
	      bsnumber : '300014-141',
	      tel : '02-123-1234',
	      actdistribute : '자재',
	      actstatus : '0'
		  
	  }
    
  ];
		
		// 렌더링 에디터 (라디오박스)
		
		 class CustomSliderRenderer {
	      constructor(props) {
	        const el = document.createElement('div');
	        el.innerHTML = `<input type ="radio" value="1" name="use">yes &nbsp;&nbsp;&nbsp;&nbsp;
	        <input type ="radio" value="2" name="use">no`;
	        this.el=el;
	        this.render(props);
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        this.el.value = String(props.value);
	      }
	    }
		

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : gridData.slice(0, 6),
		    bodyHeight: 500,
			scrollX : true,
			scrollY : false,
			columns : [ {
				header : 'No',
				name : 'no',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        
			}, {
				header : '업체명',
				name : 'actname',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '거래처 코드',
				name : 'actcode',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '사업자 등록번호',
				name : 'bsnumber',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '전화번호',
				name : 'tel',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '거래처구분',
				name : 'actdistribute',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        editor: 'text'
			}, {
				header : '거래 상태',
				name : 'actstatus',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center',
		        renderer: {
			    type: CustomSliderRenderer,
			            
			    } 
			}, 
		],
		showDummyRows: true
	});
		
	// 렌더링 에디터 (라디오박스)
		
	   grid.resetData(gridData);
	
	// toast - select box
	
	var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '거래상태',
			data : [ {
				label : 'Yes',
				value : 'Yes' // 코드 바꾸기
			}, {
				label : 'No',
				value : 'No'
			} ],
			autofocus : true
		});
    </script>
    
</div>