<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">

<div class="row">
	<br>
	<h2>공통코드관리</h2>
	<hr>

	
	<div class="col-4">
	공통 코드 검색&nbsp;&nbsp;
		<input type="text" size="15">
		<button type="button" class="btn btn-dark btn-sm">검색</button>
		<div id="grid" style="width: 400px"></div>
	</div>
	
	<div class="col-4">
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">코드 조회</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">그룹 코드</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><div id="grid2" style="width: 400px"></div></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><div id="grid3" style="width: 400px"></div></div>
</div>


<div class="row">
	<div class="col-4">
		<div id="grid" style="width: 400px"></div>
	</div>
	<div class="col-4">
		<div id="grid2" style="width: 400px"></div>
	</div>
</div>
	

	<script>
		const gridData = [ {
			no : '1',
			groupcode : 'ABC001',
			groupcodename : '규격',
		}, {
			no : '2',
			groupcode : 'ABC002',
			groupcodename : '단위',
		}, {
			no : '3',
			groupcode : 'ABC003',
			groupcodename : '설비상태',
		}, {
			no : '4',
			groupcode : 'ABC004',
			groupcodename : '단위',
		}, {
			no : '5',
			groupcode : 'ABC005',
			groupcodename : '단위',
		}, {
			no : '6',
			groupcode : 'ABC006',
			groupcodename : '규격',
		}, {
			no : '7',
			groupcode : 'ABC006',
			groupcodename : '규격',
		}, {
			no : '8',
			groupcode : 'ABC006',
			groupcodename : '규격',
		}, {
			no : '9',
			groupcode : 'ABC006',
			groupcodename : '규격',
		}, {
			no : '10',
			groupcode : 'ABC006',
			groupcodename : '규격',
		}, {
			no : '11',
			groupcode : 'ABC006',
			groupcodename : '규격',
		},

		];
		
		const gridData3 = [ {
			code : 'STATE-1',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		},
		{
			code : 'STATE-2',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		},
		{
			code : 'STATE-3',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		},
		{
			code : 'STATE-4',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		}
		];
		
		const gridData2 = [ {
			code : 'STATE-1',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		},
		{
			code : 'STATE-2',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		},
		{
			code : 'STATE-3',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		},
		{
			code : 'STATE-4',
			codename : '가동',
			codedetail : '가동 중을 뜻하는 코드',
			codestatus : '사용여부'
		}
		];

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			bodyHeight : 300, // 스크롤

			data : gridData,
			width : 400,
			scrollX : true,
			scrollY : true,

			columns : [ {
				header : 'No',
				name : 'no'
			}, {
				header : '그룹 코드',
				name : 'groupcode'
			}, {
				header : '그룹 코드 이름',
				name : 'groupcodename'
			} ],

		});
		
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			bodyHeight : 300, // 스크롤

			data : gridData2,
			width : 900,
			scrollX : true,
			scrollY : true,

			columns : [ {
				header : '코드',
				name : 'code'
			}, {
				header : '코드 이름',
				name : 'codename'
			}, {
				header : '코드 상세',
				name : 'codedetail'
			},
			{
				header : '사용 여부',
				name : 'codestatus'
			}
			],

		});
		
		const grid3 = new tui.Grid({
			el : document.getElementById('grid3'),
			bodyHeight : 300, // 스크롤

			data : gridData3,
			width : 900,
			scrollX : true,
			scrollY : true,

			columns : [ {
				header : '코드',
				name : 'code'
			}, {
				header : '코드 이름',
				name : 'codename'
			}, {
				header : '코드 상세',
				name : 'codedetail'
			},
			{
				header : '사용 여부',
				name : 'codestatus'
			}
			],

		});
	</script>


	

</div>