<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">


	<br>
	<h2>직원관리</h2>
	<hr>
	<br> <br>

	<div align="right">
		직원 이름 <input type="text" name="EMP_NM" size="15">
		<button type="button" class="btn btn-dark btn-sm">검색</button>
		<button type="button" class="btn btn-dark btn-sm">초기화</button>
	</div>

	<br>

	<div id="grid"></div>

	<div align="right">
		<br> <br>
		
			<button type="button" class="btn btn-dark btn-sm"
				data-bs-toggle="modal" data-bs-target="#staticBackdrop1" id="insertBtn">회원 등록</button>
		
			<!-- 모달창 1번 -->
			<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form action="#" method="post">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="staticBackdropLabel">회원 등록</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" id="insertModalClose"
									aria-label="Close"></button>
							</div>
					    
							<!-- 모달창 input type -->
							<div class="modal-body">
		
							
							  <div class="mb-2 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">계정 아이디</label>
							    <div class="col-sm-9">
							      <input type="text" name="EMP_ID" class="form-control" id="id">
							    </div>
							  </div>
							  
							  	<div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">비밀번호</label>
							    <div class="col-sm-9">
							      <input type="text" name="EMP_PW" class="form-control" id="pw">
							    </div>
							  </div>
							  
							  	<div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">비밀번호확인</label>
							    <div class="col-sm-9">
							      <input type="text" name="EMP_PW" class="form-control" id="pwcorrect">
							    </div>
							  </div>
							  
							  	<div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">직원 이름</label>
							    <div class="col-sm-9">
							      <input type="text" name="EMP_NM" class="form-control" id="EMP_NM">
							    </div>
							  </div>
							  
							  	<div class="mb-3 row">
							    <label for="staticEmail" class="col-sm-3 col-form-label">직급 정보</label>
							    <div class="col-sm-9">
							      <input type="text" name="EMP_ROLE" class="form-control" id="role">
							    </div>
							  </div>
		
		
							</div>
					    
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" name="insertBtn" id="insertBtn">등록</button>
								<input type="reset" class="btn btn-secondary" name="reset">
							</div>
						</div>
					</form>
				</div>
			</div>
		
		

		<button type="button" class="btn btn-dark btn-sm"
			data-bs-toggle="modal" data-bs-target="#staticBackdrop2" name="mainUpdateBtn" id="mainUpdateBtn">회원 수정</button>

		<!-- 모달창 2번 -->
		<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form action="#" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">회원 수정</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" id="updateModalClose"
								aria-label="Close"></button>
						</div>
	
						<!-- 모달창 input type -->
						<div class="modal-body">
							
							<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">계정 아이디</label>
						    <div class="col-sm-9">
						      <input type="text" name="EMP_ID" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  	<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">비밀번호</label>
						    <div class="col-sm-9">
						      <input type="text" name="EMP_PW" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  	<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">비밀번호확인</label>
						    <div class="col-sm-9">
						      <input type="text" name="EMP_PW" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  	<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">직원 이름</label>
						    <div class="col-sm-9">
						      <input type="text" name="EMP_NM" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  	<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">입사일</label>
						    <div class="col-sm-9">
						      <input type="text" name="EMP_DATE" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  	<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">부서명</label>
						    <div class="col-sm-9">
						      <input type="text" name="DEPT_NM" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  	<div class="mb-3 row">
						    <label for="staticEmail" class="col-sm-3 col-form-label">직급 정보</label>
						    <div class="col-sm-9">
						      <input type="text" name="EMP_ROLE" class="form-control" id="distributeCodeName">
						    </div>
						  </div>
						  
						  
						</div>
	
	
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" name="updateBtn">수정</button>
							<input type="reset" class="btn btn-secondary" name="reset">
						</div>
					</div>
				</form>
			</div>
		</div>

		<button type="button" class="btn btn-dark btn-sm"
			data-bs-toggle="modal" data-bs-target="#staticBackdrop3">회원 삭제</button>

		<!-- 모달창 3번 -->
		<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">삭제 확인</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" align="center">정말 해당 해원을 삭제 하시겠습니까?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="deleteBtn" name="deleteBtn">확인</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>


	</div>
	
	<script>
	
	 class RowNumberRenderer {
	      constructor(props) {
	        const el = document.createElement('span');
	        el.innerHTML = `No.${props.formattedValue}`;
	        this.el = el;
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        this.el.innerHTML = `No.${props.formattedValue}`;
	      }
	    }

	    class CheckboxRenderer {
	      constructor(props) {
	        const { grid, rowKey } = props;

	        const label = document.createElement('label');
	        label.className = 'checkbox tui-grid-row-header-checkbox';
	        label.setAttribute('for', String(rowKey));

	        const hiddenInput = document.createElement('input');
	        hiddenInput.className = 'hidden-input';
	        hiddenInput.id = String(rowKey);

	        const customInput = document.createElement('span');
	        customInput.className = 'custom-input';

	        label.appendChild(hiddenInput);
	        label.appendChild(customInput);

	        hiddenInput.type = 'checkbox';
	        label.addEventListener('click', (ev) => {
	          ev.preventDefault();

	          if (ev.shiftKey) {
	            grid[!hiddenInput.checked ? 'checkBetween' : 'uncheckBetween'](rowKey);
	            return;
	          }

	          grid[!hiddenInput.checked ? 'check' : 'uncheck'](rowKey);
	        });

	        this.el = label;

	        this.render(props);
	      }

	      getElement() {
	        return this.el;
	      }

	      render(props) {
	        const hiddenInput = this.el.querySelector('.hidden-input');
	        const checked = Boolean(props.value);

	        hiddenInput.checked = checked;
	      }
	    }

	
		const gridData = [ {
			EMP_NO : '1100',
			EMP_NM : '홍길동',
			EMP_DATE : '2002/07/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1101',
			EMP_NM : '김길동',
			EMP_DATE : '2008/02/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1123',
			EMP_NM : '홍길동',
			EMP_DATE : '2002/07/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1154',
			EMP_NM : '황길동',
			EMP_DATE : '2003/11/15',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1199',
			EMP_NM : '최길동',
			EMP_DATE : '2006/07/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1207',
			EMP_NM : '홍길동',
			EMP_DATE : '2002/04/25',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'

		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, {
			EMP_NO : '1500',
			EMP_NM : '홍길동',
			EMP_DATE : '2004/03/05',
			EMP_ID : 'no',
			DEPT_NM : '영업부',
			EMP_ROLE : '0'
		}, ];
		
   
		const grid = new tui.Grid({
			
			rowHeaders: ['rowNum', 'checkbox'], // 체크박스
			
			el : document.getElementById('grid'),

			bodyHeight: 500, // 스크롤
			
			data : gridData,
				
			scrollX : false,
			scrollY : true,
			columns : [ {	
				header : '직원 번호',
				name : 'EMP_NO',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			}, {
				header : '직원이름',
				name : 'EMP_NM',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			}, {
				header : '입사일',
				name : 'EMP_DATE',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			}, {
				header : '계정아이디',
				name : 'EMP_ID',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			}, {
				header : '부서명',
				name : 'DEPT_NM',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			}, {
				header : '직급정보',
				name : 'EMP_ROLE',
				sortingType: 'desc',
		        sortable: true,
		        align: 'center'
			}  ],
			
		});
		
		// 체크박스
		 grid.on('check', function(ev) {
		      console.log('check', ev);
		    });

		    grid.on('uncheck', function(ev) {
		      console.log('uncheck', ev);
		    });
		    
	
	//모달창 초기화 버튼

    $('.modal').on('hidden.bs.modal', function(e){
      $(this).find('form')[0].reset()
    });
	
	
	//회원 등록하기
	
	document.getElementsByName('insertBtn')[0].addEventListener('click', function(){
		
		let rowData = {EMP_ID: "", EMP_NM: "", EMP_DATE: "", EMP_ID: "", DEPT_NM: "", EMP_ROLE: ""};
		grid.appendRow(rowData);
		
		insertModalClose.click();
	})
	
	//회원 수정하기
	
	document.getElementsByName('updateBtn')[0].addEventListener('click', function(){
		
		grid.setEditOptions({editable: true});
		
		updateModalClose.click();
	})
	
	/*
	회원수정 버튼에 클릭이벤트를 건다. 체크된 row의 정보를 가지고 온다.
	*/
	
	$("#mainUpdateBtn").click(function(){
		let rowData = grid.getCheckedRows();
		console.log(rowData[0].DEPT_NM);
		if (rowData.length > 1) {
			alert('한개만가져와좀..');
			return;
		}
		 /*
		 rowData의 각각 정보를 각각 변수에 담는다.
		 모달의 input태그들의 value값에 변수들을 담아준다.
		 */
	});
	
/* 	document.getElementsByName('updateBtn')[0].addEventListener('click', function(){
		
	})
 */	
	
	$("#updateBtn").click(function(){
		var rowData = new Array();
		var tdArr = new Array();
		var checkbox = $("input[name=updateBtn]:checked");
	});
		
 
	//회원 삭제하기
	
	document.getElementsByName('deleteBtn')[0].addEventListener('click',function(){
		let showConfirm = false;
		grid.removeCheckedRows();
		
	});
	
	
	
	
	</script>

</div>