<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<style type="text/css">
#select-box .tui-select-box {

width:80%;	display: inline;
}
</style>
</head>
<div class="container" layout:fragment="content">


	<br>
	<h2>자재 코드 관리</h2>
	<hr>

	<br> <br> <br>

	<div class="container">
		<div class="row row-cols-2">
			<div class="col"></div>

			<div class="col"></div>

			<div class="col-7">
				<div id="grid"></div>
			</div>

			<div class="col-5">
				<div id="gird2"></div>


				<b>자재 정보 표시</b>
				<hr>

				<div id="input-group">
					<ul class="ul-style">
						<li><label for="matCode">자재코드</label><input id="matCode">
						&nbsp;&nbsp;&nbsp;
						<label for="matCode" style="width:80px">자재명</label><input id="matCode">
						</li>
					</ul>
					
				</div>
				
				<hr>
				
				<div class="mb-3 row">
					<label class="col-sm-2">&nbsp;규격</label>
					<span class="col-sm-4" style="width: 195px;" id="select-box"></span>
					<label class="col-sm-2">작업단위</label>
					<span class="col-sm-4" style="width: 185px;" id="select-box2"></span>
				</div>
				<hr>
				
				<ul class="ul-style">
					<li><label for="matNm">자재명</label><input id="matNm" readonly>
						<img id="matNm" class="Magnifying-Glass-img" alt="image"
							 data-bs-toggle="modal" data-bs-target="#exampleModal"
							 src="../images/Magnifying_Glass.png" >
						<input type="text" readonly>
					</li>
				</ul>
				
				<!-- Modal -->
			      <div class="modal fade" id="exampleModal" tabindex="-1"
			         aria-labelledby="exampleModalLabel" aria-hidden="true">
			         <div class="modal-dialog">
			            <div class="modal-content">
			               <div class="modal-header">
			                  <h4 class="modal-title" id="exampleModalLabel">거래처 코드 목록</h4>
			                  <button type="button" class="btn-close" data-bs-dismiss="modal"
			                     aria-label="Close"></button>
			               </div>
			               <div class="modal-body">
			               <br>
			               		<h4 align="center"><b>거래처 검색</b></h4>
			               		<br>
			               		
			               		설비명<input type="text">
			               		<button type="button" class="btn btn-dark btn-sm"
			                     data-bs-dismiss="modal">조회</button>
			                  	<button type="button" class="btn btn-dark btn-sm">초기화</button>
			               		<div id="modalGrid1"></div>
			               		
			               		<br>
			               		<div id="grid2"></div>
			               			
			               
			               </div>
			            </div>
			         </div>
			      </div>
				
				<hr>

				<div class="mb-3 row">
					<label class="col-sm-2" style="width:100px">&nbsp;안전재고</label>&nbsp;
					<span class="col-sm-4" style="width: 190px;"><input type="text"></span>
				</div>
				
				<hr>
				
				사용 유무&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="use" id="inlineRadio1" value="option1">
					  <label class="form-check-label" for="inlineRadio1">YES</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="use" id="inlineRadio2" value="option2">
					  <label class="form-check-label" for="inlineRadio2">NO</label>
					</div>
					
				<hr>
					<div align="right">
					<button type="button" class="btn btn-dark btn-sm">저장</button>&nbsp;
					<button type="button" class="btn btn-dark btn-sm">초기화</button>
					</div>

			</div>

		</div>


	</div>


	<script>
		const gridData = [ {
			no : '1',
			matcode : 'HS-001',
			matname : '고기',
			standard : '50kg',
			workunit : 'BOX',
			safeamount : '1000',
			matdivision : '원자재'
		}, {
			no : '2',
			matcode : 'HS-001',
			matname : '고기',
			standard : '50kg',
			workunit : 'BOX',
			safeamount : '1000',
			matdivision : '원자재'
		}, {
			no : '3',
			matcode : 'HS-001',
			matname : '고기',
			standard : '50kg',
			workunit : 'BOX',
			safeamount : '1000',
			matdivision : '원자재'
		}

		];
		
		const gridData2 = [ {
			no : '1',
			actcode : 'LHS1005',
			actname : '만두머신-4',
			corporateregnum : '477001-20',
			tel : '053-555-1881'
		},
		{
			no : '2',
			actcode : 'LHS1005',
			actname : '만두머신-4',
			corporateregnum : '477001-20',
			tel : '053-555-1881'
		},
		{
			no : '3',
			actcode : 'LHS1005',
			actname : '만두머신-4',
			corporateregnum : '477001-20',
			tel : '053-555-1881'
		},{
			no : '4',
			actcode : 'LHS1005',
			actname : '만두머신-4',
			corporateregnum : '477001-20',
			tel : '053-555-1881'
		}
		];

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			data : gridData.slice(0, 6),
			bodyHeight : 600,
			scrollX : true,
			scrollY : false,
			columns : [ {
				header : 'No',
				name : 'no'
			}, {
				header : '자재 코드',
				name : 'matcode'
			}, {
				header : '자재명',
				name : 'matname'
			}, {
				header : '규격',
				name : 'standard'
			}, {
				header : '작업단위',
				name : 'workunit'
			}, {
				header : '안전재고',
				name : 'safeamount'
			}, {
				header : '제품구분',
				name : 'matdivision'
			} ],
			showDummyRows : true
		});
		
		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			data : gridData2.slice(0, 6),
			bodyHeight : 600,
			scrollX : true,
			scrollY : false,
			columns : [ {
				header : 'No',
				name : 'no'
			}, {
				header : '거래처 코드',
				name : 'actcode'
			}, {
				header : '거래처 업체명',
				name : 'actname'
			}, {
				header : '사업자등록번호',
				name : 'corporateregnum'
			}, {
				header : '전화번호',
				name : 'tel'
			}
			],
			showDummyRows : true
		});

		// toast - select box
		var selectBox = new tui.SelectBox('#select-box', {
			placeholder : '중량',
			data : [ {
				label : '10kg',
				value : '10kg' // 코드 바꾸기
			}, {
				label : '20kg',
				value : '20kg'
			}, {
				label : '30kg',
				value : '30kg'
			}, {
				label : '40kg',
				value : '40kg'
			}, {
				label : '50kg',
				value : '50kg'
			}, {
				label : '60kg',
				value : '60kg'
			}, {
				label : '70kg',
				value : '70kg'
			}, {
				label : '80kg',
				value : '80kg'
			}, {
				label : '90kg',
				value : '90kg'
			}, {
				label : '100kg',
				value : '100kg'
			} ],
			autofocus : true
		});
		
		var selectBox2 = new tui.SelectBox('#select-box2', {
			placeholder : '단위',
			data : [ {
				label : 'BOX',
				value : 'BOX' // 코드 바꾸기
			}, {
				label : 'EA',
				value : 'EA'
			},
			{
				label : 'BUNDLE',
				value : 'BUNDLE'
			}
			],
			autofocus : true
		});
		
		//모달창 리프레시(모달창에 그리드 화면 띄울때 써야함!)
	      exampleModal.addEventListener('shown.bs.modal', () => {
	            grid2.refreshLayout(); //모달창 새로고침
	       })
	</script>

</div>