<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.eqp.mapper.EqpMapper">
	<select id="getEqpList" resultType="com.mandu.yamyam.common.LowerKeyMap"> 
		SELECT e.eqp_cd,
		       e.eqp_nm,
		       e.md_nm,
		       find_act_name(a.act_cd) as "act_nm",
		       trunc(e.mk_date) as "mk_date",
		       trunc(e.buy_date) as "buy_date",
		       e.high_temp,
		       e.low_temp,
		       e.chk_cycle,
		       e.eqp_type,
		       e.eqp_sts
		 FROM e_eqp e JOIN c_act a
		   ON (e.act_cd = a.act_cd)
	</select>
	
	<select id="getEqpActList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT act_cd, act_nm
		FROM c_act
		WHERE act_div = 'ACT-TYPE3'
	</select>
</mapper>