<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>YAMYAM</title>

<style>
#od-btn {
   display: inline-block; margin: 0 5px; float: right;
}

</style>
</head>
<body>
<div class="container" layout:fragment="content">
   <div id="od-title">
      <h3>주문서 관리</h3>
   </div>
   
   <div id="odAd-content">
      <div id="input-group">
         <ul class="ul-style">
      <li><table id="form-check">
   <tr>
      <td>진행 상황</td>
      <td>
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="odAll" value="option1" checked>
        <label class="form-check-label" for="odAll">전체</label>
      </td>
   
      <td>
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="odIng" value="option2">
        <label class="form-check-label" for="odIng">진행</label>
      </td>
   
      <td>
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="odEnd" value="option3">
        <label class="form-check-label" for="odEnd">완료</label>
      </td>
   </tr>
   </table>
      </li>

      <li><label for="actCd">거래처</label><input type="text" 
          data-bs-toggle="modal" data-bs-target="#actModal2" id="actCd">
          <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png">
          <input type="text" class="back" readonly id="actNm"><br></li>

         <li><label for="prdNm">제품명</label><input type="text" 
            data-bs-toggle="modal" data-bs-target="#prdModal2" id="prdCd">
            <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png">
            <input type="text" class="back" readonly id="prdNm"><br></li>

            <li><label>주문일자</label>
               <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                  <input id="startpicker-input" type="text" aria-label="Date">
                  <span class="tui-ico-date"></span>
                  <div id="startpicker-container" style="margin-left: -1px;"></div>
               </div>
               <span>-</span>
               <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                  <input id="endpicker-input" type="text" aria-label="Date">
                  <span class="tui-ico-date"></span>
                  <div id="endpicker-container" style="margin-left: -1px;"></div>
               </div>
            
               <button class="btn btn-dark btn-sm" id="searchBtn">조회</button>
               <button type="button" class="btn btn-dark btn-sm" id="cancelBtn">초기화</button></li>
               </ul>
               
		<!-- 거래처 Modal -->
	  <div class="modal" id="actModal" tabindex="-1"
	  		aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
	              <button type="button" class="btn-close" data-bs-dismiss="modal"
	               aria-label="Close"></button>
	            </div>
	             <div class="modal-body">
               <div id="actModalGrid"></div>
               </div>
	          </div>
	        </div>
	   </div>   
	   
	   
	   
	   <!-- 거래처 Modal2 -->
	  <div class="modal" id="actModal2" tabindex="-1"
	  		aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	          <div class="modal-content">
	            <div class="modal-header">
	              <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
	              <button type="button" class="btn-close" data-bs-dismiss="modal"
	               aria-label="Close"></button>
	            </div>
	             <div class="modal-body">
               <div id="actModalGrid2"></div>
               </div>
	          </div>
	        </div>
	   </div>
	   
	   
	   <!-- 제품명 Modal -->
      <div class="modal" id="prdModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div id="prdModalGrid"></div>
               </div>
            </div>
         </div>
      </div>
      
      
      <!-- 제품명 Modal2 -->
      <div class="modal" id="prdModal2" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div id="prdModalGrid2"></div>
               </div>
            </div>
         </div>
      </div>
</div>
</div>

   <div id="od-btn">
   <button class="btn btn-dark btn-sm" id="insertBtn">추가</button>
   <button class="btn btn-dark btn-sm" id="deleteBtn">선택삭제</button>
   <button class="btn btn-dark btn-sm" id="saveBtn">저장</button>
   <button class="btn btn-dark btn-sm" id="exportBtn">엑셀 파일 출력</button>
   </div>
   <br>
<div id="grid"></div>

<script>

	
	/*------------
	// function
	----------------*/
	getOrdList();			// grid List DB에서 불러오기 
	cancelBtnHandler();  	// date picker input 값 초기화 버튼
	searchBtnHandler();		// 검색 버튼 핸들러
	deleteBtnHandler();		// 삭제 버튼 핸들러
	SaveBtnHandler();
	
	let actModalGrid = actGridInit();
	let actModalGrid2 = actGridInit2();
	
	let prdModalGrid = prdGridInit();
	let prdModalGrid2 = prdGridInit2();

	/*------------
	// 데이트피커
	----------------*/
   rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')
  
   
   /*------------
	// 검색버튼 이벤트 핸들러
	----------------*/
	function searchBtnHandler(){
		$('#searchBtn').on('click',function(){
			let getactName = $("actCd").val();
			let getprdName = $("prdCd").val();
			let getStartDay = $("startpicker-input").val();
			let getEndDay = $("#endpicker-input").val();
		});
	}
   
	
   /*------------
	// 주문 조회 초기화 버튼
	----------------*/
	function cancelBtnHandler(){
		$('#cancelBtn').on('click',function(){
			$("#startpicker-input").val(today);
			$("#endpicker-input").val(today);
			$("#actCd").val("");
			$("#actNm").val("");
			$("#prdCd").val("");
			$("#prdNm").val("");
		});	
	}
   
   
    /*------------
	// 주문서 리스트 그리드
	----------------*/
	let grid = new tui.Grid({
	    el: document.getElementById('grid'),
	    rowHeaders: ['checkbox','rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '주문 일자',
	        align : 'center',
	        name: 'odDate'
	      },
	      {
	        header: '주문 코드',
	        align : 'center',
	        name: 'odCd'
	      },
	      {
	        header: '제품 코드',
	        align : 'center',
	        name: 'prdCd'
	      },
	      {
	        header: '제품명',
	        align : 'center',
	        name: 'prdNm'
	      },
	      {
	        header: '주문량',
	        align : 'center',
	        name: 'odAmt',
	        editor: 'text',
			// 필수 입력 값
			validation: {
			     dataType: 'text',
			     required: true
			      }
	      },
	      {
	        header: '거래처 코드',
	        align : 'center',
	        name: 'actCd'
	      },
	      {
	        header: '거래처명',
	        align : 'center',
	        name: 'actNm'
	      },
	      {
	        header: '납기 일자',
	        align : 'center',
	        name: 'deDate',
	        editor: 'datePicker',
	        validation: {
			     dataType: 'datePicker',
			     required: true
			      }
	      },
	      {
	        header: '진행 상황',
	        align : 'center',
	        name: 'sts'
	      },
	    ]
	  });

    
	/*------------
	// 주문서 리스트 가져오기
	----------------*/
	  function getOrdList() {
          $.ajax({
             url : '/ordList',
             dataType : "json",
             success : function(data) {
                grid.resetData(data);
             },
             error : function(reject) {
                console.log(reject);
             }
          })
       }
    
    
    /*------------
	// 해당하는 header의 모달창 띄우기
	----------------*/
   	grid.on('click',function(ev){
		if(!ev.rowKey) {
			return;
		}
   		if(ev.columnName =='actCd'){
   			$('#actModal').modal('show');
   		 actModalGrid.refreshLayout();
   		}else if (ev.columnName =='prdCd'){
   	   			$('#prdModal').modal('show');
   	   		 prdModalGrid.refreshLayout();
   	   		}
   	});

    
    
	/*------------
	// 주문서 추가 버튼
	----------------*/
   $('#insertBtn').on('click',function(){
      let rowData = [{odDate: "", odCd: "", prdCd: "", prdNm: "", odAmt: "", actCd : "" , actNm: "", deDate: "", sts:""}]
      grid.appendRow(rowData); 
	});
	
	
	
   /*------------
	// 등록 버튼 클릭
	----------------*/
	function SaveBtnHandler(){
		$('#saveBtn').on('click',function(){
			let rowData = grid.getCheckedRows();
			let ordList = [];
			for (let i=0; i<rowData.length; i++) {
				let odDate = rowData[i].odDate;
				let odCd = rowData[i].odCd;
				let prdCd = rowData[i].prdCd;
				let odAmt = rowData[i].odAmt;
				let actCd = rowData[i].actCd;
				let deDate = rowData[i].deDate;
				let odSts = rowData[i].odSts;
				ordList.push({odDate,odCd,prdCd,odAmt,actCd,deDate,odSts});
				console.log(rowData);
			
			sweetConfirm('C', function(){
						$.ajax({
							url : '/insertOrd',
							type : 'post',
							contentType: 'application/json',
							data: JSON.stringify(ordList),
							dataType : 'json',
							 success : function(result) {
				                 if(result > 0){
				                	 Swal.fire(
				       			          '등록이 완료되었습니다.'	);
				                	 grid.refreshLayout();
				                 }else {
				                	 Swal.fire(
				                			 '등록이 실패하였습니다.');
				                 }
				              },
				              error : function(reject) {
				                 console.log(reject);
				              }
						})
			})
			}
		})
		
   }

   
   
   /*------------
	// 삭제 버튼 클릭(그리드행 삭제)
	----------------*/	
	function deleteBtnHandler(){
		// grid 선택 행 삭제
		$('#deleteBtn').on('click',function(){
			let rowData = grid.getCheckedRows();
			sweetConfirm('D', function(){
				    	  $.ajax({
				              url : '/deleteOrd',
				              type: 'delete',
				              contentType: 'application/json',
								data: JSON.stringify(rowData[0]),
				              success : function(result) {
				                 if(result == 1){
				                	 Swal.fire(
				       			          '삭제가 완료되었습니다.'	);
				                 }else {
				                	 Swal.fire(
				                			 '삭제에 실패하였습니다.');
				                 }
				              },
				              error : function(reject) {
				                 console.log(reject);
				              }
				           })
				        grid.removeCheckedRows();
				      
			})
		});	
	}
   
   
	
	/*------------
	// 거래처 Modal (행 추가 시, 사용)
	----------------*/
   function actGridInit() {
		let actModalGrid = new tui.Grid({
	    el: document.getElementById('actModalGrid'),
	    data: [
	        {
	           actCd : 'VDR-1001',
	           actNm : 'AA 마트',
	           actNum : '791-10-000',
	           tel : '053-514-4512'
	        },
	        {
	           actCd : 'VDR-1002',
	           actNm : 'AB 마트',
	           actNum : '791-10-595',
	           tel : '054-861-8545'
	        }
	        ],
	    rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '거래처 코드',
	        name: 'actCd'
	      },
	      {
	        header: '거래처명',
	        name: 'actNm',
	        filter: {type: 'select'}
	      },
	      {
	        header: '사업자 등록번호',
	        name: 'actNum'
	      },
	      {
	        header: '전화번호',
	        name: 'tel'
	      }]
	  });
		return actModalGrid;
   }
	
	
	/*------------
	// 거래처 Modal 리스트 가져오기 (행 추가 시, 사용)
	----------------*/
	  function getActList() {
         $.ajax({
            url : '/ordList',
            dataType : "json",
            success : function(data) {
               grid.resetData(data);
            },
            error : function(reject) {
               console.log(reject);
            }
         })
      }
	
	
	
   /*------------
	// 거래처 Modal (조회 시, 사용)
	----------------*/
   function actGridInit2() {
		let actModalGrid = new tui.Grid({
	    el: document.getElementById('actModalGrid2'),
	    data: [
	        {
	           actCd : 'VDR-1001',
	           actNm : 'AA 마트',
	           actNum : '791-10-000',
	           tel : '053-514-4512'
	        },
	        {
	           actCd : 'VDR-1002',
	           actNm : 'AB 마트',
	           actNum : '791-10-595',
	           tel : '054-861-8545'
	        }
	        ],
	    rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '거래처 코드',
	        name: 'actCd'
	      },
	      {
	        header: '거래처명',
	        name: 'actNm',
	        filter: {type: 'select'}
	      },
	      {
	        header: '사업자 등록번호',
	        name: 'actNum'
	      },
	      {
	        header: '전화번호',
	        name: 'tel'
	      }]
	  });
		return actModalGrid;
  }
	    

   
   /*------------
	// 거래처 모달 클릭
	----------------*/
   $('#actCd').on('click',function(){
    	  actModalGrid2.refreshLayout();
   });

   
   /*------------
	// 거래처 모달 데이터 가져오기
	----------------*/
   actModalGrid2.on('click', ev => {
	   let rowData = actModalGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
	   
	   let cdVal = rowData['actCd'];
	   let nmVal = rowData['actNm'];
	   
	   $('#actCd').val(cdVal);
	   $('#actNm').val(nmVal);
	   
	   $('#actModal2').modal("hide");
   })
   
   
   /*------------
	// 거래처 모달에서 가져온 데이터 행에 넣어주기
	----------------*/
   actModalGrid.on('click', ev => {
	   let val = actModalGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
	  
	   let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
	    
	   	console.log(actModalGrid.getValue(ev.rowKey,ev.columnName));
	    const amg = actModalGrid.getValue(ev.rowKey,ev.columnName);
	    grid.setValue(val2, 'actCd', val.actCd);
	    grid.setValue(val2, 'actNm', val.actNm);

	    $('#actModal').modal("hide");
   })
	    
   
   
   /*------------
	// 제품명 Modal (행 추가 시, 사용)
	----------------*/
	function prdGridInit() {
	const prdModalGrid = new tui.Grid({
	    el: document.getElementById('prdModalGrid'),
	    data: [
	        {
	           prdCd : 'MD-00100',
	           prdNm : '얇은피 고기만두',
	           won : '1000'
	        },
	        {
	           prdCd : 'MD-00200',
	           prdNm : '얇은피 김치만두',
	           won : '2000'
	        }
	        ],
	    rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '제품 코드',
	        name: 'prdCd'
	      },
	      {
	        header: '제품명',
	        name: 'prdNm',
	        filter: {type: 'select'}
	      },
	      {
	        header: '단가 (원)',
	        name: 'won'
	      }
	    ]
	  });
		return prdModalGrid;
   }
   
   /*------------
	// 제품명 Modal (조회 시, 사용)
	----------------*/
	function prdGridInit2() {
	const prdModalGrid = new tui.Grid({
	    el: document.getElementById('prdModalGrid2'),
	    data: [
	        {
	           prdCd : 'MD-00100',
	           prdNm : '얇은피 고기만두',
	           won : '1000'
	        },
	        {
	           prdCd : 'MD-00200',
	           prdNm : '얇은피 김치만두',
	           won : '2000'
	        }
	        ],
	    rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '제품 코드',
	        name: 'prdCd'
	      },
	      {
	        header: '제품명',
	        name: 'prdNm',
	        filter: {type: 'select'}
	      },
	      {
	        header: '단가 (원)',
	        name: 'won'
	      }
	    ]
	  });
		return prdModalGrid;
   }
   
   
   
	/*------------
	// 제품명 모달 클릭
	----------------*/
	   $('#prdCd').on('click',function(){
	    	prdModalGrid2.refreshLayout();
	   });
   
	
	
	   /*------------
		// 제품명 모달 데이터 가져오기
		----------------*/
	   prdModalGrid2.on('click', ev => {
		   let rowData = prdModalGrid2.getRow(ev.rowKey); // 거래처클릭한 그리드
		   
		   let cdVal = rowData['prdCd'];
		   let nmVal = rowData['prdNm'];
		   
		   $('#prdCd').val(cdVal);
		   $('#prdNm').val(nmVal);
		   
		   $('#prdModal2').modal("hide");
	   })
	
	   
	   
	   /*------------
		// 제품 모달에서 값 가져오기
		----------------*/
	  	prdModalGrid.on('click', ev => {
		   let val = prdModalGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
		  
		   let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
		    
		   	console.log(prdModalGrid.getValue(ev.rowKey,ev.columnName));
		    const pmg = prdModalGrid.getValue(ev.rowKey,ev.columnName);
		    grid.setValue(val2, 'prdCd', val.prdCd);
		    grid.setValue(val2, 'prdNm', val.prdNm);
	
		    $('#prdModal').modal("hide");
	   })
	    
   
   
	/*------------
	// 엑셀 내보내기
	----------------*/
   $('#exportBtn').on('click',function(){
	   let options = {
			     includeHeader : true,
			     includeHiddenColumns : true,
			     onlySelected : true,
			     fileName: 'Order List'
			   };
   grid.export('xlsx', options);
   });
   
</script>
</div>
</body>
</html>