<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>YAMYAM</title>
<style>
#od-btn {
	display: inline-block; margin: 0 5px; float: right;
}
#prdCd, #prdCd2, #lot, #lot2, #startpicker-input, #endpicker-input {
text-align: center;
}
</style>
</head>
<body>
<div class="container" layout:fragment="content">
	<div id="od-title">
		<h3>완제품 재고 조회</h3>
		<hr>
	</div>
	
	<div id="odAd-content">
      <div id="input-group">
         <ul class="ul-style">

	<li><label for="prdCd">제품명</label><input type="text" 
          data-bs-toggle="modal" data-bs-target="#prdModal" id="prdCd">
          <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png" id="prdImg">
          <input type="text" class="back" readonly id="prdCd2"><br></li>

         <li><label for="lot">완제품LOT</label><input type="text" 
            data-bs-toggle="modal" data-bs-target="#lotModal" id="lot">
            <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png" id="lotImg">
            <input type="text" class="back" readonly id="lot2">
            
               <button class="btn btn-dark btn-sm" id="searchBtn">조회</button>
               <button type="button" class="btn btn-dark btn-sm" id="cancelBtn">초기화</button></li>
               </ul>
               
               
               
          <!-- 제품명 Modal -->
      <div class="modal" id="prdModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div id="prdModalGrid"></div>
               </div>
            </div>
         </div>
      </div>
      
       <!-- lot Modal -->
      <div class="modal" id="lotModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">완제품 LOT NO</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div id="lotModalGrid"></div>
               </div>
            </div>
         </div>
      </div>
	</div>
	</div>

	<div id="od-btn">
	<button class="btn btn-dark btn-sm" id="exportBtn">엑셀 파일 출력</button>
	</div>
	
<div id="grid"></div>

<script>

/* token */
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");


	/*------------
	// function
	----------------*/
	getLotList();			// 완제품 재고 리스트 불러오기
	getPrdModal();			// 제품 모달 리스트 불러오기
	getLotModal();			// 완제품LOT 모달 리스트 불러오기
	
	searchBtnHandler();		// 조회버튼 이벤트 핸들러
	cancelBtnHandler();		// 초기화버튼 이벤트 핸들러
	
	let grid = mainGridInit();			// 완제품 재고 리스트 Grid
	let prdModalGrid = prdGridInit();	// 제품 모달 Grid
	let lotModalGrid = lotGridInit();	// lot 모달 Grid
	
	
	 /*------------
	// 조회버튼 이벤트 핸들러
	----------------*/
	function searchBtnHandler(){
		$('#searchBtn').on('click',function(){
			let getPrdCd = $("#prdCd").val();
			let getLot = $("#lot").val();
			$.ajax({
				   url:'/getLotList',
				   contentType: 'application/json',
				   dataType: "json",
				   method: "GET",
				   data : {
					   "prdCd" : getPrdCd, "prdLot" : getLot
				   },
				   success : function(data) {
					   grid.resetData(data);
				   },
				   error : function(reject) {
					   console.log(reject);
				   }
			   })
		});
	}
   
	
   /*------------
	// 주문 조회 초기화 버튼
	----------------*/
	function cancelBtnHandler(){
		$('#cancelBtn').on('click',function(){
			$("#prdCd").val("");
			$("#prdCd2").val("");
			$("#lot").val("");
			$("#lot2").val("");
			
			$.ajax({
				url : '/getLotList',
				method: "GET",			
			}).then(res=>{
				grid.resetData(res);
				return res;
			})
		});	
	}
   
   
	/*------------
	// 완제품 재고 리스트 그리드
	----------------*/
	function mainGridInit(){
		let grid = new tui.Grid({
		    el: document.getElementById('grid'),
		    rowHeaders: ['rowNum'],
		    scrollX: false,
		    scrollY: false,
		    bodyHeight: 200,
		    pageOptions: {
                 useClient: true,   // front에서만 페이징 하는 속성
                 perPage: 5
           			    },
          	pagination : true,
		    columns: [
		      {
		        header: '생산 일자',
		        align : 'center',
		        name  : 'podDate'
		      },
		      {
		        header: '완제품LOT',
		        align : 'center',
		        name  : 'prdLot'
		      },
		      {
		        header: '제품 코드',
		        align : 'center',
		        name  : 'prdCd'
		      },
		      {
		        header: '제품명',
		        align : 'center',
		        name  : 'prdNm'
		      },
		      {
		        header: '재고 수량',
		        align : 'right',
		        name  : 'samt'
		      }
		    ]
		  });
		  	return grid;
		}
	
	
	/*------------
	// 완제품 재고 리스트 가져오기
	----------------*/
	  function getLotList() {
          $.ajax({
             url : '/getLotList',
             dataType : "json",
             success : function(data) {
                grid.resetData(data);
             },
             error : function(reject) {
                console.log(reject);
             }
          })
       }
	

	/*------------
	// 제품명 Modal
	----------------*/
	function prdGridInit() {
		let prdModalGrid = new tui.Grid({
		    el: document.getElementById('prdModalGrid'),
		    bodyHeight: 200,
		    rowHeaders: ['rowNum'],
		    scrollX: false,
		    scrollY: true,
		    pageOptions: {
                useClient: true,   // front에서만 페이징 하는 속성
                perPage: 5
          			    },
         	pagination : true,
		    columns: [
		      {
		        header: '제품코드',
		        align : 'center',
		        name: 'prdCd'
		      },
		      {
		        header: '제품명',
		        align : 'center',
		        name: 'prdNm',
		        filter: {type: 'select'}
		      }
		    ]
		  });
		  	return prdModalGrid;
		}	
	
	
	/*------------
	// 제품명 모달 클릭 (DB에서 데이터 가져오기) - 조회용
	----------------*/
	function getPrdModal() {
	$('#prdCd').on('click',function(){
		 $.ajax({
			   url:'/prdListModal',
			   dataType: "json",
			   success : function(data) {
				   prdModalGrid.resetData(data);
			   },
			   error : function(reject) {
				   console.log(reject);
			   }
		   })
		prdModalGrid.refreshLayout();
		});
	}
	

	 /*------------
	// 제품명 모달 데이터 가져오기
	----------------*/
   		prdModalGrid.on('click', ev => {
	   let rowData = prdModalGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
	   
	   let cdVal = rowData['prdCd'];
	   let nmVal = rowData['prdNm'];
	   
	   $('#prdCd').val(cdVal);
	   $('#prdCd2').val(nmVal);
	   
	   $('#prdModal').modal("hide");
   })	

	
	/*------------
	// lot Modal
	----------------*/
	function lotGridInit() {
		let lotModalGrid = new tui.Grid({
		    el: document.getElementById('lotModalGrid'),
		    rowHeaders: ['rowNum'],
		    bodyHeight: 200,
		    scrollX: false,
		    scrollY: false,
		    pageOptions: {
                useClient: true,   // front에서만 페이징 하는 속성
                perPage: 5
          			    },
         	pagination : true,
		    columns: [
		      {
		        header: '완제품LOT',
		        align : 'center',
		        name: 'prdLot'
		      },
		      {
		        header: '제품명',
		        align : 'center',
		        name: 'prdNm'
		      },
		      {
		        header: '유통기한',
		        align : 'center',
		        name: 'edate'
		      }
		    ]
		  });
			return lotModalGrid;
		}
		 
		 
	/*------------
	// lot 모달 클릭
	----------------*/
	function getLotModal() {
	$('#lot').on('click',function(){
		 $.ajax({
			   url:'/lotDetailListModal',
			   dataType: "json",
			   success : function(data) {
				   lotModalGrid.resetData(data);
			   },
			   error : function(reject) {
				   console.log(reject);
			   }
		   })
		lotModalGrid.refreshLayout();
		});
	}
	
	
	 /*------------
	// lot 모달 데이터 가져오기
	----------------*/
   		lotModalGrid.on('click', ev => {
	   let rowData = lotModalGrid.getRow(ev.rowKey);
	   
	   let cdVal = rowData['prdLot'];
	   let nmVal = rowData['prdNm'];
	   
	   $('#lot').val(cdVal);
	   $('#lot2').val(nmVal);
	   
	   $('#lotModal').modal("hide");
   })	
		   
		    
	/*------------
	// 엑셀 내보내기
	----------------*/
   $('#exportBtn').on('click',function(){
	   let options = {
			     includeHeader : true,
			     includeHiddenColumns : true,
			     onlySelected : true,
			     fileName: 'Product List'
			   };
   grid.export('xlsx', options);
   });
	 
</script>
</div>
</body>
</html>