<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>YAMYAM</title>

<style>
#od-btn {
	display: inline-block; margin: 0 5px; float: right;
}
#actCd, #actCd2, #startpicker-input, #endpicker-input {
text-align: center;
}
</style>
</head>
<body>
<div class="container" layout:fragment="content">

	<div id="od-title">
		<h3>완제품 출고 관리</h3>
	</div>
	<div id="prdOutAd-content">
		<div id="input-group">
			<ul class="ul-style">
    
     		<li><label>주문일자</label>
			    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
			        <input id="startpicker-input" type="text" aria-label="Date">
			        <span class="tui-ico-date"></span>
			        <div id="startpicker-container" style="margin-left: -1px;"></div>
			    </div>
    			<span>-</span>
			    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
			        <input id="endpicker-input" type="text" aria-label="Date">
			        <span class="tui-ico-date"></span>
			        <div id="endpicker-container" style="margin-left: -1px;"></div>
			    </div>
			    
	    <!-- 버튼 -->
		<button class="btn btn-dark btn-sm" id="searchBtn">조회</button>
		<button  class="btn btn-dark btn-sm" id="cancelBtn">초기화</button></li>
          </ul>
	    </div>
	    
	          <!-- 완제품 재고 현황 Modal -->
      <div class="modal" id="sAmtModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">완제품 재고 현황</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div id="sAmtModallGrid"></div>
               </div>
            </div>
         </div>
      </div>
	</div>	

	<div id="od-content-2">
		<h4>진행중인 주문서 현황</h4>
		
	<div id="orderGrid"></div>

	</div>
	<br>
	<div id="od-content-3">
		<h4>출고 등록 현황 리스트</h4>

	<div id="od-btn">
	<button class="btn btn-dark btn-sm" id="insertBtn">추가</button>
	<button class="btn btn-dark btn-sm" id="deleteBtn">선택삭제</button>
	<button class="btn btn-dark btn-sm" id="saveBtn">저장</button>
	</div>
	<div id="insertOutGrid"></div>
		</div>

<script>


	/*------------
	// function
	----------------*/
	searchBtnHandler();		// 조회 버튼 핸들러
	cancelBtnHandler();		// 데이트피커 값 초기화 버튼
	deleteBtnHandler();		// 삭제 버튼 이벤트 핸들러
	//sAmtGridInit(); 		// 완제품LOT 재고 현황 모달
	
	let orderGird = orderGridInit();		// 진행중인 주문서 Grid
	let insertOutGrid = insertGridInit();	// 출고등록 Grid
	
	
	/*------------
	// 데이트피커
	----------------*/
rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')

	
	/*------------
	// 조회버튼 이벤트 핸들러
	----------------*/
	function searchBtnHandler(){
		$('#searchBtn').on('click',function(){
			let getStartDate = $("#startpicker-input").val();
			let getEndDate = $("#endpicker-input").val();
			$.ajax({
				   url:'/detailIngOutList',
				   contentType: 'application/json',
				   dataType: "json",
				   method: "GET",
				   data : {
					   "startDate" : getStartDate, "endDate" : getEndDate
				   },
				   success : function(data) {
					   orderGird.resetData(data);
					   console.log(getLot);
				   },
				   error : function(reject) {
					   console.log(reject);
				   }
			   })
		});
	}
	
	
	/*------------
	// 주문 조회 초기화 버튼
	----------------*/
	function cancelBtnHandler(){
		$('#cancelBtn').on('click',function(){
			$("#startpicker-input").val(today);
			$("#endpicker-input").val(today);
		});	
	}
	
	
    /*------------
	// 주문서 리스트 그리드
	----------------*/
	function orderGridInit(){
	let orderGrid = new tui.Grid({
	    el: document.getElementById('orderGrid'),
	    data: [
	        {
	        	odDate : '2022-11-01',
	        	odCd : 'ORD-20221101-001',
	        	prdCd : 'MD-00100',
	        	prdNm : '얇은피 고기만두',
	        	actNm : 'YD 마트',
	        	odAmt : 200
	        }
	        ],
	    rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '주문 일자',
	        align : 'center',
	        name: 'odDate'
	      },
	      {
	        header: '주문 코드',
	        align : 'center',
	        name: 'odCd'
	      },
	      {
	        header: '제품 코드',
	        align : 'center',
	        name: 'prdCd'
	      },
	      {
	        header: '제품명',
	        align : 'center',
	        name: 'prdNm'
	      },
	      {
	        header: '거래처명',
	        align : 'center',
	        name: 'actNm',
	        filter: {type: 'select'}
	      },
	      {
	        header: '주문량',
	        align : 'center',
	        name: 'odAmt'
	      }
	    ]
	  });
		return orderGrid;
    }
    
    
  
	/*------------
	// 완제품 재고 현황 Modal
	----------------*/
	function sAmtGridInit() {
		let sAmtModalGrid = new tui.Grid({
		    el: document.getElementById('sAmtModalGrid'),
		    bodyHeight: 500,
		    rowHeaders: ['rowNum'],
		    scrollX: false,
		    scrollY: true,
		    columns: [
		      {
		        header: '완제품LOT',
		        align : 'center',
		        name  : 'prdLot'
		      },
		      {
		        header: '생산량',
		        align : 'center',
		        name  : 'binAmt'
		      },
		      {
		        header: '출고량',
		        align : 'center',
		        name  : 'bAmt'
		      },
		      {
		        header: '제조일자',
		        align : 'center',
		        name  : 'podDate'
		      },
		      {
		        header: '유통기한',
		        align : 'center',
		        name  : 'edate'
		      },
		    ]
		  });
			return sAmtModalGrid;
	}
    
	
	/*------------
	// 완제품 재고 현황 Modal (DB에서 데이터 가져오기)
	----------------*/
	function getsAmtList(){
		sAmtModalGrid.on('click',function(ev){
			   $.ajax({
				   url:'/sAmtModal',
				   dataType: "json",
				   success : function(data) {
					  sAmtModalGrid.resetData(data);
				   },
				   error : function(reject) {
					   console.log(reject);
				   }
			   })
			   sAmtModalGrid.refreshLayout();
		 });
	}
	
	
    /*------------
	// 출고 등록 그리드
	----------------*/
    function insertGridInit() {
	let insertOutGrid = new tui.Grid({
	    el: document.getElementById('insertOutGrid'),
	    data: [
	        {
	        	odCd : 'ORD-20221101-002',
	        	prdCd : 'MD-00200',
	        	lot : 'LOT-PRO-221104-621',
	        	outAmt : 200,
	        	outDate : '2022-11-04',
	        	podDate : '2022-11-03',
	        	eDate : '2023-10-04'
	        }
	        ],
	    rowHeaders: ['checkbox','rowNum'],
	    scrollX: false,
	    scrollY: false,
	    columns: [
	      {
	        header: '주문 코드',
	        align : 'center',
	        name: 'odCd'
	      },
	      {
	        header: '제품 코드',
	        align : 'center',
	        name: 'prdCd'
	      },
	      {
	        header: '완제품LOT',
	        align : 'center',
	        name: 'lot'
	      },
	      {
	        header: '출고량',
	        align : 'center',
	        name: 'outAmt'
	      },
	      {
	        header: '출고 일자',
	        align : 'center',
	        name: 'outDate'
	      },
	      {
	        header: '제조 일자',
	        align : 'center',
	        name: 'podDate'
	      },
	      {
	        header: '유통기한',
	        align : 'center',
	        name: 'eDate'
	      },
	      {
	        header: '비고',
	        align : 'center',
	        name: 'outEtc'
	      }
	    ]
	  });
	  	return insertOutGrid;
	 }
    
    
	/*------------
	// 주문서 추가 버튼
	----------------*/
   $('#insertBtn').on('click',function(){
      let rowData = [{odCd: "", prdCd: "", lot: "", outAmt: "", outDate: "", podDate : "" , eDate: ""}]
      insertOutGrid.appendRow(rowData); 
	});
	
	
	/*------------
	// 삭제 버튼 클릭(그리드행 삭제)
	----------------*/	
	function deleteBtnHandler(){
		// grid 선택 행 삭제
		$('#deleteBtn').on('click',function(){
			// sweetalert2
			Swal.fire({
			      title: '정말로 삭제 하시겠습니까?',
			      //text: "다시 되돌릴 수 없습니다. 신중하세요.",
			      icon: 'warning',
			      showCancelButton: true,
			      confirmButtonColor: '#3085d6',
			      cancelButtonColor: '#d33',
			      confirmButtonText: '승인',
			      cancelButtonText: '취소',
			      //reverseButtons: true, // 버튼 순서 거꾸로
			      
			    }).then((result) => {
			      if (result.isConfirmed) {
			        Swal.fire(
			          '삭제가 완료되었습니다.'		          
			        )
			        insertOutGrid.removeCheckedRows();
			      }
			    })
			
		});	
	}

	
	
	
</script>
</div>
</body>
</html>