<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>주문 관리</title>

<link href="css/styles.css" rel="stylesheet" />
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/tui-grid.css" rel="stylesheet">
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tui-grid.js"></script>

<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style>

#od-title{
	font-weight: bold;
}
#od-btn {
	display: inline-block; margin: 0 5px; float: right;
}
</style>
</head>
<body>
<div class="container" layout:fragment="content">
	<div id="od-title">
		<h3>완제품 출고 조회</h3>
	</div>
	
	<table id="form-check">
	<tr>
		<td>진행 상황</td>
		<td>
		  <input class="form-check-input" type="radio" name="flexRadioDefault" id="odAll" value="option1" checked>
		  <label class="form-check-label" for="odAll">전체</label>
		</td>
	
		<td>
		  <input class="form-check-input" type="radio" name="flexRadioDefault" id="odIng" value="option2">
		  <label class="form-check-label" for="odIng">출고중</label>
		</td>
	
		<td>
		  <input class="form-check-input" type="radio" name="flexRadioDefault" id="odEnd" value="option13">
		  <label class="form-check-label" for="odEnd">출고 완료</label>
		</td>
	</tr>
	</table>

	<div>
    제품명<input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png">
    <input type="text" readonly><br>
    </div>
	<div>
    완제품LOT<input type="text" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png">
    <input type="text" readonly><br>
    </div>
          <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <button type="button" class="btn btn-dark btn-sm"
                     data-bs-dismiss="modal">등록</button>
                  <button type="button" class="btn btn-dark btn-sm">초기화</button>
               <div id="grid2"></div>
               </div>
            </div>
         </div>
      </div>
	
	<div id="od-container">
     <label>제조일자</label>

    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span>-</span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>

	<button class="btn btn-dark btn-sm">조회</button>
	<button  class="btn btn-dark btn-sm">초기화</button>
	
</div>

	<div id="od-btn">
	<button class="btn btn-dark btn-sm">엑셀 파일 출력</button>
	</div>
	
<div id="grid"></div>

<script>
var today = new Date();
var picker = tui.DatePicker.createRangePicker({
    startpicker: {
        date: today,
        input: '#startpicker-input',
        container: '#startpicker-container'
    },
    endpicker: {
        date: today,
        input: '#endpicker-input',
        container: '#endpicker-container'
    },
    selectableRanges: [
        [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
    ]
});

const grid = new tui.Grid({
    el: document.getElementById('grid'),
    data: [
        {
        	odDate : '2022-11-01',
        	odCd : 'ORD-20221101-001',
        	prdCd : 'MD-00100',
        	prdNm : '얇은피 고기만두',
        	odAmt : 200,
        	actCd : 'VDR-1004',
        	actNm : 'YD 마트',
        	deDate : '2022-11-04',
        	sts : '완료'
        }
        ],
    rowHeaders: ['checkbox'],
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: '완제품LOT',
        name: 'odDate'
      },
      {
        header: '제품 코드',
        name: 'prdCd'
      },
      {
        header: '제품명',
        name: 'prdNm'
      },
      {
        header: '거래처명',
        name: 'actNm'
      },
      {
        header: '출고량',
        name: 'outAmt'
      },
      {
        header: '출고 일자',
        name: 'outDate'
      },
      {
        header: '유통기한',
        name: 'eDate'
      },
      {
        header: '비고',
        name: 'etc'
      },
    ]
  });
  
const grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
    data: [
        {
        	prdCd : 'test'
        }
        ],
    rowHeaders: ['checkbox'],
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: '제품코드',
        name: 'prdCd'
      },
      {
        header: '제품명',
        name: 'prdNm'
      },
      {
        header: '단가 (원)',
        name: 'won'
      }
    ]
  });

</script>
</div>
</body>
</html>