<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>YAMYAM</title>

<style>
#od-btn {
	display: inline-block; margin: 0 5px; float: right;
}
#startpicker-input, #endpicker-input{
text-align: center;
}
</style>
</head>
<body>
<div class="container" layout:fragment="content">
	<div id="od-title">
		<h3>완제품 반품 관리</h3>
		<hr>
	</div>
	
	<div id="prdReAd-content">
		<div id="input-group">
			<ul class="ul-style">
	
     <li><label>반품일자</label>

    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span>-</span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>

	<button class="btn btn-dark btn-sm" id="searchBtn">조회</button>
	<button  class="btn btn-dark btn-sm" id="cancelBtn">초기화</button></li>
	</ul>
</div>

	      </div>
	      
	      
	      <!-- LOT Modal (출고내역 조회용) -->
	      <div class="modal" id="lotOutModal" tabindex="-1"
	         aria-labelledby="exampleModalLabel" aria-hidden="true">
	         <div class="modal-dialog">
	            <div class="modal-content">
	               <div class="modal-header">
	                  <h5 class="modal-title" id="exampleModalLabel">완제품 출고 내역</h5>
	                  <button type="button" class="btn-close" data-bs-dismiss="modal"
	                     aria-label="Close"></button>
	               </div>
	               <div class="modal-body">
	               <div id="lotOutModalGrid"></div>
	               </div>
	            </div>
	         </div>
	      </div>


	<div id="od-btn">
	<th:block sec:authorize="hasAnyAuthority('JOB-GRD1', 'JOB-GRD2')">
	<button class="btn btn-dark btn-sm" id="insertBtn">행추가</button>
	<button class="btn btn-dark btn-sm" id="deleteBtn">행삭제</button>
	<button class="btn btn-dark btn-sm" id="saveBtn">저장</button>
	</th:block>
	<button class="btn btn-dark btn-sm" id="exportBtn">엑셀 파일 출력</button>
	</div>
	
<div id="grid"></div>

<script>

/* token */
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");


	/*------------
	// function
	----------------*/
	getOrdList(); 					// DB에서 반품 리스트 불러오기
	
	searchBtnHandler();				// 조회 버튼 핸들러
	cancelBtnHandler();				// 날짜값 초기화 버튼
	SaveBtnHandler();				// 저장 버튼 핸들러
	exportBtnHandler(); 			// 엑셀출력 버튼 핸들러
	deleteBtnHandler(); 			// 행삭제 버튼 핸들러
	
	let grid = mainGridInit();		// 주문서 출력 Grid
	let lotOutModalGrid = lotOutGridInit();
	
	
	/*------------
	// 데이트피커
	----------------*/
	rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')


 	/*------------
	// 조회버튼 이벤트 핸들러
	----------------*/
	function searchBtnHandler(){
		$('#searchBtn').on('click',function(){
			let getStartDate = $("#startpicker-input").val();
			let getEndDate = $("#endpicker-input").val();
			console.log(getStartDate);
			console.log(getEndDate);
			$.ajax({
				   url:'/reList',
				   contentType: 'application/json',
				   dataType: "json",
				   method: "GET",
				   data : {
					   "startDate" : getStartDate, "endDate" : getEndDate
				   },
				   success : function(data) {
					   grid.resetData(data);
				   },
				   error : function(reject) {
					   console.log(reject);
				   }
			   })
		});
	}
   
	
    /*------------
	// 주문 조회 초기화 버튼
	----------------*/
	function cancelBtnHandler(){
		$('#cancelBtn').on('click',function(){
			$("#startpicker-input").val(today);
			$("#endpicker-input").val(today);
			
			$.ajax({
				url : '/reList',
				method: "GET",			
			}).then(res=>{
				grid.resetData(res);
				return res;
			})
		});	
	}
    
    
    /*------------
	// 반품 리스트 그리드
	----------------*/
	function mainGridInit() {
	let grid = new tui.Grid({
	    el: document.getElementById('grid'),
	    rowHeaders: ['checkbox','rowNum'],
	    scrollX: false,
	    scrollY: false,
	    pageOptions: {
            useClient: true,
            perPage: 10
          			},
     	pagination : true,
	    columns: [
	      {
	        header: '반품 일자',
	        align : 'center',
	        name: 'reDate'
	      },
	      {
	        header: '반품 코드',
	        align : 'center',
	        name: 'reCd'
	      },
	      {
	        header: '완제품 LOT',
	        align : 'center',
	        name: 'prdLot',
			validation: {
			     dataType: 'text',
			     required: true
			      }
	      },
	      {
	        header: '제품명',
	        align : 'center',
	        name: 'prdNm'
	      },
	      {
	        header: '거래처코드',
	        align : 'center',
	        name: 'actCd'
	      },
	      {
	        header: '거래처명',
	        align : 'left',
	        name: 'actNm'
	      },
	      {
	        header: '주문량',
	        align : 'right',
	        name: 'bamt'
	      },
	      {
	        header: '반품량',
	        align : 'right',
	        name: 'reAmt',
	        editor: 'text',
			// 필수 입력 값
			validation: {
			     dataType: 'text',
			     required: true
			      }
	      },
	      {
	        header: '최종 출고량',
	        align : 'right',
	        name: 'sumBamt'
	      }
	    ]
	  });
    	return grid;
    }
    
	
	/*------------
	// 반품 리스트 가져오기
	----------------*/
	  function getOrdList() {
          $.ajax({
             url : '/reList',
             dataType : "json",
             success : function(data) {
                grid.resetData(data);
             },
             error : function(reject) {
                console.log(reject);
             }
          })
       }
    
	
	/*------------
	// 행추가 버튼 클릭
	----------------*/
   $('#insertBtn').on('click',function(){
      let rowData = [{reDate: "", reCd: "", prdLot: "", prdNm: "", actNm: "", odAmt: "", reAmt : "" , bamt: ""}]
      grid.appendRow(rowData,{at : 0}); 
	});
		
	
   /*------------
	// 행삭제 버튼 클릭
	----------------*/	
	function deleteBtnHandler(){
		// grid 선택 행 삭제
		$('#deleteBtn').on('click',function(){
			Swal.fire({
			      title: '정말로 삭제 하시겠습니까?',
			      //text: "다시 되돌릴 수 없습니다. 신중하세요.",
			      icon: 'warning',
			      showCancelButton: true,
			      confirmButtonColor: '#3085d6',
			      cancelButtonColor: '#d33',
			      confirmButtonText: '승인',
			      cancelButtonText: '취소',
			      //reverseButtons: true, // 버튼 순서 거꾸로
			      
			    }).then((result) => {
			      if (result.isConfirmed) {
			        Swal.fire(
			          '삭제가 완료되었습니다.'		          
			        )
			        grid.removeCheckedRows();
			      }
			    })
		});	
	}
   
   
	 /*------------
	// 저장 버튼 클릭
	----------------*/
	function SaveBtnHandler(){
		$('#saveBtn').on('click',function(){
			grid.blur();
			let rowData = grid.getCheckedRows();
			let list = [];
			let prdLot = '';
			let reCd = '';
			let actCd = '';
			let reAmt = '';
			//let odAmt = '';
			for (let i=0; i<rowData.length; i++) {
				prdLot = rowData[i].prdLot;
				reCd = rowData[i].reCd;
				actCd = rowData[i].actCd;
				reAmt = rowData[i].reAmt;
				//odAmt = rowData[i].odAmt;
				list.push({reCd,prdLot,actCd,reAmt});
				console.log(rowData[i].prdLot);
			}
			
			if (reCd == null){
				sweetConfirm('C', function(){
							$.ajax({
								url : '/insertReList',
								type : 'post',
								contentType: 'application/json',
								data: JSON.stringify(list),
								dataType : 'json',
								beforeSend : function (xhr) {
								    xhr.setRequestHeader(header, token);
								},
								 success : function(result) {
					                 if(result > 0){
					                	 Swal.fire(
					       			          '등록이 완료되었습니다.'	);
					                	 getOrdList();
					                 }else {
					                	 Swal.fire(
					                			 '등록이 실패하였습니다.');
					                 }
					              },
					              error : function(reject) {
					                 console.log(reject);
					              }
							})
				})
			}	
		})	
   }
	 
	 
	 
    /*------------
	// 해당하는 header의 모달창 띄우기
	----------------*/
   	grid.on('click',function(ev){

   		if(ev.columnName =='prdLot'){
      		 $.ajax({
                 url : '/lotOutListModal',
                 dataType : "json",
                 success : function(data) {
                	 lotOutModalGrid.resetData(data);
       				$('#lotOutModal').modal('show');
       				lotOutModalGrid.refreshLayout();
                 },
                 error : function(reject) {
                    console.log(reject);
                 }
              })
   		}
   	});
    
   
    
    /*------------
 	// 모달에서 가져온 데이터 행에 넣어주기
 	----------------*/
 	lotOutModalGrid.on('click', ev => {
 	   
 	   let val = lotOutModalGrid.getRow(ev.rowKey); // 거래처클릭한 그리드
 	   let val2 = grid.getFocusedCell().rowKey; // 진짜 큰 그리드
 	    
	    const amg = lotOutModalGrid.getValue(ev.rowKey,ev.columnName);
	    grid.setValue(val2, 'prdLot', val.prdLot);
	    grid.setValue(val2, 'prdNm', val.prdNm);
	    grid.setValue(val2, 'actCd', val.actCd);
	    grid.setValue(val2, 'actNm', val.actNm);
	    grid.setValue(val2, 'bamt', val.bamt);
	
	    $('#lotOutModal').modal("hide");
    })
    
    
 	    
   /*------------
	// lot Modal (행 추가 시, 사용)
	----------------*/
	function lotOutGridInit() {
	let lotOutModalGrid = new tui.Grid({
	    el: document.getElementById('lotOutModalGrid'),
	    rowHeaders: ['rowNum'],
	    scrollX: false,
	    scrollY: false,
	    bodyHeight: 200,
	    pageOptions: {
          useClient: true,   // front에서만 페이징 하는 속성
          perPage: 5
    			    },
   		pagination : true,
	    columns: [
	      {
	        header: '주문 코드',
	        align : 'center',
	        name  : 'odCd'
	      },
	      {
	        header: '완제품LOT',
	        align : 'center',
	        name  : 'prdLot'
	      },
	      {
	        header: '제품명',
	        width : 60,
	        align : 'center',
	        name  : 'prdNm'
	      },
	      {
	        header: '거래처코드',
	        align : 'center',
	        name  : 'actCd'
	      },
	      {
	        header: '거래처명',
	        align : 'left',
	        name  : 'actNm'
	      },
	      {
	        header: '주문량',
	        align : 'right',
	        name  : 'odAmt'
	      },
	      {
	        header: '출고량',
	        width : 10,
	        align : 'right',
	        name  : 'bamt'
		  },
		  {
	        header: '출고 일자',
	        width : 70,
	        align : 'center',
	        name  : 'bdates'
		   }
	    ]
	  });
	  	return lotOutModalGrid;
	}
 	lotOutModalGrid.hideColumn('actCd');
 	lotOutModalGrid.hideColumn('actNm');
 	lotOutModalGrid.hideColumn('odAmt');
	
	
	/*------------
	// 엑셀 내보내기
	----------------*/
	function exportBtnHandler() {
   $('#exportBtn').on('click',function(){
	   let options = {
			     includeHeader : true,
			     includeHiddenColumns : true,
			     onlySelected : true,
			     fileName: 'Return List'
			   };
   grid.export('xlsx', options);
   });
}
</script>
</div>
</body>
</html>