<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>완제품 반품 관리</title>

<style>
#od-title{
	font-weight: bold;
}
#od-btn {
	display: inline-block; margin: 0 5px; float: right;
}

</style>
</head>
<body>
<div class="container" layout:fragment="content">
	<div id="od-title">
		<h3>완제품 반품 관리</h3>
	</div>
	
	<div id="prdReAd-content">
		<div id="input-group">
			<ul class="ul-style">
    <li><label for="lot">완제품LOT</label><input type="text"
     data-bs-toggle="modal" data-bs-target="#exampleModal" id="lot">
    <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png">
    <input type="text" readonly><br></li>
	
     <li><label>반품일자</label>

    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span>-</span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>

	<button class="btn btn-dark btn-sm">조회</button>
	<button  class="btn btn-dark btn-sm">초기화</button></li>
	</ul>
</div>

	<!-- Modal -->
	      <div class="modal fade" id="exampleModal" tabindex="-1"
	         aria-labelledby="exampleModalLabel" aria-hidden="true">
	         <div class="modal-dialog">
	            <div class="modal-content">
	               <div class="modal-header">
	                  <h5 class="modal-title" id="exampleModalLabel">완제품LOT NO</h5>
	                  <button type="button" class="btn-close" data-bs-dismiss="modal"
	                     aria-label="Close"></button>
	               </div>
	               <div class="modal-body">
	               		<label>완제품LOT</label> <input id="lotNo" type="text">
	                  <button type="button" class="btn btn-dark btn-sm"
	                     data-bs-dismiss="modal">조회</button>
	                  <button type="button" class="btn btn-dark btn-sm">초기화</button>
	               <div id="modalGrid"></div>
	               </div>
	            </div>
	         </div>
	      </div>
	      </div>

	<div id="od-btn">
	<button class="btn btn-dark btn-sm" id="insertBtn">추가</button>
	<button class="btn btn-dark btn-sm">선택삭제</button>
	<button class="btn btn-dark btn-sm">저장</button>
	<button class="btn btn-dark btn-sm">엑셀 파일 출력</button>
	</div>
	
<div id="grid"></div>

<script>
var today = new Date();
var picker = tui.DatePicker.createRangePicker({
    startpicker: {
        date: today,
        input: '#startpicker-input',
        container: '#startpicker-container'
    },
    endpicker: {
        date: today,
        input: '#endpicker-input',
        container: '#endpicker-container'
    },
    selectableRanges: [
        [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
    ]
});

const grid = new tui.Grid({
    el: document.getElementById('grid'),
    data: [
        {
        	reDate : '2022-11-14'
        }
        ],
    rowHeaders: ['checkbox'],
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: '반품 일자',
        name: 'reDate'
      },
      {
        header: '반품 코드',
        name: 'reCd'
      },
      {
        header: '완제품 LOT',
        name: 'lot'
      },
      {
        header: '제품명',
        name: 'prdNm'
      },
      {
        header: '거래처명',
        name: 'actNm'
      },
      {
        header: '주문량',
        name: 'odAmt'
      },
      {
        header: '반품량',
        name: 'reAmt'
      },
      {
        header: '최종 출고량',
        name: 'allAmt'
      }
    ]
  });
	$('#insertBtn').on('click',function(){
		
		var rowData = [{reDate: "", reCd: "", lot: "", prdNm: "", actNm: "", odAmt: "", reAmt : "" , allAmt: ""}]
		grid.appendRow(rowData);
				
	});
  
const modalGrid = new tui.Grid({
    el: document.getElementById('modalGrid'),
    data: [
        {
        	lot : 'LOT-PRO-221104-620',
        	prdNm : '얇은피 고기만두',
        	eDate : '2023-10-04'
        }
        ],
    rowHeaders: ['rowNum'],
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: '완제품 LOT',
        name: 'lot'
      },
      {
        header: '제품명',
        name: 'prdNm'
      },
      {
        header: '유통 기한',
        name: 'eDate'
      }
    ]
  });
	$('#lot').on('click',function(){
		setInterval(function () {
			modalGrid.refreshLayout();
		}, 100);
	});

</script>
</div>
</body>
</html>