<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>YAMYAM</title>

<style>

#prdCd, #prdCd2 {
text-align: center;
}
</style>
</head>
<body>
<div class="container" layout:fragment="content">
	<div id="od-title">
		<h3>제품 안전 재고 관리
		<img class="Magnifying-Glass-img" id="infoMandu" alt="image" src="../images/info.png" 
		data-bs-toggle="tooltip" data-bs-placement="bottom" title="안전재고 30% 이하 시, 위험　안전재고 20% 이하 시, 경고 안전재고 10% 이하 시, 관심">
		</h3>
		<hr>
	</div>
	
	<div id="prdSfamtAd-content">
      <div id="input-group">
         <ul class="ul-style">
		     <li><label for="prdCd">제품명</label><input type="text" 
				          data-bs-toggle="modal" data-bs-target="#prdModal" id="prdCd">
				          <img class="Magnifying-Glass-img" alt="image" src="../images/Magnifying_Glass.png">
				          <input type="text" class="back" readonly id="prdCd2">
					<button type="button" class="btn btn-dark btn-sm" id="searchBtn">조회</button>
					<button type="button" class="btn btn-dark btn-sm" id="cancelBtn">초기화</button></li>
               </ul>
			</div>
		</div>


	 <!-- 제품명 Modal -->
      <div class="modal" id="prdModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
               <div id="prdModalGrid"></div>
               </div>
            </div>
         </div>
      </div>
	      
	
<div id="prdListGrid"></div>

<script type="text/javascript">

/* token */
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

	/*------------
	// function
	----------------*/	
	getPrdList();							// DB에서 제품목록 불러오기 - 조회용
	getList();								// DB에서 안전재고 리스트 불러오기
	
	searchBtnHandler();						// 조회 버튼 핸들러
	cancelBtnHandler();						// input 값 초기화 버튼

	let prdListGrid = prdListGridInit();	// 안전재고 리스트 Grid
	let prdModalGrid = prdGridInit();		// 제품 Modal Grid

	
	
	/*------------
	// 조회버튼 이벤트 핸들러
	----------------*/
	function searchBtnHandler(){
		$('#searchBtn').on('click',function(){
			let getPrdCd = $("#prdCd").val();
			$.ajax({
				 url : '/getSfamtList',
				 contentType: 'application/json',
	             dataType : "json",
	             method: "GET",
	             data : {
	            	 "prdCd" : getPrdCd
	             },
	             success : function(data) {
	            	 prdListGrid.resetData(data);
	             },
	             error : function(reject) {
	                console.log(reject);
	             }
			})
		});
	}
	
	
	/*------------
	// 만두 Info
	----------------*/
	var exampleEl = document.getElementById('infoMandu')
	var tooltip = new bootstrap.Tooltip(exampleEl, {placement:'right'})
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
   
	
   /*------------
	// 안전재고 조회 초기화 버튼
	----------------*/
	function cancelBtnHandler(){
		$('#cancelBtn').on('click',function(){
			$("#prdCd").val("");
			$("#prdCd2").val("");
			
			$.ajax({
				   url:'/getSfamtList',
				   contentType: 'application/json',
				   dataType: "json",
				   method: "GET",
				   success : function(data) {
					   prdListGrid.resetData(data);
				   },
				   error : function(reject) {
					   console.log(reject);
				   }
			   })
		});
	}
   
    /*------------
	// 안전재고 리스트 그리드
	----------------*/	
	function prdListGridInit(){
		let prdListGrid = new tui.Grid({
		    el: document.getElementById('prdListGrid'),
		    rowHeaders: ['rowNum'],
		    bodyHeight: 600,
		    scrollX: false,
		    scrollY: false,
		    columns: [
		      {
		        header: '제품 코드',
		        align : 'center',
		        name  : 'prdCd'
		      },
		      {
		        header: '제품명',
		        align : 'center',
		        name  : 'prdNm'
		      },
		      {
		        header: '총 재고량',
		        align : 'center',
		        name  : 'samt'
		      },
		      {
		        header: '안전 재고',
		        align : 'center',
		        name  : 'prdSfamt'
		      },
		      {
		        header: '안전 재고 수준',
		        align : 'center',
		        name  : 'prdSfamtSts',
		        renderer: {
	               styles: {
	                    fontWeight: 'bold',
	                    color: (props) => 
		      					(props.value == '위험') ? '#FF4500' : (props.value == '경고') ? '#FF8C00' : 
		      						(props.value == '관심') ? '#FFD700' : '#32CD32'
	                 }
			            }
		      }
		    ]
		  });
			return prdListGrid;
    }


	/*------------
	// 안전재고 리스트 가져오기
	----------------*/
	  function getList() {
          $.ajax({
             url : '/getSfamtList',
             dataType : "json",
             success : function(data) {
            	 prdListGrid.resetData(data);
             },
             error : function(reject) {
                console.log(reject);
             }
          })
       }
   
	
	/*------------
	// 제품명 Modal
	----------------*/
	function prdGridInit() {
		let prdModalGrid = new tui.Grid({
		    el: document.getElementById('prdModalGrid'),
		    bodyHeight: 500,
		    rowHeaders: ['rowNum'],
		    scrollX: false,
		    scrollY: true,
		    columns: [
		      {
		        header: '제품코드',
		        align : 'center',
		        name: 'prdCd'
		      },
		      {
		        header: '제품명',
		        align : 'center',
		        name: 'prdNm',
		        filter: {type: 'select'}
		      }
		    ]
		  });
		  	return prdModalGrid;
		}	
	
	
	/*------------
	// 제품명 모달 클릭
	----------------*/
	function getPrdList() {
	$('#prdCd').on('click',function(){
		$.ajax({
			   url:'/prdListModal',
			   dataType: "json",
			   success : function(data) {
				   prdModalGrid.resetData(data);
			   },
			   error : function(reject) {
				   console.log(reject);
			   }
		   })
		prdModalGrid.refreshLayout();
		});
	}
	
	 /*------------
	// 제품명 모달 데이터 가져오기
	----------------*/
   		prdModalGrid.on('click', ev => {
	   let rowData = prdModalGrid.getRow(ev.rowKey);
	   
	   let cdVal = rowData['prdCd'];
	   let nmVal = rowData['prdNm'];
	   
	   $('#prdCd').val(cdVal);
	   $('#prdCd2').val(nmVal);
	   
	   $('#prdModal').modal("hide");
   })	

	
</script>
</div>
</body>
</html>