<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.mat.mapper.MatOdMapper">

	<!-- 공통 - 자재목록 모달 -->
	<select id="matList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT MTR_CD, 
			   MTR_NM
		  FROM C_MTR M
	</select>
	
	<!-- 공통 - 업체목록 모달 -->
	<select id="actList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT ACT_CD, 
			   ACT_NM
		  FROM C_ACTCD
	</select>
	
	<!-- 자재 발주 관리(일반 탭) - 전체 조회 -->
	<select id="matOrderList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT O.MAT_OD_CD,
		       D.MTR_CD,
		       C.MTR_NM,
		       D.MAT_ODD_MN,
		       D.MAT_ODD_AMT,
		       O.MAT_SUM,
			   A.ACT_CD,
		       A.ACT_NM,
		       TO_CHAR(O.MAT_OD_DD, 'yyyy-MM-dd') AS "MAT_OD_DD",
			   TO_CHAR(D.MAT_ODD_DATE,'yyyy-MM-dd') AS "MAT_ODD_DATE"
		 FROM  M_OD O 
		 
		 JOIN  M_ODD D 
		   ON O.MAT_OD_CD = D.MAT_OD_CD
		 
		 JOIN  C_MTR C 
		   ON D.MTR_CD = C.MTR_CD
		 
		 JOIN  C_ACTCD A 
		   ON D.ACT_CD = A.ACT_CD
		  
		 ORDER BY O.MAT_OD_CD
	</select>
	
	<!-- 자재 발주 관리(일반 탭) - 삭제버튼 -->
	<delete id="delMatOd" parameterType="com.mandu.yamyam.mat.service.MatVO" statementType="CALLABLE">
		CALL SG_DEL_PROC(#{matOdCd})
	</delete>
	
	<!-- 자재 발주 관리(일반 탭) - 여러 건 삭제버튼 -->
	<delete id="delMatOdList" parameterType="com.mandu.yamyam.mat.service.MatVO" statementType="CALLABLE">
		CALL MT_DEL_PROC(#{matOdCd})
	</delete>
	
	<!-- 자재 발주 관리(일반 탭) - 저장버튼 -->
	<insert id="insMatOdList" parameterType="com.mandu.yamyam.mat.service.MatVO">
		INSERT ALL
		 INTO M_OD (MAT_OD_CD, MAT_OD_DD, MAT_OD_STS, MAT_SUM)
		 VALUES('OMAT-' || TO_CHAR(SYSDATE,'YYYYMMDD-') || LPAD(MAT_CD_SEQ.NEXTVAL,3,0)
		        ,SYSDATE
		        ,'N'<!-- 처음 등록하면 검수NO -->
		        ,#{matSum})<!-- 총액 -->
		 
		 INTO M_ODD (MAT_ODD_CD, MAT_OD_CD, MTR_CD, ACT_CD, MAT_ODD_MN, MAT_ODD_AMT, MAT_ODD_DATE)
		 VALUES('DMAT-' || LPAD(MAT_CDD_SEQ.NEXTVAL,5,0)
		        ,'OMAT-' || TO_CHAR(SYSDATE,'YYYYMMDD-') || LPAD(MAT_CD_SEQ.NEXTVAL,3,0)
		        ,#{mtrCd}<!-- 선택한 자재코드 -->
		        ,#{actCd}<!-- 선택한 업체코드 -->
		        ,#{matOddMn}<!-- 입력받은 단가 -->
		        ,#{matOddAmt}<!-- 입력받은 발주량 -->
		        ,#{matOddDate})<!-- 입력받은 납기일자 -->
		 
		 SELECT * FROM DUAL
	</insert>
	
	<!-- 자재 발주 관리(생산계획서용 탭) - 신규 생산 계획 조회 -->
	<select id="newPlanList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.PPLN_CD, 
			   D.PRD_CD, 
			   P.PRD_NM, 
			   D.PPLND_AMT, 
			   TO_CHAR(B.DE_DATE, 'yyyy-MM-dd') AS "DE_DATE"
		 FROM P_PLND D
		
		 JOIN C_PRD P 
			 ON D.PRD_CD = P.PRD_CD
		 JOIN B_OD B 
			 ON B.PRD_CD = P.PRD_CD
	</select>
	
	<!-- 자재 발주 관리(생산계획서용 탭) - 신규 생산 계획서 모델 선택 모달창 -->
	<select id="addNewPlan" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.PPLN_CD, 
			   P.PPLN_NAME, 
			   TO_CHAR(P.PPLN_DATE, 'yyyy-MM-dd') AS "PPLN_DAYS",
			   TO_CHAR(B.DE_DATE, 'yyyy-MM-dd') AS "DE_DATE"
		   FROM P_PLND D
		   
		   JOIN P_PLN P 
		   	ON D.PPLN_CD = P.PPLN_CD
		   	
		   JOIN B_OD B 
		  	ON B.OD_CD = P.OD_CD
	</select>
	
	<!-- 자재 발주 관리(생산계획서용 탭) - 신규생산계획서에서 추가한 생산계획을 조회 -->
	<select id="newPlanInfo" parameterType="String" 
							 resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.PPLN_CD,
		       D.PRD_CD,
		       C.PRD_NM,
		       D.PPLND_AMT,
		       TO_CHAR(B.DE_DATE, 'YYYY-MM-DD') AS "DE_DATE"
		FROM   P_PLND D 
		
		JOIN P_PLN P
		  ON (D.PPLN_CD = P.PPLN_CD)
		  
		JOIN C_PRD C
		  ON (D.PRD_CD = C.PRD_CD)
		  
		JOIN B_OD B
		  ON (B.OD_CD = P.OD_CD)
		
		WHERE D.PPLN_CD = #{value}
	</select>
	
	<!-- 자재 발주 관리(생산계획서용 탭) - 필요 자재 리스트 -->
	<select id="needMatList" parameterType="String" 
							 resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT O.MTR_CD,
			   M.MTR_NM,
               B.BOM_AMT
		  FROM M_ODD O
		  JOIN C_MTR M
		  	ON M.MTR_CD = O.MTR_CD
          JOIN C_BOM B
            ON B.MTR_CD = M.MTR_CD
          WHERE B.PRD_CD = #{value}
	</select>
	
	<!-- 자재 발주 관리(생산계획서용 탭) - 자재 발주 리스트 -->
	<select id="chkMatList" parameterType="String"
						    resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT M.MTR_CD, 
			   M.MTR_NM, 
			   D.MAT_ODD_MN, 
			   D.MAT_ODD_AMT, 
			   (D.MAT_ODD_MN * D.MAT_ODD_AMT) AS "SUM_PRICE",
	           A.ACT_NM,
	           TO_CHAR(O.MAT_OD_DD,'YYYY-MM-DD') AS "MAT_OD_DD",
	           TO_CHAR(D.MAT_ODD_DATE,'YYYY-MM-DD') AS "MAT_ODD_DATE"
		  FROM C_MTR M 
		  
		    JOIN M_ODD D
		       ON (M.MTR_CD = D.MTR_CD)
		       
		    JOIN M_OD O
		       ON (D.MAT_OD_CD = O.MAT_OD_CD)
		       
		    JOIN C_ACTCD A
		       ON (D.ACT_CD = A.ACT_CD)
            
            WHERE M.MTR_CD = #{value}
	</select>
	
	<!-- 자재 발주 조회(조건 조회 탭) - 발주 신청일 검색 조회 -->
	<select id="odListSearch" parameterType="com.mandu.yamyam.mat.service.MatVO"
							  resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT MAT_OD_CD, TO_CHAR(MAT_OD_DD,'YYYY-MM-DD') AS "MAT_OD_DD"
		FROM M_OD
		WHERE MAT_OD_DD <![CDATA[<=]]> #{matOdDd}<!-- null -->
	</select>
	
	<!-- 자재 입고 검수 관리 - 추가 모달창 -->
	<select id="addChkModal" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT O.MAT_OD_CD, D.MTR_CD, D.MAT_ODD_AMT,C.MTR_NM
		FROM M_OD O
		JOIN M_ODD D 
		ON D.MAT_OD_CD = O.MAT_OD_CD
		JOIN C_MTR C
		ON C.MTR_CD = D.MTR_CD
	</select>
</mapper>