<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandu.yamyam.mat.mapper.MatOdMapper">

	<!-- 전체조회(일반 탭) -->
	<select id="matOrderList"
		resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT O.M_OD_CD,
		       D.MTR_CD,
		       C.MTR_NM,
		       TO_CHAR(D.M_ODD_MN, '999,999') AS "m_odd_nm",
		       D.M_ODD_AMT,
		       TO_CHAR(O.M_SUM, '999,999,999') AS "m_sum", 
		       A.ACT_NM, TO_CHAR(O.M_OD_DD, 'yyyy-MM-dd') as "m_od_dd",
			   TO_CHAR(D.M_ODD_DATE,'yyyy-MM-dd') as "m_odd_date"
		 FROM  M_OD O 
		 
		 JOIN  M_ODD D 
		   ON O.M_OD_CD = D.M_OD_CD
		 
		 JOIN  C_MTR C 
		   ON D.MTR_CD = C.MTR_CD
		 
		 JOIN  C_ACTCD A 
		   ON D.ACT_CD = A.ACT_CD
	</select>
	
	<!-- 자재목록 모달 -->
	<select id="matList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.MTR_CD, 
			   M.MTR_NM, 
			   M.MTR_STD, 
			   I.M_SAMT
		  FROM C_MTR M
		  
		  JOIN M_ODD D 
		  	ON M.MTR_CD = D.MTR_CD
		  	
		  JOIN M_IN I 
		  	ON M.MTR_CD = I.MTR_CD
	</select>
	
	<!-- 업체목록 모달 -->
	<select id="actList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT ACT_CD, 
			   ACT_NM
		  FROM C_ACTCD
	</select>
	
	<!-- 신규생산계획조회 -->
	<select id="newPlanList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.PLAND_CD, 
			   D.PRD_CD, 
			   P.PRD_NM, 
			   D.PPLND_AMT, 
			   TO_CHAR(B.DE_DATE, 'yyyy-MM-dd') AS "DE_DATE"
		 FROM P_PLND D
		
		 JOIN C_PRD P 
			 ON D.PRD_CD = P.PRD_CD
		 JOIN B_OD B 
			 ON B.PRD_CD = P.PRD_CD
	</select>
	
	<!-- 필요자재 리스트 -->
	<select id="needMatList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT M.MTR_CD, 
			   M.MTR_NM, 
			   B.BOM_AMT
		  FROM C_MTR M
		  JOIN C_BOM B 
		  	ON M.MTR_CD = B.MTR_CD
	</select>
	
	<!-- 신규 생산 계획서 모델 선택 모달창 -->
	<select id="addNewPlan" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.PPLN_CD, 
			   P.PPLN_NAME, 
			   TO_CHAR(P.PPLN_DAYS, 'yyyy-MM-dd') AS "PPLN_DAYS",
			   TO_CHAR(B.DE_DATE, 'yyyy-MM-dd') AS "DE_DATE"
		   FROM P_PLND D
		   
		   JOIN P_PLN P 
		   	ON D.PPLN_CD = P.PPLN_CD
		   	
		   JOIN B_OD B 
		  	ON B.PRD_CD = P.PRD_CD
	</select>
	
	<!-- 자재발주 전체리스트(생산계획서용 탭) -->
	<select id="odMatList" resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT M.MTR_CD, 
			   M.MTR_NM, 
			   D.M_ODD_MN, 
			   D.M_ODD_AMT, 
			   (D.M_ODD_MN*D.M_ODD_AMT) AS "SUM_PRICE",
	           A.ACT_NM,
	           TO_CHAR(O.M_OD_DD,'YYYY-MM-DD') AS "M_OD_DD",
	           TO_CHAR(D.M_ODD_DATE,'YYYY-MM-DD') AS "M_ODD_DATE"
		  FROM C_MTR M 
		  
		    JOIN M_ODD D
		       ON (M.MTR_CD = D.MTR_CD)
		       
		    JOIN M_OD O
		       ON (D.M_OD_CD = O.M_OD_CD)
		       
		    JOIN C_ACTCD A
		       ON (D.ACT_CD = A.ACT_CD)
	</select>
	
	<!-- 신규생산계획서에서 추가한 생산계획을 조회해오는 쿼리 -->
	<select id="newPlanInfo" parameterType="String" 
							 resultType="com.mandu.yamyam.common.LowerKeyMap">
		SELECT D.PLAND_CD,
		       D.PRD_CD,
		       CP.PRD_NM,
		       D.PPLND_AMT,
		       TO_CHAR(B.DE_DATE, 'YYYY-MM-DD') AS "DE_DATE"
		FROM   P_PLND D 
		
		JOIN P_PLN P
		  ON (D.PPLN_CD = P.PPLN_CD)
		  
		JOIN C_PRD CP
		  ON (D.PRD_CD = CP.PRD_CD)
		  
		JOIN B_OD B
		  ON (B.OD_CD = P.OD_CD)
		
		WHERE D.PPLN_CD = #{value}
	</select>
</mapper>