<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h2>자재 입고 검수 관리</h2>
	</div>
	<hr>
	<ul class="ul-style">
		<li><label for="matNm">자재명</label><input id="matNm"><img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
			<input type="text" readonly></li>
		<li><label for="empNm">담당자</label><input id="empNm"><img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#empModal" src="../images/Magnifying_Glass.png">
			<input type="text" readonly></li>
		<li><label for="chkDate">검사일자</label><input type="date"
			id="chkDate"><span> - </span><input type="date" id="chkDate">
			<button class="btn btn-dark btn-sm">조회</button>
			<button class="btn btn-dark btn-sm">초기화</button></li>
	</ul>

	<div style="text-align: right;">
		<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
			data-bs-target="#addModal">추가</button>
		<button class="btn btn-dark btn-sm">선택삭제</button>
		<button class="btn btn-dark btn-sm">저장</button>
	</div>

	<div id="grid"></div>

	<!-- 자재 목록 모달 -->
	<div class="modal fade" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 업체 목록 모달 -->
	<div class="modal fade" id="empModal" tabindex="-1"
		aria-labelledby="empModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="empModalLabel">사원 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 추가 버튼 모달 -->
	<div class="modal fade" id="addModal" tabindex="-1"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">검사 예정 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid3" style="width: 100%;"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm">추가</button>
						<button class="btn btn-dark btn-sm">취소</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>
const grid = new tui.Grid({
      el: document.getElementById('grid'),
      data: [
    {
        maCode: 'OAF-20221104-011',
        mtCode: 'RML-10101',
        maNm: '얇은 만두피',
        count: 200,
        pass: 197,
        errorNum: 3,
        emp: '이검수',
        chkDate: '2022-11-12',
        erCode: 'RMB-00102',
        erInfo: '유통기한 임박'
    },
    {
        maCode: 'OAF-20221105-011',
        mtCode: 'RML-10102',
        maNm: '두꺼운 만두피',
        count: 200,
        pass: 195,
        errorNum: 5,
        emp: '이검수',
        chkDate: '2022-11-12',
        erCode: 'RMB-00103',
        erInfo: '포장지 훼손'
    }
  ],
      rowHeaders: ['checkbox'],
      scrollX: false,
      scrollY: false,
      columns: [
        {
          header: '발주코드',
          name: 'maCode'
        },
        {
          header: '자재코드',
          name: 'mtCode'
        },
        {
          header: '자재명',
          name: 'maNm'
        },
        {
          header: '발주총량',
          name: 'count'
        },
        {
          header: '합격량',
          name: 'pass'
        },
        {
          header: '불합격량',
          name: 'errorNum'
        },
        {
          header: '담당자',
          name: 'emp'
        },
        {
          header: '검사일자',
          name: 'chkDate'
        },
        {
            header: '불량코드',
            name: 'erCode'
          },
          {
              header: '불량내용',
              name: 'erInfo'
            }
      ]
    });

    grid.on('check', ev => {
      console.log('check!', ev);
    });

    grid.on('uncheck', ev => {
      console.log('uncheck!', ev);
    });

    grid.on('focusChange', ev => {
      console.log('change focused cell!', ev);
    });
    </script>

	<script>
	document.addEventListener('shown.bs.modal', function (){
		modalGrid = '';
		var modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			data: [{
				empNm: '김검수',
				empId: 'wantToGoHome'
			},
			{
				empNm: '이검수',
				empId: 'meToo'
			}
			],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: false,
			columns: [
				{
					header: '이름',
					name: 'empNm',
				},
				{
					header: '아이디',
					name: 'empId',
				}
			]
		});
	}, '.modal');
	</script>

	<script>
	document.addEventListener('shown.bs.modal', function (){
		modalGrid = '';
		var modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			data: [{
				code: 'RML-10101',
				name: '얇은 만두피',
				size: 100,
				count: 200
			},
			{
				code: 'RML-10102',
				name: '굵은 만두피',
				size: 100,
				count: 200
			}],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: false,
			columns: [{
		          header: '자재코드',
		          name: 'code'
		        },
		        {
		          header: '자재명',
		          name: 'name'
		        },
		        {
		          header: '규격',
		          name: 'size'
		        },
		        {
			      header: '수량',
			      name: 'count'
			    }
	      ] 
		});
	}, '.modal');
	</script>

	<script>
	document.addEventListener('shown.bs.modal', function (){
		modalGrid = '';
		var modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid3'),
			data: [{
				code: 'OAF-20221104-001',
				maCode: 'RML-10101',
				maNm: '얇은 만두피',
				count: 999
			},
			{
				code: 'OAF-20221105-002',
				maCode: 'RML-10102',
				maNm: '얇은 만두피',
				count: 1000
			}],
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: false,
			columns: [{
		          header: '발주코드',
		          name: 'code'
		        },
		        {
		          header: '자재코드',
		          name: 'maCode'
		        },
		        {
		          header: '자재명',
		          name: 'maNm'
		        },
		        {
			      header: '발주총량',
			      name: 'count'
			    }
	      ] 
		});
	}, '.modal');
	</script>
</div>