<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h2>자재 입출고 관리</h2>
	</div>
	<hr>
	<!-- 탭 목록(버튼) 설정 -->
	<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="manage-tab" data-bs-toggle="tab"
				data-bs-target="#manage" type="button" role="tab"
				aria-controls="manage" aria-selected="true">관리</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="insert-tab" data-bs-toggle="tab"
				data-bs-target="#insert" type="button" role="tab"
				aria-controls="insert" aria-selected="false">등록</button>
		</li>
	</ul>
	
	<div id="input-group">
		<label for="matNm">자재명</label> <input id="matNm"> <img
			class="Magnifying-Glass-img" alt="image"
			src="../images/Magnifying_Glass.png"> <input type="text"
			readonly><br> <label for="actNm">업체명</label> <input
			id="actNm"> <img class="Magnifying-Glass-img" alt="image"
			src="../images/Magnifying_Glass.png"> <input type="text"
			readonly><br> <label for="outDate">출고일자</label> <input
			type="date" id="outDate"> - <input type="date" id="outDate">

		<button class="btn btn-dark">조회</button>
		<button class="btn btn-dark">초기화</button>
	</div>

	<div style="text-align: right;">
		<button class="btn btn-dark">추가</button>
		<button class="btn btn-dark">선택삭제</button>
		<button class="btn btn-dark">저장</button>
	</div>

	<div id="grid"></div>

	<script>
const grid = new tui.Grid({
      el: document.getElementById('grid'),
      data: [
    {
    	maLot: 'RML-10000-20221112001',
    	mtCode: 'RML-10101',
        maNm: '얇은 만두피',
        actNm: 'YD 만두피',
        outCount: 999,
        outDate: '2022-11-12',
        eDate: '2023-11-30',
        outD: '출고'
    },
    {
    	maLot: 'RML-10000-20221112002',
    	mtCode: 'RML-10101',
        maNm: '두꺼운 만두피',
        actNm: 'YD 만두피',
        outCount: 1200,
        outDate: '2022-11-12',
        eDate: '2023-11-30',
        outD: '출고'
    }
  ],
      rowHeaders: ['checkbox'],
      scrollX: false,
      scrollY: false,
      columns: [
        {
          header: '자재LOT번호',
          name: 'maLot'
        },
        {
          header: '자재코드',
          name: 'mtCode'
        },
        {
          header: '자재명',
          name: 'maNm'
        },
        {
          header: '업체명',
          name: 'actNm'
        },
        {
          header: '출고량',
          name: 'outCount'
        },
        {
          header: '출고일',
          name: 'outDate'
        },
        {
          header: '유통기한',
          name: 'eDate'
        },
        {
            header: '출고구분',
            name: 'outD'
          }
      ]
    });

    grid.on('check', ev => {
      console.log('check!', ev);
    });

    grid.on('uncheck', ev => {
      console.log('uncheck!', ev);
    });

    grid.on('focusChange', ev => {
      console.log('change focused cell!', ev);
    });
    </script>
</div>