<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 입고 관리</h3>
	</div>
	<hr>
	<ul class="ul-style">
		<li><label for="matNm">자재명</label><input id="matNm"
			data-bs-toggle="modal" data-bs-target="#matModal" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
			<input id="matOdCd" type="text" data-bs-toggle="modal"
			data-bs-target="#matModal" readonly></li>
		<li><label for="empNm">업체명</label><input id="empNm"
			data-bs-toggle="modal" data-bs-target="#empModal" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#empModal" src="../images/Magnifying_Glass.png">
			<input id="empId" type="text" data-bs-toggle="modal"
			data-bs-target="#empModal" readonly></li>

		<!-- Date Picker -->
		<li><label for="startpicker-input">입고일자</label>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="startpicker-input" type="text" aria-label="Date">
				<span class="tui-ico-date"></span>
				<div id="startpicker-container" style="margin-left: -1px;"></div>
			</div> <span>-</span>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="endpicker-input" type="text" aria-label="Date"> <span
					class="tui-ico-date"></span>
				<div id="endpicker-container" style="margin-left: -1px;"></div>
			</div>
			<!-- 조건조회 버튼 -->
			<button class="btn btn-dark btn-sm" id="SearchBtn">조회</button>
			<button class="btn btn-dark btn-sm" id="resetDpBtn">초기화</button>
			<!-- CRUD 버튼 -->
			<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
				data-bs-target="#addModal" style="margin-left: 50%;">추가</button>
			<button class="btn btn-dark btn-sm" id="deleteBtn">삭제</button>
			<button class="btn btn-dark btn-sm" id="saveBtn">저장</button></li>
	</ul>

	<div id="grid"></div>

	<!-- 추가 버튼 모달 -->
	<div class="modal" id="addModal" tabindex="-1"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">입고 예정 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="addModalClose"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid" style="width: 100%;"></div>
						<div align="center">
						<button class="btn btn-dark btn-sm" id="closeMdBtn" style="margin-top: 10px;">닫기</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="mtrCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid3"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 담당자 목록 모달 -->
	<div class="modal" id="empModal" tabindex="-1"
		aria-labelledby="empModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="empModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="empCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
	// token
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	let grid = inMatList(); 		// 입고전체조회 그리드
	
	let modalGrid = matList();		// 자재 목록 모달 그리드
	let modalGrid2 = actList();		// 직원 목록 모달 그리드
	let modalGrid3 = addInMat();	// 입고 예정 추가 모달 그리드
	
	modalRef();						// 모달 리프레쉬
	
	datePicker();					// datapicker
	
	resetBtnFn();					// 초기화 버튼
	SearchBtnFn();					// 조회 버튼
	insertOrder();					// 행 추가
	saveBtnFn();					// 저장 버튼
	deleteBtnFn();					// 삭제 버튼
	
	matModalClickFn();				// 자재 모달 클릭 시 인풋 태그로
	empModalClickFn();				// 직원 모달 클릭 시 인풋 태그로
	
	hideColumnFn();					// 발주코드 숨기기
	addModalCloseFn();				// 닫기 버튼
	
	/*------------------------------
	// 입고전체조회 그리드
	--------------------------------*/
	function inMatList(){
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
			  pageOptions: {
				    useClient: true,
				    perPage: 12
				  	},
		      bodyHeight: 480,
		      data: [[${matInList}]],
		      rowHeaders: ['checkbox','rowNum'],
		      scrollX: false,
		      scrollY: false,
		      columns: [
		        {
		          header: '자재LOT번호',
		          name: 'matLot',
		          align: 'center',
		          sortable: true
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd',
			      align: 'center',
		          sortable: true
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
			      align: 'center',
		          sortable: true
		        },
		        {
		          header: '업체명',
		          name: 'actNm',
			      align: 'center',
		          sortable: true
		        },
		        {
		          header: '입고량',
		          name: 'matInAmt',
		          align: 'center',
		          sortable: true
		        },
		        {
		          header: '입고일',
		          name: 'matInDate',
		          align: 'center',
		          sortable: true,
			      editor: {
			    	  type: 'datePicker',
			    	  options: {
			    		  format: 'yyyy-MM-dd',
			    		  language: 'ko'
			    	  }
			      },
			      validation: {
					     dataType: 'datePicker',
					     required: true
					      }
		        },		        {
		          header: '발주코드',
		          name: 'matOdCd',
		          
		        }
		      ]
		    });
		
    	return grid;
	}
	
	/*------------------------------
	// 입고예정 추가
	--------------------------------*/
	function addInMat() {
		let modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 400,
			data: [[${bfInList}]],
			rowHeaders: ['checkbox', 'rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '발주코드',
		          name: 'matOdCd',
		          align: 'center',
		          sortable: true
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd',
		          align: 'center',
		          sortable: true
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
		          align: 'center',
		          sortable: true
		        },
		        {
			      header: '업체명',
			      name: 'actNm',
			      align: 'center',
			      sortable: true
			    },
		        {
				  header: '입고량',
				  name: 'paAmt',
				  align: 'center',
				  sortable: true
				},
			    {
				  header: '검사일자',
				  name: 'matChkDate',
				  align: 'center',
				  sortable: true
				}
	      	] 
		});
		
		// 올 체크 시 전체 행이 체크된 채로 추가
		modalGrid.on('checkAll', function() {
			let data = modalGrid3.getCheckedRows();
			
			let arrData = [];
			
			for(let i=0; i<data.length; i++) {
				let row = {mtrCd: data[i].mtrCd, mtrNm: data[i].mtrNm,
			    		   matInAmt: data[i].paAmt, actNm: data[i].actNm,
			    		   matInDate: today, matLot : "", matOdCd: data[i].matOdCd};
 			    arrData.push(row)
			}
			
			// 행 추가
			for(let i=0; i<arrData.length; i++){
	 		    grid.prependRow(arrData[i]);
			}
			
			let arrIdx = arrData.length		// 추가하는 배열의 길이
			let idx = grid.getData().length	// 추가하고 난 뒤의 전체 그리드의 길이
			
			// 추가된 행 체크처리
			for(let i=0; i<arrIdx; i++){
			 	grid.check((idx-arrIdx)+i)
			}
			
		})
		
		return modalGrid;
	}
	
	/*------------------------------
	// 업체목록 모달
	--------------------------------*/
	function actList() {
		let modalGrid2 = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 250,
			data: [[${actList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '업체 코드',
					name: 'actCd',
					align: 'center'
				},
				{
					header: '업체명',
					name: 'actNm',
					align: 'center'
				}
			]
		});
		return modalGrid2;
	}
	
	/*------------------------------
	// 자재목록 모달 그리드
	--------------------------------*/
	function matList(){
		let modalGrid3 = new tui.Grid({
			el: document.getElementById('modalGrid3'),
			bodyHeight: 250,
			data: [[${matList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '자재코드',
		          name: 'mtrCd',
		          align: 'center',
		          sortable: true,
				  filter: {
				        type: 'select'			  
				      }
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
		          align: 'center',
		          sortable: true,
				  filter: {
				        type: 'select'			  
				      }
		        }
	     	] 
		});
		return modalGrid3;
	}
	
	/*------------------------------
	// 모달 리프레쉬
	--------------------------------*/
	function modalRef() {
		document.addEventListener('shown.bs.modal', function (){
			modalGrid.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid2.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid3.refreshLayout();
		}, '.modal');
	}
	
	/*------------
	// DatePicker
	----------------*/
	function datePicker() {
		rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')
		document.getElementById('startpicker-input').value = null;
		document.getElementById('endpicker-input').value = null;
	}
	
	/*------------------------
	// 초기화버튼 이벤트
	--------------------------*/
	function resetBtnFn() {
		document.getElementById('resetDpBtn').addEventListener('click',function(){
			document.getElementById('startpicker-input').value = null;
			document.getElementById('endpicker-input').value = null;
			document.getElementById('matNm').value = '';
			document.getElementById('matOdCd').value = '';
			document.getElementById('empNm').value = '';
			document.getElementById('empId').value = '';
			
			grid.resetData([[${matInList}]]);
		});	
	}
	
	/*------------------------
	// 행 추가
	----------------------------*/
	function insertOrder() {
		modalGrid3.on('check', function(ev){
			let data = modalGrid3.getCheckedRows();
			
			let arrData = [];
			
			for(let i=0; i<data.length; i++) {
				let row = {mtrCd: data[i].mtrCd, mtrNm: data[i].mtrNm,
			    		   matInAmt: data[i].paAmt, actNm: data[i].actNm,
			    		   matInDate: today, matLot : "", matOdCd: data[i].matOdCd};
 			    arrData.push(row)
			}
			
			// 행 추가
			for(let i=0; i<arrData.length; i++){
	 		    grid.prependRow(arrData[i]);
			}
			
			let arrIdx = arrData.length		// 추가하는 배열의 길이
			let idx = grid.getData().length	// 추가하고 난 뒤의 전체 그리드의 길이
			
			// 추가된 행 체크처리
			for(let i=0; i<arrIdx; i++){
			 	grid.check((idx-arrIdx)+i)
			}
		})
		
	}
	
	/*-----------
	// 행 삭제 버튼
	--------------*/
	function deleteBtnFn() {
		document.getElementById('deleteBtn').addEventListener('click', function(){
			let data = grid.getCheckedRows();
			console.log(data);
		
			Swal.fire({
			      title: '정말로 삭제 하시겠습니까?',
			      //text: "다시 되돌릴 수 없습니다. 신중하세요.",
			      icon: 'warning',
			      showCancelButton: true,
			      confirmButtonColor: '#3085d6',
			      cancelButtonColor: '#d33',
			      confirmButtonText: '승인',
			      cancelButtonText: '취소',
			      //reverseButtons: true, // 버튼 순서 거꾸로
			      
			    }).then((result) => {
			    	  $.ajax({
				        	url: '/inManage',
				        	method: 'DELETE',
				        	contentType: 'application/JSON',
							data: JSON.stringify(data),
		                      beforeSend : function (xhr) {
		                          xhr.setRequestHeader(header, token);
		                      },
							success: function(result){
								console.log(result);
								if(result >= 1){
						        	Swal.fire('삭제가 완료되었습니다.');
						        	grid.removeCheckedRows();
								} else {
									Swal.fire('삭제에 실패하였습니다.');
								}
							},
							error: function(reject){
								console.log(reject);
							}
			        })
			})
		})
	}
	
	/*--------------------------------
	// 저장 버튼 insert 이벤트
	----------------------------------*/
	function saveBtnFn() {
		document.getElementById('saveBtn').addEventListener('click', function(){
			let data = grid.getCheckedRows();
			console.log(data);
			
			Swal.fire({
		      title: '저장 하시겠습니까?',
		      icon: 'warning',
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '승인',
		      cancelButtonText: '취소',
		      
		    }).then((result) => {
		      if (result.isConfirmed) {
		    	// 저장 ajax 시작
		        $.ajax({
		        	url: '/inManage',
		        	method: 'POST',
		        	contentType: 'application/JSON',
					data: JSON.stringify(data),
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success: function(result){
						if(result >= 1){
				        	Swal.fire('저장이 완료되었습니다.');
				        	
				        	// MAT_INSTS 'Y'로 업데이트
				        	updateInsts(data);
				        	
				        	// 생산계획 상태 '미지시'로 업데이트
				        	updataSts(data);
				        	
							setTimeout(() => location.reload(),400);
				        	
						} else {
							Swal.fire('저장에 실패하였습니다.');
						}
					},
					error: function(reject){
						console.log(reject);
					}
		        }) // end ajax
		      }
		   })
		})
	}
	
    // 검수 테이블에 MAT_INSTS 'Y'로 업데이트(ajax 분리)
	function updateInsts(data){
    	$.ajax({
    		url: '/updateInsts',
    		method: 'POST',
    		contentType: 'application/JSON',
    		dataType: 'JSON',
    		async: false,
    		data: JSON.stringify(data),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
    		sussecc: function(result){
    			console.log('검수상태 Y로 업데이트 완료');
    		},
    		error: function(reject){
    			console.log(reject);
    		}
    	})
	}
    
	   // 생산계획의 상태를 미지시로 업데이트(ajax 분리)
	   function updataSts(data){
	      $.ajax({
	          url: '/updatePp',
	          method: 'POST',
	          async: false,
	          beforeSend : function (xhr) {
	             xhr.setRequestHeader(header, token);
	         },
	          contentType: 'application/JSON',
	         data: JSON.stringify(data),
	         success: function(result){
	            console.log('미지시로 업데이트 완료!')
	         },
	         error: function(reject){
	            console.log(reject);
	         }
	      }) // ajax end
	   }
	
	/*--------------------------------
	// 조회 버튼 클릭 시 그리드 등장
	----------------------------------*/
	function SearchBtnFn() {
		document.getElementById('SearchBtn').addEventListener('click',function() {
			let matOdCd = document.getElementById('matOdCd').value; // 자재 코드
			let empNm = document.getElementById('empNm').value; // 업체 이름
			let matInDate = document.getElementById('startpicker-input').value; // 시작 날짜
			let matEdate = document.getElementById('endpicker-input').value; // WHERE절 비교 용으로 유통기한에 end Date담음
			
			let data = {mtrCd: matOdCd, actNm: empNm, matInDate: matInDate, matEdate: matEdate};
			
			$.ajax({
				url: '/matIn',
				method: 'POST',
				contentType: 'application/JSON',
				data: JSON.stringify(data),
				beforeSend : function (xhr) {
				    xhr.setRequestHeader(header, token);
				},
				success: function(result){
					grid.resetData(result)
				},
				error: function(reject) {
					console.log(reject);
				}
			})
		})
	}
	
	/*--------------------------------
	// 자재 모달 행 클릭시 인풋 태그로
	----------------------------------*/
	function matModalClickFn() {
		modalGrid.on('click', function(ev){
			let data = modalGrid.getRow(ev.rowKey);
			console.log(data);
			let matNm = document.getElementById('matNm');
			let matCd = document.getElementById('matOdCd');

			
			matNm.value = data.mtrNm;
			matCd.value = data.mtrCd;

			
			mtrCloseBtn.click();
		})
	}
	
	/*--------------------------------
	// 업체 모달 행 클릭시 인풋 태그로
	----------------------------------*/
	function empModalClickFn() {
		modalGrid2.on('click', function(ev){
			let data = modalGrid2.getRow(ev.rowKey);
			console.log(data);
			
			let empNm = document.getElementById('empNm');
			let empId = document.getElementById('empId');
			
			empNm.value = data.actNm;
			empId.value = data.actCd;
			
			empCloseBtn.click();
		})
	}
	
	/*--------------------------------
	// 발주코드 숨기기
	----------------------------------*/
	function hideColumnFn() {
		grid.hideColumn('matOdCd');
	}

	/*--------------------------------
	// 추가모달 닫기 버튼
	----------------------------------*/
	function addModalCloseFn() {
		document.getElementById('closeMdBtn').addEventListener('click', function() {
			addModalClose.click();
		})
	}
	</script>
</div>