<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 입출고 조회</h3>
	</div>
	<!-- 탭 목록(버튼) 설정 -->
	<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="matIn-tab" data-bs-toggle="tab"
				data-bs-target="#matIn" type="button" role="tab"
				aria-controls="matIn" aria-selected="true">입고 조회</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="matOut-tab" data-bs-toggle="tab"
				data-bs-target="#matOut" type="button" role="tab"
				aria-controls="matOut" aria-selected="false">출고 조회</button>
		</li>
	</ul>
	<!-- 탭 본문 시작 -->
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane show active" id="matIn" role="tabpanel"
			aria-labelledby="matIn-tab">
			<ul class="ul-style">
				<li><label for="matNm">자재명</label><input id="matNm"
					data-bs-toggle="modal" data-bs-target="#matModal" readonly>
					<img class="Magnifying-Glass-img" alt="image"
					data-bs-toggle="modal" data-bs-target="#matModal"
					src="../images/Magnifying_Glass.png"> <input type="text"
					id="matCd" data-bs-toggle="modal" data-bs-target="#matModal"
					readonly></li>
				<li><label for="empNm">업체명</label><input id="empNm"
					data-bs-toggle="modal" data-bs-target="#empModal" readonly>
					<img class="Magnifying-Glass-img" alt="image"
					data-bs-toggle="modal" data-bs-target="#empModal"
					src="../images/Magnifying_Glass.png"> <input type="text"
					id="empId" data-bs-toggle="modal" data-bs-target="#empModal"
					readonly></li>

				<!-- Date Picker -->
				<li><label for="startpicker-input">입고일자</label>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="startpicker-input" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="startpicker-container" style="margin-left: -1px;"></div>
					</div> <span>-</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="endpicker-input" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="endpicker-container" style="margin-left: -1px;"></div>
					</div>
					<button class="btn btn-dark btn-sm" id="SearchBtn">조회</button>
					<button class="btn btn-dark btn-sm" id="resetBtn1">초기화</button></li>
			</ul>
			<div id="grid"></div>
		</div>

		<!-- 출고 관리 탭 -->
		<div class="tab-pane" id="matOut" role="tabpanel"
			aria-labelledby="matOut-tab">
			<ul class="ul-style">
				<li><label for="matNm">자재명</label><input id="mtrNm"
					data-bs-toggle="modal" data-bs-target="#matModal" readonly>
					<img class="Magnifying-Glass-img" alt="image"
					data-bs-toggle="modal" data-bs-target="#matModal"
					src="../images/Magnifying_Glass.png"> <input type="text"
					id="mtrCd" data-bs-toggle="modal" data-bs-target="#matModal"
					readonly></li>
				<li><label for="actNm">업체명</label><input id="actNm"
					data-bs-toggle="modal" data-bs-target="#actModal" readonly>
					<img class="Magnifying-Glass-img" alt="image"
					data-bs-toggle="modal" data-bs-target="#actModal"
					src="../images/Magnifying_Glass.png"> <input type="text"
					id="actCd" data-bs-toggle="modal" data-bs-target="#actModal"
					readonly></li>

				<!-- Date Picker -->
				<li><label for="startpicker-input">출고일자</label>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="startpicker-input2" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="startpicker-container2" style="margin-left: -1px;"></div>
					</div> <span>-</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="endpicker-input2" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="endpicker-container2" style="margin-left: -1px;"></div>
					</div>
					<button class="btn btn-dark btn-sm" id="SearchBtn2">조회</button>
					<button class="btn btn-dark btn-sm" id="resetBtn2">초기화</button></li>
			</ul>
			<div id="grid2"></div>
		</div>
	</div>

	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="matCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="actCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 업체 목록 모달 -->
	<div class="modal" id="empModal" tabindex="-1"
		aria-labelledby="empModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="empModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="empCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid3"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
	/* token */
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	let grid = matInList();		// 입고전체조회 그리드
	let grid2 = matOutList();	// 출고전체조회	그리드
	
	gridRef();					// 그리드 리프레시
	
	let modalGrid = matList();	// 자재목록 모달
	let modalGrid2 = actList();	// 업체목록 모달
	let modalGrid3 = empList();	// 직원목록 모달
	
	modalRef();					// 모달 리프레시
	
	matModalClickFn();			// 자재모달 클릭 이벤트
	actModalClickFn();			// 업체모달 클릭 이벤트
	empModalClickFn();			// 직원모달 클릭 이벤트
	
	SearchBtnFn();				// 입고 조회버튼 이벤트
	SearchBtnFn2();				// 출고 조회버튼 이벤트
	
	datePicker();				// DatePicker
	datePicker2();				// DatePicker2
	
	resetBtn1Event();			// 초기화 버튼1
	resetBtn2Event();			// 초기화 버튼2

	/*------------------------------
	// 입고전체조회 그리드
	--------------------------------*/
	function matInList(){
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
			  pageOptions: {
				    useClient: true,
				    perPage: 12
				  	},
		      bodyHeight: 480,
		      data: [[${matInList}]],
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '발주코드',
		          name: 'matOdCd',
		          align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '자재LOT번호',
		          name: 'matLot',
		          align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd',
			      align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
			      align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '업체명',
		          name: 'actNm',
			      align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '입고량',
		          name: 'matInAmt',
		          align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '입고일',
		          name: 'matInDate',
		          align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '유통기한',
		          name: 'matEdate',
		          align: 'center',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        }
		      ]
		    });
	    return grid;
	 }
	
	/*------------------------------
	// 출고전체조회 그리드
	--------------------------------*/
	function matOutList(){
		let grid2 = new tui.Grid({
		      el: document.getElementById('grid2'),
			  pageOptions: {
				    useClient: true,
				    perPage: 12
				  	},
		      bodyHeight: 480,
		      data: [[${matOutList}]],
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
			        {
				          header: '자재LOT번호',
				          name: 'matLot',
				          align: 'center',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '자재코드',
				          name: 'mtrCd',
				          align: 'center',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '자재명',
				          name: 'mtrNm',
					      align: 'center',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '업체명',
				          name: 'actNm',
					      align: 'center',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '출고량',
				          name: 'matOutAmt',
				          align: 'center',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '출고일',
				          name: 'matOutDate',
				          align: 'center',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
			             header: '유통기한',
			             name: 'matEdate',
			             align: 'center',
				         sortable: true,
					     filter: {
					    	  type: 'text'
					      }
				        }
				      ]
		    });
		
	    return grid2;
	}
	
		/*------------------------------
		// 그리드 리프레시
		--------------------------------*/
		function gridRef(){
			const matIn = document.getElementById('matIn-tab');
			matIn.addEventListener('click',function(){
				grid.refreshLayout();
			})
			
			const matOut = document.getElementById('matOut-tab');
			matOut.addEventListener('click',function(){
				grid2.refreshLayout();
			})
		}
		
		/*------------------------------
		// 자재명 목록 모달
		--------------------------------*/
		function matList(){
			let modalGrid = new tui.Grid({
				el: document.getElementById('modalGrid'),
				bodyHeight: 250,
				data: [[${matList}]],
				rowHeaders: ['rowNum'],
				scrollX: false,
				scrollY: true,
				columns: [{
			          header: '자재코드',
			          name: 'mtrCd',
			          align: 'center'
			        },
			        {
			          header: '자재명',
			          name: 'mtrNm',
			          align: 'center'
			        }
		      ] 
			});
			return modalGrid;
		}
		
		/*------------------------------
		// 업체목록 모달
		--------------------------------*/
		function actList() {
			let modalGrid2 = new tui.Grid({
				el: document.getElementById('modalGrid2'),
				bodyHeight: 250,
				data: [[${actList}]],
				rowHeaders: ['rowNum'],
				scrollX: false,
				scrollY: true,
				columns: [
					{
						header: '업체 코드',
						name: 'actCd',
						align: 'center'
					},
					{
						header: '업체명',
						name: 'actNm',
						align: 'center'
					}
				]
			});
			return modalGrid2;
		}
		
		/*------------------------------
		// 직원목록 모달
		--------------------------------*/
		function empList() {
			let modalGrid3 = new tui.Grid({
				el: document.getElementById('modalGrid3'),
				bodyHeight: 250,
				data: [[${actList}]],
				rowHeaders: ['rowNum'],
				scrollX: false,
				scrollY: true,
				columns: [
					{
						header: '업체 코드',
						name: 'actCd',
						align: 'center'
					},
					{
						header: '업체명',
						name: 'actNm',
						align: 'center'
					}
				]
			});
		return modalGrid3;
		}
		
		/*------------------------------
		// 모달 리프레시
		--------------------------------*/
		function modalRef() {
			document.addEventListener('shown.bs.modal', function (){
				modalGrid.refreshLayout();
			});
			
			document.addEventListener('shown.bs.modal', function (){
				modalGrid2.refreshLayout();
			});
			
			document.addEventListener('shown.bs.modal', function (){
				modalGrid3.refreshLayout();
			});
		}
		
		/*------------------------------
		// 자재목록 모달 클릭 이벤트
		--------------------------------*/
		function matModalClickFn() {
			document.getElementById('modalGrid').addEventListener('click', function() {
				let data = modalGrid.getData();
				let val = modalGrid.getFocusedCell().rowKey;
				
				document.getElementById('matNm').value = data[val].mtrNm;
				document.getElementById('matCd').value = data[val].mtrCd;
				
				document.getElementById('mtrNm').value = data[val].mtrNm;
				document.getElementById('mtrCd').value = data[val].mtrCd;
				
				matCloseBtn.click();
			})
		}
		
		/*------------------------------
		// 업체목록 모달 클릭 이벤트
		--------------------------------*/
		function actModalClickFn() {
			document.getElementById('modalGrid2').addEventListener('click', function() {
				let data = modalGrid2.getData();
				let val = modalGrid2.getFocusedCell().rowKey;
				
				document.getElementById('actNm').value = data[val].actNm;
				document.getElementById('actCd').value = data[val].actCd;
				
				actCloseBtn.click();
			})
		}
		
		/*------------------------------
		// 담당자목록 모달 클릭 이벤트
		--------------------------------*/
		function empModalClickFn() {
			document.getElementById('modalGrid3').addEventListener('click', function() {
				let data = modalGrid3.getData();
				let val = modalGrid3.getFocusedCell().rowKey;
				
				document.getElementById('empNm').value = data[val].actNm;
				document.getElementById('empId').value = data[val].actCd;
				
				empCloseBtn.click();
			})
		}
		
		/*------------------------------
		// Date Picker
		--------------------------------*/
		 function datePicker() {
			 rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container');
				document.getElementById('startpicker-input').value = null;
				document.getElementById('endpicker-input').value = null;
		   }
		    
		/*------------------------------
		// Date Picker2
		--------------------------------*/
		 function datePicker2() {
			 rangeDatepickerInit('#startpicker-input2', '#startpicker-container2','#endpicker-input2','#endpicker-container2');
				document.getElementById('startpicker-input2').value = null;
				document.getElementById('endpicker-input2').value = null;
			}
		
		/*------------------------
		// 초기화버튼1 이벤트
		--------------------------*/
		function resetBtn1Event() {
			document.getElementById('resetBtn1').addEventListener('click',function(){
				document.getElementById('startpicker-input').value = null;
				document.getElementById('endpicker-input').value = null;
				
				document.getElementById('startpicker-input2').value = null;
				document.getElementById('endpicker-input2').value = null;
				
				document.getElementById('matCd').value = '';
				document.getElementById('matNm').value = '';
				document.getElementById('mtrCd').value = '';
				document.getElementById('mtrNm').value = '';
				document.getElementById('empNm').value = '';
				document.getElementById('empId').value = '';
				document.getElementById('actNm').value = '';
				document.getElementById('actCd').value = '';
			});	
		}
		
		/*------------------------
		// 초기화버튼2 이벤트
		--------------------------*/
		function resetBtn2Event() {
			document.getElementById('resetBtn2').addEventListener('click',function(){
				document.getElementById('startpicker-input').value = null;
				document.getElementById('endpicker-input').value = null;
				
				document.getElementById('startpicker-input2').value = null;
				document.getElementById('endpicker-input2').value = null;
				
				document.getElementById('matCd').value = '';
				document.getElementById('matNm').value = '';
				document.getElementById('mtrCd').value = '';
				document.getElementById('mtrNm').value = '';
				document.getElementById('empNm').value = '';
				document.getElementById('empId').value = '';
				document.getElementById('actNm').value = '';
				document.getElementById('actCd').value = '';
			});	
		}
		
		/*--------------------------------
		// 입고 조회 버튼 클릭 시 그리드 등장
		----------------------------------*/
		function SearchBtnFn() {
			document.getElementById('SearchBtn').addEventListener('click',function(){
				let matOdCd = document.getElementById('matCd').value; // 자재 코드
				let actNm = document.getElementById('empNm').value; // 업체 이름
				let matInDate = document.getElementById('startpicker-input').value; // 시작 날짜
				let matEdate = document.getElementById('endpicker-input').value; // WHERE절 비교 용으로 유통기한에 end Date담음
				
				let data = {mtrCd: matOdCd, actNm: actNm, matInDate: matInDate, matEdate: matEdate};
				
				$.ajax({
					url: '/searchInOutList',
					method: 'POST',
					contentType: 'application/JSON',
					data: JSON.stringify(data),
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success: function(result){
						grid.resetData(result)
					},
					error: function(reject) {
						console.log(reject);
					}
				})
			})
		}
		
		/*--------------------------------
		// 출고 조회 버튼 클릭 시 그리드 등장
		----------------------------------*/
		function SearchBtnFn2() {
			document.getElementById('SearchBtn2').addEventListener('click',function(){
				let matOdCd = document.getElementById('mtrCd').value; // 자재 코드
				let actNm = document.getElementById('actNm').value; // 업체 이름
				let matInDate = document.getElementById('startpicker-input2').value; // 시작 날짜
				let matEdate = document.getElementById('endpicker-input2').value; // WHERE절 비교 용으로 유통기한에 end Date담음
				
				let data = {mtrCd: matOdCd, actNm: actNm, matInDate: matInDate, matEdate: matEdate};
				
				$.ajax({
					url: '/searchOutInList',
					method: 'POST',
					contentType: 'application/JSON',
					data: JSON.stringify(data),
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success: function(result){
						grid2.resetData(result)
					},
					error: function(reject) {
						console.log(reject);
					}
				})
			})
		}
	</script>
</div>