<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">
	<div>
		<div id="mat-od-title">
			<h3>자재 발주 관리</h3>
		</div>
		<hr>
		<!-- 탭 목록(버튼) 설정 -->
		<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="manage-tab" data-bs-toggle="tab"
					data-bs-target="#plan" type="button" role="tab"
					aria-controls="manage" aria-selected="true">생산계획서용</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="normal-tab" data-bs-toggle="tab"
					data-bs-target="#normal" type="button" role="tab"
					aria-controls="normal" aria-selected="false">일반</button>
			</li>
		</ul>
		<!-- 탭 본문 시작 -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane show active" id="normal" role="tabpanel"
				aria-labelledby="normal-tab">
				<div id="input-group">
					<ul class="ul-style">
						<li><label for="matCode">발주코드</label><input id="matCode"></li>
						<li><label for="matNm">자재명</label><input id="matNm" readonly><img
							id="matNm" class="Magnifying-Glass-img" alt="image"
							data-bs-toggle="modal" data-bs-target="#matModal"
							src="../images/Magnifying_Glass.png"><input type="text"
							readonly></li>
						<li><label for="actNm">업체명</label><input id="actNm" readonly><img
							id="actNm" class="Magnifying-Glass-img" alt="image"
							data-bs-toggle="modal" data-bs-target="#actModal"
							src="../images/Magnifying_Glass.png"><input type="text"
							readonly></li>

						<!-- Date Picker -->
						<li><label for="startpicker-input">발주신청일</label>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="startpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="startpicker-container" style="margin-left: -1px;"></div>
							</div> <span>-</span>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="endpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="endpicker-container" style="margin-left: -1px;">
								</div>
							</div>
							<button class="btn btn-dark btn-sm">조회</button>
							<button class="btn btn-dark btn-sm">초기화</button></li>
					</ul>
				</div>

				<div style="text-align: right;">
					<button class="btn btn-dark btn-sm">추가</button>
					<button class="btn btn-dark btn-sm">선택삭제</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>

				<div id="grid"></div>
			</div>

			<!-- 생산계획서용 탭 -->
			<div class="tab-pane" id="plan" role="tabpanel"
				aria-labelledby="plan-tab">
				<div align="right">
					<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
						data-bs-target="#planModal" id="planBtn">신규 생산 계획서 조회</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>
				<div>
					<table class="table">
						<tr>
							<td class="col-7"><h3>신규 생산 계획</h3>
								<div id="grid2"></div></td>
							<td class="col-1"></td>
							<td class="col-4"><h3>필요 자재</h3>
								<div id="grid3"></div></td>
						</tr>
					</table>

					<h3>자재 발주</h3>
					<div id="grid4"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">추가</button>
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">추가</button>
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 신규 생산 계획서 목록 모달 -->
	<div class="modal" id="planModal" tabindex="-1"
		aria-labelledby="planModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="planModalLabel">신규 생산 계획서 모델</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="planModalClose"></button>
				</div>
				<div class="modal-body">
					<!-- Date Picker -->
					<label for="startpicker-input">발주신청일</label>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="startpicker-input2" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="startpicker-container2" style="margin-left: -1px;"></div>
					</div>
					<span>-</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="endpicker-input2" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="endpicker-container2" style="margin-left: -1px;"></div>
					</div>
					<button class="btn btn-dark btn-sm">조회</button>
					<button class="btn btn-dark btn-sm">초기화</button>
					<div>
						<div id="modalGrid3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 	<span th:text="${odList[0]}"></span> 
		<span th:text="${odList[1]}"></span> 
 		<span th:text="${matList}"></span> 
 		<span th:text="${actList}"></span> -->

	<script th:inline="javascript">
		let odLookUp = tab1GridInit();		// 탭1 조회 그리드
		let newPlan = tab2GridInit();		// 탭2 새로운생산계획 그리드
		let needMat = tab3GridInit();		// 탭2 필요자재 그리드
		let odMat = tab4GridInit();			// 탭2 자재발주 그리드
		
		let needMatModal = matList();		// 자재목록 모달
		let actList = actListModal();		// 업체목록 모달
		let planModal = addPlan(); 			// 생산계획서 모달
		
		gridRef();			// 그리드 리프레쉬
		modalRef();			// 모달 리프레쉬
		
		addNewPlan();			// 신규생산계획 추가 이벤트
		
		datePicker(); 		// datePicker
		datePicker2();		// datePicker
	
	/*------------------------------
	// 일반 탭 그리드
	--------------------------------*/
	function tab1GridInit(){
		let odLookUp = new tui.Grid({
	      el: document.getElementById('grid'),
	      bodyHeight: 500,
	      data: [[${odList}]],
	      rowHeaders: ['checkbox', 'rowNum'],
	      scrollX: false,
	      scrollY: true,
	      columns: [
	        {
	          header: '발주코드',
	          name: 'mOdCd'
	        },
	        {
	          header: '자재코드',
	          name: 'mtrCd'
	        },
	        {
	          header: '자재명',
	          name: 'mtrNm'
	        },
	        {
	          header: '단가(원)',
	          name: 'mOddNm'
	        },
	        {
	          header: '발주량',
	          name: 'mOddAmt'
	        },
	        {
	          header: '총액',
	          name: 'mSum'
	        },
	        {
	          header: '업체명',
	          name: 'actNm'
	        },
	        {
	          header: '발주신청일',
	          name: 'mOdDd'
	        },
	        {
	          header: '납기요청일',
	          name: 'mOddDate'
	        }
	      ]
	    });
		
		odLookUp.on('check', ev => {
	      console.log('check!', ev);
	    });
	
	    odLookUp.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });
	
	    odLookUp.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
	    
	    return odLookUp;
	}
	
	/*------------------------------
	// 신규생산계획조회(생산계획서용 탭)
	--------------------------------*/
	function tab2GridInit(){
		let newPlan = new tui.Grid({
		      el: document.getElementById('grid2'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '상세계획번호',
		          name: 'plandCd'
		        },
		        {
		          header: '제품코드',
		          name: 'prdCd'
		        },
		        {
		          header: '제품명',
		          name: 'prdNm'
		        },
		        {
		          header: '계획량',
		          name: 'pplndAmt'
		        },
		        {
		          header: '주문납기일',
		          name: 'deDate'
		        }
		      ]
		    });
		
			newPlan.on('check', ev => {
		      console.log('check!', ev);
		    });
	
			newPlan.on('uncheck', ev => {
		      console.log('uncheck!', ev);
		    });
	
			newPlan.on('focusChange', ev => {
		      console.log('change focused cell!', ev);
		    });
		 
		   	return newPlan;
	}

	/*------------------------------
	// 필요자재 리스트(생산계획 탭)
	--------------------------------*/
	function tab3GridInit() {
		let needMat = new tui.Grid({
		      el: document.getElementById('grid3'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		    	  {
			          header: '자재코드',
			          name: 'mtrCd'
			        },
			        {
			          header: '자재명',
			          name: 'mtrNm'
			        },
			        {
			          header: '소모량',
			          name: 'bomAmt'
			        }
		      ]
		    });
	
			needMat.on('check', ev => {
		      console.log('check!', ev);
		    });
	
			needMat.on('uncheck', ev => {
		      console.log('uncheck!', ev);
		    });
	
			needMat.on('focusChange', ev => {
		      console.log('change focused cell!', ev);
		    });
			
			return needMat;
	}
	
	/*------------------------------
	// 자재발주 리스트(생산계획 탭)
	--------------------------------*/
	function tab4GridInit() {
		let odMat = new tui.Grid({
		      el: document.getElementById('grid4'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		    	  {
			          header: '자재코드',
			          name: 'mtrCd'
			        },
			        {
			          header: '자재명',
			          name: 'mtrNm'
			        },
			        {
				      header: '안전발주량',
				      name: 'safeod'
				    },
			        {
				      header: '단가(원)',
				      name: 'mOddMn'
				    },
				    {
					  header: '발주량',
					  name: 'mOddAmt'
					},
					{
					  header: '총액',
					  name: 'sumPrice'
					},
					{
					  header: '업체명',
					  name: 'actNm'
					},
					{
					  header: '발주신청일',
					  name: 'mOdDd'
					},
					{
					  header: '납기요청일',
					  name: 'mOddDate'
					}
						        
		      ]
		    });
	
		odMat.on('focusChange', ev => {
	        console.log('change focused cell!', ev);
	      });
	    
	    	return odMat;
		}
	
	/*------------------------------
	// 그리드 리프레쉬
	--------------------------------*/
	function gridRef() {
		const manageTab = document.getElementById('normal-tab');
			manageTab.addEventListener('click',function(){
				odLookUp.refreshLayout();
		})
		
		const insertTab = document.getElementById('manage-tab');
		insertTab.addEventListener('click',function(){
			newPlan.refreshLayout();
			needMat.refreshLayout();
			odMat.refreshLayout();
		})
	};
	
	/*------------------------------
	// 자재목록 모달 그리드
	--------------------------------*/
	function matList() {
		let needMatModa1 = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 200,
			data: [[${matList}]],
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '자재코드',
					name: 'mtrCd',
				},
				{
					header: '자재명',
					name: 'mtrNm',
				},
				{
					header: '규격',
					name: 'mtrStd'
				},
				{
					header: '수량',
					name: 'mSamt'
				}
			]
		});
		return needMatModa1;
	}
	
	/*------------------------------
	// 업체목록 모달 그리드
	--------------------------------*/
	function actListModal() {
		let actList = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 200,
			data: [[${actList}]],
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: true,
			columns: [
					{
						header: '업체 코드',
						name: 'actCd',
					},
					{
						header: '업체명',
						name: 'actNm',
					}
				]
			});
		return actList;
	}
	
	/*------------------------------
	// 생산계획 모달 그리드
	--------------------------------*/
	function addPlan() {
		let planModal = new tui.Grid({
			el: document.getElementById('modalGrid3'),
			bodyHeight: 400,
			data: [[${addNewPlan}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '생산 계획 코드',
					name: 'pplnCd',
				},
				{
					header: '계획명',
					name: 'pplnName',
				},
				{
					header: '계획일자',
					name: 'pplnDays',
				},
				{
					header: '납기일자',
					name: 'deDate',
				}
			]
		});
		
		return planModal;
	}
	
	 /*-----------------------------------------
	// 새로운계획 모달에서 행 클릭 시에 그리드에 추가 
	-------------------------------------------*/
  	function addNewPlan() {
 		planModal.on('click', function(ev) {
	 	    let data = planModal.getRow(ev.rowKey);
	 	    
	 	   			$.ajax({
					url: '/matAddNewPlan',
					type: 'POST',
					contentType: 'application/json',	// json타입으로 반환 하겠다.
					data: JSON.stringify(data),			// 데이터를 json타입으로.
					success: function(result) {
						newPlan.resetData(result);
						planModalClose.click();
					},
					error: function(reject) {
						console.log(reject);
					}
				})
 			})
		}  
	 
	 /*-----------------------------------------
	// 신규생산계획 체크 시 자재목록으로 넘어가도록 처리. 
	-------------------------------------------*/
	function chkPlanMat() {
		 
	 } 
	 
	/*------------------------------
	// 모달 그리드 리프레쉬
	--------------------------------*/
	function modalRef(){
		document.addEventListener('shown.bs.modal', function (){
			needMatModal.refreshLayout();
		});

		document.addEventListener('shown.bs.modal', function (){
			actList.refreshLayout();
		});
	
		document.addEventListener('shown.bs.modal', function (){
			planModal.refreshLayout();
		});
	}
	
	/*------------
	// datepicker
	----------------*/
	function datePicker() {
	   var today = new Date();
	    var picker = tui.DatePicker.createRangePicker({
	        startpicker: {
	            date: today,
	            input: '#startpicker-input',
	            container: '#startpicker-container'
	        },
	        endpicker: {
	            date: today,
	            input: '#endpicker-input',
	            container: '#endpicker-container'
	        },
	        selectableRanges: [
	            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
	        ]
	    });
	}
	
	/*------------
	// datepicker2
	----------------*/
	function datePicker2() {
		   var today = new Date();
		    var picker = tui.DatePicker.createRangePicker({
		        startpicker: {
		            date: today,
		            input: '#startpicker-input2',
		            container: '#startpicker-container2'
		        },
		        endpicker: {
		            date: today,
		            input: '#endpicker-input2',
		            container: '#endpicker-container2'
		        },
		        selectableRanges: [
		            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
		        ]
		    });
		}
</script>
</div>