<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<div class="container" layout:fragment="content">
	<div>
		<div id="mat-od-title">
			<h3>자재 발주 관리</h3>
		</div>
		<hr>
		<!-- 탭 목록(버튼) 설정 -->
		<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="manage-tab" data-bs-toggle="tab"
					data-bs-target="#plan" type="button" role="tab"
					aria-controls="manage" aria-selected="true">생산계획서용</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="normal-tab" data-bs-toggle="tab"
					data-bs-target="#normal" type="button" role="tab"
					aria-controls="normal" aria-selected="false">일반</button>
			</li>
		</ul>
		<!-- 탭 본문 시작 -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane show active" id="normal" role="tabpanel"
				aria-labelledby="normal-tab">
				<div id="input-group">
					<ul class="ul-style"><br>
<!-- 						<li><label for="matCode">발주코드</label><input id="matCode"></li>
						<li><label for="matNm">자재명</label><input id="matNm"
							name="matNm" readonly> <img id="matNm"
							class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
							data-bs-target="#matModal" src="../images/Magnifying_Glass.png"> <input
							id="matCd" name="matCd" type="text" readonly></li>
						<li><label for="actNm">업체명</label><input id="actNm"
							name="actNm" readonly> <img id="actNm"
							class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
							data-bs-target="#actModal" src="../images/Magnifying_Glass.png"> <input
							id="actCd" name="actCd" type="text" readonly></li> -->

						<!-- Date Picker -->
						<li><label for="startpicker-input">발주신청일</label>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="startpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="startpicker-container" style="margin-left: -1px;"></div>
							</div> <span>-</span>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input id="endpicker-input" type="text" aria-label="Date">
								<span class="tui-ico-date"></span>
								<div id="endpicker-container" style="margin-left: -1px;">
								</div>
							</div>
							<button class="btn btn-dark btn-sm">조회</button>
							<button class="btn btn-dark btn-sm" id="resetBtn">초기화</button></li>
					</ul>
				</div>

				<div style="text-align: right;">
					<button class="btn btn-dark btn-sm" id="insertBtn">추가</button>
					<button class="btn btn-dark btn-sm" id="deleteBtn">삭제</button>
					<button class="btn btn-dark btn-sm" id="saveBtn">저장</button>
				</div>

				<div id="grid"></div>
			</div>

			<!-- 생산계획서용 탭 -->
			<div class="tab-pane" id="plan" role="tabpanel"
				aria-labelledby="plan-tab">
				<div align="right">
					<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
						data-bs-target="#planModal" id="planBtn">신규 생산 계획서 조회</button>
					<button class="btn btn-dark btn-sm">저장</button>
				</div>
				<div>
					<table class="table">
						<tr>
							<td class="col-7"><h3>신규 생산 계획</h3>
								<div id="grid2"></div></td>
							<td class="col-1"></td>
							<td class="col-4"><h3>필요 자재</h3>
								<div id="grid3"></div></td>
						</tr>
					</table>

					<h3>자재 발주</h3>
					<div id="grid4"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="matModalClose"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="actModalClose"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 신규 생산 계획서 목록 모달 -->
	<div class="modal" id="planModal" tabindex="-1"
		aria-labelledby="planModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="planModalLabel">신규 생산 계획서 모델</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="planModalClose"></button>
				</div>
				<div class="modal-body">
					<!-- Date Picker -->
					<label for="startpicker-input">발주신청일</label>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="startpicker-input2" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="startpicker-container2" style="margin-left: -1px;"></div>
					</div>
					<span>-</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
						<input id="endpicker-input2" type="text" aria-label="Date">
						<span class="tui-ico-date"></span>
						<div id="endpicker-container2" style="margin-left: -1px;"></div>
					</div>
					<button class="btn btn-dark btn-sm">조회</button>
					<button class="btn btn-dark btn-sm" id="resetBtn2">초기화</button>
					<div>
						<div id="modalGrid3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 	<span th:text="${odList[0]}"></span> 
		<span th:text="${odList[1]}"></span> 
 		<span th:text="${matList}"></span> 
 		<span th:text="${actList}"></span> -->

	<script th:inline="javascript">
		let odLookUp = tab1GridInit();		// 탭1 조회 그리드
		getModal();							// 탭1 헤더의 모달 띄우기
		
		let newPlan = tab2GridInit();		// 탭2 새로운생산계획 그리드
		let needMat = tab3GridInit();		// 탭2 필요자재 그리드
		let odMat = tab4GridInit();			// 탭2 자재발주 그리드
		
		let needMatModal = matList();		// 자재목록 모달
		let actList = actListModal();		// 업체목록 모달
		let planModal = addPlan(); 			// 생산계획서 모달
		
		gridRef();							// 그리드 리프레쉬
		modalRef();							// 모달 리프레쉬
		
		matListSelect();					// 자재목록 행 클릭 이벤트
		actListSelect();					// 업체목록 행 클릭 이벤트
		addNewPlan();						// 신규생산계획 모달창 행 클릭 이벤트
		chkPlanMat();						// 신규생산계획 체크 이벤트
		chkMatList();						// 필요자재목록 체크 이벤트
		
		datePicker(); 						// datePicker
		datePicker2();						// datePicker2
		resetBtnEvent();					// datepicker 초기화 버튼
		resetDate();						// datepicker2 초기화 버튼
	
		insertOrder();						// 행 추가(일반 탭)
		deleteOrder();						// 행 삭제(일반 탭)
		saveOrder();						// 행 저장(일반 탭)
		
	/*------------------------------
	// 자재발주관리 전체 조회(일반 탭)
	--------------------------------*/
	function tab1GridInit(){
		let odLookUp = new tui.Grid({
	      el: document.getElementById('grid'),
	      bodyHeight: 500,
	      data: [[${odList}]],
	      rowHeaders: ['checkbox', 'rowNum'],
	      scrollX: false,
	      scrollY: true,
	      columns: [
	        {
	          header: '발주코드',
	          name: 'mOdCd'
	        },
	        {
	          header: '자재코드',
	          name: 'mtrCd'
	        },
	        {
	          header: '자재명',
	          name: 'mtrNm',
			  filter: {
			        type: 'select'			  
			      }
	        },
	        {
	          header: '단가(원)',
	          name: 'mOddNm',
			  editor: 'text'
	        },
	        {
	          header: '발주량',
	          name: 'mOddAmt',
			  editor: 'text'
	        },
	        {
	          header: '총액',
	          name: 'mSum'
	        },
	        {
	          header: '업체명',
	          name: 'actNm',
			  filter: {
			        type: 'select'			  
			      	 }
	        },
	        {
	          header: '발주신청일',
	          name: 'mOdDd'
	        },
	        {
	          header: '납기요청일',
	          name: 'mOddDate',
		      editor: 'datePicker',
		      validation: {
				     dataType: 'datePicker',
				     required: true
				      }
	        }
	      ]
	    });
		
		odLookUp.on('check', ev => {
	      console.log('check!', ev);
	    });
	
	    odLookUp.on('uncheck', ev => {
	      console.log('uncheck!', ev);
	    });
	
	    odLookUp.on('focusChange', ev => {
	      console.log('change focused cell!', ev);
	    });
	    
	    return odLookUp;
	}
	
    /*---------------------------------
	// 해당하는 header의 모달창 띄우기(일반 탭)
	-------------------------------------*/
	function getModal() {
		odLookUp.on('click',function(ev){
			if(!ev.rowKey) {
				return;
			}
			// 자재 목록 선택 시 행으로 가져오기
	   		if(ev.columnName =='mtrCd' || ev.columnName =='mtrNm'){
	   			$('#matModal').modal('show');
	   			needMatModal.refreshLayout();
	   			
	   		// 업체 목록 선택 시 행으로 가져오기
	   		}else if (ev.columnName =='actNm'){
	   	   			$('#actModal').modal('show');
	   	   		 actList.refreshLayout();
	   	   		}
	   		
	   		// 단가 * 발주량 = 총합
	   		else if (ev.columnName == 'mSum'){
	   			let data = odLookUp.getRow(ev.rowKey);
	   			let val =  odLookUp.getFocusedCell().rowKey;
				if(data.mOddNm != null && data.mOddAmt != null){
					odLookUp.setValue(val, 'mSum', (data.mOddNm * data.mOddAmt));
				}
	   		}
	   	});
    }
    
	/*------------------------------
	// 신규생산계획조회(생산계획서용 탭)
	--------------------------------*/
	function tab2GridInit(){
		let newPlan = new tui.Grid({
		      el: document.getElementById('grid2'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '상세계획번호',
		          name: 'plandCd'
		        },
		        {
		          header: '제품코드',
		          name: 'prdCd'
		        },
		        {
		          header: '제품명',
		          name: 'prdNm'
		        },
		        {
		          header: '계획량',
		          name: 'pplndAmt'
		        },
		        {
		          header: '주문납기일',
		          name: 'deDate'
		        }
		      ]
		    });
		 
		   	return newPlan;
	}

	/*------------------------------
	// 필요자재 리스트(생산계획 탭)
	--------------------------------*/
	function tab3GridInit() {
		let needMat = new tui.Grid({
		      el: document.getElementById('grid3'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		    	  {
			          header: '자재코드',
			          name: 'mtrCd'
			        },
			        {
			          header: '자재명',
			          name: 'mtrNm'
			        },
			        {
			          header: '소모량',
			          name: 'bomAmt'
			        }
		      ]
		    });
			return needMat;
	}
	
	/*------------------------------
	// 자재발주 리스트(생산계획 탭)
	--------------------------------*/
	function tab4GridInit() {
		let odMat = new tui.Grid({
		      el: document.getElementById('grid4'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		    	  {
			          header: '자재코드',
			          name: 'mtrCd'
			        },
			        {
			          header: '자재명',
			          name: 'mtrNm'
			        },
			        {
				      header: '안전발주량',
				      name: 'safeod'
				    },
			        {
				      header: '단가(원)',
				      name: 'mOddMn'
				    },
				    {
					  header: '발주량',
					  name: 'mOddAmt'
					},
					{
					  header: '총액',
					  name: 'sumPrice'
					},
					{
					  header: '업체명',
					  name: 'actNm'
					},
					{
					  header: '발주신청일',
					  name: 'mOdDd'
					},
					{
					  header: '납기요청일',
					  name: 'mOddDate'
					}
						        
		      ]
		    });
	    
	    	return odMat;
		}
	
	/*------------------------------
	// 그리드 리프레쉬
	--------------------------------*/
	function gridRef() {
		const manageTab = document.getElementById('normal-tab');
			manageTab.addEventListener('click',function(){
				odLookUp.refreshLayout();
		})
		
		const insertTab = document.getElementById('manage-tab');
		insertTab.addEventListener('click',function(){
			newPlan.refreshLayout();
			needMat.refreshLayout();
			odMat.refreshLayout();
		})
	};
	
	/*------------------------------
	// 자재목록 모달 그리드(일반 탭)
	--------------------------------*/
	function matList() {
		let needMatModal = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 200,
			data: [[${matList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '자재코드',
					name: 'mtrCd',
				},
				{
					header: '자재명',
					name: 'mtrNm',
				},
				{
					header: '규격',
					name: 'mtrStd'
				},
				{
					header: '수량',
					name: 'mSamt'
				}
			]
		});
		return needMatModal;
	}
	
	/*------------------------------
	// 업체목록 모달 그리드(일반 탭)
	--------------------------------*/
	function actListModal() {
		let actList = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 200,
			data: [[${actList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
					{
						header: '업체 코드',
						name: 'actCd',
					},
					{
						header: '업체명',
						name: 'actNm',
					}
				]
			});
		return actList;
	}
	
	/*----------------------------------
	// 자재 목록 클릭 시 빈 그리드 안으로 (일반 탭)
	------------------------------------*/
	function matListSelect() {
		needMatModal.on('click', function(ev){
			let data = needMatModal.getRow(ev.rowKey);
			let val = odLookUp.getFocusedCell().rowKey;
			
			odLookUp.setValue(val, 'mtrCd', data.mtrCd);
			odLookUp.setValue(val, 'mtrNm', data.mtrNm);
			matModalClose.click();
		})
	}
	
	/*----------------------------------
	// 업체 목록 클릭 시 빈 그리드 안으로(일반 탭)
	------------------------------------*/
	function actListSelect() {
		let actNm = document.getElementById('actNm');	// 값이 담길 input 태그
		let actCd = document.getElementById('actCd');	// 값이 담길 input 태그
		actList.on('click', function(ev){
			let data = actList.getRow(ev.rowKey);
			let val =  odLookUp.getFocusedCell().rowKey;
			
			odLookUp.setValue(val, 'actNm', data.actNm);

			actModalClose.click();
		})
	}
	
	/*------------------------------
	// 생산계획 모달 그리드(생산계획서용 탭)
	--------------------------------*/
	function addPlan() {
		let planModal = new tui.Grid({
			el: document.getElementById('modalGrid3'),
			bodyHeight: 400,
			data: [[${addNewPlan}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '생산 계획 코드',
					name: 'pplnCd',
				},
				{
					header: '계획명',
					name: 'pplnName',
				},
				{
					header: '계획일자',
					name: 'pplnDays',
				},
				{
					header: '납기일자',
					name: 'deDate',
				}
			]
		});
		
		return planModal;
	}
	
	 /*-------------------------------------------------
	// 새로운계획 모달에서 행 클릭 시에 그리드에 추가(생산계획서용 탭)
	---------------------------------------------------*/
  	function addNewPlan() {
 		planModal.on('click', function(ev) {
	 	    let data = planModal.getRow(ev.rowKey);
	 	    
	 	   			$.ajax({
					url: '/matAddNewPlan',
					type: 'POST',
					contentType: 'application/json',	// json타입으로 반환 하겠다.
					data: JSON.stringify(data),			// 데이터를 json타입으로.
					success: function(result) {
						newPlan.resetData(result);
						planModalClose.click();
					},
					error: function(reject) {
						console.log(reject);
					}
				})
 			})
		}  
	 
	 /*-------------------------------------------------------
	// 신규생산계획 체크 시 자재목록으로 넘어가도록 처리.(생산계획서용 탭)
	----------------------------------------------------------*/
	function chkPlanMat() {
		newPlan.on('click', function(){
			let data = newPlan.getCheckedRows();
			/* console.log(data[0]); */
			$.ajax({
				url: '/needMatList',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(data[0]),
				success: function(result) {
					needMat.resetData(result);
				},
				error: function(reject) {
					console.log(reject);
				}
			})
			
		})
	 } 
	 
	 /*-----------------------------------------
	// 필요자재 클릭시 자재발주 리스트로(생산계획서용 탭)
	-------------------------------------------*/
	function chkMatList() {
		needMat.on('click', function(){
			let data = needMat.getCheckedRows();
		/* 	console.log(data[0]); */
 			$.ajax({
				url: '/chkMatList',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(data[0]),
				success: function(result) {
					odMat.appendRows(result);
				},
				error: function(reject) {
					console.log(reject);
				}
			}) 
		})
	 } 
	 
	/*------------------------------
	// 모달 그리드 리프레쉬
	--------------------------------*/
	function modalRef(){
		document.addEventListener('shown.bs.modal', function (){
			needMatModal.refreshLayout();
		});

		document.addEventListener('shown.bs.modal', function (){
			actList.refreshLayout();
		});
	
		document.addEventListener('shown.bs.modal', function (){
			planModal.refreshLayout();
		});
	}
	
	/*------------
	// datepicker
	----------------*/
	function datePicker() {
	   var today = new Date();
	    var picker = tui.DatePicker.createRangePicker({
	        startpicker: {
	            date: today,
	            input: '#startpicker-input',
	            container: '#startpicker-container'
	        },
	        endpicker: {
	            date: today,
	            input: '#endpicker-input',
	            container: '#endpicker-container'
	        },
	        selectableRanges: [
	            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
	        ]
	    });
	}
	
	/*------------
	// datepicker2
	----------------*/
	function datePicker2() {
		   var today = new Date();
		    var picker = tui.DatePicker.createRangePicker({
		        startpicker: {
		            date: today,
		            input: '#startpicker-input2',
		            container: '#startpicker-container2'
		        },
		        endpicker: {
		            date: today,
		            input: '#endpicker-input2',
		            container: '#endpicker-container2'
		        },
		        selectableRanges: [
		            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
		        ]
		    });
		}
	
	/*------------------------
	// 검색 조건 초기화버튼 이벤트
	--------------------------*/
	function resetBtnEvent() {
		document.getElementById('resetBtn').addEventListener('click',function(){
			document.getElementById('startpicker-input').value = today;
			document.getElementById('endpicker-input').value = today;
			document.getElementById('matCode').value = '';
			document.getElementById('matNm').value = '';
			document.getElementById('matCd').value = '';
			document.getElementById('actNm').value = '';
			document.getElementById('actCd').value = '';
		});	
	}
	
	/*--------------------------------
	// 모달창 안의 DatePicker 초기화버튼 이벤트
	----------------------------------*/
	function resetDate() {
		document.getElementById('resetBtn2').addEventListener('click',function(){
			document.getElementById('startpicker-input2').value = today;
			document.getElementById('endpicker-input2').value = today;
		});	
	}
	
	/*------------------------
	// 자재발주 전체조회 행 추가 버튼
	----------------------------*/
	function insertOrder(){
		let insertBtn = document.getElementById('insertBtn');
		insertBtn.addEventListener('click', function(){
			insertBtn.setAttribute('disabled','true');
		    let rowData = [{mOdCd: "", mtrCd: "", 
		    				mtrNm: "", mOddNm: "", mOddAmt: "",
		    				mSum : "" , actNm: "", mOdDd: "", mOddDate:""}]
/* 			rowData.mOdCd = [[${matCdPlus}]][0].modcd; */
		    rowData.mOdDd = today;
		    odLookUp.appendRow(rowData);
		})
	}
	
	/*------------------------
	// 자재발주 전체조회 행 저장 버튼
	----------------------------*/
	function saveOrder(){
		let saveBtn = document.getElementById('saveBtn');
		saveBtn.addEventListener('click', function(){
			insertBtn.removeAttribute('disabled');
		})
	}
	
	/*------------------------
	// 자재발주 전체조회 행 삭제 버튼
	----------------------------*/
	function deleteOrder() {
		let deleteBtn = document.getElementById('deleteBtn');
		deleteBtn.addEventListener('click', function(){
			let data = odLookUp.getCheckedRows();
			console.log(JSON.stringify(data[0]));
			Swal.fire({
			      title: '정말로 삭제 하시겠습니까?',
			      icon: 'warning',
			      showCancelButton: true,
			      confirmButtonColor: '#3085d6',
			      cancelButtonColor: '#d33',
			      confirmButtonText: '승인',
			      cancelButtonText: '취소',
			      
			    }).then((result) => {
			      if (result.isConfirmed) {
			        $.ajax({
			        	url: '/matOd',
			        	type: 'DELETE',
			        	contentType: 'application/json',
						data: JSON.stringify(data[0]),
						success: function(result){
							console.log(result);
							if(result == 1){
					        	Swal.fire('삭제가 완료되었습니다.');
							} else {
								Swal.fire('삭제에 실패하였습니다.');
							}
						},
						error: function(reject){
							console.log(reject);
						}
			        })
			        odLookUp.removeCheckedRows();
			      }
			   })
		})
	}
	
</script>
</div>