<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/layout}">

<div class="container" layout:fragment="content">
   <div id="mat-od-title">
      <h3>자재 출고 관리</h3>
   </div>
   <hr>
   <h4>생산지시</h4>
   <div>
      <div id="grid"></div>
   </div>
      <br>
      <div class="row">
         <div class="col-6" style="margin-bottom : 100px;">
            <h4>필요자재</h4>
            <!-- 필요자재 모달버튼 -->
            <button type="button" id="mLModalBtn" hidden class="btn btn-dark btn-sm"
               data-bs-toggle="modal" data-bs-target="#matLotModal">필요자재
               모달 조회</button>
            <div id="matNeed"></div>
            <p style="font-size: 0.5em">소모량 : 자재별 필요량*작업수량</p>
         </div>
         <div class="col-6" style="margin-bottom : 90px;">
            <h4>필요자재LOT</h4>

            <div id="matLot"></div>
            <div style="float:right">
               <button type="button" id="deleteBtn"
               class="btn btn-dark btn-sm" >초기화</button>
               <button type="button" id="orderBtn" style="color:yellow;" class="btn btn-dark btn-sm">출고 처리</button>
            </div>
         </div>
      </div>
      <br>
      
      <!-- 필요자재LOT 모달 -->
      <div class="modal" id="matLotModal" tabindex="-1"
         aria-labelledby="matLotModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-xl">
            <div class="modal-content">
               <div class="modal-header">
                  <h4 class="modal-title" id="matLotModalLabel">필요자재LOT 목록</h4>
                  <button type="button" id="closeLotModalBtn" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
               </div>
               <div class="modal-body">
                  <div>
                     <div>
                        <label for="mtrNm">자재명: </label>
                        <input type="text" id="mtrNm" name="mtrNm" style="width: 120px" readonly="readonly">
                        
                        <label for="amt">필요수량: </label>
                        <input type="number" id="amt" name="amt" style="width: 120px" readonly="readonly">
                        <button type="button" id ="sBtn" class="btn btn-dark btn-sm">조회</button>
                     </div>

                     <div id="lotModal"></div>
                     <div><button type="button" id ="okBtn" class="btn btn-dark btn-sm" style="float:right;">입력</button></div>
                  </div>

               </div>

            </div>
         </div>
      </div>
      
   <script th:inline="javascript">
   /* token */
   var token = $("meta[name='_csrf']").attr("content");
   var header = $("meta[name='_csrf_header']").attr("content");
   
      let grid = pOdList();             	// 생산지시 그리드
      let matNeed = matNeedGridInit();    	// 필요자재 grid 
      let matLot = matLotGridInit();        // 필요자재 LOT grid 
   
      let matLotGrid2 = matLotGrid2Init(); // 자재Lot목록 모달
      
      modalRef();                      		// 모달그리드 리프레시
      planChkFn();                    		// 생산지시 체크 시 필요자재 그리드 표시
      
      inputBtnFn();                   		// 입력 버튼 이벤트
      updateOutOdFn();                		// 출고처리 버튼 이벤트
      gridUnCheckedFn();              	  	// grid 언체크 이벤트
      chkRowFn();							// 다른 체크박스 막기
      
      /*------------------------------
      // 생산지시 그리드
      --------------------------------*/
      function pOdList(){
         let grid = new tui.Grid({
               el: document.getElementById('grid'),
               bodyHeight: 250,
               data: [[${pOdList}]],
               rowHeaders: ['checkbox', 'rowNum'],
               scrollX: false,
               scrollY: true,
               columns: [
                 {
                   header: '상세생산지시코드',
                   name: 'poddCd',
                   align: 'center',
                   sortable: true
                 },
                 {
                   header: '생산지시코드',
                   name: 'podCd',
                   align: 'center',
                   sortable: true
                 },
                 {
                   header: '완제품코드',
                   align: 'center',
                   align: 'center',
                   name: 'prdCd',
                   sortable: true
                 },
                 {
                   header: '작업지시량',
                   align: 'center',
                   name: 'poddAmt',
                   sortable: true
                 },
                 {
                   header: '생산일자',
                   name: 'poddDates',
                   align: 'center',
                   sortable: true,
                 },
                 {
                   header: '지시등록일자',
                   name: 'podDates',
                   align: 'center',
                   sortable: true,
                 },
                 {
                   header: '진행구분',
                   name: 'poddSts',
                   align: 'center',
                   sortable: true
                 }
               ]
             });
         
             return grid;
         }
      
      /*------------
      // 필요자재 grid  
      ----------------*/
      function matNeedGridInit(){
         let matNeed = new tui.Grid({
            el: document.getElementById('matNeed'),
            scrollX: false,
            scrollY: true,
            bodyHeight: 250,
            rowHeaders: ['rowNum'],
            columns: [
               {
                  header: '제품코드',
                  name: 'prdCd',
                  align: 'center'
               },
               {
                  header: '자재코드',
                  name: 'mtrCd',
                  align: 'center'
               },
               {
                  header: '자재명',
                  name: 'mtrNm',
                  align: 'center'
               },
               {
                  header: '소모량',
                  name: 'amt',
                  align: 'center'
               }
            ]
         });
         
         matNeed.on('click', function(ev){
            // 클릭한 행의 자재명, 자재코드 
            
            matLotGrid2.clear();
            
            let mtrNm = matNeed.getRow(ev.rowKey).mtrNm;
            let amt = matNeed.getRow(ev.rowKey).amt;
            let prdCd = matNeed.getRow(ev.rowKey).prdCd;
            $('#mtrNm').attr("value",mtrNm);
            $('#amt').attr("value",amt);
            
            
            $("#matLotModal").modal("show");
            
            let data = {mtrNm:mtrNm};
            
            $.ajax({
               url: '/needLotList',
               method: 'POST',
               contentType: 'application/JSON',
               dataType: 'JSON',
               data: JSON.stringify(data),
               beforeSend : function (xhr) {
                   xhr.setRequestHeader(header, token);
               },
               success: function(result){
                  matLotGrid2.resetData(result);
               },
               error: function(reject){
                  console.log(reject);
               }
            })
            
            // 모달이 로드 되는데 시간이 걸리므로 인터벌 걸어주기
            setInterval(function(){
               matLotGrid2.refreshLayout()
               },100);   
            
         })

         return matNeed;
      }
      

      /*------------
      // 필요자재 LOT grid 
      ----------------*/
      
      function matLotGridInit(){
         let matLot = new tui.Grid({
            el: document.getElementById('matLot'),
            scrollX: false,
            scrollY: true,
            bodyHeight: 250,
            rowHeaders: ['checkbox', 'rowNum'],
            columns: [
               {
                  header: '자재명',
                  name: 'mtrNm',
                  align: 'center'
               },
               {
                  header: '자재LOT번호',
                  name: 'matLot',
                  align: 'center'
               },
               {
                  header: '사용수량',
                  name: 'amt',
                  align: 'center'
               },
               {
                  header: '유통기한',
                  name: 'matEdate',
                  align: 'center'
               }
               
            ]
         });
         
         return matLot;
      }
         
      /*------------------------
      // 필요자재 입력 모달
      ----------------------------*/   
      function matLotGrid2Init(){
         let matLotGrid2 = new tui.Grid({
            el: document.getElementById('lotModal'),
            bodyHeight: 250,
            data: null,
            scrollX: false,
            scrollY: true,
            rowHeaders: ['checkbox','rowNum'],
            columns: [
               {
                  header: '자재LOT번호',
                  name: 'matLot',
                  align: 'center'
               },
               {
                  header: '자재이름',
                  name: 'mtrNm',
                  align: 'center'
               },
               {
                  header: '재고',
                  name: 'matSamt',
                  align: 'center'
               },
               {
                  header: '사용수량',
                  name: 'amt',
                  editor: 'text',
                  align: 'center'
               },
               {
                  header: '유통기한',
                  name: 'matEdate',
                  align: 'center'
               },
            ],
            summary: {
                 height: 40,
                 position: 'bottom', // or 'top'
                 columnContent: {
                   amt: {
                     template: function(valueMap) {
                       return `TOTAL: ${valueMap.sum}`;
                     }
                   }
                 }
               }
         });
         
         // 사용수량 입력하면 체크처리
         matLotGrid2.on('afterChange', function(){
            let data = matLotGrid2.getData();
            let idx = matLotGrid2.getFocusedCell().rowKey;
            matLotGrid2.check(idx);
         })
         
         return matLotGrid2; 
      }
      
      /*------------------------------
      // 자재목록 모달 그리드(일반 탭)
      --------------------------------*/
      function matList() {
         let needMatModal = new tui.Grid({
            el: document.getElementById('modalGrid'),
            bodyHeight: 250,
            data: [[${matList}]],
            rowHeaders: ['rowNum'],
            scrollX: false,
            scrollY: true,
            columns: [
               {
                  header: '자재코드',
                  name: 'mtrCd',
                  sortable: true,
                  align: 'center',
                    filter: {
                       type: 'select'           
                       }
               },
               {
                  header: '자재명',
                  name: 'mtrNm',
                  align: 'center',
                  sortable: true,
                    filter: {
                      type: 'select'           
                      }
               }
            ]
         });
         return needMatModal;
      }
      
      // 생산지시 체크 시 필요자재 그리드 표시
      function planChkFn() {
         document.getElementById('grid').addEventListener('click', function(){
            let data = grid.getCheckedRows();
            
            $.ajax({
               url: '/needMtrList',
               method: 'POST',
               contentType: 'application/JSON',
               dataType: 'JSON',
               data: JSON.stringify(data[0]),
               beforeSend : function (xhr) {
                   xhr.setRequestHeader(header, token);
               },
               success: function(result){
                  matNeed.resetData(result);
               },
               error: function(reject){
                  console.log(reject);
               }
               
            })
         })
      }
      
       /*---------------------------------
      // 해당하는 header의 모달창 띄우기(일반 탭)
      -------------------------------------*/
      function getModal() {
         document.getElementById('matNeed').addEventListener('click', function(ev){
            // 행 클릭 시 모달 띄우기
               if(ev.columnName =='prdCd' || ev.columnName =='mtrCd'||
                  ev.columnName == 'mtrNm' ||ev.columnName == 'matAmt'){
                  $('#lotModal').modal('show');
                  lotModal.refreshLayout();
               }
            });
         
       }
       
      /*------------------------------
      // 모달 그리드 리프레쉬
      --------------------------------*/
      function modalRef(){
         document.addEventListener('shown.bs.modal', function (){
            matLotGrid2.refreshLayout();
         });
      }
      
      /*----------------------------------------------
      // 필요자재LOT목록 모달에서 입력 버튼 클릭 이벤트
      ------------------------------------------------*/
      function inputBtnFn() {
         document.getElementById('okBtn').addEventListener('click',function(){
        	matLotGrid2.blur();
        	
            let data = matLotGrid2.getCheckedRows();
            let data2 = matLotGrid2.getData();
            
            let focusData = matNeed.getFocusedCell(); // 삭제할 행 데이터
            let amt = matNeed.getRow(focusData.rowKey).amt; // 삭제할 행 데이터
            
            let result = 0;
            
            // 합친 값이 소모량과 같으면
            for(let i=0; i<data.length; i++){
               result += parseInt(data[i].amt);
            }
               console.log(result);
               
               if(result == null) {
                  Swal.fire({
                     icon: 'error',
                     title :'사용수량을 확인하세요!!'});
                  }
                else {
                  // 소모량보다 크게 출고되면 필요자재 행에서 제거하고 필요자재LOT에 추가
                  if(amt == result){
                     matNeed.removeRow(focusData.rowKey); //행삭제
                     matLot.appendRows(data); // 행추가
                  } else {
                     Swal.fire({
                        icon: 'error',
                        title :'소모량을 확인해주세요!!'});
                     }
                  }
            closeLotModalBtn.click();
         })
      }
      
      /*----------------------------------------
      // 츌고처리
      ------------------------------------------*/
      function updateOutOdFn() {
         document.getElementById('orderBtn').addEventListener('click', function(){
            let data = matLot.getCheckedRows();
            let oddCd = grid.getCheckedRows();
            let count = matNeed.getRowCount();
            
            let rowData = [];
            
            for(let i=0; i<data.length; i++){
               let arData = {
                     podCd:oddCd[0].podCd,
                     mtrNm:data[i].mtrNm,
                     matLot:data[i].matLot,
                     matOutAmt:data[i].amt
               }
               rowData.push(arData);
            }
            
            Swal.fire({
                  title: '저장 하시겠습니까?',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: '승인',
                  cancelButtonText: '취소',
                  
                }).then((result) => {
                   
            // 필요자재 그리드에 아무것도 남지 않으면 출고처리
            if(count == 0){
               // 출고처리 ajax 시작
               $.ajax({
                  url: '/insertOut',
                  method: 'POST',
                  contentType: 'application/JSON',
                  dataType: 'JSON',
                  data: JSON.stringify(rowData),
                  beforeSend : function (xhr) {
                      xhr.setRequestHeader(header, token);
                  },
                  success: function(result) {
                	 // 자재에서 출고량만큼 마이너스 업데이트 ajax
                     var result = updateAmt(data)
                     
                     // 업데이트가 성공하면
                     if(result >= 1) {
                    	// 진행구분 '자재팀확인' -> '완료' 업데이트 ajax
                        updateSts(oddCd);
                     }
                  },
                  error: function(reject) {
                     console.log(reject);
                  }
               }) // end ajax
            } else {
               Swal.fire({
                  icon: 'error',
                  title :'필요자재를 확인하세요!!'});
               } // end if
            })
         })
      }
   
      // 진행구분 자재팀확인->완료 업데이트 (ajax 분리)
      function updateSts(oddCd) {
          $.ajax({
            url: '/updateOutSts',
            method: 'POST',
            contentType: 'application/JSON',
            dataType: 'JSON',
            data: JSON.stringify(oddCd[0]),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(result){
               Swal.fire({
                  icon: 'success',
                  title :'출고가 완료되었습니다.'});
               setTimeout(() => location.reload(),500);
            },
            error: function(reject){
               console.log(reject);
               Swal.fire({
                  icon: 'error',
                  title :'출고에 실패하였습니다.'});
            }
         })
      }
      
      // 재고 - 출고량 업데이트 (ajax 분리)
      function updateAmt(data) {
         var r ;
          $.ajax({
            url: '/matOut',
            method: 'POST',
            async: false,
            contentType: 'application/JSON',
            dataType: 'JSON',
            data: JSON.stringify(data),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success:function(result){
               r = result;
            },
            error: function(reject){
               console.log("===============",reject);
            }
            
         }) // 재고 - 출고량 업데이트 ajxa end
         console.log(r);
         return r;
      }
      
      // 생산지시 언체크 이벤트
      function gridUnCheckedFn() {
         document.getElementById('grid').addEventListener('click', function(){
            grid.on('uncheck',function(){
               let data = [];
                  matNeed.resetData(data);
            })
         })
      }
      
  	/*------------------------------
  	// 체크 시 다른 체크박스 막기
  	--------------------------------*/
  	function chkRowFn(){
  		grid.on('check', function(ev){
  			let gridData = grid.getData();
  			let idx = grid.getRow(ev.rowKey).rowKey;
  			
  			for(let i=0; i<gridData.length; i++){
  				if(i != idx){
  					grid.disableRow(i,true);
  				}
  			}
  			
  		})
  		// 언체크시 풀기
  		grid.on('uncheck', function(ev){
  			grid.enable();
  			
  		})
  	}
   </script>
</div>