<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
   <div>
      <div id="mat-od-title">
         <h3>자재 발주 관리</h3>
      </div>
      <!-- 탭 목록(버튼) 설정 -->
      <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
            <button class="nav-link" id="manage-tab" data-bs-toggle="tab"
               data-bs-target="#plan" type="button" role="tab"
               aria-controls="manage" aria-selected="true">생산계획서용</button>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link active" id="normal-tab" data-bs-toggle="tab"
               data-bs-target="#normal" type="button" role="tab"
               aria-controls="normal" aria-selected="false">일반</button>
         </li>
      </ul>
      <!-- 탭 본문 시작 -->
      <div class="tab-content" id="myTabContent">
         <div class="tab-pane show active" id="normal" role="tabpanel"
            aria-labelledby="normal-tab">
            <div id="input-group">
               <ul class="ul-style">
                  <li><label for="matCode">발주코드</label><input id="matCode"></li>
                  <li><label for="matNm">자재명</label><input id="matNm"
                     data-bs-toggle="modal" data-bs-target="#matModal" readonly>
                     <img class="Magnifying-Glass-img" alt="image"
                     data-bs-toggle="modal" data-bs-target="#matModal"
                     src="../images/Magnifying_Glass.png"> <input id="matOdCd"
                     type="text" data-bs-toggle="modal" data-bs-target="#matModal"
                     readonly></li>
                  <li><label for="actNm">업체명</label><input id="actNm"
                     name="actNm" data-bs-toggle="modal" data-bs-target="#actModal"
                     readonly> <img id="actNm" class="Magnifying-Glass-img"
                     alt="image" data-bs-toggle="modal" data-bs-target="#actModal"
                     src="../images/Magnifying_Glass.png"> <input id="actCd"
                     data-bs-toggle="modal" data-bs-target="#actModal" name="actCd"
                     type="text" readonly></li>

                  <!-- Date Picker -->
                  <li><label for="startpicker-input">발주신청일</label>
                     <div
                        class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="startpicker-input" type="text" aria-label="Date">
                        <span class="tui-ico-date"></span>
                        <div id="startpicker-container" style="margin-left: -1px;"></div>
                     </div> <span>-</span>
                     <div
                        class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="endpicker-input" type="text" aria-label="Date">
                        <span class="tui-ico-date"></span>
                        <div id="endpicker-container" style="margin-left: -1px;">
                        </div>
                     </div></li>
                  <li><span style="margin-right: 35px;">검수상태</span>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                           name="inlineRadioOptions" id="inlineRadio1" value="Y">
                        <label class="form-check-label" for="inlineRadio1">Y</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                           name="inlineRadioOptions" id="inlineRadio2" value="N">
                        <label class="form-check-label" for="inlineRadio2">N</label>
                     </div> <!-- 검색버튼 -->
                     <button class="btn btn-dark btn-sm" id="SearchBtn">조회</button>
                     <button class="btn btn-dark btn-sm" id="resetBtn">초기화</button> <!-- CRUD버튼 -->
                     <button class="btn btn-dark btn-sm" id="insertBtn"
                        style="margin-left: 68%;">추가</button>
                     <button class="btn btn-dark btn-sm" id="deleteBtn">삭제</button>
                     <button class="btn btn-dark btn-sm" id="saveBtn">저장</button></li>
               </ul>
            </div>
            <div id="grid"></div>
         </div>

         <!-- 생산계획서용 탭 -->
         <div class="tab-pane" id="plan" role="tabpanel"
            aria-labelledby="plan-tab">
            <div align="right">
               <button class="btn btn-dark btn-sm" data-bs-toggle="modal"
                  data-bs-target="#planModal">신규 생산 계획서 조회</button>
            </div>
            <div>
               <table class="table">
                  <tr>
                     <td class="col-6"><h3>신규 생산 계획</h3>
                        <div id="grid2"></div></td>
                     <td class="col-6"><h3>필요 자재</h3>
                        <div id="grid3"></div></td>
                  </tr>
               </table>

               <h3>자재 발주</h3>
               <div id="grid4"></div>
               <div align="right">
                  <button class="btn btn-dark btn-sm" id="resetGridBtn">초기화</button>
                  <button class="btn btn-dark btn-sm" id="odSaveBtn" style="color:yellow;">발주하기</button>
               </div>
            </div>
         </div>
      </div>
   </div>


   <!-- 자재 목록 모달 -->
   <div class="modal" id="matModal" tabindex="-1"
      aria-labelledby="matModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="matModalLabel">자재 목록</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close" id="matModalClose"></button>
            </div>
            <div class="modal-body">
               <div>
                  <div align="center">
                  </div>
                  <div id="modalGrid"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- 업체 목록 모달 -->
   <div class="modal" id="actModal" tabindex="-1"
      aria-labelledby="actModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="actModalLabel">업체 목록</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close" id="actModalClose"></button>
            </div>
            <div class="modal-body">
               <div>
                  <div align="center">
                     <div id="modalGrid2"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- 신규 생산 계획서 목록 모달 -->
   <div class="modal" id="planModal" tabindex="-1"
      aria-labelledby="planModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="planModalLabel">신규 생산 계획서 리스트</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close" id="planModalClose"></button>
            </div>
            <div class="modal-body">
               <!-- Date Picker -->
               <label for="startpicker-input">발주신청일</label>
               <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                  <input id="startpicker-input2" type="text" aria-label="Date">
                  <span class="tui-ico-date"></span>
                  <div id="startpicker-container2" style="margin-left: -1px;"></div>
               </div>
               <span>-</span>
               <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                  <input id="endpicker-input2" type="text" aria-label="Date">
                  <span class="tui-ico-date"></span>
                  <div id="endpicker-container2" style="margin-left: -1px;"></div>
               </div>
               <button class="btn btn-dark btn-sm" id="newPlanLookupBtn">조회</button>
               <div>
                  <div id="modalGrid3"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <script th:inline="javascript">
   /* token */
   var token = $("meta[name='_csrf']").attr("content");
   var header = $("meta[name='_csrf_header']").attr("content");
   
      let odLookUp = tab1GridInit();      // 탭1 조회 그리드
      SearchBtnFn();                      // 조회 버튼 클릭시 odLookUp 그리드 표시
      
      let newPlan = tab2GridInit();       // 탭2 새로운생산계획 그리드
      let needMat = tab3GridInit();       // 탭2 필요자재 그리드
      let odMat = tab4GridInit();         // 탭2 자재발주 그리드
      
      let needMatModal = matList();       // 자재목록 모달
      let actList = actListModal();       // 업체목록 모달
      let planModal = addPlan();          // 생산계획서 모달
      
      gridRef();                      // 그리드 리프레쉬
      modalRef();                     // 모달 리프레쉬
      
      getModal();                     // 헤더 클릭 모달/총합 이벤트
      getSum();                       // 생산계획서용 탭 총합
      getSum2();                 // 일반 탭 총합
      
      matListSelect();               // 자재목록 행 클릭 이벤트
      actListSelect();               // 업체목록 행 클릭 이벤트
      addNewPlan();                  // 신규생산계획 모달창 행 클릭 이벤트
      chkPlanMat();                  // 신규생산계획 체크 이벤트
      chkMatList();                  // 필요자재목록 체크 이벤트
      
      matModalClickFn();               // 자재 모달 행 클릭 시 인풋 태그로
      actModalClickFn();               // 업체 모달 행 클릭 시 인풋 태그로
      
      datePicker();                   // datePicker
      datePicker2();                  // datePicker2
      resetBtnEvent();                // 검색 조건 초기화 버튼
   
      insertOrder();                   // 탭1 행 추가(일반 탭)
      deleteOrderList();               // 탭1 행 삭제(일반 탭)
      saveOrder();                     // 탭1 행 저장(일반 탭)
      
      odSaveBtn();                     // 탭2 자재발주 그리드 저장 버튼
      resetTab2Btn();                  // 탭2 초기화 버튼
      newPlanLookUpBtn();              // 탭2 신규 생산 계획서 리스트 날짜 조회 버튼
      
      allCheckFn();                    // 필요자재 그리드 올 체크 이벤트
      hideMnFn();                  // 필요자재 단가 숨기기
      
   /*------------------------------
   // 자재발주관리 전체 조회(일반 탭)
   --------------------------------*/
   function tab1GridInit(){
      let odLookUp = new tui.Grid({
         el: document.getElementById('grid'),
        pageOptions: {
          useClient: true,
          perPage: 11
           },
         bodyHeight: 440,
         data: [[${oderN}]],
         rowHeaders: ['checkbox', 'rowNum'],
         scrollX: false,
         scrollY: false,
         columns: [
           {
             header: '발주코드',
             name: 'matOdCd',
             align: 'center',
             sortable: true,
            filter: {
               type: 'text'
            }
           },
           {
             header: '자재코드',
             name: 'mtrCd',
            align: 'center',
             sortable: true
           },
           {
             header: '자재명',
             name: 'mtrNm',
            align: 'center',
             sortable: true,
           filter: {
                 type: 'select'           
               }
           },
           {
             header: '단가(원)',
             name: 'matOddMn',
             align: 'center',
             sortable: true
           },
           {
             header: '발주량',
             name: 'matOddAmt',
             align: 'center',
             sortable: true,
           editor: 'text'
           },
           {
             header: '총액',
             name: 'matSum',
             align: 'center',
             sortable: true
           },
           {
            header: '업체코드',
            name: 'actCd',
            align: 'center',
            sortable: true,
           filter: {
              type: 'select'           
                      }
              },
           {
             header: '업체명',
             name: 'actNm',
            align: 'center',
             sortable: true,
           filter: {
             type: 'select'           
                   }
           },
           {
             header: '발주신청일',
             name: 'matOdDd',
             align: 'center',
             sortable: true
           },
           {
             header: '납기요청일',
             name: 'matOddDate',
             align: 'center',
             sortable: true,
            editor: {
               type: 'datePicker',
               options: {
                  format: 'yyyy-MM-dd',
                  language: 'ko'
               }
            },
            validation: {
                 dataType: 'datePicker',
                 required: true
                  }
           },
           {
             header: '검수상태',
             name: 'matOdSts',
             align: 'center',
             sortable: true,
            filter: {
               type: 'text'
            }
           }
         ]
       });
       
      odLookUp.on('mouseover', function(ev){
    	  odLookUp.addColumnClassName('mtrCd','cell-pointer');
  	})
      odLookUp.on('mouseover', function(ev){
    	  odLookUp.addColumnClassName('mtrNm','cell-pointer');
  	})
      odLookUp.on('mouseover', function(ev){
    	  odLookUp.addColumnClassName('matOddMn','cell-pointer');
  	})
      odLookUp.on('mouseover', function(ev){
    	  odLookUp.addColumnClassName('actCd','cell-pointer');
  	})
      odLookUp.on('mouseover', function(ev){
    	  odLookUp.addColumnClassName('actNm','cell-pointer');
  	})
      
       return odLookUp;
   }
      
   /*--------------------------------
   // 조회 버튼 클릭 시 그리드 등장
   ----------------------------------*/
   function SearchBtnFn() {
      document.getElementById('SearchBtn').addEventListener('click',function(){
         let matOdCd = document.getElementById('matOdCd').value; // 자재 코드
         let actNm = document.getElementById('actNm').value; // 업체 이름
         let matInDate = document.getElementById('startpicker-input').value; // 시작 날짜
         let matEdate = document.getElementById('endpicker-input').value; // WHERE절 비교 용으로 유통기한에 end Date담음
         
         let data = {mtrCd: matOdCd, actNm: actNm, matInDate: matInDate, matEdate: matEdate};
         
         $.ajax({
            url: '/matOdList',
            method: 'POST',
            contentType: 'application/JSON',
            data: JSON.stringify(data),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(result){
               // 그리드 표시
               odLookUp.resetData(result)
               
               // 발주코드 조회탭 검색 버튼
               let searchedOdCd = document.getElementById('matCode');
               if (searchedOdCd.value != '' || searchedOdCd.value != null) {
                  odLookUp.filter('matOdCd', [{code: 'contain', value: searchedOdCd.value}]);
               }
               
               // 검수상태로 조회
               let radioBtn = document.getElementsByName('inlineRadioOptions');
               radioBtn.forEach((node) => {
                  if(node.checked) {
                     odLookUp.filter('matOdSts', [{code: 'contain', value: node.value}]);
                  }
               })
            },
            error: function(reject) {
               console.log(reject);
            }
         })
      })
   }
   
    /*---------------------------------
   // 해당하는 header의 모달창 띄우기(일반 탭)
   -------------------------------------*/
   function getModal() {
      odLookUp.on('click',function(ev){
         // 자재 목록 선택 시 행으로 가져오기
            if(ev.columnName =='mtrCd' || ev.columnName =='mtrNm' || ev.columnName =='matOddMn'){
               $('#matModal').modal('show');
               needMatModal.refreshLayout();
               
            // 업체 목록 선택 시 행으로 가져오기
            }else if (ev.columnName =='actCd' || ev.columnName =='actNm'){
                     $('#actModal').modal('show');
                   actList.refreshLayout();
                  }
            
            // 단가 * 발주량 = 총합
            else if (ev.columnName == 'matSum'){
               let data = odLookUp.getRow(ev.rowKey);
               let val =  odLookUp.getFocusedCell().rowKey;
               
	            if(data.matOddMn != null && data.matOddAmt != null){
	               odLookUp.setValue(val, 'matSum', (data.matOddMn * data.matOddAmt));
	            }
            }
         });
      
    }
    
   /*------------------------------
   // 신규생산계획조회(생산계획서용 탭)
   --------------------------------*/
   function tab2GridInit(){
      let newPlan = new tui.Grid({
            el: document.getElementById('grid2'),
            bodyHeight: 200,
            data: null,
            rowHeaders: ['checkbox', 'rowNum'],
            scrollX: false,
            scrollY: true,
            columns: [
              {
                header: '생산계획코드',
                name: 'pplnCd',
                align: 'center',
                sortable: true
              },
              {
                header: '제품코드',
                name: 'prdCd',
                align: 'center',
                sortable: true,
              filter: {
                   type: 'select'           
                   }
              },
              {
                header: '제품명',
                name: 'prdNm',
                align: 'center',
                sortable: true,
              filter: {
                   type: 'select'           
                   }
              },
              {
                header: '계획량',
                name: 'pplndAmt',
                align: 'center',
                sortable: true
              },
              {
                header: '주문납기일',
                name: 'deDate',
                align: 'center',
                sortable: true
              }
            ]
          });
      
      newPlan.on('click', function(){
         newPlan.on('uncheck',function(ev){
            let data = [];
            needMat.resetData(data);
         })
         newPlan.on('uncheckAll',function(ev){
            let data = [];
            needMat.resetData(data);
         })
      })
       
            return newPlan;
   }

   /*------------------------------
   // 필요자재 리스트(생산계획 탭)
   --------------------------------*/
   function tab3GridInit() {
      let needMat = new tui.Grid({
            el: document.getElementById('grid3'),
            bodyHeight: 200,
            data: null,
            rowHeaders: ['checkbox', 'rowNum'],
            scrollX: false,
            scrollY: true,
            columns: [
               {
                   header: '자재코드',
                   name: 'mtrCd',
                   align: 'center',
                   sortable: true,
                 filter: {
                      type: 'select'           
                      }
                 },
                 {
                   header: '자재명',
                   name: 'mtrNm',
                   align: 'center',
                   sortable: true,
                 filter: {
                      type: 'select'           
                      }
                 },
                 {
                   header: '소모량',
                   name: 'bomAmt',
                   align: 'center',
                   sortable: true
                 },
                 {
                   header: '업체코드',
                   name: 'actCd',
                   align: 'center',
                   sortable: true
                 },
                 {
                   header: '업체명',
                   name: 'actNm',
                   align: 'center',
                   sortable: true
                 },
                 {
                    header: '단가',
                    name: 'mtrPrc',
                    sortable: true,
                      filter: {
                        type: 'select'           
                        }
                 }
            ]
          });
      
      // 단건 언체크 시 일치하는 행만 삭제.
      // 체크된 row로 resetData. (미완료)
      needMat.on('uncheck',function(){
         let needData = needMat.getCheckedRows();
         let odData = odMat.getData();

         let list = [];
         
         for(let i=0; i<needData.length; i++){
	         if(needData[i].mtrCd == odData[i].mtrCd) {
	        	 list.push(odData[i])
	         }
         }
       	 odMat.resetData(list);
         
         
        })
         return needMat;
   }
   
   /*------------------------------
   // 자재발주 리스트(생산계획 탭)
   --------------------------------*/
   function tab4GridInit() {
      let odMat = new tui.Grid({
            el: document.getElementById('grid4'),
            bodyHeight: 200,
            data: null,
            rowHeaders: ['rowNum'],
            scrollX: false,
            scrollY: true,
            columns: [
               {
                   header: '자재코드',
                   name: 'mtrCd',
                   align: 'center',
                   sortable: true,
                 filter: {
                      type: 'select'           
                      }
                 },
                 {
                   header: '자재명',
                   name: 'mtrNm',
                   align: 'center',
                   sortable: true,
                 filter: {
                      type: 'select'           
                      }
                 },
                 {
                  header: '단가(원)',
                  name: 'matOddMn',
                  align: 'center',
                  sortable: true
                },
                {
                 header: '발주량',
                 name: 'matOddAmt',
                 align: 'center',
                 sortable: true,
                 editor: 'text'
               },
                {
                 header: '현재고',
                 name: 'matSamt',
                 align: 'center',
                 sortable: true,
                 validation: { dataType: 'string' }
               },
               {
                 header: '총액',
                 name: 'matSum',
                 align: 'center',
                 sortable: true
               },
               {
                 header: '업체코드',
                 name: 'actCd',
                 align: 'center',
                 sortable: true,
                 filter: {
                      type: 'select'           
                      }
               },
               {
                 header: '업체명',
                 name: 'actNm',
                 align: 'center',
                 sortable: true,
                 filter: {
                      type: 'select'           
                      }
               },
               {
                 header: '발주신청일',
                 name: 'matOdDd',
                 align: 'center',
                 sortable: true,
                  editor: {
                     type: 'datePicker',
                     options: {
                        format: 'yyyy-MM-dd',
                        language: 'ko'
                     }
                  },
                  validation: {
                       dataType: 'datePicker',
                       required: true
                        }
               },
               {
                 header: '납기요청일',
                 name: 'matOddDate',
                 align: 'center',
                 sortable: true,
                  editor: {
                     type: 'datePicker',
                     options: {
                        format: 'yyyy-MM-dd',
                        language: 'ko'
                     }
                  },
                  validation: {
                       dataType: 'datePicker',
                       required: true
                        }
               }
            ]
          });
       
          return odMat;
      }
   
   /*------------------------------
   // 그리드 리프레쉬
   --------------------------------*/
   function gridRef() {
      const manageTab = document.getElementById('normal-tab');
         manageTab.addEventListener('click',function(){
            odLookUp.refreshLayout();
      })
      
      const insertTab = document.getElementById('manage-tab');
      insertTab.addEventListener('click',function(){
         newPlan.refreshLayout();
         needMat.refreshLayout();
         odMat.refreshLayout();
      })
   };
   
   /*------------------------------
   // 자재목록 모달 그리드(일반 탭)
   --------------------------------*/
   function matList() {
      let needMatModal = new tui.Grid({
         el: document.getElementById('modalGrid'),
         bodyHeight: 250,
         data: [[${matList}]],
         rowHeaders: ['rowNum'],
         scrollX: false,
         scrollY: true,
         columns: [
            {
               header: '자재코드',
               name: 'mtrCd',
               sortable: true,
                 filter: {
                    type: 'select'           
                    }
            },
            {
               header: '자재명',
               name: 'mtrNm',
               sortable: true,
                 filter: {
                   type: 'select'           
                   }
            },
            {
               header: '단가',
               name: 'mtrPrc',
               sortable: true,
                 filter: {
                   type: 'select'           
                   }
            }
         ]
      });
      return needMatModal;
   }
   
   /*------------------------------
   // 업체목록 모달 그리드(일반 탭)
   --------------------------------*/
   function actListModal() {
      let actList = new tui.Grid({
         el: document.getElementById('modalGrid2'),
         bodyHeight: 250,
         data: [[${actList}]],
         rowHeaders: ['rowNum'],
         scrollX: false,
         scrollY: true,
         columns: [
               {
                  header: '업체 코드',
                  name: 'actCd',
                  sortable: true,
                    filter: {
                       type: 'select'           
                       }
               },
               {
                  header: '업체명',
                  name: 'actNm',
                  sortable: true,
                    filter: {
                       type: 'select'           
                       }
               }
            ]
         });
      return actList;
   }
   
   /*----------------------------------
   // 자재 목록 클릭 시 빈 그리드 안으로 (일반 탭)
   ------------------------------------*/
   function matListSelect() {
      needMatModal.on('click', function(ev){
         let data = needMatModal.getRow(ev.rowKey);
         let val = odLookUp.getFocusedCell().rowKey;
         
         odLookUp.setValue(val, 'mtrCd', data.mtrCd);
         odLookUp.setValue(val, 'mtrNm', data.mtrNm);
         odLookUp.setValue(val, 'matOddMn', data.mtrPrc);
         
         matModalClose.click();
      })
   }
   
   /*----------------------------------
   // 업체 목록 클릭 시 빈 그리드 안으로(일반 탭)
   ------------------------------------*/
   function actListSelect() {
      let actNm = document.getElementById('actNm');   // 값이 담길 input 태그
      let actCd = document.getElementById('actCd');   // 값이 담길 input 태그
      actList.on('click', function(ev){
         let data = actList.getRow(ev.rowKey);
         let val =  odLookUp.getFocusedCell().rowKey;
         
         odLookUp.setValue(val, 'actCd', data.actCd);
         odLookUp.setValue(val, 'actNm', data.actNm);

         actModalClose.click();
      })
   }
   
   /*------------------------------
   // 생산계획 모달 그리드(생산계획서용 탭)
   --------------------------------*/
   function addPlan() {
      let planModal = new tui.Grid({
         el: document.getElementById('modalGrid3'),
         bodyHeight: 400,
         data: [[${addNewPlan}]],
         rowHeaders: ['rowNum'],
         scrollX: false,
         scrollY: true,
         columns: [
            {
               header: '생산 계획 코드',
               name: 'pplnCd',
               sortable: true
            },
            {
               header: '계획명',
               name: 'pplnName',
               sortable: true
            },
            {
               header: '계획일자',
               name: 'pplnDate',
               sortable: true
            }
         ]
      });
      
      return planModal;
   }
   
    /*-------------------------------------------------
   // 새로운계획 모달에서 행 클릭 시에 그리드에 추가(생산계획서용 탭)
   ---------------------------------------------------*/
     function addNewPlan() {
       planModal.on('click', function(ev) {
           let data = planModal.getRow(ev.rowKey);
           
                   $.ajax({
               url: '/matAddNewPlan',
               type: 'POST',
               contentType: 'application/json',   // json타입으로 반환 하겠다.
               data: JSON.stringify(data),         // 데이터를 json타입으로.
               beforeSend : function (xhr) {
                   xhr.setRequestHeader(header, token);
               },
               success: function(result) {
                  newPlan.resetData(result);
                  planModalClose.click();
               },
               error: function(reject) {
                  console.log(reject);
               }
            })
          })
      }  
    
    /*-------------------------------------------------------
   // 신규생산계획 체크 시 자재목록으로 넘어가도록 처리.(생산계획서용 탭)
   ----------------------------------------------------------*/
   function chkPlanMat() {
      newPlan.on('check', function(){
         let data = newPlan.getCheckedRows();
         $.ajax({
            url: '/needMatList',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data[0]),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(result) {
               needMat.resetData(result);
            },
            error: function(reject) {
               console.log(reject);
            }
         })
         
      })
      
      // 올체크도 동일하게 처리. (한 행만 받게)
      newPlan.on('checkAll', function(){
         let data = newPlan.getCheckedRows();
         $.ajax({
            url: '/needMatList',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data[0]),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(result) {
               needMat.resetData(result);
            },
            error: function(reject) {
               console.log(reject);
            }
         })
         
      })
    } 
    
    /*-----------------------------------------
   // 필요자재 개별 체크 시 자재발주 리스트로(생산계획서용 탭)
   -------------------------------------------*/
   function chkMatList() {
      needMat.on('check', function(){
         // 신규생산계획 데이터
         let dataPlan = newPlan.getCheckedRows();
         let pplndAmt = dataPlan[0].pplndAmt;
         
         // 납기요청일 = 오늘날짜 + 3
         let date =  new Date();
         let year = date.getFullYear() 
         let month = ('0' + (date.getMonth() + 1)).slice(-2);
         let day = ('0' + (date.getDate()+3)).slice(-2);
         
         let OddDate = year + '-' + month + '-' + day
         
         // 자재목록 체크 데이터
         let data = needMat.getCheckedRows();
         let idx = data.length-1
         
         // 현재고 구해오기
         let mtrSamt = 0;
         let list = [[${matStList}]];
         
         for(let i=0; i<list.length; i++){
	         if(list[i].mtrCd == data[idx].mtrCd) {
	        	 mtrSamt = list[i].matSamt;
	         }
         }
         
          let rowData = {mtrCd: data[idx].mtrCd, mtrNm: data[idx].mtrNm,
                      matOddMn: "", matOddAmt: (dataPlan[0].pplndAmt*data[idx].bomAmt), 
                      matSum : ((dataPlan[0].pplndAmt*data[idx].bomAmt)*data[idx].mtrPrc) , actCd: data[idx].actCd, actNm:data[idx].actNm, 
                      matOdDd: today, matOddDate:OddDate, matOddMn:data[idx].mtrPrc, matSamt: mtrSamt}
          
         
         odMat.appendRow(rowData);

      })
    } 
    
   /*------------------------------
   // 모달 그리드 리프레쉬
   --------------------------------*/
   function modalRef(){
      document.addEventListener('shown.bs.modal', function (){
         needMatModal.refreshLayout();
      });

      document.addEventListener('shown.bs.modal', function (){
         actList.refreshLayout();
      });
   
      document.addEventListener('shown.bs.modal', function (){
         planModal.refreshLayout();
      });
   }
   
   /*------------
   // datepicker
   ----------------*/
   function datePicker() {
      rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')
      document.getElementById('startpicker-input').value = null;
      document.getElementById('endpicker-input').value = null;
   }
   
   /*------------
   // datepicker2
   ----------------*/
   function datePicker2() {
      rangeDatepickerInit('#startpicker-input2', '#startpicker-container2','#endpicker-input2','#endpicker-container2')
      document.getElementById('startpicker-input2').value = null;
      document.getElementById('endpicker-input2').value = null;
   }
   
   /*------------------------
   // 검색 조건 초기화버튼 이벤트
   --------------------------*/
   function resetBtnEvent() {
      document.getElementById('resetBtn').addEventListener('click',function(){
         document.getElementById('startpicker-input').value = null;
         document.getElementById('endpicker-input').value = null;
         document.getElementById('matCode').value = '';
         document.getElementById('matNm').value = '';
         document.getElementById('matOdCd').value = '';
         document.getElementById('actNm').value = '';
         document.getElementById('actCd').value = '';
         
         // 검수상태로 라디오박스 지우기
         let radioBtn = document.getElementsByName('inlineRadioOptions');
         radioBtn.forEach((node) => {
            if(node.checked) {
               node.checked = false;
            }
            
            odLookUp.resetData([[${oderN}]]);
         })
      });   
   }
   
   /*------------------------
   // 자재발주 전체조회 행 추가 버튼
   ----------------------------*/
   function insertOrder(){
      let insertBtn = document.getElementById('insertBtn');
      insertBtn.addEventListener('click', function(){
       let rowData = [{matOdCd: "", mtrCd: "", 
                      mtrNm: "", matOddMn: "", matOddAmt: "", matSum : "" ,
                      actCd: "", actNm: "", matOdDd: "", matOddDate:""}]
            rowData.matOdDd = today;
            rowData.matOdSts = 'N';
          odLookUp.prependRow(rowData);
      })
   }
   
   /*------------------------
   // 자재발주 전체조회 행 저장 버튼
   ----------------------------*/
   function saveOrder(){
      let saveBtn = document.getElementById('saveBtn');
      
      saveBtn.addEventListener('click', function(ev){
		 odLookUp.blur(); 
         let data = odLookUp.getCheckedRows();
		 
         Swal.fire({
               title: '저장 하시겠습니까?',
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: '승인',
               cancelButtonText: '취소',
               
             }).then((result) => {
               if (result.isConfirmed) {
                // insert ajax
                 $.ajax({
                    url: '/matOd',
                    method: 'POST',
                    contentType: 'application/JSON',
                  data: JSON.stringify(data),
                  beforeSend : function (xhr) {
                      xhr.setRequestHeader(header, token);
                  },
                  success: function(result){
                     console.log(result);
                     // 2개의 테이블이 insert라 최소 2
                     if(result >= 2){
                        Swal.fire({
                           icon: 'success',
                           title :'저장이 완료되었습니다!'});
                        setTimeout(() => location.reload(),400);
                     } else {
                        Swal.fire({
                           icon: 'error',
                           title :'저장에 실패하였습니다!'});
                     }
                  },
                  error: function(reject){
                     console.log(reject);
                  }
                 })
               }
            })
         })
      }
   
   /*------------------------
   // 자재발주 전체조회 행 여러건 삭제 버튼
   ----------------------------*/
   function deleteOrderList() {
      let deleteBtn = document.getElementById('deleteBtn');
      deleteBtn.addEventListener('click', function(){
         let data = odLookUp.getCheckedRows();
         let list = [];
         let matOdCd = '';
         for(let i=0; i<data.length; i++){
            matOdCd = data[i].matOdCd;
            list.push({matOdCd});
         }
         
         Swal.fire({
               title: '정말로 삭제 하시겠습니까?',
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: '승인',
               cancelButtonText: '취소',
               
             }).then((result) => {
               if (result.isConfirmed) {
                if(data.length==1){
                    $.ajax({
                       url: '/matOd',
                       method: 'DELETE',
                       contentType: 'application/JSON',
                     data: JSON.stringify(data[0]),
                      beforeSend : function (xhr) {
                         xhr.setRequestHeader(header, token);
                     },
                     success: function(result){
                        console.log(result);
                        if(result == 1 || result == -1){
                           Swal.fire({
                              icon: 'sussecc',
                              title :'삭제에 완료되었습니다!'});
                             odLookUp.removeCheckedRows();
                        } else {
                           Swal.fire({
                              icon: 'error',
                              title :'삭제에 실패하였습니다!'});
                        }
                     },
                     error: function(reject){
                        console.log(reject);
                     }
                    })
                    
                   // 다건 삭제 시작   
                } else if(data.length > 1) {
                   
                   // 자재발주코드 삭제 ajax
                    $.ajax({
                       url: '/matOdDel',
                       method: 'DELETE',
                       contentType: 'application/JSON',
                     data: JSON.stringify(list),
                      beforeSend : function (xhr) {
                         xhr.setRequestHeader(header, token);
                     },
                     success: function(result){
                        console.log(result);
                        if(result != 1 && result != -1 && result != 0){
                           Swal.fire({
                              icon: 'sussecc',
                              title :'삭제에 완료되었습니다!'});

                           // 자재발주상세코드 삭제 ajax
                           deleteMatOddCd(list);
                           
                             odLookUp.removeCheckedRows();
                        } else {
                           Swal.fire({
                              icon: 'error',
                              title :'삭제에 실패하였습니다!'});
                        }
                     },
                     error: function(reject){
                        console.log(reject);
                     }
                    })
                }
               }
            })
      })
   }
   
   function deleteMatOddCd(list){
       // 자재발주상세코드 삭제 ajax
       $.ajax({
          url: '/matOddDel',
           method: 'DELETE',
           contentType: 'application/JSON',
         data: JSON.stringify(list),
          beforeSend : function (xhr) {
             xhr.setRequestHeader(header, token);
         },
         success: function(result){
            console.log(result);
            if(result > 1){
               console.log('자재발주상세코드 삭제: ' + result)
            }
         },
         error: function(reject){
            console.log(reject);
         }
       })
   }
   
   /*------------------------------
   // 자재 발주 그리드에 총합 구하기
   ----------------------------------*/
   function getSum() {
      odMat.on('afterChange',function(ev){
         let change = ev.changes[0];
         let rowData = odMat.getRow(change.rowKey);
         
            // 단가 * 발주량 = 총합
            if (change.columnName == 'matOddMn'){
            if(rowData.matOddMn != null && rowData.matOddAmt != null){
               odMat.setValue(change.rowKey, 'matSum', (rowData.matOddMn * rowData.matOddAmt));
            }
            }
         });
      
    }
   
   /*------------------------------
   // 일반 탭 총액 구하기
   ----------------------------------*/
   function getSum2() {
      odLookUp.on('afterChange',function(ev){
         let change = ev.changes[0];
         let rowData = odLookUp.getRow(change.rowKey);
         
            // 단가 * 발주량 = 총합
            if (change.columnName == 'matOddAmt' || change.columnName == 'matOddMn'){
               if(rowData.matOddMn != null && rowData.matOddAmt != null){
                  odLookUp.setValue(change.rowKey, 'matSum', (rowData.matOddMn * rowData.matOddAmt));
               }
            }
         });
      
    }
   /*--------------------------------
   // 필요자재 올체크 이벤트
   ----------------------------------*/
   function allCheckFn() {
      needMat.on('checkAll', function(){
         let data = needMat.getData();
         let chkData = newPlan.getCheckedRows();
         
         odMat.resetData(data);
         
         // 납기요청일 = 오늘날짜 + 3
         let date =  new Date();
         let year = date.getFullYear() 
         let month = ('0' + (date.getMonth() + 1)).slice(-2);
         let day = ('0' + (date.getDate()+3)).slice(-2);
         
         let OddDate = year + '-' + month + '-' + day
         
         // 현재고 구해오기
         let mtrSamt = 0;
         let list = [[${matStList}]];
         
         for(let i=0; i<data.length; i++) {
	       	 for(let k=0; k<list.length; k++){
	        	 if(data[i].mtrCd == list[k].mtrCd){
	        		 mtrSamt = list[k].matSamt;
		             odMat.setValue(i, 'matSamt', mtrSamt);
	        	 }
	       	 }
         }
       
         // 발주량도 계산되어 같이 들어가도록 처리
         for(let i=0; i<data.length; i++){
            odMat.setValue(i, 'matOddAmt', (data[i].bomAmt * chkData[0].pplndAmt));
            odMat.setValue(i, 'matOdDd', (today));
            odMat.setValue(i, 'matOddMn', data[i].mtrPrc);
            odMat.setValue(i, 'matOddDate', OddDate);
         }
      })
      
      needMat.on('uncheckAll', function(){
         let data = [];
         odMat.resetData(data);
      })
   }
   
   /*------------------------
   // 자재 발주 그리드 저장 버튼
   ----------------------------*/
   function odSaveBtn() {
      let odSaveBtn = document.getElementById('odSaveBtn');
      odSaveBtn.addEventListener('click',function(){
    	  odMat.blur();
    	  
         let data = odMat.getData();
         let planData = newPlan.getCheckedRows();
         let pplnCd = planData[0].pplnCd
         
         let dataList = [];
         
         // 수량이 0 이상인 것만 발주 하도록
         for(let i=0; i<data.length; i++){
        	 if(data[i].matOddAmt > 0){
        		 dataList.push(data[i]);
        	 }
         }
         
         console.log(dataList);
         
         // 빈셀체크
         let result = 0
         for(let i=0; i<dataList.length; i++){
            if(dataList[i].matOddMn == '' || dataList[i].matOddDate == '' || 
               dataList[i].matSum == ''){
               result += 1;
            } else {
               result += 0;
            }
         }
         
         // insert할 데이터 만들기
         let arrData = [];
         
         for(let i=0; i<dataList.length; i++){
            let rowData = {actCd: dataList[i].actCd, actNm: dataList[i].actNm, 
                        matOdDd: dataList[i].matOdDd, matOddAmt: dataList[i].matOddAmt, 
                        matOddDate: dataList[i].matOddDate, matOddMn: dataList[i].matOddMn, 
                        matSum: dataList[i].matSum, mtrCd: dataList[i].mtrCd, mtrNm: dataList[i].mtrNm,
                        'pplnCd' : pplnCd}
            
            arrData.push(rowData);
         }
         
         if(result == 0) {
         Swal.fire({
               title: '발주 하시겠습니까?',
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: '승인',
               cancelButtonText: '취소',
               
             }).then((result) => {
               if (result.isConfirmed) {
                 $.ajax({
                    url: '/insMatOd',
                    method: 'POST',
                    contentType: 'application/JSON',
                  data: JSON.stringify(arrData),
                  beforeSend : function (xhr) {
                      xhr.setRequestHeader(header, token);
                  },
                  success: function(result){
                     console.log(result);
                     if(result >= 1){
                        
                        Swal.fire({
                           icon: 'success',
                           title :'발주가 완료되었습니다!'});
                        setTimeout(() => location.reload(),400);
                     } else {
                        Swal.fire({
                           icon: 'error',
                           title :'발주에 실패했습니다!'});
                     }
                  }, // success end
                  error: function(reject){
                     console.log(reject);
                  }
                 }) // ajax end
               } 
            })
         } else {
            Swal.fire({
               icon: 'error',
               title :'빈 셀이 있습니다!'});
         }
         })
      }
   
   /*-----------------------------
   // 신규생산 계획서 리스트 날짜 조회버튼
   ---------------------------------*/
   function newPlanLookUpBtn() {
      document.getElementById('newPlanLookupBtn').addEventListener('click', function(){
         let startDate = document.getElementById('startpicker-input2').value;
         let endDate = document.getElementById('endpicker-input2').value;
         let list = {matOdDd:endDate, matOddDate:startDate};
         // 시작 일 <= 검색 날짜 <= 마지막 일
         $.ajax({
            url: '/newPlanLookUpBtn',
            method: 'POST',
            contentType: 'application/json',               
            data: JSON.stringify(list),
            beforeSend : function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(result){
               console.log(result);
               planModal.resetData(result);
            },
            error: function(reject){
               console.log(reject);
            }
         })
      });
   }

   /*-----------------------------
   // 탭2 초기화 버튼
   ---------------------------------*/
    function resetTab2Btn() {
      document.getElementById('resetGridBtn').addEventListener('click',function(ev){
         let data = [];
         
         newPlan.resetData(data);
         needMat.resetData(data);
         odMat.resetData(data);
      })
   }
   
   
   /*--------------------------------
   // 자재 모달 행 클릭시 인풋 태그로
   ----------------------------------*/
   function matModalClickFn() {
      needMatModal.on('click', function(ev){
         let data = needMatModal.getRow(ev.rowKey);
         let matNm = document.getElementById('matNm');
         let matCd = document.getElementById('matOdCd');

         
         matNm.value = data.mtrNm;
         matCd.value = data.mtrCd;

         
         mtrCloseBtn.click();
      })
   }
   
   /*--------------------------------
   // 업체 모달 행 클릭시 인풋 태그로
   ----------------------------------*/
   function actModalClickFn() {
      actList.on('click', function(ev){
         let data = actList.getRow(ev.rowKey);
         
         let actNm = document.getElementById('actNm');
         let actCd = document.getElementById('actCd');
         
         actNm.value = data.actNm;
         actCd.value = data.actCd;
         
         actCloseBtn.click();
      })
   }
   
   /*--------------------------------
   // 필요자재 단가 숨기기
   ----------------------------------*/
   function hideMnFn() {
      needMat.hideColumn('mtrPrc');
   }
</script>
</div>