<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 출고 관리</h3>
	</div>
	<hr>
	<h4>생산지시</h4>
	<div>
		<div id="grid"></div>
	</div>
		<br>
		<div class="row">
			<div class="col-6" style="margin-bottom : 100px;">
				<h4>필요자재</h4>
				<!-- 필요자재 모달버튼 -->
				<button type="button" id="mLModalBtn" hidden class="btn btn-dark btn-sm"
					data-bs-toggle="modal" data-bs-target="#matLotModal">필요자재
					모달 조회</button>
				<div id="matNeed"></div>
				<p style="font-size: 0.5em">소모량 : 자재별 필요량*작업수량</p>
			</div>
			<div class="col-6" style="margin-bottom : 90px;">
				<h4>필요자재LOT</h4>

				<div id="matLot"></div>
				<div style="float:right">
					<button type="button" id="deleteBtn"
					class="btn btn-dark btn-sm" >초기화</button>
					<button type="button" id="orderBtn" style="color:yellow;" class="btn btn-dark btn-sm">출고 처리</button>
				</div>
			</div>
		</div>
		<br>
		
		<!-- 필요자재LOT 모달 -->
		<div class="modal" id="matLotModal" tabindex="-1"
			aria-labelledby="matLotModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="matLotModalLabel">필요자재LOT 목록</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div>
							<div>
								<label for="mtrNm">자재명: </label>
								<input type="text" id="mtrNm" name="mtrNm" style="width: 120px" readonly="readonly">
								
								<label for="amt">필요수량: </label>
								<input type="number" id="amt" name="amt" style="width: 120px" readonly="readonly">
								<button type="button" id ="sBtn" class="btn btn-dark btn-sm">조회</button>
							</div>

							<div id="lotModal"></div>
							<div><button type="button" id ="okBtn" class="btn btn-dark btn-sm" style="float:right;">입력</button></div>
						</div>
					</div>

				</div>
			</div>
		</div>
		

	<script th:inline="javascript">
		let grid = pOdList();				 // 생산지시 그리드
		let matNeed = matNeedGridInit();	 // 필요자재 grid 
		let matLot = matLotGridInit(); 		 // 필요자재 LOT grid 
	
		let matLotGrid2 = matLotGrid2Init(); // 자재Lot목록 모달
		
		modalRef();							 // 모달그리드 리프레시
		planChkFn();			 			 // 생산지시 체크 시 필요자재 그리드 표시
		inputBtnFn();						 // 입력 버튼 이벤트
		/*------------------------------
		// 생산지시 그리드
		--------------------------------*/
		function pOdList(){
			let grid = new tui.Grid({
			      el: document.getElementById('grid'),
			      bodyHeight: 250,
			      data: [[${pOdList}]],
			      rowHeaders: ['checkbox', 'rowNum'],
			      scrollX: false,
			      scrollY: true,
			      columns: [
			        {
			          header: '상세생산지시코드',
			          name: 'poddCd',
			          sortable: true
			        },
			        {
			          header: '생산지시코드',
			          name: 'podCd',
			          sortable: true
			        },
			        {
			          header: '완제품코드',
			          name: 'prdCd',
			          sortable: true
			        },
			        {
			          header: '작업지시량',
			          name: 'poddAmt',
			          sortable: true
			        },
			        {
			          header: '생산일자',
			          name: 'poddDates',
			          sortable: true,
			        },
			        {
			          header: '지시등록일자',
			          name: 'podDates',
			          sortable: true,
			        },
			        {
			          header: '진행구분',
			          name: 'poddSts',
			          sortable: true
			        }
			      ]
			    });
			
			    return grid;
			}
		
		/*------------
		// 필요자재 grid  
		----------------*/
		function matNeedGridInit(){
			let matNeed = new tui.Grid({
				el: document.getElementById('matNeed'),
				scrollX: false,
				scrollY: true,
				bodyHeight: 250,
				rowHeaders: ['rowNum'],
				columns: [
					{
						header: '제품코드',
						name: 'prdCd',
					},
					{
						header: '자재코드',
						name: 'mtrCd'
					},
					{
						header: '자재명',
						name: 'mtrNm'
					},
					{
						header: '소모량',
						name: 'amt'
					}
				]
			});
			
			matNeed.on('click', function(ev){
				// 클릭한 행의 자재명, 자재코드 
				
				matLotGrid2.clear();
				
				let mtrNm = matNeed.getRow(ev.rowKey).mtrNm;
				let amt = matNeed.getRow(ev.rowKey).amt;
				let prdCd = matNeed.getRow(ev.rowKey).prdCd;
				$('#mtrNm').attr("value",mtrNm);
				$('#amt').attr("value",amt);
				
				
				$("#matLotModal").modal("show");
				
				let data = {mtrNm:mtrNm};
				
				$.ajax({
					url: '/needLotList',
					method: 'POST',
					contentType: 'application/JSON',
					dataType: 'JSON',
					data: JSON.stringify(data),
					success: function(result){
						matLotGrid2.resetData(result);
					},
					error: function(reject){
						console.log(reject);
					}
				})
				
				// 모달이 로드 되는데 시간이 걸리므로 인터벌 걸어주기
				setInterval(function(){
					matLotGrid2.refreshLayout()
					},100);	
				
			})

			return matNeed;
		}
		

		/*------------
		// 필요자재 LOT grid 
		----------------*/
		
		function matLotGridInit(){
			let matLot = new tui.Grid({
				el: document.getElementById('matLot'),
				scrollX: false,
				scrollY: true,
				bodyHeight: 250,
				rowHeaders: ['checkbox', 'rowNum'],
				columns: [
					{
						header: '자재명',
						name: 'mtrNm',
					},
					{
						header: '자재LOT번호',
						name: 'matLot'
					},
					{
						header: '사용수량',
						name: 'amt'
					},
					{
						header: '유통기한',
						name: 'matEdate'
					}
					
				]
			});
			
			return matLot;
		}
			
		/*------------
		// 모달에 뜨는 필요자재 LOT grid 
		----------------*/	
		function matLotGrid2Init(){
			let matLotGrid2 = new tui.Grid({
				el: document.getElementById('lotModal'),
				bodyHeight: 250,
				data: null,
				scrollX: false,
				scrollY: true,
				rowHeaders: ['checkbox','rowNum'],
				columns: [
					{
						header: '자재LOT번호',
						name: 'matLot'
					},
					{
						header: '자재이름',
						name: 'mtrNm'
					},
					{
						header: '현재고',
						name: 'matSamt'
					},
					{
						header: '사용수량',
						name: 'amt',
						editor: 'text'
					},
					{
						header: '유통기한',
						name: 'matEdate'
					},
				],
				summary: {
			        height: 40,
			        position: 'bottom', // or 'top'
			        columnContent: {
			          amt: {
			            template: function(valueMap) {
			              return `TOTAL: ${valueMap.sum}`;
			            }
			          }
			        }
			      }
			});
			return matLotGrid2; 
		}
		
		/*------------------------------
		// 자재목록 모달 그리드(일반 탭)
		--------------------------------*/
		function matList() {
			let needMatModal = new tui.Grid({
				el: document.getElementById('modalGrid'),
				bodyHeight: 250,
				data: [[${matList}]],
				rowHeaders: ['rowNum'],
				scrollX: false,
				scrollY: true,
				columns: [
					{
						header: '자재코드',
						name: 'mtrCd',
						sortable: true,
						  filter: {
							  type: 'select'			  
							  }
					},
					{
						header: '자재명',
						name: 'mtrNm',
						sortable: true,
						  filter: {
							 type: 'select'			  
							 }
					}
				]
			});
			return needMatModal;
		}
		
		// 생산지시 체크 시 필요자재 그리드 표시
		function planChkFn() {
			document.getElementById('grid').addEventListener('click', function(){
				let data = grid.getCheckedRows();
				console.log(data[0]);
				
				$.ajax({
					url: '/needMtrList',
					method: 'POST',
					contentType: 'application/JSON',
					dataType: 'JSON',
					data: JSON.stringify(data[0]),
					success: function(result){
						matNeed.resetData(result);
					},
					error: function(reject){
						console.log(reject);
					}
					
				})
			})
		}
		
	    /*---------------------------------
		// 해당하는 header의 모달창 띄우기(일반 탭)
		-------------------------------------*/
		function getModal() {
			document.getElementById('matNeed').addEventListener('click', function(ev){
				// 행 클릭 시 모달 띄우기
		   		if(ev.columnName =='prdCd' || ev.columnName =='mtrCd'||
		   		   ev.columnName == 'mtrNm' ||ev.columnName == 'matAmt'){
		   			$('#lotModal').modal('show');
		   			lotModal.refreshLayout();
		   		}
		   	});
			
	    }
	    
		/*------------------------------
		// 모달 그리드 리프레쉬
		--------------------------------*/
		function modalRef(){
			document.addEventListener('shown.bs.modal', function (){
				matLotGrid2.refreshLayout();
			});
		}
		
		/*------------------------------
		// 모달에서 입력 버튼 클릭 이벤트
		--------------------------------*/
		function inputBtnFn() {
			document.getElementById('okBtn').addEventListener('click',function(){
				let data = matLotGrid2.getCheckedRows();
				
				for(let i=0; i<data.length; i++) {
					matLot.appendRows(data);
				}
			})
		}
		
	</script>
</div>