<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 출고 관리</h3>
	</div>
	<hr>
	<ul class="ul-style">
		<li><label for="matNm">자재명</label><input id="mtrNm"
			data-bs-toggle="modal" data-bs-target="#matModal" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
			<input type="text" id="mtrCd" data-bs-toggle="modal"
			data-bs-target="#matModal" readonly></li>
		<li><label for="actNm">업체명</label><input id="actNm"
			data-bs-toggle="modal" data-bs-target="#actModal" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#actModal" src="../images/Magnifying_Glass.png">
			<input id="actCd"type="text" data-bs-toggle="modal" data-bs-target="#actModal"
			readonly></li>

		<!-- Date Picker -->
		<li><label for="startpicker-input">출고일자</label>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="startpicker-input" type="text" aria-label="Date">
				<span class="tui-ico-date"></span>
				<div id="startpicker-container" style="margin-left: -1px;"></div>
			</div> <span>-</span>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="endpicker-input" type="text" aria-label="Date"> <span
					class="tui-ico-date"></span>
				<div id="endpicker-container" style="margin-left: -1px;"></div>
			</div>
			<button class="btn btn-dark btn-sm" id="SearchBtn">조회</button>
			<button class="btn btn-dark btn-sm" id="resetDpBtn">초기화</button></li>
	</ul>

	<div id="grid"></div>

	<div style="text-align: right;">
		<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
			data-bs-target="#addModal">추가</button>
		<button class="btn btn-dark btn-sm" id="deleteBtn">삭제</button>
		<button class="btn btn-dark btn-sm" id="saveBtn">저장</button>
	</div>

	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="mtrCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close" id="actCloseBtn"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 추가 버튼 모달 -->
	<div class="modal" id="addModal" tabindex="-1"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">현재고 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid3" style="width: 100%;"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
	let grid = outMatList();		// 출고전체목록 그리드
	SearchBtnFn();					// 조회 버튼 클릭 시 출고전체목록
	
	let modalGrid = matList();		// 자재 목록 모달 그리드
	let modalGrid2 = actList();		// 업체 목록 모달 그리드
	let modalGrid3 = matStList();	// 현 재고 목록 모달 그리드
	
	modalRef();						// 모달 리프레시
	
	datePicker();					// DatePicker
	resetDate();					// datapicker 초기화 버튼
	
	insertOrder();					// 행 추가
	saveBtnFn();					// 저장 버튼
	deleteBtnFn();					// 삭제 버튼
	
	matModalClickFn();				// 자재 목록 행 클릭 시 인풋 태그로
	actModalClickFn();				// 업체 목록 행 클릭 시 인풋 태그로
	/*------------------------------
	// 출고전체목록 그리드
	--------------------------------*/
	function outMatList(){
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      bodyHeight: 500,
		      data: null,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '자재LOT번호',
		          name: 'matLot',
		          sortable: true
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd',
		          sortable: true
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
		          sortable: true
		        },
		        {
		          header: '업체명',
		          name: 'actNm',
		          sortable: true,
		        },
		        {
		          header: '출고량',
		          name: 'matOutAmt',
		          sortable: true,
				  editor: 'text'
		        },
		        {
		          header: '출고일',
		          name: 'matOutDate',
		          sortable: true,
		          editor: 'datePicker',
			      validation: {
					     dataType: 'datePicker',
					     required: true
					      }
		        }
		      ]
		    });
		
		    return grid;
		}

	/*------------------------------
	// 자재목록 모달
	--------------------------------*/
	function matList() {
		let modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 250,
			data: [[${matList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '자재코드',
		          name: 'mtrCd',
		          sortable: true,
				  filter: {
				        type: 'select'			  
				      }
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
		          sortable: true,
				  filter: {
				        type: 'select'			  
				      }
		        }
	      ] 
		});
		return modalGrid;
	}
	
	/*------------------------------
	// 업체목록 모달
	--------------------------------*/
	function actList(){
		var modalGrid2 = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 250,
			data: [[${actList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '업체 코드',
					name: 'actCd',
					sortable: true,
					  filter: {
					        type: 'select'			  
					      }
				},
				{
					header: '업체명',
					name: 'actNm',
					sortable: true,
					  filter: {
					        type: 'select'			  
					      }
				}
			]
		});
		return modalGrid2;
	}
	
	/*------------------------------
	// 현재고목록 모달
	--------------------------------*/
	function matStList(){
		let modalGrid3 = new tui.Grid({
			el: document.getElementById('modalGrid3'),
			bodyHeight: 400,
			data: [[${nowSamtList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '자재LOT번호',
		          name: 'matLot',
		          sortable: true
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd',
		          sortable: true
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
		          sortable: true
		        },
		        {
			      header: '업체명',
			      name: 'actNm',
			      sortable: true
			    },
		        {
				  header: '수량',
				  name: 'matSamt',
				  sortable: true
				},
			    {
				  header: '유통기한',
				  name: 'matEdate',
				  sortable: true
				}
	      ] 
		});
		return modalGrid3
	}
	
	/*------------------------------
	// 모달 리프레시
	--------------------------------*/
	function modalRef() {
		document.addEventListener('shown.bs.modal', function (){
			modalGrid.refreshLayout();
		});
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid2.refreshLayout();
		});
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid3.refreshLayout();
		});
	}
	
	/*------------------------------
	// DatePicker
	--------------------------------*/
	function datePicker() {
		rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container')
		document.getElementById('startpicker-input').value = null;
		document.getElementById('endpicker-input').value = null;
	}
	
	/*------------------------
	// DatePicker 초기화버튼 이벤트
	--------------------------*/
	function resetDate() {
		document.getElementById('resetDpBtn').addEventListener('click',function(){
			document.getElementById('startpicker-input').value = null;
			document.getElementById('endpicker-input').value = null;
		});	
	}
	
	/*------------------------
	// 모달 창에서 클릭 시 행 추가
	----------------------------*/
	function insertOrder() {
		modalGrid3.on('click', function(ev){
			let data = modalGrid3.getRow(ev.rowKey);
			console.log(data);
			    let rowData = {matLot: data.matLot, mtrCd: data.mtrCd, 
			    				mtrNm: data.mtrNm, actNm: data.actNm, 
			    				matSamt: data.matSamt, matOutAmt : "" ,
			    				matOutDate: ""};
 		    grid.appendRow(rowData);
		})
	}
	
	/*-----------
	// 행 삭제 버튼
	--------------*/
	function deleteBtnFn() {
		document.getElementById('deleteBtn').addEventListener('click', function(){
			let data = grid.getCheckedRows();
			console.log(data);
		
			Swal.fire({
			      title: '정말로 삭제 하시겠습니까?',
			      //text: "다시 되돌릴 수 없습니다. 신중하세요.",
			      icon: 'warning',
			      showCancelButton: true,
			      confirmButtonColor: '#3085d6',
			      cancelButtonColor: '#d33',
			      confirmButtonText: '승인',
			      cancelButtonText: '취소',
			      //reverseButtons: true, // 버튼 순서 거꾸로
			      
			    }).then((result) => {
			    	  $.ajax({
				        	url: '/matOut',
				        	method: 'DELETE',
				        	contentType: 'application/JSON',
							data: JSON.stringify(data),
							success: function(result){
								console.log(result);
								if(result >= 1){
						        	Swal.fire('삭제가 완료되었습니다.');
						        	grid.removeCheckedRows();
								} else {
									Swal.fire('삭제에 실패하였습니다.');
								}
							},
							error: function(reject){
								console.log(reject);
							}
			        })
			})
		})
	}
	
	/*--------------------------------
	// 저장 버튼 insert 이벤트
	----------------------------------*/
	function saveBtnFn() {
		document.getElementById('saveBtn').addEventListener('click', function(){
			let data = grid.getCheckedRows();
			console.log(data)
			Swal.fire({
		      title: '저장 하시겠습니까?',
		      icon: 'warning',
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '승인',
		      cancelButtonText: '취소',
		      
		    }).then((result) => {
		      if (result.isConfirmed) {
		        $.ajax({
		        	url: '/matOut',
		        	method: 'POST',
		        	contentType: 'application/JSON',
					data: JSON.stringify(data),
					success: function(result){
						console.log(result);
						if(result >= 1){
				        	Swal.fire('저장이 완료되었습니다.');
							setTimeout(() => location.reload(),400);
						} else {
							Swal.fire('저장에 실패하였습니다.');
						}
					},
					error: function(reject){
						console.log(reject);
					}
		        })
		      }
		   })
		})
	}
	
	/*--------------------------------
	// 조회 버튼 클릭 시 그리드 등장
	----------------------------------*/
	function SearchBtnFn() {
		document.getElementById('SearchBtn').addEventListener('click',function() {
			let mtrCd = document.getElementById('mtrCd').value; // 자재 코드
			let actNm = document.getElementById('actNm').value; // 업체 이름
			let matInDate = document.getElementById('startpicker-input').value; // 시작 날짜
			let matEdate = document.getElementById('endpicker-input').value; // WHERE절 비교 용으로 유통기한에 end Date담음
			
			let data = {mtrCd: mtrCd, actNm: actNm, matInDate: matInDate, matEdate: matEdate};
			console.log(data);
			console.log(JSON.stringify(data));
			
			$.ajax({
				url: '/matOut',
				method: 'POST',
				contentType: 'application/JSON',
				data: JSON.stringify(data),
				success: function(result){
					grid.resetData(result)
				},
				error: function(reject) {
					console.log(reject);
				}
			})
		})
	}
	
	/*--------------------------------
	// 자재 모달 행 클릭시 인풋 태그로
	----------------------------------*/
	function matModalClickFn() {
		modalGrid.on('click', function(ev){
			let data = modalGrid.getRow(ev.rowKey);
			console.log(data);
			let mtrNm = document.getElementById('mtrNm');
			let mtrCd = document.getElementById('mtrCd');

			
			mtrNm.value = data.mtrNm;
			mtrCd.value = data.mtrCd;

			
			mtrCloseBtn.click();
		})
	}
	
	/*--------------------------------
	// 업체 모달 행 클릭시 인풋 태그로
	----------------------------------*/
	function actModalClickFn() {
		modalGrid2.on('click', function(ev){
			let data = modalGrid2.getRow(ev.rowKey);
			console.log(data);
			
			let actNm = document.getElementById('actNm');
			let actCd = document.getElementById('actCd');
			
			actNm.value = data.actNm;
			actCd.value = data.actCd;
			
			actCloseBtn.click();
		})
	}
	</script>
</div>