<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 반품 관리</h3>
	</div>
	<hr>
	<ul class="ul-style">
		<li><label for="matNm">자재명</label><input id="matNm" readonly><img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
			<input type="text" readonly></li>
		<li><label for="actNm">업체명</label><input id="actNm" readonly><img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#actModal" src="../images/Magnifying_Glass.png">
			<input type="text" readonly></li>
			
		<!-- Date Picker -->
		<li><label for="startpicker-input">반품요청일</label>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="startpicker-input" type="text" aria-label="Date">
				<span class="tui-ico-date"></span>
				<div id="startpicker-container" style="margin-left: -1px;"></div>
			</div> <span>-</span>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="endpicker-input" type="text" aria-label="Date"> <span
					class="tui-ico-date"></span>
				<div id="endpicker-container" style="margin-left: -1px;"></div>
			</div>
			<button class="btn btn-dark btn-sm">조회</button>
			<button class="btn btn-dark btn-sm">초기화</button></li>
	</ul>

	<div style="text-align: right;">
		<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
			data-bs-target="#addModal">추가</button>
		<button class="btn btn-dark btn-sm">선택삭제</button>
		<button class="btn btn-dark btn-sm">저장</button>
	</div>

	<div id="grid"></div>

	<!-- 추가 버튼 모달 -->
	<div class="modal" id="addModal" tabindex="-1"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">반품 예정 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid" style="width: 100%;"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">확인</button>
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">추가</button>
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid3"></div>
					</div>
					<div align="center">
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">추가</button>
						<button class="btn btn-dark btn-sm" data-bs-dismiss="modal">취소</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script>
	let grid = matReList();				// 반품재고리스트 그리드
	
	let modalGrid = matList();			// 자재목록리스트 모달
	let modalGrid2 = actList();			// 자재목록리스트 모달
	let modalGrid3 = addPlan();			// 추가버튼 모달
	
	modalRef();							// 모달 리프레쉬
	datePicker();
	
	/*------------------------------
	// 반품재고 리스트 그리드
	--------------------------------*/
	function matReList(){
		let dataList = [
		    {
		    	matCode: 'OAF-20221104-011',
		        mtCode: 'RML-10101',
		        maNm: '얇은 만두피',
		        actNm: 'YD 만두피',
		        rCount: 1,
		        rDate: '2023-11-12',
		        eDate: '2022-11-12',
		        eCode: 'RMB-00102',
		        eInfo: '유통기한 임박'
		    },
		    {
		    	matCode: 'OAF-20221105-012',
		        mtCode: 'RML-10102',
		        maNm: '굵은 만두피',
		        actNm: 'SJ 만두피',
		        rCount: 7,
		        rDate: '2023-11-12',
		        eDate: '2022-11-12',
		        eCode: 'RMB-00100',
		        eInfo: '포장지 훼손'
		    }
		  ]
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      bodyHeight: 500,
		      data: dataList,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '발주코드',
		          name: 'matCode'
		        },
		        {
		          header: '자재코드',
		          name: 'mtCode'
		        },
		        {
		          header: '자재명',
		          name: 'maNm'
		        },
		        {
		          header: '업체명',
		          name: 'actNm'
		        },
		        {
		          header: '반품수량',
		          name: 'rCount'
		        },
		        {
		          header: '반품요청일',
		          name: 'rDate'
		        },
		        {
		          header: '검사일자',
		          name: 'eDate'
		        },
		        {
		            header: '불량코드',
		            name: 'eCode'
		        },
		        {
		            header: '불량내용',
		            name: 'eInfo'
		        }
		      ]
		    });
		
		    grid.on('check', ev => {
		      console.log('check!', ev);
		    });
		
		    grid.on('uncheck', ev => {
		      console.log('uncheck!', ev);
		    });
		
		    grid.on('focusChange', ev => {
		      console.log('change focused cell!', ev);
		    });
		    return grid;
		}

	/*------------------------------
	// 자재목록 모달 그리드
	--------------------------------*/
	function matList() {
		let dataList = [{
			matCode: 'OAF-20221104-001',
			maCode: 'RML-10101',
			maNm: '얇은 만두피',
			actNm: 'YD 만두피',
			count: 1,
			date: '2022-11-12'
		},
		{
			matCode: 'OAF-20221105-002',
			maCode: 'RML-10102',
			maNm: '굵은 만두피',
			actNm: 'SJ 만두피',
			count: 9,
			date: '2022-11-12'
		}]
		let modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 400,
			data: dataList,
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '발주코드',
		          name: 'matCode'
		        },
		        {
		          header: '자재코드',
		          name: 'maCode'
		        },
		        {
		          header: '자재명',
		          name: 'maNm'
		        },
		        {
			      header: '업체명',
			      name: 'actNm'
			    },
		        {
				  header: '불합격량',
				  name: 'count'
				},
			    {
				  header: '검사일자',
				  name: 'date'
				}
	      ] 
		});
		return modalGrid;
	}
	
	/*------------------------------
	// 추가버튼 모달 그리드
	--------------------------------*/
	function addPlan(){
		let dataList = [{
			code: 'RML-10101',
			name: '얇은 만두피',
			size: 100,
			count: 200
		},
		{
			code: 'RML-10102',
			name: '굵은 만두피',
			size: 100,
			count: 200
		}]
		let modalGrid2 = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 150,
			data: dataList,
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '자재코드',
		          name: 'code'
		        },
		        {
		          header: '자재명',
		          name: 'name'
		        },
		        {
		          header: '규격',
		          name: 'size'
		        },
		        {
			      header: '수량',
			      name: 'count'
			    }
	      ] 
		});
		return modalGrid2;
	}
	
	/*------------------------------
	// 업체목록 모달 그리드
	--------------------------------*/
	function actList(){
		let dataList = [{
			actCode: 'VDR-1101',
			actName: 'YD 만두피'
			}]
		let modalGrid3 = new tui.Grid({
			el: document.getElementById('modalGrid3'),
			bodyHeight: 150,
			data: dataList,
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '업체 코드',
					name: 'actCode',
				},
				{
					header: '업체명',
					name: 'actName',
				}
			]
		});
		return modalGrid3;
	}
	
	/*------------------------------
	// 모달 그리드 리프레쉬
	--------------------------------*/
	function modalRef(){
		document.addEventListener('shown.bs.modal', function (){
			modalGrid.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid2.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid3.refreshLayout();
		}, '.modal');
	}
	
	/*------------
	// datepicker
	----------------*/
	function datePicker() {
	   var today = new Date();
	    var picker = tui.DatePicker.createRangePicker({
	        startpicker: {
	            date: today,
	            input: '#startpicker-input',
	            container: '#startpicker-container'
	        },
	        endpicker: {
	            date: today,
	            input: '#endpicker-input',
	            container: '#endpicker-container'
	        },
	        selectableRanges: [
	            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
	        ]
	    });
	}
	</script>
</div>