<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 반품 관리</h3>
	</div>
	<hr>
	<ul class="ul-style">
		<li><label for="matNm">자재명</label><input id="matNm"
			data-bs-toggle="modal" data-bs-target="#matModal" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
			<input type="text" id="matCd" data-bs-toggle="modal"
			data-bs-target="#matModal" readonly></li>
		<li><label for="actNm">업체명</label><input id="actNm"
			data-bs-toggle="modal" data-bs-target="#actModal" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#actModal" src="../images/Magnifying_Glass.png">
			<input type="text" id="actCd" data-bs-toggle="modal"
			data-bs-target="#actModal" readonly></li>
			
		<!-- Date Picker -->
		<li><label for="startpicker-input">반품요청일</label>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="startpicker-input" type="text" aria-label="Date">
				<span class="tui-ico-date"></span>
				<div id="startpicker-container" style="margin-left: -1px;"></div>
			</div> <span>-</span>
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input id="endpicker-input" type="text" aria-label="Date"> <span
					class="tui-ico-date"></span>
				<div id="endpicker-container" style="margin-left: -1px;"></div>
			</div>
			<button class="btn btn-dark btn-sm">조회</button>
			<button class="btn btn-dark btn-sm">초기화</button></li>
	</ul>

	<div style="text-align: right;">
		<button class="btn btn-dark btn-sm" data-bs-toggle="modal"
			data-bs-target="#addModal">추가</button>
		<button class="btn btn-dark btn-sm">삭제</button>
		<button class="btn btn-dark btn-sm">저장</button>
	</div>

	<div id="grid"></div>

	<!-- 추가 버튼 모달 -->
	<div class="modal" id="addModal" tabindex="-1"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">반품 예정 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid" style="width: 100%;"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid3"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
	let grid = matReList();				// 반품재고리스트 그리드
	
	let modalGrid = matList();			// 자재목록리스트 모달
	let modalGrid2 = actList();			// 자재목록리스트 모달
	let modalGrid3 = addPlan();			// 추가버튼 모달
	
	modalRef();							// 모달 리프레쉬
	datePicker();
	
	/*------------------------------
	// 반품재고 리스트 그리드
	--------------------------------*/
	function matReList(){
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      bodyHeight: 500,
		      data: null,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '발주코드',
		          name: 'matOdCd'
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd'
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm'
		        },
		        {
		          header: '업체명',
		          name: 'actNm'
		        },
		        {
		          header: '반품수량',
		          name: 'rCount'
		        },
		        {
		          header: '반품요청일',
		          name: 'rDate'
		        },
		        {
		          header: '검사일자',
		          name: 'eDate'
		        },
		        {
		            header: '불량코드',
		            name: 'erCd'
		        },
		        {
		            header: '불량내용',
		            name: 'erInfo'
		        }
		      ]
		    });
		
		    return grid;
		}

	/*------------------------------
	// 자재목록 모달 그리드
	--------------------------------*/
	function addPlan() {
		let modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 400,
			data: null,
			rowHeaders: ['checkbox'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '발주코드',
		          name: 'matCode'
		        },
		        {
		          header: '자재코드',
		          name: 'maCode'
		        },
		        {
		          header: '자재명',
		          name: 'maNm'
		        },
		        {
			      header: '업체명',
			      name: 'actNm'
			    },
		        {
				  header: '불합격량',
				  name: 'count'
				},
			    {
				  header: '검사일자',
				  name: 'date'
				}
	      ] 
		});
		return modalGrid;
	}
	
	/*------------------------------
	// 자재 목록 모달
	--------------------------------*/
	function matList(){
		let modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 250,
			data: [[${matList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '자재코드',
		          name: 'mtrCd',
				  filter: {
						 type: 'select'			  
						 }
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
				  filter: {
						 type: 'select'			  
						 }
		        }
	      	] 
		});
			return modalGrid;
	}
	
	/*------------------------------
	// 자재 목록 모달
	--------------------------------*/
	function actList(){
		let modalGrid2 = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 250,
			data: [[${actList}]],
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [
				{
					header: '업체 코드',
					name: 'actCd',
					  filter: {
							 type: 'select'			  
							 }
				},
				{
					header: '업체명',
					name: 'actNm',
					  filter: {
							 type: 'select'			  
							 }
				}
			]
		});
		return modalGrid2;
	}
	
	/*------------------------------
	// 모달 그리드 리프레쉬
	--------------------------------*/
	function modalRef(){
		document.addEventListener('shown.bs.modal', function (){
			modalGrid.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid2.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid3.refreshLayout();
		}, '.modal');
	}
	
	/*------------
	// datepicker
	----------------*/
	 function datePicker() {
		 rangeDatepickerInit('#startpicker-input', '#startpicker-container','#endpicker-input','#endpicker-container');
			document.getElementById('startpicker-input').value = null;
			document.getElementById('endpicker-input').value = null;
	   }
	
	/*------------------------
	// 초기화버튼 이벤트
	--------------------------*/
	function resetBtnEvent() {
		document.getElementById('resetBtn').addEventListener('click',function(){
			document.getElementById('startpicker-input').value = null;
			document.getElementById('endpicker-input').value = null;
			
			document.getElementById('matCd').value = '';
			document.getElementById('matNm').value = '';
			document.getElementById('actNm').value = '';
			document.getElementById('actCd').value = '';
		});	
	}
	</script>
</div>