<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 반품 관리</h3>
	</div>
	<hr>

	<div class="row" style="margin-top: 75px;">
		<div class="col-6">
			<h3>반품 예정 목록</h3>
			<div id="grid"></div>
		</div>
		<div class="col-6">
			<div>
				<h3>반품 신청</h3>
				<div id="grid2"></div>
				<div align="right"><button class="btn btn-dark btn-sm" id="saveBtn">반품요청</button></div>
			</div>
			<div>
				<h3>반품 목록</h3>
				<div id="grid3"></div>
			</div>
		</div>
	</div>



	<!-- 추가 버튼 모달 -->
	<div class="modal" id="addModal" tabindex="-1"
		aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">반품 예정 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid" style="width: 100%;"></div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script th:inline="javascript">
	/* token */
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	let grid = matReList();				// 반품재고리스트 그리드
	let grid2 = returnList();			// 반품 그리드
	let grid3 = rtOdList();				// 반품 목록 그리드
	
	saveBtnFn();						// 반품요청버튼 이벤트
	
	/*------------------------------
	// 반품 예정 목록 그리드
	--------------------------------*/
	function matReList(){
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      bodyHeight: 520,
		      data: [[${returnMtrList}]],
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '발주코드',
		          name: 'matOdCd',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '자재코드',
		          name: 'mtrCd',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '업체명',
		          name: 'actNm',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        },
		        {
		          header: '불량수량',
		          name: 'erAmt',
		          sortable: true,
			      filter: {
			    	  type: 'text'
			      }
		        }
		      ]
		    });
		
			// 행 클릭 시 반품 신청으로 데이터 뜨도록
			grid.on('click', function(ev){
				let data = grid.getRow(ev.rowKey);
				
				// 행에서 지울 데이터
				//let idx = grid.getFocusedCell().rowKey;
				
				//matOdCd 넘겨서 조회해오기.
				$.ajax({
					url: '/matReturnLookup',
					method: 'POST',
					contentType: 'application/JSON',
					dataType: 'JSON',
					data: JSON.stringify(data),
					beforeSend : function (xhr) {
					    xhr.setRequestHeader(header, token);
					},
					success: function(result){
						grid2.resetData(result);
						//grid.removeRow(idx); // 저장할때지울데이터
					},
					error: function(reject){
						console.log(reject);
					}
				})
			})
		
		    return grid;
		}
	
	/*------------------------------
	// 반품 신청 그리드
	--------------------------------*/
	function returnList(){
		let grid2 = new tui.Grid({
		      el: document.getElementById('grid2'),
		      bodyHeight: 200,
		      data: null,
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
				        {
			            header: '불량코드',
			            name: 'erCd',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      	}
			        	},
			        	{
			            header: '불량내용',
			            name: 'erInfo',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      	}
				        },			        
				        {
				          header: '검사일자',
				          name: 'matChkDate',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '반품요청일',
				          name: 'matRtDate',
				          sortable: true,
					      editor: {
					    	  type: 'datePicker',
					    	  options: {
					    		  format: 'yyyy-MM-dd',
					    		  language: 'ko'
					    	  }
					      },
					      validation: {
						     dataType: 'datePicker',
						     required: true
							      },
					      	filter: {
					    	  type: 'text'
					      }
				        },
		      ]
		    });
		
		    return grid2;
		}
	
	/*------------------------------
	// 반품 목록 그리드
	--------------------------------*/
	function rtOdList(){
		let grid3 = new tui.Grid({
		      el: document.getElementById('grid3'),
		      bodyHeight: 200,
		      data: [[${mtrReList}]],
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
			        {
				          header: '발주코드',
				          name: 'matOdCd',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '자재명',
				          name: 'mtrNm',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '업체명',
				          name: 'actNm',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				            header: '불량내용',
				            name: 'erInfo',
					          sortable: true,
						      filter: {
						    	  type: 'text'
						      }
				        },
				        {
				          header: '반품수량',
				          name: 'matRtAmt',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        },
				        {
				          header: '반품요청일',
				          name: 'matRtDate',
				          sortable: true,
					      filter: {
					    	  type: 'text'
					      }
				        }
				      ]
		    });
		
		    return grid3;
		}
	/*------------------------
	// 반품요청버튼 이벤트
	--------------------------*/
	function saveBtnFn(){
		document.getElementById('saveBtn').addEventListener('click', function(){
			let data = grid2.getData();
			
			let data2 = grid.getData();
			let idx = grid.getFocusedCell().rowKey;
			
			let rowData = {matOdCd: data2[idx].matOdCd,
				            matRtDate: data[0].matRtDate}
			
			Swal.fire({
			      title: '반품요청 하시겠습니까?',
			      icon: 'warning',
			      showCancelButton: true,
			      confirmButtonColor: '#3085d6',
			      cancelButtonColor: '#d33',
			      confirmButtonText: '승인',
			      cancelButtonText: '취소',
			      
			    }).then((result) => {
			      if (result.isConfirmed) {
						$.ajax({
							url: '/insertRt',
							method: 'POST',
							contentType: 'application/JSON',
							dataType: 'JSON',
							data: JSON.stringify(rowData),
							beforeSend : function (xhr) {
							    xhr.setRequestHeader(header, token);
							},
							success: function(result){
								
								Swal.fire({
									icon: 'success',
									title :'반품요청에 성공하였습니다!'});
								
								// 반품한 자재는 검수 테이블에서 불량코드 XXXX로 업데이트
								$.ajax({
									url: '/updateRt',
									method: 'POST',
									contentType: 'application/JSON',
									dataType: 'JSON',
									data: JSON.stringify(rowData),
									beforeSend : function (xhr) {
									    xhr.setRequestHeader(header, token);
									},
									success: function(result){
										console.log(result);
									},
									error: function(reject){
										console.log(reject);
									}
								})
								
								// 초기화
								setTimeout(() => location.reload(),500);
							},
							error: function(reject){
								Swal.fire({
									icon: 'error',
									title :'반품요청에 실패했습니다!'});
								console.log(reject)
							}
						})
			      	}
			  	})
			})
		}
	
	</script>
</div>