<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>안전 재고 관리</h3>
	</div>
	<hr>
	<ul class="ul-style">
		<li><label for="matNm">자재명</label><input id="matNm" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#matModal" src="../images/Magnifying_Glass.png">
			<input type="text" readonly></li>
		<li><label for="actNm">업체명</label><input id="actNm" readonly> <img
			class="Magnifying-Glass-img" alt="image" data-bs-toggle="modal"
			data-bs-target="#actModal" src="../images/Magnifying_Glass.png">
			<input type="text" readonly>
			<button class="btn btn-dark btn-sm">조회</button>
			<button class="btn btn-dark btn-sm">초기화</button></li>
	</ul>

	<!-- 안전 재고 수정  -->
	<div align="right">
		<button class="btn btn-dark btn-sm">안전재고 수정</button>
		<button class="btn btn-dark btn-sm">초기화</button>
	</div>

	<div id="grid"></div>

	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>
	let grid = matSafeList();		// 안전재고조회 그리드
	
	let modalGrid = matList();			// 자재목록리스트 모달
	let modalGrid2 = actList();			// 업체목록리스트 모달
	
	modalRef();						// 모달 리프레쉬
	
	/*------------------------------
	// 안전재고조회 그리드
	--------------------------------*/
	function matSafeList(){
		let dataList = [
		    {
		    	mtCode: 'RML-10101',
		        actNm: '얇은 만두피',
		        count: 1000,
		        hCount: 300,
		        holdP: 30,
		        safe: 1000,
		        safeP: -30,
		        safeG: '위험'
		    },
		    {
		    	mtCode: 'RML-10102',
		        actNm: '굵은 만두피',
		        count: 1500,
		        hCount: 500,
		        holdP: 33,
		        safe: 1200,
		        safeP: -20,
		        safeG: '경고'
		    },
		  ]
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      bodyHeight: 500,
		      data: dataList,
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '자재코드',
		          name: 'mtCode'
		        },
		        {
		          header: '자재명',
		          name: 'actNm'
		        },
		        {
		          header: '총수량',
		          name: 'count'
		        },
		        {
		          header: '홀딩수량',
		          name: 'hCount'
		        },
		        {
		          header: '홀딩율(%)',
		          name: 'holdP'
		        },
		        {
		          header: '안전재고',
		          name: 'safe'
		        },
		        {
		          header: '안전재고율(%)',
		          name: 'safeP'
		        },
		        {
		          header: '안전재고수준',
		          name: 'safeG'
		        }
		      ]
		    });
		
		 return grid;
	}

	/*------------------------------
	// 자재목록 모달 그리드
	--------------------------------*/
	function matList() {
		let dataList = [{
			code: 'RML-10101',
			name: '얇은 만두피',
			size: 100,
			count: 200
		},
		{
			code: 'RML-10102',
			name: '굵은 만두피',
			size: 100,
			count: 200
		}]
		let modalGrid = new tui.Grid({
			el: document.getElementById('modalGrid'),
			bodyHeight: 250,
			data: dataList,
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
		          header: '자재코드',
		          name: 'code'
		        },
		        {
		          header: '자재명',
		          name: 'name'
		        }
	      ] 
		});
		return modalGrid;
	}
	
	/*------------------------------
	// 업체목록 모달 그리드
	--------------------------------*/
	function actList(){
		let dataList = [{
			actCode: 'VDR-1101',
			actName: 'YD 만두피'
		}]
		 let modalGrid2 = new tui.Grid({
			el: document.getElementById('modalGrid2'),
			bodyHeight: 250,
			data: dataList,
			rowHeaders: ['rowNum'],
			scrollX: false,
			scrollY: true,
			columns: [{
				header: '업체 코드',
				name: 'actCode',
			},
			{
				header: '업체명',
				name: 'actName',
			}
		]
		});
		return modalGrid2;
	}
	
	/*------------------------------
	// 모달 그리드 리프레쉬
	--------------------------------*/
	function modalRef(){
		document.addEventListener('shown.bs.modal', function (){
			modalGrid.refreshLayout();
		}, '.modal');
		
		document.addEventListener('shown.bs.modal', function (){
			modalGrid2.refreshLayout();
		}, '.modal');
	}
	</script>
</div>