<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<div class="container" layout:fragment="content">
	<div id="mat-od-title">
		<h3>자재 재고 관리</h3>
	</div>
	<hr>

	<div class="row">
		<div class="col-6">
			<h3>자재 목록</h3>
			<div id="grid"></div>
			<!-- 안전 재고 수정  -->
			<div align="right">
				<button class="btn btn-dark btn-sm" id="saveBtn" style="color:yellow;">안전재고 수정</button>
			</div>
		</div>

		<div class="col-6">
			<h3 id="holdTitle">안전재고 정보</h3>
			<div id="grid2"></div>
		</div>
	</div>


	<!-- 자재 목록 모달 -->
	<div class="modal" id="matModal" tabindex="-1"
		aria-labelledby="matModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="matModalLabel">자재 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid"></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- 업체 목록 모달 -->
	<div class="modal" id="actModal" tabindex="-1"
		aria-labelledby="actModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="actModalLabel">업체 목록</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div>
						<div id="modalGrid2"></div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script th:inline="javascript">
	/* token */
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	let grid = matSafeList();			// 자재 재고 조회 그리드
	let grid2 = safeList();				// 홀딩 수량 조회 그리드
	
	saveBtnFn();						// 저장 버튼 이벤트
	chkRowFn();							// 체크 이벤트

	/*------------------------------
	// 자재목록 그리드
	--------------------------------*/
	function matSafeList(){
		let grid = new tui.Grid({
		      el: document.getElementById('grid'),
		      bodyHeight: 500,
		      data: [[${matStList}]],
		      rowHeaders: ['checkbox', 'rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '자재코드',
		          name: 'mtrCd',
				  sortable: true,
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 }
		        },
		        {
		          header: '자재명',
		          name: 'mtrNm',
				  sortable: true,
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 }
		        },
		        {
		          header: '재고',
		          name: 'matSamt',
				  sortable: true,
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 },
		        },
		        {
		          header: '안전재고',
		          name: 'mtrSfamt',
				  sortable: true,
				  editor: 'text',
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 }
		        }
		     	]
		    });
		
			// 홀딩 수량 구하기
			grid.on('click', function(ev){
				let data = grid.getRow(ev.rowKey);
				let result = 0;
				
				for(let i=0; i<[[${holdAmt}]].length; i++){
					if(data.mtrCd == [[${holdAmt}]][i].mtrCd) {
						result += [[${holdAmt}]][i].amt;
					}
				}
				
				let data2 = (result/data.matSamt) * 100
				let data3 = (data.matSamt/data.mtrSfamt) * 100
				let data4 = '';
				
				if(data3 < 15) {
					data4 = "위험"
				} else if(data3 < 30) {
					data4 = "경고"
				} else if (data3 < 40) {
					data4 = "주의"
				} else if (data3 >= 40){
					data4 = "안전"
				}
				
				let holdData = [{amt: result, holdP: Math.round(data2), safeP: Math.round(data3), safeG: data4}];
				grid2.resetData(holdData);
				
				document.getElementById('holdTitle').innerText = data.mtrNm + "의 안전재고 정보"
			})
		
		 return grid;
	}
	
	/*------------------------------
	// 홀딩수량 그리드
	--------------------------------*/
	function safeList(){
		let grid2 = new tui.Grid({
		      el: document.getElementById('grid2'),
		      bodyHeight: 170,
		      data: null,
		      rowHeaders: ['rowNum'],
		      scrollX: false,
		      scrollY: true,
		      columns: [
		        {
		          header: '홀딩수량',
		          name: 'amt',
				  sortable: true,
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 }
		        },
		        {
		          header: '홀딩율(%)',
		          name: 'holdP',
				  sortable: true,
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 },
				 formatter({value}) {
				      return `${value}%`;
				    }
		        },
		        {
		          header: '안전재고율(%)',
		          name: 'safeP',
				  sortable: true,
				  align: 'center',
				  filter: {
						 type: 'select'			  
						 },
			      validation: {
			          min: 20,
			          max: 1000000000
			        },
		          formatter({value}) {
		            return `${value}%`;
		            }
		        },
		        {
		          header: '안전재고수준',
		          name: 'safeG',
				  sortable: true,
				  align: 'center',
		          renderer: {
		               styles: {
		                    fontWeight: 'bold',
		                    color: (props) => 
			      					(props.value == '위험') ? '#FF4500' : (props.value == '경고') ? '#FF8C00' : 
			      						(props.value == '주의') ? '#FFD700' : '#32CD32'
		                 	}
				           },
				  filter: {
						 type: 'select'			  
						 }
			        }
		     ]
		    });
		
		 return grid2;
	}
	
	/*------------------------------
	// 수정 버튼 이벤트
	--------------------------------*/
	function saveBtnFn(){
		document.getElementById('saveBtn').addEventListener('click', function(){
			let data = grid.getCheckedRows();
			
			if(data.length > 0){
				Swal.fire({
					      title: '수정 하시겠습니까?',
					      icon: 'warning',
					      showCancelButton: true,
					      confirmButtonColor: '#3085d6',
					      cancelButtonColor: '#d33',
					      confirmButtonText: '승인',
					      cancelButtonText: '취소',
					      
					    }).then((result) => {
					    	if (result.isConfirmed) {
								$.ajax({
									url: '/matSafe',
									method: 'POST',
									contentType: 'application/JSON',
									dataType: 'JSON',
									data: JSON.stringify(data[0]),
									beforeSend : function (xhr) {
									    xhr.setRequestHeader(header, token);
									},
									success: function(result){
										Swal.fire({
											icon: 'success',
											title :'안전재고 수정 완료!'});
										setTimeout(() => location.reload(),500);
									},
									error: function(reject){
										Swal.fire({
											icon: 'error',
											title :'수정 실패!'});
										console.log(reject)
								}
							})
						}
					})
				} else {
					Swal.fire({
						icon: 'error',
						title :'체크된 행이 없습니다!'});
				}
			})
		}

	/*------------------------------
	// 체크 시 다른 체크박스 막기
	--------------------------------*/
	function chkRowFn(){
		grid.on('check', function(ev){
			let gridData = grid.getData();
			let idx = grid.getRow(ev.rowKey).rowKey;
			
			for(let i=0; i<gridData.length; i++){
				if(i != idx){
					grid.disableRow(i,true);
				}
			}
			
		})
		// 언체크시 풀기
		grid.on('uncheck', function(ev){
			grid.enable();
			
		})
	}
	
	
	</script>
</div>